.design-feedback {
  .questionName {
    @include single-padding(bottom, 1.1rem);
  }

  .delete-icon-size {
    font-size: 1.3rem;
  }

  .options {
    @include single-padding(bottom, 1.1rem);
  }

  .section-separate {
    border-bottom: 0.0625rem solid #d3d3d382;
    @include single-margin(top, 0.625rem);
    @include single-margin(bottom, 1.25rem);
  }

  .option-separate {
    padding: 0.3125rem;
  }

  .padding-question {
    .icon-delete {
      font-size: 2rem;
    }
  }
}
