.payments-money-transfer {
    .iconStyling {
        font-size: 1.1rem;
        position: relative;
        top: 0.1rem;
        color: var(--link-base);
    }
    .cancel-icon {
        @include single-padding(left, 0.6rem);
    }
    .cust-details {
        background: var(--banner-background);
        position: relative;
        color: var(--banner-text-secondary);
        padding: var(--banner-padding);
        top: -0.1rem;
        @include mq(small) {
            padding: 1.3rem 0 0;
        }
        @include mq(medium) {
            padding: 1.3rem 0 0;
        }
        .imagePadding {
            @include padding(0, 0, 0, 0.3rem);
        }
        .label,
        label {
            color: var(--banner-text-primary);
            font-size: var(--base-font-size-medium);
            padding-bottom: 0.3rem;
        }
    }
    .dualdropdown {
        background-color: var(--form-input-background-base);
        overflow: auto;
        cursor: pointer;
        z-index: 2;
        border: 0.05rem solid var(--form-input-border-color);
        box-sizing: border-box;
        .payeeGroupHeader {
            padding: 0.6rem 0.6rem;
            border-bottom: 0.05rem solid var(--form-input-border-color) !important;
            .payeeGroupPadding {
                @include padding(0, 0, 0, 0.3rem);
            }
        }
        ul {
            margin: auto;
            list-style-type: none;
            padding: 0 1.2rem;
            .subPayee {
                padding: 0.6rem;
                border-bottom: 0.05rem solid var(--form-input-border-color) !important;
                background: var(--form-input-background-hover);
                color: var(--base-text-secondary);
                font-size: var(--form-input-text);
                .labelPadding {
                    padding: 0 0.5rem;
                }
            }
        }
    }
    .dropdowncancel {
        position: relative;
        top: -1.4rem;
        @include left(93%);
    }
}