.design-feedback {
  .scale-configuration-container {
    .scale-rating {
      .scale-label {
        display: inline-block;
        vertical-align: middle;
        @include single-margin(right,0.9375rem);
      }

      .rating-gauge-wrapper {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .section-separate {
    border-bottom: 0.0625rem solid #d3d3d382;
    width: 74%;
    margin-top: 0.625rem;
  }

  .spacing-table {
    padding-top: 1rem;
  }

  .information-wrapper-btn {
    margin-top: 1rem;
  }
}
