<!-- ko if: $component.params.draftReference -->
<page-section params="baseModel : $baseModel, rootModel : $component,heading : ''">
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label><span data-bind="text:$component.params.draftReference.label"></span>
            </oj-label>
            <div data-bind="text:$component.params.draftReference.number">
            </div>
        </div>
    </div>
</page-section>
<!-- /ko -->
<!-- ko if: $component.params.hostReference -->
<page-section params="baseModel : $baseModel, rootModel : $component,heading : ''">
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label><span data-bind="text:$component.params.hostReference.label"></span>
            </oj-label>
            <div data-bind="text:$component.params.hostReference.number">
            </div>
        </div>
    </div>
</page-section>
<!-- /ko -->
<page-section params="baseModel : $baseModel, rootModel : $component,heading : ''">
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item" data-bind="text:$component.confirmScreenResources.confirm.actions.nextAction">
        </div>
    </div>
    <div class="oj-flex oj-flex-items-pad ">
        <ul class="confirm-screen__list">
            <li>
                <a href="#" data-bind="click:$dashboard.switchModule.bind($data,null)">
                    <img data-bind="attr:{'title':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.goToAccountDetails}),'alt':$component.confirmScreenResources.confirm.actions.goToDashboard},loadImage:'dashboard/quick-access/dashboard.svg'">
                    <div data-bind="text:$component.confirmScreenResources.confirm.actions.goToDashboard"></div>
                </a>
            </li>
            <li>
                <a href="#" data-bind="click:$component.openTransaction.bind($data,'application-tracker-film-strip','process-management','')">
                    <img data-bind="attr:{'alt':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.goToAppTracker}),'title':$component.confirmScreenResources.confirm.actions.goToAppTracker},loadImage:'dashboard/application-tracker.svg'">
                    <div data-bind="text:$component.confirmScreenResources.confirm.actions.goToAppTracker"></div>
                </a>
            </li>
            <!-- ko if: $component.params.confirmScreenExtensions &&  !$component.params.confirmScreenExtensions.fromApproval -->
            <li>
                <a href="#" data-bind="click: $dashboard.loadComponent.bind($data,'flow', {flowName: 'loan-drawdown'})">
                    <img data-bind="attr:{'title':$component.params.resource.newLoanDrawdownRequest,'alt':$component.params.resource.link.newLoanDrawdownRequest},loadImage:'quick-link-icons/disbursement-enquiry.svg'">
                    <div data-bind="text:$component.params.resource.link.newLoanDrawdownRequest"></div>
                </a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</page-section>