<div class="oj-flex-item">
    <!-- ko if: $component.params.confirmScreenExtensions && $component.params.confirmScreenExtensions.confirmScreenDetails && $component.params.confirmScreenExtensions.confirmScreenDetails.length>0 -->
    <page-section params="baseModel : $baseModel, rootModel : $component,heading : ''">
        <div class="oj-lg-6">
            <!-- ko foreach: $component.params.confirmScreenExtensions.confirmScreenDetails -->
            <div class="oj-flex oj-flex-items-pad">
                <!-- ko foreach: $data -->
                <!-- ko if: $data.value && $data.isDate -->
                <row class="oj-sm-6" params="baseModel : $baseModel, rootModel : $component, label : $data.label, value : $formatter.formatDate($data.value)"></row>
                <!-- /ko -->
                <!-- ko if: $data.value && !($data.isDate) -->
                <row class="oj-sm-6" params="baseModel : $baseModel, rootModel : $component, label : $data.label, value : $data.value"></row>
                <!-- /ko -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </page-section>
    <!-- /ko -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item" data-bind="text:$component.confirmScreenResources.confirm.actions.nextAction">
        </div>
    </div>
    <div class="oj-flex oj-flex-items-pad ">
        <ul class="confirm-screen__list">
            <li>
                <a href="#" data-bind="click:$dashboard.switchModule.bind($data,true)">
                    <img data-bind="attr:{'title':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.goToDashboard}),'alt':$component.confirmScreenResources.confirm.actions.goToDashboard},loadImage:'dashboard/quick-access/dashboard.svg'">
                    <div data-bind="text:$component.confirmScreenResources.confirm.actions.goToDashboard"></div>
                </a>
            </li>
            <li>
                <a href="#" data-bind="click:$component.openTransaction.bind($data,($component.params.confirmScreenExtensions.landingComponent),'nominee','')">
                    <img data-bind="attr:{'title':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.addAnotherNominee}),'alt':$component.confirmScreenResources.confirm.actions.addAnotherNominee},loadImage:'nominee/add-another-nominee.svg'">
                    <div data-bind="text:$component.confirmScreenResources.confirm.actions.addAnotherNominee"></div>
                </a>
            </li>
        </ul>
    </div>
</div>