<page-section params="baseModel : $baseModel, rootModel : $data, heading :''">
    <div class="row-group">
        <row params="baseModel : $baseModel, rootModel : $parent, label : $data.resourceBundle.account , value : $data.data.selectedAccount"></row>
        <row params="baseModel : $baseModel, rootModel : $parent, label : $data.resourceBundle.fromDate , value : $formatter.formatDate($data.data.fromDate)"></row>
        <row params="baseModel : $baseModel, rootModel : $parent, label : $data.resourceBundle.toDate , value : $formatter.formatDate($data.data.toDate)"></row>
    </div>
</page-section>