<page-section params="baseModel : $baseModel, rootModel : $component,heading : ''">
<div class="oj-lg-6">
    <!-- ko foreach: $component.params.confirmScreenExtensions.confirmScreenDetails -->
    <div class="oj-flex oj-flex-items-pad">
        <!-- ko foreach: $data -->
        <div class="oj-flex-item oj-sm-6 oj-md-4 oj-lg-6">
          <div class="oj-flex oj-flex-items-pad">
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                  <span data-bind="text:$data.label"></span>
              </div>
              <!-- ko ifnot:Array.isArray($data.value) -->
              <div class="oj-flex-item oj-sm-6 oj-md-6 oj-lg-12 content" >
  				          <span data-bind="text:$data.value"></span>
              </div>
              <!-- /ko -->
			    </div>
        </div>
        <!-- /ko -->
    </div>
     <!-- /ko -->
</div>
</page-section>

<div class="oj-flex-item">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item" data-bind="text:$component.confirmScreenResources.confirm.actions.nextAction">
  </div>
  </div>
  <div class="oj-flex oj-flex-items-pad ">
    <ul class="confirm-screen__list">
      <li>
        <a href="#" data-bind="click:$dashboard.switchModule.bind($data,'maker')">
          <img data-bind="attr:{'alt':$baseModel.format($component.confirmScreenResources.confirm.actions.clickHere,{details:$component.confirmScreenResources.confirm.actions.goToAccountDetails}),'title':$component.confirmScreenResources.confirm.actions.goToDashboard},loadImage:'dashboard/quick-access/dashboard.svg'">
          <div data-bind="text:$component.confirmScreenResources.confirm.actions.goToDashboard"></div>
        </a>
      </li>
    </ul>
  </div>

</div>
