.file-view {
    &__list {}
    &-list {
        &__item {
            @include float(left);
            @include single-margin(right, 2.5rem);
        }
        &-item {
            &__textHeader {
                font-weight: var(--base-font-weight-bold);
            }
        }
    }
    .search-section {
        .search-container {
            margin-top: 0 !important;
            @include padding(0.3rem, 0, 3.1rem, 0);
            border: 0 !important;
        }
        .action-header__title {
            bottom: -0.3rem;
            font-size: var(--base-font-size-default);
            font-weight: normal;
            color: var(--base-text-primary);
        }
    }
}

.float-right {
    @include float(right);
}

.leftpadding {
    @include padding(0, 0, 0, 0.6rem);
}