.oj-pagingcontrol-nav-dot {
  line-height: inherit;

  .oj-pagingcontrol-nav-dot-bullet {
    width: 9px;
    height: 9px;

    &.oj-hover,
    &.oj-selected {
      background-color: var(--base-background-primary);
    }
  }
}
.oj-pagingcontrol {
  .oj-label-inline {
    font-size: 0.9rem;
  }
}
