.oj-switch{
  .oj-switch-track {
    height: 1.4rem;
    width: 2.6rem;
  }

  .oj-switch-thumb {
    height: 1.2rem !important;
    width: 1.2rem !important;
    position: absolute !important;
    top: 1rem !important;
  }


}
