.oj-label-required-icon {
  display: none;
}

.alternate {
  &-primary {
    .oj-label-group {
      color: var(--base-color-secondary-text);
    }
  }

  &-secondary {
    .oj-label-group {
      color: var(--banner-text-primary);
    }
  }
}

.oj-label-inline {
  margin-top: 0.6rem;
}

.oj-label{
  color:var(--base-text-secondary);
}