.oj-disabled {
    >.oj-inputdatetime-input-container {
        .oj-inputdatetime-calendar-clock-icon,
        .oj-inputdatetime-calendar-icon,
        .oj-inputdatetime-time-icon {
            display: none;
        }
    }
}

.oj-inputdatetime-input-trigger {
    border-width: 0 0 0.05rem 0 !important;
    border-color: var(--form-input-border-color);
    background-color: transparent !important;
}

.oj-inputdatetime-input:focus+span {
    border-color: var(--form-input-color-focus);
}