.oj-train-step-list-item {
  .oj-train-button {
    &.oj-disabled {
      .oj-train-button-text {
        color: rgba(0,0,0,0.556);
      }
    }
  }

  .oj-train-label {
    font-size: var(--form-input-text);

    &.oj-disabled {
      color: rgba(0,0,0,0.556);
    }
  }
}
