%form-control {
  min-height: var(--form-line-height) !important;
  line-height: var(--form-line-height);
  //height: var(--form-line-height);
  font-size: var(--form-input-text);
  border-radius: var(--form-input-border-radius);
  color: var(--form-input-color-base);
  background-color: var(--form-input-background-base);
  transition-duration: 0.5s;
  outline: none;
  border: 0;
  padding: 0 !important;
  border-bottom: 0.05rem solid var(--form-input-border-color);

  &:focus {
    border: 0;
    border-bottom: 0.05rem solid var(--form-input-color-focus);
  }
  @include mq(small) {
    max-width: inherit;
  }
  @include mq(medium) {
    max-width: inherit;
  }
  @at-root .right &{
    @include text-align(right);
  }
}
@mixin alternate($color) {
  color: $color;
  border-bottom: 0.08rem solid $color;
  @include placeholder($color);
}
