@import "utils";
$pending-for-approval-mailbox:#FFF0F7;
.pending-for-action{
  &__selectBox{
    padding:0.4rem;
  }
  &__chart{
    height:12rem;
    width:100%;
  }
  &-chart{
    &__graph{
      height:100%;
    }
  }

  .grace-period-text,.work-snapshot-graph__chart g text{
    color: var(--base-text-secondary);
    opacity: 0.7;
  }
}
