$swap-status : #2C446E;
.forex-deal {
    .fxtable {
        &__calculated-currency {
            font-size: calc(var(--base-font-size-default) - 0.2rem);
        }
    }


    .replicate-nominee {
        &__radio-column {
            max-width: 1rem;
        }
        &__vertical-middle {
            vertical-align: middle;
        }
    }

    .status {
        white-space: nowrap;
        &.in-progress {
            color: var(--base-color-warning);
        }
        &.processed {
            color: var(--base-color-success);
        }
        &.rejected {
            color: var(--base-color-danger);
        }
        &.swap {
            background-color: $swap-status;
            color: var(--color-white);
        }
    }
}