$letter-spacing-25: 0;
$review-title-font-size: 1.1rem;
$review-title-font-color: #666666;
$review-bottom-border-color: #333333;

.review {
  span {
    display: inline-flex;
    align-items: center;
  }
  .card {
    margin-bottom: 0.6rem;
    .card-header {
      padding: 0;
      border-bottom: 0.05rem solid $review-bottom-border-color;
      height: 2.7rem;

      .card-title {
        color: $review-title-font-color;
        letter-spacing: $letter-spacing-25;
        font-size: $review-title-font-size;
      }
      .edit {
        @include float(right);
        padding-top: 1rem;
        font-size: 1.2rem;
        color: var(--base-color-primary);
      }
      .edit-info {
        margin-top: 0;
      }
    }
  }
}
