<!-- ko if:$baseModel.cordovaDevice() -->
 <div class="oj-flex oj-flex-items-pad">
   <div class="oj-flex-item">
     <a href="#" id="share" data-bind="attr:{'alt':$component.confirmScreenResources.confirm.shareAlt,'title':$component.confirmScreenResources.confirm.share,'aria-label':$component.confirmScreenResources.confirm.share },click: $component.share">
       <span class="icon icon-share"></span><span data-bind="text:$component.confirmScreenResources.confirm.share"></span>
     </a>
   </div>
 </div>
 <!-- /ko -->
