.search-section {
    .search-container {
        margin-top: 0 !important;
@include padding( 0.3rem,0,3.1rem,0 );
        border: 0 !important;
    }
    .action-header__title {
        bottom: -0.3rem;
        font-size: var(--base-font-size-default);
        font-weight: normal;
        color: var(--base-text-primary);
    }
}
