@import "utils";
$payee-data-container-card-height: 10.5rem;
$card-sub-title-size: 0.9rem;
$card-sub-title-color: var(--base-color-secondary);
$payee-card-title-size: 1.1rem;
.payee-data-card {
    cursor: pointer;
    height: $payee-data-container-card-height;
    &-title {
		@include panel-title;
        font-size: $payee-card-title-size;
    }
    &-icons {
        img {
            height: 5rem;
            width: 6.3rem;
            position: absolute;
            top: 0;
            @include right(0);
        }
    }
    &-features {
        font-size: $card-sub-title-size;
        color: $card-sub-title-color;
        @include line-height;
        .feature-group {
            position: relative;
            bottom: -0.6rem;
            .feature {
                padding-bottom: 0.3rem;
            }
            .feature-list {
                padding-bottom: 1.1rem;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}