.icon-2x {
  font-size: 1.2rem;
  padding-top: 0.5625rem;
  color: var(--link-base);
  @include mq(small) {
    font-size: 1rem;
    padding-top: 0;
  }
  @include mq(medium) {
    font-size: 1rem;
    padding-top: 0;
  }
}
.transactions{
  margin-top:0.8rem;
}
.popup-width {
  max-width: 15rem;
  padding-bottom: 0.625rem;
  @include mq(small) {
    max-width: 12rem;
  }
}

.list-align {
  padding: 0 1.125rem;
}

.align-channel {
  @include mq(small) {
    padding: 0.18rem 0;
  }
  @include mq(medium) {
    padding: 0.18rem 0;
  }
}

.mobile-header {

  color: var(--base-text-primary);
  font-weight: bold;

}
.header-width{
  max-width: 70%;
}

.info-style {
 font-size: var(--base-font-size-small);
color: var(--link-base);
padding-bottom: 0.74rem;
}

.center {
  padding: 0 30% 2% 30%;
  @include mq(small) {
    padding: 0;

  }
  @include mq(medium) {
    padding: 0;
  }
}

.center-note {
  padding: 0 15% 0 15%;
}

.no-limit-image {
  height: 10rem;
  width: 10rem;
}

.icon-style {
  padding-top: 0.625rem;
  color: var(--link-base);
  @include mq(small) {
    padding-top: 0;
  }
  @include mq(medium) {
    padding-top: 0;
  }
}

.labels {
  padding-top: 0.5625rem;
}

.section-divider {
  border-bottom: 0.05rem solid #e6e6e6;
  margin-bottom: 0.9375rem;
}

.amount {
  font-size: 1.1875rem;
  font-weight: bold;
  @include mq(small) {
    font-size: 1rem;
  }
  @include mq(medium) {
    font-size: 1rem;
  }
}

.header-spacing {
  padding-bottom: 0.9375rem;
}

.vertical-divider {
  @include single-border(right, 0.1875rem solid var(--base-text-primary));
}

.edit-limit {
  @include single-border(right, 0.1rem solid var(--base-text-primary));
  max-height: 1.3rem;
  @include mq(small) {
    max-height: 1rem;
  }
  @include mq(medium) {
    max-height: 1rem;
  }
}

.limit-header {
  @include single-padding(left,0.625rem);
}

.limit-nav {
  @include single-padding(right, 0 !important);
}
.limitsHeader{
  font-size:1.1rem;
  margin: calc(1.1rem/ 2) 0;
}
