.loginContainer {
    position: fixed;
    top: 0;
    @include left(0) overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);

    @include mq(small) {
        background: url('{images}/index/happygirl.png') no-repeat;
        background-size: cover;
    }

    .forgotPassword {
        margin-top: 0.3rem;
    }

    .loginFormContainer {
        display: block;
        height: auto;
        width: 25rem;
        position: relative;
        top: 9.4rem;
        @include left(6.3rem);
        background-color: var(--base-background-primary);
        padding: 3.1rem;

        @include mq(small) {
            width: 75%;
            @include left(auto) margin: 0 auto;
            padding: 1.3rem;
        }

        .loginInput input[type="password"],
        .loginInput input[type="text"] {
            width: 80%;
        }

        .login-logo {
            text-align: center;

            img {
                width: 12.5rem;

                @include mq(small) {
                    width: 9.4rem;
                }
            }

            @include mq(small) {
                display: none;
            }
        }
    }

    .loginBox {
        width: 100%;
        max-width: 75rem;
        @include single-margin(left,
            auto);
        @include single-margin(right,
            auto);
    }

    .loginHeader {
        padding: 0.9rem 1.3rem;
        background-color: var(--base-color-secondary);
        color: var(--color-white);
        height: 3.8rem;
        box-sizing: border-box;
        font-size: 1.3rem;
        font-weight: 400;

        @include mq(small) {
            line-height: 1.1rem;
            height: 3rem;
        }
    }

    .icons {
        position: absolute;
        margin-top: 0.6rem;
    }

    .loginButton {
        background-image: none !important;
        color: var(--color-white) !important;
        border-radius: 0.3rem;
        box-shadow: 0.1rem 0.1rem 0.2rem 0 rgba(45, 55, 62, 0.55);
        font-size: 1rem;
        margin: 0;
        box-shadow: none !important;
        border: 0 !important;

        @include mq(medium) {
            width: 16rem !important;
        }

        @include mq(small) {
            width: 16rem !important;
        }
    }

    .loginButton:hover {}

    .cancelButton {
        background-color: rgba(255, 255, 255, 1);
        border-radius: 0.3rem;
        padding: 0.6rem 1.6rem;
        color: var(--base-text-primary);
        border-color: var(--button-primary-border-color);
        font-size: 0.9rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

        box-shadow: 0.1rem 0.1rem 0.2rem 0 rgba(45,
            55,
            62,
            0.5);
    }
}

.loginForm {
    height: 100%;
    overflow: hidden;
}

.loginPopUp {
    display: none;
    height: 17.8rem;
    width: 21.3rem;

    form {
        padding: 1.3rem 0.9rem;
    }

    .blink-rainbow {
        animation-duration: 5000ms;
        animation-name: blink;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .loginInput img {
        position: absolute;
        width: 1.9rem;
        height: 1.9rem;
        @include single-margin(left,
            0.3rem);
        margin-top: 0;
    }

    .loginInput input[type="password"],
    .loginInput input[type="text"] {
        height: 2.3rem;
        @include padding(0,
            0,
            0,
            1.9rem);
        width: 16.3rem;
        border-color: var(--form-input-border-color);
        border-width: 0.05rem;
        border-style: solid;
        font-size: 0.9rem;
        color: var(--base-text-primary);
        font-weight: 300;
        background: transparent;
    }

    .loginInput input[type="password"]:focus,
    .loginInput input[type="text"]:focus {
        outline: none;
    }

    input[type="radio"] {
        @include single-margin(left,
            0 !important);
        @include single-margin(right,
            0.6rem !important);
    }

    .button-container {
        padding: 1.6rem 0 0;
    }

    .mt30 {
        margin-top: 1.9rem;
    }

    .mt20 {
        margin-top: 1.3rem;
    }

    .mt15 {
        margin-top: 0.9rem;
    }

    .margin-auto {
        margin: auto;
    }
}

.login-enclosure {
    &__password {
        padding: 0.6rem 0;
    }
    .loginButton {
        width: 225px;
        margin: 0.6rem 0;
    }
    &__seperator {
        padding: 0 0.3rem;
    }
    .alternate-login-lbl {
        margin-top: 0.5rem;
    }
}

.alert-msg {
    color: var(--base-color-danger);
}

.danger {
    color: var(--base-color-danger);
}

.enable-finger-print {
    margin-top: 0.8rem;
}

.extra-links {
    .forgot-username-password {
        text-align: center;

        .left-right-margin10 {
            margin: 1rem;
            font-size: 0.9rem;
        }
    }

    .alternateLoginPad{
        padding-top: 1rem;
    }
    

    .quickSnapshotLink {
        padding-top:2rem;
        text-align: center;
    }

    .alternateLoginLink {
        padding: 1rem 0 0.5rem 0;
        text-align: center;
        font-size: 1.1rem;
    }
}

.bgchanges {
    background-color: rgb(255, 255, 255);
    padding-top: 0.8rem;
}

.quickSnapshotLinkFont {
    font-size: 1.1rem;
}

.authenticationImage {
    width: 10rem;
    height: 5rem;
    padding: 0 0 0 6rem;
}

.authenticate {
    padding: 0.5rem 0 0 0.5rem;
}

.alternateLogin {
    padding: 0.5rem;
    @include text-align(right);
}

.alternateSwitch {
    padding: 0 3rem 0 0;
}

.login-enclosure {
    &__password {
        padding: 0.6rem 0;
    }

    .loginButton {
        width: 225px;
        margin: 0.6rem 0;
    }

    &__seperator {
        padding: 0 0.3rem;
    }

    .alternate-login-lbl {
        margin-top: 0.5rem;
    }
}
