$journey-status-background-color:#027bc7;
$journey-disabled-block:#e0e1e1;
.transaction-journey {
    position: relative;
    &__connector {
        position: absolute;
        @include left(16.66%);
        width: 66.66%;
        height: 2px;
        background:var(--base-border-default);
        margin-top: 4.3rem;
    }
    &__train-box {
        @include float(left);
        width: 33.33%;
        position: relative;
        z-index: 1;
    }
    &-train-box{
      &__train-header {
          text-align: center;
          font-weight: var(--base-font-weight-bold);
      }
      &__block {
          width: 0;
          height:2.5rem;
          font-size: calc(#{var(--base-font-size-default)} + 0.4rem);
         
          margin: 1.7rem auto 0;
          border:0;
          background: var(--base-background-primary);
          cursor: pointer;
          &--icon-container{
            width: 1.8rem;
            height:1.8rem;
            @include float(left);
            background-color: $journey-status-background-color;
            border-radius: 50%;
            @include left(calc(50% - 0.7rem));
            position: relative;
            margin-top: 0.6rem;
            span{
              font-size: var(--base-font-size-small);
              position: absolute;
              color: var(--color-white);
              @include left(calc(50% - 0.4rem));
              top:0.5rem;
            }
          }
          &--icon-container.disabled{
            background-color: $journey-disabled-block;
          }
      }
      &__block-container {
          @include float(left);
          width: 100%;
          margin-top: 1.3rem;
        }
        &-block-container{
          &__block-details {
              @include float(left);
              position: relative;
              @include left(5%);
              width: 85%;
              margin-top: 1.3rem;
              line-height:calc(#{var(--form-line-height)} - 1rem);
              font-size:var(--base-font-size-default);
                text-align: center;
          }
          &__block-details:nth-child(1){
            margin-top: 0;
          }
          &-block-details{
            &__icon{
              @include float(left);
              @include single-padding(right,0.6rem);
            }
            &-icon{
              &__check{
                color:var(--base-color-success);
                padding-bottom: .5rem;
              }
              &__close{
                color:var(--base-color-warning);
              }
            }

            &__details{
              @include float(left);
              width: 100%;
              word-break: break-word;
            }
            &-details{
              &__check{
                color:var(--base-color-success);
                padding-bottom: .5rem;
              }
              &__transaction-success{
                color:var(--base-color-success);
                padding-bottom: .5rem;
              }
              &__transaction-date{
                color:var(--base-text-secondary);
                padding-bottom: .5rem;
              }
              &__transaction-failed{
                color:var(--base-color-warning);
                padding-bottom: .5rem;
              }
            }
          }
      }


      &__disable{
        span.icon-container{
          background: var(--base-background-disable);
        }
      }
      &__state-current{
      }

      &__icon-success,&__icon-check{
        color:var(--base-color-success);
      }
      &__icon-reject,&__icon-close{
        color:var(--base-color-warning);
      }

    }
}
.referenceno{
  padding-bottom: .5rem;
}
.smallOnlyJourney {
    @include float(left);
    padding: 0.6rem;
    width: 93%;
    .details-icon {
        @include float(left);
        padding: 0;
    }
    &__train-box{
      width:100%;
    }
}
