.popup-width {
  width: 15rem;
  padding-bottom: 0.625rem;
  line-height: 1.43rem;
}

.header-underline {
  border-bottom: 0.0625rem solid var(--base-border-default);
  display: inherit;
}

.spacing-table {
  padding-top: 2.5rem;
}

.search-entity-container {
  padding-top: 0.625rem;
}

.remittance-bar {
  background: var(--banner-background);
  color: var(--banner-text-secondary);
  padding: var(--banner-padding);
  align-items: center;
}

.comp-title {
  font-weight: var(--base-font-weight-bold);
}
