<div class="row-group">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetailsTemplate.detail.accountId"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-10">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetails.statementItemHash"></span></oj-label>
    </div>
  </div>
</div>

<div class="row-group">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetailsTemplate.detail.creditCardId"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-10">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetails.id.displayValue"></span></oj-label>
    </div>
  </div>
</div>

<div class="row-group">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetailsTemplate.detail.disputeReason"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-10">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetails.disputeReason"></span></oj-label>
    </div>
  </div>
</div>
