<div class="row-group">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetailsTemplate.detail.accountId"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-10">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$data.requestDetails.topUpDetailsDTO.accountId.displayValue"></span></oj-label>
    </div>
  </div>
</div>
<!-- ko if: $data.requestDetails.topUpDetailsDTO.disbursementDate -->
<div class="row-group">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetailsTemplate.detail.disbursementDate"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-10">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$formatter.formatDate($data.requestDetails.topUpDetailsDTO.disbursementDate)"></span></oj-label>
    </div>
  </div>
</div>
<!-- /ko -->

<!-- ko if: $data.requestDetails.topUpDetailsDTO.topUpAmount -->
<div class="row-group">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetailsTemplate.detail.topUpAmount"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-10">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$formatter.formatCurrency($data.requestDetails.topUpDetailsDTO.topUpAmount.amount,$data.requestDetails.topUpDetailsDTO.topUpAmount.currency)"></span></oj-label>
    </div>
  </div>
</div>
<!-- /ko -->

<!-- ko if: $data.requestDetails.topUpDetailsDTO.purpose -->
<div class="row-group">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$component.requestDetailsTemplate.detail.reason"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-10">
      <oj-label for="usernamesearch2" class="talign-left"><span data-bind="text:$data.requestDetails.topUpDetailsDTO.purpose"></span></oj-label>
    </div>
  </div>
</div>
<!-- /ko -->
