.grid-main-container {
    max-width: 100%;
    background: var(--base-background-primary);
    box-shadow: none;
    color: var(--base-text-primary);
    font-size: var(--base-font-size-default);
    line-height: calc(#{var(--form-line-height)} - 0.6rem);
    //padding: 0 1.3rem;
    label,.label {
        font-size: var(--base-font-size-medium);
        color: var(--base-text-secondary);
        line-height: calc(#{var(--form-line-height)} - 1.1rem);
    }
    .description {
        font-size: var(--base-font-size-larger);
        @include mq(small){
          font-size: var(--base-font-size-default);
        }
    }
    .amount {
      font-size: var(--base-font-size-larger);
        label {
            @include single-padding(right, 0.6rem);
        }
    }
    .bal-amt-text {
        font-size: var(--base-font-size-default);
        label {
            @include single-padding(right, 0.6rem);
        }
    }
    .highlight-text {
      font-size: calc(#{var(--base-font-size-default)} + 0.4rem);
    }
    .activity-amt {
        font-size: var(--base-font-size-default);
        padding-bottom: 0.2rem;

        label {
            @include single-padding(right, 0.6rem);
        }
        .credit,
        .debit {
            font-size: var(--base-font-size-larger);
        }
        .debit {
            color: var(--base-color-danger);
        }
    }
    .select-all {
        font-size: var(--base-font-size-default);
    }
    .oj-listview {
        border: 0 !important;
        li {
            position: relative;
            padding: 0.6rem 0 0;
            &:first-child {
                border-top: 0;

            }
            .last-activity {
                position: absolute;
                bottom: 0.6rem;
                @include right(0);
            }
            .oj-flex{
              padding-bottom: 0;
             .oj-flex-item {
                padding-bottom: 0.5rem;
            }
          }
        }
    }
    h3.heading {

        font-weight: var(--base-font-weight-regular);
        margin: 0 0 0.6rem;
        padding-bottom: 0.3rem;
        border-bottom: 0.05rem solid var(--base-border-default);
    }
    img.delete{
      height: 1.5rem;
      width: 1.5rem;
    }
}
