.header {
    .sticky {
        position: fixed;
        width: 100%;
        background: var(--base-color-secondary);
        z-index: 5;
        top: 0;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    }
    .header-container {
        color: var(--header-foreground-color);
        background: linear-gradient(to var(--header-gradient-direction), var(--header-gradient-start-color), var(--header-gradient-end-color));
        max-width: 100vw;
        z-index: 5;
        .helpdesk {
            &-header-container {
                background: var(--base-background-tertiary);
                color: var(--base-text-secondary);
                display: flex;
                align-items: center;
                &__icon {
                    @include single-padding(right, 3.8rem);
                }
                &__title {
                    @include single-padding(left, 3.2rem);
                }
                &-title {
                    &__text {
                        display: inline-block;
                    }
                }
            }
        }
        .fixed-header-container {
            justify-content: space-around;
            width: 100%;
            background-position: right center;
            background-repeat: no-repeat;
            background-size: cover;
            height: var(--header-height);
            @include mq(small) {
                height: var(--header-small-height);
            }
            border-bottom: 1px solid var(--header-border-bottom-color);
            .logo-container {
                .icon-menu {
                    padding: 0;
                    @include float(left);
                }
                .icon-logo {
                    img {
                        width: auto;
                        height: 2rem;
                        margin-top: 0.1rem;
                    }
                }
            }
        }
        .alternate-primary {
            .oj-combobox {
                max-width: 20rem;
                width: 20rem;
            }
        }
        .comp-title {
            @include float(left);
            padding: 0 1.6rem;
            display: flex;
            @include mq(small) {
                padding: 0;
            }
            h2 {
                font-size: var(--base-font-size-larger);
                font-weight: var(--base-font-weight-regular);
                color: var(--base-color-secondary-text);
                margin: 0;
                display: flex;
                align-items: center;
                @include mq(small) {
                    font-size: var(--base-font-size-large);
                    color: var(--header-foreground-color);
                }
                @include mq(medium) {
                    font-size: var(--base-font-size-large);
                }
            }
        }
        .badge {
            display: inline-block;
            min-width: 0.6rem;
            height: 0.6rem;
            padding: 0.3rem;
            font-size: var(--base-font-size-small);
            font-weight: 400;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border-radius: 0.6rem;
            position: relative;
            bottom: 0.4rem;
            @include left(0);
            margin: 0 -.8em;
            border-radius: 3.1rem;
            background: var(--base-color-danger);
            color: var(--color-white);
        }
        .icon-menu-bar {
            top: 0.2rem;
            position: relative;
            cursor: pointer;
            color: var(--base-color-secondary-text);
            font-size: calc(#{var(--base-font-size-default)} + 0.6rem);
        }
        .icon-back-arrow {
            display: block;
            cursor: pointer;
            color: var(--header-foreground-color);
            @include float(left);
            @include mq(small) {
                font-size: calc(#{var(--base-font-size-default)} + 0.4rem);
                @include single-padding(right, 0.6rem);
                @include mq(small) {
                    margin-top: 0.5rem;
                }
            }
            @include mq(medium) {
                font-size: calc(#{var(--base-font-size-default)} + 0.6rem);
            }
            @include mq(large) {
                font-size: calc(#{var(--base-font-size-default)} + 1.3rem);
            }
        }
        .menu-bar-container {
            background: transparent;
            @include float(left);
            @include mq(small) {
                margin-top: 0.5rem;
            }
            &.active {
                @include mq(small) {
                    width: 3.3rem;
                }
                @include mq(medium) {
                    width: 3.3rem;
                }
            }
        }
        .header-nav-container {
            position: fixed;
        }
        .hamburger-icon {
            svg {
                width: 1.5rem;
                height: 1.5rem;
                margin: 0.4rem;
                @include mq(small) {
                    margin: 0;
                }
                transform: translate3d(0, 0, 0);
            }
            path {
                fill: none;
                transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
                @include mq(highres) {
                    stroke-width: 0.5rem;
                }
                stroke-width: 2rem;
                stroke-linecap: round;
                stroke: var(--header-foreground-color);
                stroke-dashoffset: 0px;
            }
            path.top,
            path.bottom {
                stroke-dasharray: 240px 950px;
            }
            path.middle {
                stroke-dasharray: 240px 240px;
            }
            &.cross {
                path.top,
                path.bottom {
                    stroke-dashoffset: -650px;
                }
                path.middle {
                    stroke-dashoffset: -115px;
                    stroke-dasharray: 1px 220px;
                }
            }
        }
        .logo-container {
            height: 2.2rem;
        }
    }
    .notification-clear-all {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: var(--base-background-primary);
        a {
            padding: .6rem;
            width: 100%;
            @include text-align(right);
            position: absolute;
        }
        &.visible {
            height: 2rem;
        }
    }
    .nav-menu {
        a {
            color: var(--header-foreground-color);
            font-weight: var(--header-font-weight);
            font-size: var(--header-font-size);
        }
        .lastLogin {
            font-size: var(--base-font-size-small);
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            margin: 0;
            height: var(--header-height);
            @include mq(small) {
                height: var(--header-small-height);
            }
            li {
                a {
                    display: inline-flex;
                    .icons {
                        padding: 0 0.4rem;
                        font-size: var(--header-icon-size);
                    }
                    &.no-navigation-logout {
                        padding-top: .3rem;
                        .icons {
                            font-size: 1.6rem;
                        }
                    }
                }
                #profileLauncher.icons {
                    font-size: 1rem;
                }
                @include single-padding(right, 1rem);
                margin: auto 0;
                display: inline-flex;
                height: var(--header-icon-size);
                align-items: center;
                // .oj-button {
                //   &.oj-hover,
                //   &.oj-selected {
                //     &.oj-button-half-chrome .oj-button-button {
                //       background: transparent;
                //       border-width: 0;
                //     }
                //   }
                // }
                &:last-child {
                    padding: 0;
                }
            }
            li.loggedInUser {
                height: 2rem;
                .welcomeUser {
                    color: var(--header-foreground-color);
                    font-weight: var(--header-font-weight);
                    font-size: var(--header-font-size);
                }
            }
        }
    }
    &-mailbox-launcher {
        width: 25.6rem;
        min-height: 10rem;
    }
    &-profile-launcher {
        width: 20rem;
        ul {
            list-style: none;
            padding: 0;
            li {
                padding: 0.6rem 0;
                &:hover {
                    background-color: var(--base-border-default);
                }
            }
        }
    }
}