.smsheader{
&__value{
	padding:0.4rem 1rem;
	background-color:var(--base-color-success-light);
	color:var(--color-white);
	@include single-margin(left, 0);
	margin:0 0.8rem;
}

	&__list{
	list-style:none;
	display:inline;
	padding:0;
	}
	&-list{
	&__listItem{
	padding:0.4rem 1rem;
	display:inline;
	background-color:var(--link-base);
	color:var(--color-white);
	margin: 0 0.8rem;
	}
	&-listItem{
	&__smsIcons{}
	&__text{
		display:inline-block;
	}
	}
	}


}
