.nav-bar {
    width: auto;
    float: none;
    background: var(--base-background-primary);
    border-bottom: 0.055rem solid var(--base-border-default);
    &__container {}
    &-list {
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        margin: 0;
        border-bottom: 0.055rem solid var(--base-border-default);
        &__item {}
    }
    &-item {
        text-align: center;
        margin: 0;
        height: auto;
        padding: 0 0.6rem;
        @include mq(small) {
            min-width: inherit;
        }
        &:last-child a {
            border: 0;
        }
        &-link {
            &__text {
                font-size: var(--nav-default-font-size);
                font-weight: var(--nav-default-font-weight);
                display: inline-block;
                @include mq(small) {
                    display: block;
                    text-align: center;
                }
            }
            &__icon {
                display: inline-block;
                position: relative;
                top: 0.2rem;
                @include single-padding(right, 0.6rem);
                color: var(--nav-default-foreground-color) !important;
                font-size: var(--nav-default-font-size);
                font-weight: var(--nav-default-font-weight);
                @include mq(small) {
                    display: block;
                    text-align: center;
                    font-size: var(--nav-default-font-size);
                    border: none;
                    width: 100%;
                }
            }
            &__count {
                background: var(--nav-hover-border-color);
                color: #fff;
            }
        }

        &.oj-navigationlist-item.oj-navigationlist-item-element {
            &.oj-default {
                border-bottom: transparent;
                a .oj-navigationlist-item-label {
                    color: var(--nav-default-foreground-color) !important;
                    font-size: var(--nav-default-font-size);
                    font-weight: var(--nav-default-font-weight);
                }
            }
            &.oj-hover:not(.oj-selected) {
                border-bottom: var(--nav-hover-border-width) solid var(--nav-hover-border-color);
                border-radius: var(--nav-hover-border-radius);
                background: linear-gradient(to var(--nav-hover-gradient-direction), var(--nav-hover-gradient-start-color), var(--nav-hover-gradient-end-color));
                a .oj-navigationlist-item-label {
                    color: var(--nav-hover-foreground-color) !important;
                    font-size: var(--nav-hover-font-size);
                    font-weight: var(--nav-hover-font-weight);
                }
                a .nav-bar-item-link__icon {
                    color: var(--nav-hover-foreground-color) !important;
                }
            }
            &.oj-selected {
                border-bottom: var(--nav-selected-border-width) solid var(--nav-selected-border-color);
                border-radius: var(--nav-selected-border-radius);
                background: linear-gradient(to var(--nav-selected-background-gradient-direction), var(--nav-selected-background-gradient-start-color), var(--nav-selected-background-gradient-end-color));
                a .oj-navigationlist-item-label {
                    color: var(--nav-selected-foreground-color) !important;
                    font-size: var(--nav-selected-font-size);
                    font-weight: var(--nav-selected-font-weight);
                }
                .oj-navigationlist-item-icon {
                    color: var(--nav-selected-border-color);
                }
            }
        }
    }
    .oj-navigationlist-icon-only .oj-navigationlist-item-label {
        display: block;
    }
    .oj-navigationlist-vertical {
        &:not(.oj-navigationlist-icon-only) {
            .oj-navigationlist-item {
                border-bottom-width: 0;
                &.oj-hover:not(.oj-selected) {
                    border-left-color: var(--base-color-primary);
                }
                &.oj-selected {
                    border-left-color: var(--nav-selected-border-color);
                    background-color: var(--nav-selected-background);
                    .oj-navigationlist-item-icon {
                        color: var(--nav-selected-border-color);
                    }
                }
            }
        }
    }
}