@import "utils";
$budget: #ca589d;
$budget-bg: rgba($budget, .2);
.budget{
  background: $budget-bg;
  
  @include mq(small){
    height: auto;
  }
  @include mq(medium){
    height: auto;
  }
  &-contents{
    padding-bottom: 0.6rem;
    &-count{
      font-size: var(--base-font-size-larger);
      @include single-padding(right,0.3rem);
    }
    &-title{
      margin: 0.6rem 0;
      font-weight: var(--base-font-weight-regular);
    }
    &-link{
      font-size: var(--base-font-size-default);
      padding:0.6rem;
    }
  }

  img{
    height: 4.7rem;
    width: 4.7rem;
  }
}
