@import "utils";

.limits-graph {
  &__heading {
    margin: 0.6rem 0;
    font-weight: var(--base-font-weight-regular);
    display: inline-block;
  }

  .title {
    text-align: center;
    margin: 0.6rem 0;
    font-weight: bold;
  }

  .countOrAmount {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.8rem;
  }

  .pie {
    max-width: 11rem;
    width: 85%;
    height: 10rem;
    margin: -1.5rem auto auto;
  }

  .image {}

  .text {
    font-size: 0.8rem;
    text-align: center;
  }

  .legend {
    max-width: 9.4rem;
    width: 100%;
    margin: -0.4rem auto auto;
  }

  .legend-color-wrapper {
    padding-top: 0.1rem;
  }

  .section {
    padding: 0;
  }

  .dividerRight {
    margin: 1.1rem 0;
    @include single-border(right, 2px solid var(--base-border-default));
  }

  .dividerBottom {
    @include single-border(bottom, 2px solid var(--base-border-default));
  }

  .monthlyMargin {
    margin: 1.1rem 0;
  }

  .legend-color {
    max-width: 0.6rem;
    width: 100%;
    height: 0.6rem;
  }

  .legend-text {
    @include text-align(left);
    font-size: 0.7rem;
    padding-bottom: 0.1rem;
  }

  .bottom {
    padding-bottom: 0.3rem;
  }

  .total {
    padding: 0;
  }

  .legend-text-content {
    font-size: 0.7rem;
    padding-bottom: 0.1rem;
    text-align: center;
  }

  .legend-text-content-amount {
    @include text-align(left);
    font-size: 0.7rem;
    padding-bottom: 0.1rem;
  }

  .padding-when-small {
    @include mq(small) {
      padding-top: 0.6rem;
    }
  }

  h3.sub-heading {
    margin: 0.6rem 0;
    display: inline-block;
  }

  .date {
    font-size: var(--base-font-size-small);
  }

  .no-of-days {
    @include float(right);
    font-size: var(--base-font-size-small);
  }

  .cash-value,
  .debt-value {
    font-size: var(--base-font-size-large);
    padding-bottom: 0.6rem;
  }

  .mtb10 {
    margin-bottom: 0.6rem;
  }
}
