<div class=" ">

<div class="oj-flex oj-flex-items-pad">
  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-2">
    <oj-label class=""><span data-bind="text:nls.fieldname.partyID"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
    <span class="" data-bind="text: 123"></span>
  </div>

  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
    <oj-label class=""><span data-bind="text:nls.headings.NumberOfAccounts"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-2">
    <span class="" data-bind="text: 20"></span>
  </div>
</div>

<div class="oj-flex oj-flex-items-pad">
  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-2">
    <oj-label class=""><span data-bind="text:nls.fieldname.partyName"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
    <span class="" data-bind="text: 20154545454851561515"></span>
  </div>

  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
    <oj-label class=""><span data-bind="text:nls.headings.NumberOfMAppedAccounts"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-2">
    <span class="" data-bind="text: 15"></span>
  </div>
</div>

</div>
