<page-section params="baseModel : $baseModel, rootModel : $data, heading : nls.headings.details">

			<row params="baseModel : $baseModel, rootModel : $parent, label : nls.party.partyID , value :$component.partyIDdisplayValue()"></row>

			<row params="baseModel : $baseModel, rootModel : $parent, label : nls.party.partyName , value :$component.partyName()"></row>

<!-- ko if: isGracePeriodLoaded -->
<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
				<oj-label class="" for="lgid"><span data-bind="text:nls.party.GracePeriod"></span></oj-label>
			</div>
			<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9">
				<span class="" data-bind="text: $baseModel.format($component.nls.party.gracePeriodDays,{gracePeriod:$component.gracePeriod()})"></span>

			</div>
		</div>
<!-- /ko -->

		<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3 label">
				<oj-label class=""><span data-bind="text:nls.party.ApprovalType"></span></oj-label>
			</div>
			<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9">
				<oj-buttonset-one disabled="{{'true'}}" value="{{$component.selectedApprovalType}}"><oj-option name="approvalTypeValue" value="{{'SE'}}" :id="[['approvaltypeseq']]"><span data-bind="attr: {for: 'approvaltypeseq'},text:nls.fieldname.sequential"></span></oj-option><oj-option name="approvalTypeValue" value="{{'NSE'}}" :id="[['approvaltypeparallel']]"><span data-bind="attr: {for: 'approvaltypeparallel'},text:nls.fieldname.parallel"></span></oj-option><oj-option name="approvalTypeValue" value="{{'ZE'}}" :id="[['noapprovaltype']]"><span data-bind="attr: {for: 'noapprovaltype'},text:nls.fieldname.noApproval"></span></oj-option></oj-buttonset-one>
			</div>
		</div>


		<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3 label">
				<oj-label class=""><span data-bind="text:nls.party.channelAccess"></span></oj-label>
			</div>
			<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9">

				<oj-buttonset-one disabled="{{'true'}}" value="{{$component.isEnabledSelected}}"><oj-option name="channelAccessValue" value="{{'true'}}" :id="[['isenable']]"><span data-bind="attr: {for: 'isenable'},text :nls.common.enable"></span></oj-option><oj-option name="channelAccessValue" value="{{'false'}}" :id="[['isdisable']]"><span data-bind="attr: {for: 'isdisable'},text :nls.common.disable"></span></oj-option></oj-buttonset-one>

			</div>
		</div>
		<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3 label">
			<oj-label class="oj-flex-item oj-lg-12 oj-sm-12">
             <span data-bind="text: nls.party.dealCreationAllowed"></span>
            </oj-label>
			</div>
			<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9">
				<oj-buttonset-one disabled="{{'true'}}" value="{{$component.isForexDealCreationAllowed}}">
					<oj-option name="forexDealAllowedValue" value="{{'true'}}" :id="[['isdealcreationallowed']]"><span data-bind="attr: {for: 'isdealcreationallowed'},text :nls.common.enable"></span></oj-option>
					<oj-option name="forexDealAllowedValue" value="{{'false'}}" :id="[['forexDealCreationDisabled']]"><span data-bind="attr: {for: 'forexDealCreationDisabled'},text :nls.common.disable"></span></oj-option>
			</oj-buttonset-one>
			</div>
		</div>

		<div class="oj-flex oj-flex-items-pad">
		    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3 label">
		        <oj-label class=""><span data-bind="text:nls.party.enableCorpAdministrator"></span></oj-label>
		    </div>
		    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9">
		        <oj-buttonset-one :id="[['isCorpAdminEnabled']]" disabled="{{'true'}}" value="{{$component.corpAdminEnabled}}"><oj-option value="{{'ENABLED'}}" :id="[['CorpAdminEnabled']]" :name="[['corpAdmin']]"><span data-bind="attr: {for:'CorpAdminEnabled'},text: nls.common.enable"></span></oj-option><oj-option value="{{'DISABLED'}}" :id="[['corpAdminDisabled']]" :name="[['corpAdmin']]"><span data-bind="attr: {for: 'corpAdminDisabled'},text: nls.common.disable"></span></oj-option></oj-buttonset-one>

		    </div>
		</div>
		<!-- ko if: partyPreferenceLoaded && $component.isAccessibleRoles() -->
		<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3 label">
				<oj-label class="" for="lgid"><span data-bind="text:nls.party.allowedRoles"></span></oj-label>
			</div>
			<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9">
				<div class="oj-flex oj-flex-items-pad">
					<!-- ko foreach: allowedRoles -->
					<div class="oj-flex-item  oj-sm-12">
							<span class="" data-bind="text: $data"></span>
					</div>
					<!-- /ko -->
				</div>
			</div>
		</div>
		<!-- /ko -->
	</page-section>

		<page-section params="baseModel : $baseModel, rootModel : $data, heading : nls.party.CumulativeLevel">
		<!-- ko ifnot:$component.parames.limitPackagesUtilizedByParty.length-->
		<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12">
			<span class="oj-choice-item" data-bind="text: $component.nls.party.noLimitsAssigned"></span>
		</div>
		</div>
		<!-- /ko -->
		<!-- ko if:$component.parames.limitPackagesUtilizedByParty.length-->
		<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
				<label data-bind="text: $component.nls.party.accessPointGroup"></label>
			</div>
			<label class="oj-flex-item" data-bind="text: $component.nls.party.limitPackage">
			</label>
		</div>
		<!-- /ko -->
		<!-- ko foreach: $component.parames.limitPackagesUtilizedByParty -->
			<row params="baseModel : $baseModel, rootModel : $parent, label : accessPointValue , value :key.id"></row>
		<!-- /ko -->
	</page-section>
		<page-section params="baseModel : $baseModel, rootModel : $data, heading : nls.party.UserLevel">
		<!-- ko ifnot:$component.parames.limitPackagesUtilizedByUser.length-->
		<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12">
			<span class="oj-choice-item" data-bind="text: $component.nls.party.noLimitsAssigned"></span>
		</div>
		</div>
		<!-- /ko -->
		<!-- ko if:$component.parames.limitPackagesUtilizedByUser.length-->
		<div class="oj-flex oj-flex-items-pad">
			<div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
				<label data-bind="text: $component.nls.party.accessPointGroup"></label>
			</div>
			<label class="oj-flex-item" data-bind="text: $component.nls.party.limitPackage">
			</label>
		</div>
		<!-- /ko -->
		<!-- ko foreach: $component.parames.limitPackagesUtilizedByUser -->
			<row params="baseModel : $baseModel, rootModel : $parent, label : accessPointValue , value :key.id"></row>
		<!-- /ko -->
	</page-section>
