.add-new{
	position:relative;
	height:100%;
	&-icon{
		padding-top:1.3rem;
		padding-bottom:0.6rem;
		img{
			height:2.3rem;
			width:2.3rem;
		}
	}
	&-text{
		font-size:var(--base-font-size-larger);
		color:var(--base-text-secondary);
	}
}
