@import "utils";
.report{
  &__viewAll{
    @include view-all;
    @include text-align(right);
    @include single-padding(right, 0.8rem);
  }
  &__content{
    //padding-bottom:1rem;
  }
  &-content{
    &__noData{
      display:flex;
      align-items: center;
      justify-content: center;
      img{
        height:8rem;
      }
    }
    &__text{
      display:flex;
      align-items: center;
      justify-content: center;
      text-align:center;
      font-size:var(--base-font-size-larger);
    }
    &__subText{
      display:flex;
      align-items: center;
      justify-content: center;
      text-align:center;
    }
  }

  &__listView{
    padding:0 0.5rem;;
  }
  &__description{
    padding:0.3rem 0;
  }
  &__refNo{
    padding:0.3rem 0;
  }
  &__date{
    padding:0.3rem 0;
  }
}
