.my-limit {
  .date {
        padding-top: 1rem;
  }
  .target-linkages {
    padding: 0.6rem 0 ;
    padding-top: 10px;
    padding-bottom: 10px;
    &__info {}

    &-info {
      &__name {
        font-size: var(--base-font-size-large);
        font-weight: var(--base-font-weight-regular);
        padding-bottom: 1.3rem;
      }

      &__amount {
        padding: 0.3rem 0;
      }

      &-amount {
        &__label{
          color: var(--base-text-secondary);
          font-size: var(--base-font-size-medium);
        }
        &__value{
          font-size: var(--base-font-size-large);
        }
      }
    }

    &__buttons {
      @include single-border(left, 0.05rem solid var(--base-border-default));
    }

    &-buttons {
      display: flex;
      align-items: center;

      &__buttonSet {
        text-align:center;
        @include single-padding(left,1.3rem);
      }
    }

    &__cumulative-limit {
    padding-top: 10px;
    padding-bottom: 10px;
    }

    &-cumulative-limit {

      &__daily {
        padding-top: 10px;
        padding-bottom: 10px;
        &__info-text-small {
          font-size: var(--base-font-size-medium);
          color: var(--base-text-secondary);
          padding-bottom: 0.55rem;
        }
      }


      &__seperator {
        margin: 1.3rem 0;
        border-top: 0.05rem solid var(--base-border-default);
      }

      &__monthly {
        padding-top: 10px;
      }
    }

    .cumulative-limit {
      &__text{
        font-size: var(--base-font-size-large);
        
      }
      &__value{
        font-size:var(--base-font-size-large);
      }

      .valueIndicator {
        font-size  : var(--base-font-size-small);
        color      : var(--base-text-secondary);
        
      }
      .valueIndicatorCount {
        font-size  : var(--base-font-size-small);
        color      : var(--base-text-secondary);
        font-weight: var(--base-font-weight-bold);
      }
      .valueIndicatorAmount{
        font-size  : var(--base-font-size-small);
        color      : var(--base-text-secondary);
        @include single-padding(left,0.6rem);
      }

      &__gauge {
        width:100%;
        height:1rem;
      }
      &__limitUsed{
        padding:0.6rem 0;
      }
    }
  }
}
