$date-text-size: var(--base-font-size-large);
$month-text-size: var(--base-font-size-medium);
.date-box{
	max-width:5rem;
	font-size:$month-text-size;
	&__day{
		font-size:$date-text-size;
		@include mq(small){
			font-size:var(--base-font-size-larger);
		}
		color:var(--base-text-secondary);
	}
	&__month{
	color:var(--base-text-secondary);
	}
	&__year{
	color:var(--base-text-secondary);

	}

}
