@import "utils";
.recurringDeposit {
  &__link {
    @include mq(large) {
      margin-top: 0.9rem;
    }
    @include mq(medium) {
      margin-top: 0.9rem;
    }
  }
  &__calculateMaturity {
    @include mq(small) {
      @include single-border(left, 0.05rem solid var(--base-border-default));
      max-height: 1.3rem;
    }
  }
  &__holdingPattern {
        font-size: .9rem;
        font-weight:var(--base-font-weight-bold);
}

  &__bankLookUp {
    @include mq(large) {
      margin-top: 0.6rem;
      @include single-padding(left,1.4rem);
    }
    @include mq(medium) {
      margin-top: 0.6rem;
    }
    @include mq(small) {
      margin-top: 0.6rem;
    }
  }
  &__verifyButton{
    @include single-padding(right,5rem);
  }
  &__nomineeRadio{
  padding-bottom:0rem !important;
  }
}
