$loan-showcase-h3: var( --base-text-secondary);
$loan-showcase-bg-color:#e7f3d8;
.loan-showcase {
    background: $loan-showcase-bg-color;
    .parallaxbox {
        background-image: url('{images}/index/icons/in-principle-approval-parallax.svg');
        height: 26.9rem;
        background-position: bottom right;
        background-size: 73% 26.9rem;
        background-repeat: no-repeat;
        max-width: 75rem;
        @include mq(small) {
            height: 17.5rem;
            background-position: bottom center;
            background-size: 100%;
            background-attachment: scroll;
        }
        @include mq(medium) {
            height: 23.8rem;
            background-position: bottom center;
            background-size: 100%;
            background-attachment: scroll;
        }
    }
    .movingbox {
        padding: 1.9rem 0.6rem;
        width: 25%;
        @include mq(small) {
            padding: 0.5rem 1.3rem;
            width: auto;
            @include text-align(right);
        }
        @include mq(medium) {
            padding: 0.5rem 1.3rem;
            width: auto;
            @include text-align(right);
        }
    }
    h3 {
        font-size: 1.9rem;
        color: $loan-showcase-h3;
        font-weight: normal;
        @include mq(small) {
            font-size: 1.1rem;
        }
    }
}