<div class="form-main-container">
    <page-section params="baseModel : $baseModel, rootModel : $data, heading : $component.nls.headings.new">


        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4">
                <oj-label for="id"><span data-bind="text:$component.nls.fieldname.id"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-6">
                <oj-input-text id="id" maxlength="20" value="{{id}}"></oj-input-text>
            </div>
        </div>
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-6">
                <input id="atm" type="checkbox" data-bind="checked:$component.atm,value:$component.atm">
                <oj-label for="atm">
                    <span data-bind="text:nls.fieldname.atm"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-6">
                <input id="branch" type="checkbox" data-bind="checked:$component.branch,value:$component.branch">
                <oj-label for="branch">
                    <span data-bind="text:nls.fieldname.branch"></span></oj-label>
            </div>
        </div>
    </page-section>
    <div class="oj-flex-item button-container">
        <oj-button class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data, null)]]">
            <span data-bind="text:$component.nls.buttons.cancel"></span>
        </oj-button>
        <oj-button class="action-button-secondary">
            <span data-bind="text:$component.nls.buttons.clear"></span>
        </oj-button>
        <oj-button class="action-button-primary" on-click="[[$component.search]]">
            <span data-bind="text:$component.nls.buttons.search"></span>
        </oj-button>

    </div>
</div>