.card-body .search-button {
    background-image: url('{images}/alerts/search_icon.jpg');
    height: 2.5rem;
    width: 13.4rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
    @include text-align(left);
}

.alerts-list-frame {
    padding: 0;
    .selected {
        background-color: var(--base-background-secondary);
    }
}

.alerts-list-frame-label {
    text-align: center;
    display: block;
    margin: 1.6rem;
}

.alerts-list-frame .list-title {
    font-size: 1.1em;
}

.bold-font {
    font-weight: var(--base-font-weight-bold);
}

.alerts-select {
    font-size: 1.5em;
    @include single-padding(left,
    0.6rem);
}

.alerts-customer-name {
    font-size: 1.1rem;
    margin-top: -0.1rem;
}

.alerts-top-div {
    margin-top: 0;
}

.alerts-bottom-div {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.alerts-padding {
    padding-bottom: 2%;
}

.alerts-width {
    max-width: 22em;
}

.alerts-image-icon {
    padding-top: 3.5%;
    cursor: pointer;
    width: 2.2rem;
    @include single-padding(right,
    1.3rem);
}

.alerts-image-icon-selected {
    padding-top: 3.5%;
    cursor: pointer;
    width: 2.2rem;
    @include single-padding(right,
    1.3rem);
}

.alerts-image-icon-div {
    padding-top: 2%;
    cursor: pointer;
    width: 3.8rem;
    @include float(left);
    display: inline;
}

.alerts-active {
    color: var(--base-color-success);
    margin-top: 0.3rem;
    padding-top: 0.3rem;
    text-align: center;
}

.alerts-active-image {
    width: 1.9rem;
}

.alerts-inactive-image {
    width: 1.9rem;
}

.alerts-inactive {
    color: var(--base-color-warning);
    margin-top: 0.3rem;
    padding-top: 0.3rem;
    text-align: center;
}

.alerts-list-panel {
    width: 100%;
    height: 65%;
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: top;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4) !important;
    border: 0 none !important;
    background-color: var(--base-background-primary);
    .margin-auto {
        margin: auto;
    }
}

.alerts-accounts-color {
    color: var(--base-color-secondary) !important;
    margin-bottom: 0 !important;
}

hr.horizontal-line {
    border-bottom: 0.05rem solid rgba(100, 198, 193, 0.5);
    width: 12.5rem;
    display: block;
    border-top: 0 none;
}

.alerts-header-row {
    padding: 0.6rem 0 !important;
    margin: 0 !important;
    border-bottom: 0.05rem solid var(--base-color-secondary) !important;
    box-sizing: border-box;
}

.display-none {
    visibility: hidden;
}

.vertical-center {
    padding-top: 1%;
}

.alert-name {
    padding-top: 1.5%;
    font-size: var(--base-font-size-default);
    color: var(--base-text-primary);
}

.alerts-accounts-margin {
    margin-bottom: 1.5rem !important;
}

.header-title {
    color: var(--table-header-color);
    font-size: 1rem;
    font-weight: var(--base-font-weight-bold);
}

.alerts-list-row {
    padding: 0.2rem;
    @include mq(small) {
        border-bottom: 0.05rem solid var(--base-color-secondary);
    }
}

.alerts .action-card-icon {
    @include single-padding(right,
    0.9rem);
    padding-bottom: 0.9rem;
}

.alert-icons {
    @include single-padding(right,
    0.6rem);
    @include single-padding(left,
    0.6rem);
    .review-selected {
        color: var(--base-color-secondary);
    }
    .review-unselected {
        opacity: 0.6;
        color: var(--base-color-secondary);
    }
    .disabled {
        .icons {
            opacity: 0.5;
        }
    }
    .icons {
        font-size: 1.5rem;
        .badge {
            display: inline-block;
            min-width: 0.6rem;
            padding: 0.25rem 0.25rem;
            font-size: 0.4rem;
            font-weight: 400;
            line-height: 1;
            color: var(--base-color-secondary-text);
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background: var(--base-color-success);
            border-radius: 0.6rem;
            position: relative;
            top: -0.6rem;
            @include left(-0.5rem);
            margin: 0 -0.8em;
            border-radius: 0.9rem;
            .icons {
                font-size: 0.5rem;
            }
        }
    }
}

.alerts-menu-list {
    .alert-name {
        padding-top: 0.4rem;
    }
    .alert-image {
        max-height: 1.9rem;
    }
    .alert-menu-toggle-switch-container {
        padding-top: 0.6rem;
        border-style: solid;
        border-width: 0.1rem 0rem 0rem 0rem;
        border-color: var(--base-color-secondary);
        @include single-padding(left,
        0.4rem);
    }
}