.security-questions{
  &-heading{
  &-container{}

    &__title{
      font-size: var(--base-font-size-default);
      font-weight: 600;
      border-bottom: 0.05rem solid var(--base-border-default);
      padding: 0.3rem 0 0.6rem;
    }
  }

  input[type="text"]disabled{
    background: none;
  }
  &-icon{
    &__delete{
      font-size: 1.3rem;
    }
  }
}
