<div class="status-history oj-flex-item">

  <div class="status-history-card ">



    <!-- ko if:$component.productClassName() === 'CASA' -->
    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 padding-left">
        <div class="oj-flex oj-flex-items-pad  application-card-row">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.offer"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7 ">
            <span class="value-text" data-bind="text:$component.appDetails().demandDepositSummaryResponse.offerName"></span>
          </div>
        </div>

        <div class="oj-flex oj-flex-items-pad application-card-row">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <!-- ko if:$component.currentUser().noOfApplicants === 1 -->
            <oj-label><span data-bind="text:$component.resource.accountType"></span></oj-label>
            <!-- /ko -->
            <!-- ko if:$component.currentUser().noOfApplicants > 1 -->
            <oj-label><span data-bind="text:$component.resource.accountType"></span></oj-label>
            <!-- /ko -->
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <!-- ko if:$component.currentUser().noOfApplicants === 1 -->
            <span class="value-text" data-bind="text:$component.resource.individual"></span>
            <!-- /ko -->
            <!-- ko if:$component.currentUser().noOfApplicants > 1 -->
            <span class="value-text" data-bind="text:$component.resource.joint"></span>
            <!-- /ko -->

          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad application-card-row">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.accountHolder"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$component.appDetails().demandDepositSummaryResponse.accountTitle"></span>
          </div>
        </div>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6  ">
        <!-- ko if:$component.appDetails().demandDepositSummaryResponse.netInterestRate -->
        <div class="oj-flex oj-flex-items-pad  application-card-row">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.interestRate"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$baseModel.format($component.resource.interestRatePercent,{interestRate:$component.appDetails().demandDepositSummaryResponse.netInterestRate})"></span>
          </div>
        </div>


        <div class="oj-flex oj-flex-items-pad application-card-row">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.minimumBalance"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$formatter.formatCurrency($component.appDetails().demandDepositSummaryResponse.minimumBalance.amount, $component.appDetails().demandDepositSummaryResponse.minimumBalance.currency)"></span>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
    <!-- /ko -->
    <!-- ko if:$component.productClassName() === 'TERM_DEPOSITS' -->
    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6  padding-left">
        <div class="oj-flex oj-flex-items-pad ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.offer"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$component.appDetails().termDepositSummaryResponse.offerName"></span>
          </div>

        </div>

        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <!-- ko if:$component.currentUser().noOfApplicants === 1 -->
            <oj-label><span data-bind="text:$component.resource.accountType"></span></oj-label>
            <!-- /ko -->
            <!-- ko if:$component.currentUser().noOfApplicants > 1 -->
            <oj-label><span data-bind="text:$component.resource.accountType"></span></oj-label>
            <!-- /ko -->
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <!-- ko if:$component.currentUser().noOfApplicants === 1 -->
            <span class="value-text" data-bind="text:$component.resource.individual"></span>
            <!-- /ko -->
            <!-- ko if:$component.currentUser().noOfApplicants > 1 -->
            <span class="value-text" data-bind="text:$component.resource.joint"></span>
            <!-- /ko -->

          </div>

        </div>

        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.accountHolder"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$component.appDetails().termDepositSummaryResponse.accountTitle"></span>
          </div>

        </div>

        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.depositAmount"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$formatter.formatCurrency($component.appDetails().termDepositSummaryResponse.approvedAmount.amount,$component.appDetails().termDepositSummaryResponse.approvedAmount.currency)"></span>
          </div>

        </div>

      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6  ">
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.term"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7">
            <span class="value-text" data-bind="text: $baseModel.format($component.resource.tenureWithDays, {years: $component.appDetails().termDepositSummaryResponse.approvedTenure.years, months: $component.appDetails().termDepositSummaryResponse.approvedTenure.months})"></span>
          </div>
          <!-- <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-8  ">
                          <span class="value-text" data-bind="text:$formatter.formatCurrency($component.appDetails().termDepositSummaryResponse.approvedAmount.amount,$component.appDetails().termDepositSummaryResponse.approvedAmount.currency)"></span>
                      </div> -->
        </div>

        <!-- ko if:$component.appDetails().termDepositSummaryResponse.netInterestRate -->
        <div class="oj-flex oj-flex-items-pad ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.interestRate"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$baseModel.format($component.resource.interestRatePercent,{interestRate:$component.appDetails().termDepositSummaryResponse.netInterestRate})"></span>
          </div>

        </div>
        <!-- /ko -->

        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.interestPayout"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$component.appDetails().termDepositSummaryResponse.payoutFrequency"></span>
          </div>

        </div>


        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.maturityDate"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$formatter.formatDate($component.appDetails().termDepositSummaryResponse.maturityDate)"></span>
          </div>

        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- ko if:$component.productClassName() === 'LOANS' -->
    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 padding-left ">
        <!-- ko if: ($component.appDetails().coApplicants && $component.appDetails().coApplicants.length>0) -->

        <div data-bind="with:$component.appDetails" class="oj-flex oj-flex-items-pad no-inner-flex-margin">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.applicantFullName"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <!-- ko foreach : coApplicants -->
            <div class="oj-flex-items-pad">
              <!-- ko if : applicantRelationshipType === 'APPLICANT' || applicantRelationshipType === 'CO_APPLICANT'-->
              <!-- ko ifnot : $data.personalInfo.suffixName -->
              <!-- ko ifnot : $data.personalInfo.middleName -->
              <span class="value-text" data-bind="text: $baseModel.format($component.resource.salFirstLast,{salutation:$data.personalInfo.prefixPrimaryName,firstName:$data.personalInfo.firstName,lastName:$data.personalInfo.lastName})"></span>
              <!-- /ko -->
              <!-- /ko -->
              <!-- ko if : $data.personalInfo.suffixName  -->
              <!-- ko ifnot : $data.personalInfo.middleName -->
              <span class="value-text" data-bind="text: $baseModel.format($component.resource.salFirstLastSuffix,{salutation:$data.personalInfo.prefixPrimaryName,firstName:$data.personalInfo.firstName,lastName:$data.personalInfo.lastName,suffix:$data.personalInfo.suffixName})"></span>
              <!-- /ko -->
              <!-- ko if : $data.personalInfo.middleName -->
              <span class="value-text" data-bind="text: $baseModel.format($component.resource.salFirstMiddleLastSuffix,{salutation:$data.personalInfo.prefixPrimaryName,firstName:$data.personalInfo.firstName,middleName:$data.personalInfo.middleName,lastName:$data.personalInfo.lastName,suffix:$data.personalInfo.suffixName})"></span>
              <!-- /ko -->
              <!-- /ko -->
              <!-- ko if : $data.personalInfo.middleName  -->
              <!-- ko ifnot : $data.personalInfo.suffixName -->
              <span class="value-text" data-bind="text: $baseModel.format($component.resource.salFirstMiddleLast,{salutation:$data.personalInfo.prefixPrimaryName,firstName:$data.personalInfo.firstName,middleName:$data.personalInfo.middleName,lastName:$data.personalInfo.lastName})"></span>
              <!-- /ko -->
              <!-- /ko -->
              <!-- /ko -->
            </div>
            <!-- /ko -->
          </div>
        </div>

        <!-- /ko -->

        <!-- ko if:$component.appDetails().loanSummaryResponse -->
        <!-- ko if:$component.appDetails().loanSummaryResponse.purposeType -->
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.purposeType"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text: $component.appDetails().loanSummaryResponse.purposeType"></span>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if:$component.appDetails().loanSummaryResponse.requestedAmount -->
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
            <oj-label><span data-bind="text:$component.resource.requestedAmount"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$formatter.formatCurrency($component.appDetails().loanSummaryResponse.requestedAmount.amount,$component.appDetails().loanSummaryResponse.requestedAmount.currency)"></span>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if:$component.appDetails().loanSummaryResponse.approvedAmount -->
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5 ">
            <oj-label><span data-bind="text:$component.resource.approvedAmount"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$formatter.formatCurrency($component.appDetails().loanSummaryResponse.approvedAmount.amount,$component.appDetails().loanSummaryResponse.approvedAmount.currency)"></span>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if:$component.appDetails().loanSummaryResponse.requestedTenure -->
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5 ">
            <oj-label><span data-bind="text:$component.resource.tenure"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$baseModel.format($component.resource.tenureWithDays, {years: $component.appDetails().loanSummaryResponse.requestedTenure.years, months: $component.appDetails().loanSummaryResponse.requestedTenure.months})"></span>
          </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
      </div>
      <!-- ko if:$component.appDetails().loanSummaryResponse && $component.appDetails().loanSummaryResponse.loanApplicationDate -->
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6  ">

        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.loanDate"></span></oj-label>

          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$formatter.formatDate($component.appDetails().loanSummaryResponse.loanApplicationDate)"></span>
          </div>
        </div>

      </div>
      <!-- /ko -->

    </div>
    <!-- /ko -->

    <!-- ko if:$component.productClassName() === 'CREDIT_CARD' -->
    <!-- ko if : detailsLoaded() -->
    <!-- ko if:$component.applicationSummaryLoaded()-->
    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6  padding-left">
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.offerName"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$component.offerDetails.offerDetails[0].offerAdditionalDetails.cardOfferDetails.name"></span>
          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.cardType"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$component.offerDetails.offerDetails[0].offerAdditionalDetails.cardOfferDetails.standardFeature.creditCardOfferType"></span>
          </div>
        </div>

        <!-- ko if: $component.appDetails().creditCardSummaryResponse-->
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.approvedLimit"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$formatter.formatCurrency($component.appDetails().creditCardSummaryResponse.approvedAmount.amount,$component.appDetails().creditCardSummaryResponse.approvedAmount.currency)"></span>
          </div>
        </div>

        <!-- /ko -->
      </div>


      <!-- ko if : $component.appDetails().creditCardSummaryResponse -->

      <!-- ko if: ($component.appDetails().coApplicants && $component.appDetails().coApplicants.length>0) -->
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
        <div data-bind="with:$component.appDetails" class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.applicantFullName"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <!-- ko foreach : coApplicants -->
            <div class="oj-flex-items-pad">
              <!-- ko if : applicantRelationshipType === 'APPLICANT' || applicantRelationshipType === 'CO_APPLICANT' -->
              <!-- ko ifnot : $data.personalInfo.suffixName -->
              <!-- ko ifnot : $data.personalInfo.middleName -->
              <span class="value-text" data-bind="text: $baseModel.format($component.resource.salFirstLast,{salutation:$data.personalInfo.prefixPrimaryName,firstName:$data.personalInfo.firstName,lastName:$data.personalInfo.lastName})"></span>
              <!-- /ko -->
              <!-- /ko -->
              <!-- ko if : $data.personalInfo.suffixName  -->
              <!-- ko ifnot : $data.personalInfo.middleName -->
              <span class="value-text" data-bind="text: $baseModel.format($component.resource.salFirstLastSuffix,{salutation:$data.personalInfo.prefixPrimaryName,firstName:$data.personalInfo.firstName,lastName:$data.personalInfo.lastName,suffix:$data.personalInfo.suffixName})"></span>
              <!-- /ko -->
              <!-- ko if : $data.personalInfo.middleName -->
              <span class="value-text" data-bind="text: $baseModel.format($component.resource.salFirstMiddleLastSuffix,{salutation:$data.personalInfo.prefixPrimaryName,firstName:$data.personalInfo.firstName,middleName:$data.personalInfo.middleName,lastName:$data.personalInfo.lastName,suffix:$data.personalInfo.suffixName})"></span>
              <!-- /ko -->
              <!-- /ko -->
              <!-- ko if : $data.personalInfo.middleName  -->
              <!-- ko ifnot : $data.personalInfo.suffixName -->
              <span class="value-text" data-bind="text: $baseModel.format($component.resource.salFirstMiddleLast,{salutation:$data.personalInfo.prefixPrimaryName,firstName:$data.personalInfo.firstName,middleName:$data.personalInfo.middleName,lastName:$data.personalInfo.lastName})"></span>
              <!-- /ko -->
              <!-- /ko -->
              <!-- /ko -->
            </div>

            <!-- /ko -->
          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.applicationFee"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$formatter.formatCurrency($component.offerDetails.offerDetails[0].applicationFees,$dashboard.appData.localCurrency)"></span>
          </div>
        </div>
      </div>
      <!-- /ko -->
      <!-- /ko -->
    </div>
    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 padding-left">
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 margin-top-20">
            <oj-label class="form-heading"><span data-bind="text:$component.resource.cardCustomizations"></span></oj-label>
          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.addOnCardOpted"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:(($component.appDetails().addOnCardHolderDetails && $component.appDetails().addOnCardHolderDetails.length>0)?$component.resource.generic.common.yes:$component.resource.generic.common.no)"></span>
          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.balanceTransferOpted"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:(($component.appDetails().creditCardSummaryResponse.balanceTransferDetails && $component.appDetails().creditCardSummaryResponse.balanceTransferDetails.transferCards && $component.appDetails().creditCardSummaryResponse.balanceTransferDetails.transferCards.length>0)?$component.resource.generic.common.yes:$component.resource.generic.common.no)"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 padding-left">
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 margin-top-20">
            <oj-label class="form-heading"><span data-bind="text:$component.resource.deliveryPreferences"></span></oj-label>
          </div>
        </div>
      </div>
    </div>
    <!-- ko if : $component.appDetails().creditCardSummaryResponse['creditCardAccount'] -->
    <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount -->
    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 padding-left">
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
            <div class="oj-flex oj-flex-items-pad  ">
              <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
                <oj-label><span data-bind="text:$component.resource.cardDelivery"></span></oj-label>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
                <span class="value-text" data-bind="text:$component.resource.deliveryMode[$component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryMode]"></span>
              </div>
            </div>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">

            <!-- ko ifnot : ($component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryMode === 'BRANCH') -->
            <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryAddress -->
            <div class="oj-flex oj-flex-items-pad">
              <div data-bind="with: $component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryAddress" class="oj-flex-item oj-md-10 oj-sm-12 oj-lg-10 ">
                <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryAddress['line2'] -->

                <!-- ko if: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress, {line1: line1, line2: line2, city: city,state:stateName , zip: postalCode})"></span>
                <!-- /ko -->
                <!-- ko ifnot: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress2, {line1: line1, city: city,state:stateName, zip: postalCode})"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot : $component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryAddress['line2'] -->


                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress2, {line1: line1, city: city,state:stateName, zip: postalCode})"></span>

                <!-- /ko -->
              </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if : ($component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryMode === 'BRANCH') -->
            <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryAddress -->
            <div class="oj-flex oj-flex-items-pad">
              <div data-bind="with: $component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryAddress" class="oj-flex-item oj-md-10 oj-sm-12 oj-lg-10 ">
                <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryAddress['line2'] -->

                <!-- ko if: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.branchAddress, {branch:branchName,line1: line1, line2: line2, city: city,state:stateName , zip: postalCode})"></span>
                <!-- /ko -->
                <!-- ko ifnot: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.branchAddress2, {branch:branchName,line1: line1, city: city,state:stateName, zip: postalCode})"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot : $component.appDetails().creditCardSummaryResponse.creditCardAccount.cardDeliveryAddress['line2'] -->


                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.branchAddress2, {branch:branchName,line1: line1, city: city,state:stateName, zip: postalCode})"></span>

                <!-- /ko -->
              </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->

          </div>
        </div>

        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
            <div class="oj-flex oj-flex-items-pad  ">
              <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
                <oj-label><span data-bind="text:$component.resource.pinDelivery"></span></oj-label>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
                <span class="value-text" data-bind="text:$component.resource.deliveryMode[$component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryMode]"></span>
              </div>
            </div>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">

            <!-- ko ifnot : ($component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryMode === 'BRANCH') -->
            <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryAddress -->
            <div class="oj-flex oj-flex-items-pad">
              <div data-bind="with: $component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryAddress" class="oj-flex-item oj-md-10 oj-sm-12 oj-lg-10 ">
                <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryAddress['line2'] -->

                <!-- ko if: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress, {line1: line1, line2: line2, city: city,state:stateName , zip: postalCode})"></span>
                <!-- /ko -->
                <!-- ko ifnot: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress2, {line1: line1, city: city,state:stateName, zip: postalCode})"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot : $component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryAddress['line2'] -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress2, {line1: line1, city: city,state:stateName, zip: postalCode})"></span>

                <!-- /ko -->
              </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if : ($component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryMode === 'BRANCH') -->
            <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryAddress -->
            <div class="oj-flex oj-flex-items-pad">
              <div data-bind="with: $component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryAddress" class="oj-flex-item oj-md-10 oj-sm-12 oj-lg-10 ">
                <!-- ko if : $component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryAddress['line2'] -->

                <!-- ko if: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.branchAddress, {branch:branchName,line1: line1, line2: line2, city: city,state:stateName , zip: postalCode})"></span>
                <!-- /ko -->
                <!-- ko ifnot: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.branchAddress2, {branch:branchName,line1: line1, city: city,state:stateName, zip: postalCode})"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot : $component.appDetails().creditCardSummaryResponse.creditCardAccount.pinDeliveryAddress['line2'] -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.branchAddress2, {branch:branchName,line1: line1, city: city,state:stateName, zip: postalCode})"></span>

                <!-- /ko -->
              </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->

          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
            <div class="oj-flex oj-flex-items-pad  ">
              <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
                <oj-label><span data-bind="text:$component.resource.statementDelivery"></span></oj-label>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
                <span class="value-text" data-bind="text:$component.resource.deliveryMode[$component.appDetails().creditCardSummaryResponse.creditCardAccount.statementDeliveryMode]"></span>
              </div>
            </div>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">

            <!-- ko if : ($component.appDetails().creditCardSummaryResponse.creditCardAccount.statementDeliveryMode === 'BOTH') || ($component.appDetails().creditCardSummaryResponse.creditCardAccount.statementDeliveryMode === 'POST') -->
            <!-- ko if : $component.addressesForParty().POSTAL -->
            <div class="oj-flex oj-flex-items-pad">
              <div data-bind="with:$component.addressesForParty().POSTAL" class="oj-flex-item oj-md-10 oj-sm-12 oj-lg-10 ">

                <!-- ko if : $component.addressesForParty().POSTAL['line2'] -->
                <!-- ko if: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress, {line1: line1, line2: line2, city: city,state:stateName , zip: postalCode})"></span>
                <!-- /ko -->
                <!-- ko ifnot: line2 -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress2, {line1: line1, city: city,state:stateName, zip: postalCode})"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot : $component.addressesForParty().POSTAL['line2'] -->
                <span class="value-text" data-bind="text:$baseModel.format($parent.resource.reviewAddress2, {line1: line1, city: city,state:stateName, zip: postalCode})"></span>
                <!-- /ko -->
              </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if :  ($component.appDetails().creditCardSummaryResponse.creditCardAccount.statementDeliveryMode === 'BOTH')|| ($component.appDetails().creditCardSummaryResponse.creditCardAccount.statementDeliveryMode === 'ONLINE') -->
            <div class="oj-flex oj-flex-items-pad">
              <span class="oj-flex-item oj-md-10 oj-sm-12 oj-lg-10 value-text" data-bind="text:$component.primaryApplicant().personalInfo.email"></span>
            </div>
            <!-- /ko -->
            <!-- /ko -->

          </div>
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->

    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 padding-left">
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 margin-top-20">
            <oj-label class="form-heading"><span data-bind="text:$component.resource.membershipLinkage"></span></oj-label>
          </div>
        </div>
        <!-- ko if : $component.appDetails().creditCardSummaryResponse.membershipDetails -->
        <!-- ko if : $component.appDetails().creditCardSummaryResponse.membershipDetails.membershipNumber -->
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.membershipName"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$component.appDetails().creditCardSummaryResponse.membershipDetails.membershipName"></span>
          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.membershipNumber"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7  ">
            <span class="value-text" data-bind="text:$component.appDetails().creditCardSummaryResponse.membershipDetails.membershipNumber"></span>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko ifnot : $component.appDetails().creditCardSummaryResponse.membershipDetails.membershipNumber -->
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.noMembership"></span></oj-label>
          </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot : $component.appDetails().creditCardSummaryResponse.membershipDetails -->
        <div class="oj-flex oj-flex-items-pad  ">
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-label><span data-bind="text:$component.resource.noMembership"></span></oj-label>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>

    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko if:showApplicationForm() -->
    <div class="oj-flex oj-flex-items-pad card-row">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 oj-lg-offset-6 oj-md-offset-6 padding-left">
        <a class="link" href="#" data-bind="click: $component.downloadDocument, text:$component.resource.applicationForm ,attr:{alt: $component.resource.downloadApplicationDocumentClick, title: $component.resource.downloadApplicationDocumentClickTitle}"></a>
      </div>
    </div>
    <!-- /ko -->

  </div>

</div>
