<div class="initiate-collection">

    <div class="form-main-container">

        <page-section params="baseModel : $baseModel, rootModel : $data">
            <div data-bind="component:{name : 'collection-filters', params:{rootModel:$component}},css: { 'product-filters': $baseModel.large() }"> </div>
        </page-section>

        <page-section params="baseModel : $baseModel, rootModel : $data">
            <oj-accordion id="tradeFinanceAccordion">
                <!-- ko foreach:stages -->
                <!-- ko if: visible() === 'true' -->
                <oj-collapsible expanded="[[expanded]]" disabled="[[disabled]]">

                    <h4 slot="header">
                        <span>
                     <!-- ko if:validated() === true -->
                     <span class="acc-icon icons icon-ok validated"></span>
                        <!-- /ko -->
                        <!-- ko if:validated() === false -->
                        <span class="acc-icon icons icon-alert"></span>
                        <!-- /ko -->
                        <!-- ko ifnot:validated() === true || validated() === false -->
                        <span class="acc-icon icons icon-ok"></span>
                        <!-- /ko -->
                        <span data-bind="text: stageName"></span>
                        </span>
                    </h4>
                    <!-- ko ifnot:moduleName === 'attach-documents' -->
                    <div class="stage-content" data-bind="component:{name : moduleName, params:{rootModel:$component,index:$index}}"> </div>
                    <!-- /ko -->
                </oj-collapsible>
                <!-- /ko -->
                <!-- /ko -->
            </oj-accordion>

            <oj-validation-group id="tncTracker" valid="{{tncGroupValid}}">

                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-lg-12 oj-md-12 oj-sm-12">
                        <oj-checkboxset class="hide-label" id="terms-conditions" value="{{tncValue}}" :aria-label="[[$component.resourceBundle.common.tnc.tncLink]]" translations="[[{'required':{messageDetail:$component.resourceBundle.tradeFinanceErrors.instructionDetails.invalidCollectionTnC}}]]"
                            required>
                            <oj-option id="agree" value="agree">
                                <span class="oj-choice-row-inline" data-bind="text:$component.resourceBundle.common.tnc.tncLink">
                                </span></oj-option>
                        </oj-checkboxset>
                    </div>
                    <div class="viewTnC">
                        <a href="#" class="medium-text" data-bind="click: $component.termsAndConditions.bind(), attr:{title: $component.resourceBundle.common.tnc.tncLink}"><span
                                data-bind="text: $component.resourceBundle.common.tnc.tncLink"></span></a></div>
                </div>
            </oj-validation-group>
        </page-section>

        <div class="oj-flex oj-flex-items-pad button-container">

            <oj-button id="initiateButton" class="action-button-primary" on-click="[[initiate]]">
                <span slot="startIcon" class="icons icon-confirm"></span>
                <span data-bind="text:$component.resourceBundle.labels.initiateCollection"></span>
            </oj-button>

            <!-- ko ifnot: $baseModel.small() -->

            <oj-menu-button class="action-button-secondary" id="saveAsButton">
                <!-- ko text: $component.resourceBundle.common.labels.saveAs -->
                <!-- /ko -->
                <oj-menu class="hide" id="saveMenu" slot="menu">
                    <oj-option data-bind="click: $component.saveAsDraft">
                        <span data-bind="text:$component.resourceBundle.common.labels.draftSave"></span>
                    </oj-option>
                    <oj-option data-bind="click: $component.saveAsTemplate,visible: $component.filterValues.lcLinked() !== 'true'">
                        <span data-bind=" text:$component.resourceBundle.common.labels.templateSave"></span>
                    </oj-option>
                </oj-menu>
            </oj-menu-button>
            <!-- ko if:$component.collectionDetails.id && $component.collectionDetails.currentUser -->
            <oj-button id="deleteButton" class="action-button-secondary" on-click="[[$component.confirmDelete]]">
                <span slot="startIcon" class="icons icon-delete"></span>
                <span data-bind="text:$component.resourceBundle.generic.common.delete"></span>
            </oj-button>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: $baseModel.small() -->
            <oj-button id="cancelbutton" class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data,true)]]">
                <span slot="startIcon" class="icons icon-cancel"></span>
                <span data-bind="text:$component.resourceBundle.generic.common.cancel"></span>
            </oj-button>
            <!-- /ko -->
            <oj-button id="backButton" class="action-button-tertiary" on-click="[[goBack]]">
                <span slot="startIcon" class="icons icon-back-arrow"></span>
                <span data-bind="text:$component.resourceBundle.generic.common.back"></span>
            </oj-button>

        </div>

        <!-- ko if: $baseModel.small() -->
        <a href="#" data-bind="click: $component.showFloatingPanel">
            <div class="floating-button"><span class="icons icon-more-vertical"></span></div>
        </a>
        <floating-panel params="baseModel : $baseModel, panelId: 'panelDD', rootModel: $component">
            <ul>
                <!-- ko if:$component.collectionDetails.id && $component.collectionDetails.currentUser -->
                <li>
                    <a href="#" data-bind="click: $component.confirmDelete">
                        <span class="icons icon-delete"></span>
                        <span data-bind="text:$component.resourceBundle.generic.common.delete"></span>
                    </a>
                </li>
                <!-- /ko -->
                <li>
                    <a href="#" data-bind="click: $component.saveAsDraft">
                        <span class="icons icon-claim-money"></span>
                        <span data-bind="text:$component.resourceBundle.common.labels.saveDraft"></span>
                    </a>
                </li>
                <!-- ko if : $component.filterValues.lcLinked() === 'false' -->
                <li>
                    <a href="#" data-bind="click: $component.saveAsTemplate">
                        <span class="icons icon-disbursement-detail"></span>
                        <span data-bind="text:$component.resourceBundle.common.labels.saveTemplate"></span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </floating-panel>
        <!-- /ko -->



        <modal-window class="full-width-modal" params="baseModel : $baseModel, rootModel:$data, id:'tncDialog', header:$component.resourceBundle.common.tnc.tncLabel,display:'full-screen'">
            <span class="tncContent" data-bind="html:$component.resourceBundle.tnc.tncContent"></span>
            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-secondary" on-click="[[$component.hideTncDialog]]">
                    <span slot="startIcon" class="icons icon-done"></span>
                    <span data-bind="text:$component.resourceBundle.generic.common.ok"></span>
                </oj-button>
            </div>
        </modal-window>

        <modal-window params="baseModel : $baseModel, rootModel : $data, id:'saveAsDialog', header: $component.saveAsModalHeader">

            <!-- ko if: collectionDetails.state() === "TEMPLATE" -->
            <div class="oj-flex oj-flex-items-pad padding-bottom">
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12" data-bind="text:$component.resourceBundle.common.labels.templateDetails"></div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <oj-label for="template-type"><span data-bind="text:$component.resourceBundle.common.labels.templateType"></span></oj-label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                    <oj-radioset class="oj-choice-direction-row" id="template-type" required value="{{$component.collectionDetails.visibility}}">
                        <oj-option id="public" name="visibilityType" value="{{'PUBLIC'}}"><span for="public" data-bind="text:$component.resourceBundle.common.labels.public"></span></oj-option>
                        <oj-option id="private" name="visibilityType" value="{{'PRIVATE'}}"><span for="private" data-bind="text:$component.resourceBundle.common.labels.private"></span></oj-option>
                    </oj-radioset>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <oj-label class="align-right" for="name"><span data-bind="text:$component.resourceBundle.common.labels.templateName"></span></oj-label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
                    <oj-input-text id="name" type="text" maxlength="40" :invalidcomponenttracker="[[$component.templateNameValidationTracker]]" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_SPACE',$component.resourceBundle.tradeFinanceErrors.initiateLC.invalidTemplateName,{
                                  type:'length',options:{
                                      min:1,max:40}})]]" value="{{templateName}}"></oj-input-text>

                </div>
            </div>
            <!-- /ko -->

            <!-- ko if: collectionDetails.state() === "DRAFT" -->
            <div class="oj-flex oj-flex-items-pad padding-bottom">
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12" data-bind="text:$component.resourceBundle.common.labels.draftDetails"></div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                    <oj-label class="align-right" for="name"><span data-bind="text:$component.resourceBundle.common.labels.draftName"></span></oj-label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
                    <oj-input-text id="name" type="text" maxlength="40" :invalidcomponenttracker="[[$component.templateNameValidationTracker]]" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_SPACE',$component.resourceBundle.tradeFinanceErrors.initiateLC.invalidDraftName,{
                                type:'length',options:{
                                    min:1,max:40}})]]" value="{{draftName}}"></oj-input-text>

                </div>
            </div>
            <!-- /ko -->

            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-primary btn proceed-main-btn" on-click="[[$component.save]]">
                    <span slot="startIcon" class="icons icon-save"></span>
                    <span data-bind="text:$component.resourceBundle.generic.common.save"></span>
                </oj-button>
                <oj-button class="action-button-secondary btn proceed-main-btn" on-click="[[$component.hideSaveAsDialog]]">
                    <span slot="startIcon" class="icons icon-cancel"></span>
                    <span data-bind="text:$component.resourceBundle.generic.common.cancel"></span>
                </oj-button>
            </div>

        </modal-window>

        <modal-window params="baseModel : $baseModel, rootModel : $data, id:'initiateCollection', header:$component.modalHeader">
            <div class="oj-flex oj-flex-items-pad padding-bottom">
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12" data-bind="text: $component.modalMessage"></div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12" data-bind="text:$component.resourceBundle.labels.continueInitiate"></div>
            </div>
            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-primary btn proceed-main-btn" on-click="[[$component.hideInitiateCollection]]">
                    <span slot="startIcon" class="icons icon-confirm"></span>
                    <span data-bind="text:$component.resourceBundle.generic.common.yes"></span>
                </oj-button>
                <oj-button class="action-button-secondary btn proceed-main-btn" on-click="[[$component.goBack]]">
                    <span slot="startIcon" class="icons icon-cancel"></span>
                    <span data-bind="text:$component.resourceBundle.generic.common.no"></span>
                </oj-button>
            </div>
        </modal-window>

        <modal-window params="baseModel : $baseModel, rootModel : $data, id:'updateTemplate', header:$component.resourceBundle.common.labels.saveTemplate">
            <div class="oj-flex oj-flex-items-pad grid-row-group">
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12" data-bind="text: $component.resourceBundle.common.labels.templateUpdate"></div>
            </div>
            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-primary btn proceed-main-btn" on-click="[[$component.update]]">
                    <span class="icons icon-edit" slot="startIcon"></span>
                    <span data-bind="text:$component.resourceBundle.common.labels.update"></span>
                </oj-button>
                <oj-button class="action-button-secondary btn proceed-main-btn" on-click="[[$component.createNewTemplate]]">
                    <span class="icons icon-add" slot="startIcon"></span>
                    <span data-bind="text:$component.resourceBundle.common.labels.createNew"></span>
                </oj-button>
            </div>
        </modal-window>

        <modal-window params="baseModel : $baseModel, rootModel : $data, id:'deleteTemplate', header:$component.deleteModalHeader">
            <div class="oj-flex oj-flex-items-pad grid-row-group">
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12" data-bind="text: $component.deleteModalMessage"></div>
            </div>
            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-primary btn proceed-main-btn" on-click="[[$component.delete]]">
                    <span slot="startIcon" class="icons icon-confirm"></span>
                    <span data-bind="text:$component.resourceBundle.generic.common.yes"></span>
                </oj-button>
                <oj-button class="action-button-secondary btn proceed-main-btn" on-click="[[$component.hideDeleteTemplate]]">
                    <span slot="startIcon" class="icons icon-cancel"></span>
                    <span data-bind="text:$component.resourceBundle.generic.common.no"></span>
                </oj-button>
            </div>
        </modal-window>

    </div>

</div>

<!-- ko if: $component.stages[0].expanded() -->
<div data-bind="component: {name: 'bank-look-up', params:{rootModel: $component,
        clearingCodeType:$component.clearingCodeType,
        networkCode:$component.collectionDetails.swiftId,
        accountType:'International',
        additionalBankDetails:$component.additionalBankDetails}}"></div>
<!-- /ko -->
