.payments {
    .icons {
        &.bank-account-img {
            background: url('{images}/payments/bank.svg') no-repeat top center;
            height: 3.8rem;
        }
        &.demand-draft-img {
            background: url('{images}/payments/demand-draft.svg') no-repeat top center;
            height: 3.8rem;
        }
        &.action-icon {
            font-size: 1.3rem;
        }
    }
}