<div class="form-main-container">
    <!-- ko if: showComponents() -->
    <div id="offersInsuranceAccordion" class="accordion" data-bind="descendantsComplete : $component.initializeAccordion">
        <!-- ko foreach: productDetails().currentStage.stages -->
        <div class="card  ">
            <div class="card-header oj-flex oj-flex-items-pad">
                <div class="">
                    <div class=""></div>
                    <div class="oj-sm-only-hide card-icon-container"><img class="card-icon" data-bind="loadImage:'origination/accordion/'+$data.id+'.png',attr:{'alt':$baseModel.format($component.resource.image,{accordionLogo:$component.accordionNames.accordionNames[$data.name]})}"></div>
                </div>
                <h3 class="card-title oj-flex-item oj-sm-9 oj-md-8 oj-lg-8" data-bind="text: $component.accordionNames.accordionNames[$data.name]"></h3>

                <!-- ko ifnot: $data.isComplete() -->
                <div class="oj-flex-item oj-sm-2 oj-md-3 oj-lg-3">
                    <a href="#" class="icon section-icon collapse-icon icon-arrow-down pull-right" data-bind="attr:{alt: $component.resource.personalDetails.iconClick, title: $component.resource.personalDetails.iconClickTitle}"></a>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.isComplete() -->
                <div class="oj-flex-item oj-sm-2 oj-md-3 oj-lg-3">
                    <span class="icon icon-success section-icon pull-right done-icon"></span>
                </div>
                <!-- /ko -->
            </div>
            <div class="">
                <!-- ko if : $index()===0 -->
                <div class="card-body" data-bind="component: { name: $data.id, params: {rootModel: $parent,
                                                    applicantObject :$component.applicantDetails()[0],
                                                    applicantAccordion:$component.productDetails().application().currentApplicationStage.applicantAccordion,
                                                    applicantStages: $component.productDetails().application().currentApplicationStage.applicantStages,
                                                      index:$index()
                                                    }}"></div>
                <!-- /ko -->
                <!-- ko if : $index()>0 && $component.productDetails().currentStage.stages[$index()-1].isComplete() -->
                <div class="card-body" data-bind="component: { name: $data.id, params: {rootModel: $parent,
                                                    applicantObject :$component.applicantDetails()[0],
                                                    applicantAccordion:$component.productDetails().application().currentApplicationStage.applicantAccordion,
                                                    applicantStages: $component.productDetails().application().currentApplicationStage.applicantStages,
                                                      index:$index()
                                                    }}"></div>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>

<div class="oj-flex oj-flex-items-pad button-container product-button-panel">
    <oj-button raised="" id="borrowingPowerSubmit" class="action-button-primary first-3" on-click="[[getNextStage]]" disabled="[[!$component.productDetails().productStages[3].stages[$component.productDetails().productStages[3].stages.length-1].isComplete()]]">
        <span data-bind="text:$component.resource.generic.common.revSubmit"></span>
    </oj-button>
    <oj-button raised="" id="cancel" class="action-button-secondary last-3 oj-button" on-click="[[$component.showPluginComponent.bind($data,'cancel-application')]]">
        <span data-bind="text:$component.resource.generic.common.cancel"></span>
    </oj-button>

    <oj-button raised="" id="saveForLater" class="action-button-secondary oj-button" on-click="[[$component.showPluginComponent.bind($data,'user-creation')]]">
        <span data-bind="text:$component.resource.generic.common.saveLater"></span>
    </oj-button>

</div>