$accordion-font-size: 1.3rem;
$accordion-max-width: 57.5rem;
$accordion-max-width-medium: 43.1rem;
$accordion-max-width-small: 25rem;
$accordion-font-size-small: 1rem;
$accordion-height-small: 2.9rem;
$letter-spacing-25: 0rem;
$accordion-max-width: 100%;
$accordion-card-title: 1.1rem;
.accordion {
  background-color: var(--base-background-primary);

  .card {
    margin-bottom: 0.6rem !important;
    max-width: $accordion-max-width;

    .card-header {
      height: 3rem;
      .arrow{
        .arrow-strip{
          color: var(--base-color-secondary-text);
          padding-top: 0.5rem;
        }
      }

      .card-title {
        color: var(--base-color-primary);
        font-size: $accordion-card-title;
        font-weight: var(--base-font-weight-regular);
        margin: auto 0;
      }

      .card-expander {
        margin: auto 0;

        .icon {
          @include float(right);
          color: var(--base-color-primary);
        }
      }

      .icon-success {
        color: var(--base-color-primary);
      }

      .card-icon-container {
        background-color: var(--base-color-secondary);
        text-align: center;
        height: 100%;
        width: 3rem;

        .card-icon {
          padding: 0.5rem;
        }
      }
    }

    &.active {
      & .card-header {
        background: var(--base-color-secondary);

        .card-title {
          color: var(--base-color-secondary-text);
          font-weight: var(--base-font-weight-light);
          @include single-padding(left,0.6rem);
        }

        .icon {
          color: var(--base-color-secondary-text);
        }
      }
    }
  }
}
