.virtualIdentifierInformation {
  max-height: 27rem;
  padding: 0;

  &__table {
    @include mq(medium){
      padding-bottom: 22.2rem;
    }
  }

  &__links {
    justify-content: center;
    align-items: center;
    height: calc(var(--form-line-height) + .5rem);
    line-height: calc(var(--form-line-height) + .5rem);
    border-top: 0.05rem solid var(--base-border-default);

    div {
      &:not(:last-child) {
        @include single-border(right,0.05rem solid var(--base-border-default));
      }
    }
  }

  &__widgetBodyHeight {
    height: 22.2rem;
  }
}

.noData {
  padding-bottom: 0.5rem;
  height: -webkit-fill-available;
  height: -moz-fill-available;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 12rem;
      width: 100%;
    }
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--base-font-size-larger);
}

.subText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.paddingClass {
  @include single-padding(right,0.625rem);
  @include single-padding(left,0.625rem);
}

.table-header-style {
  line-height: normal;
  word-wrap: break-word;
  white-space: normal;
}