$company-links-background-color: #F4F4F4;
// $company-links-im-heading: #e5e5e5;
$company-links-anc-links: var(--base-text-secondary);

.company-links {
  background-color: $company-links-background-color;
  padding-bottom: 1.9rem;
  font-size: 0.8rem;
  @include mq(small) {
    @include single-padding(left,1.3rem);
    padding-bottom: 4.4rem;
  }
  @include mq(medium) {
    padding-bottom: 4.4rem;
  }

  .container-block{
    width: 90%;
    margin: 0 auto;
  }
  h3 {
    font-size: 1.9rem;
    color: var(--color-white);
    font-weight: normal;
  }

  .link-box {
    img {
      @include single-margin(right,0.6rem);
      @include float(left);
    }
    @include mq(small) {
      padding-top: 0.3rem;
    }
  }

  .im-heading {
    padding-top: 1.9rem;
    padding-bottom: 0.6rem;
    font-weight: 400;
    font-size: 0.9rem;
    // color: $company-links-im-heading;
    @include mq(small) {
      padding-top: 1.3rem;
      padding-bottom: 0.4rem;
      font-size: 0.8rem;
    }
  }

  .im-location {
    padding-top: 0.9rem;
    margin-bottom: 1.3rem;
  }

  .social-icons {
    .icons {
      font-size: 1.3rem;
      color: var(--base-text-primary);
      padding: 0.2rem 0.3rem;
      border-radius: 50%;
      display: inline-block;
      margin-top: 1rem;
      @include single-margin(left,1.3rem);
    }
  }

  .anc-links {
    display: inline-block;
    color: $company-links-anc-links;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    @include mq(small) {
      font-size: 0.8rem;
    }
  }
}
