<div class="work-box">
<div class="work-box__count"><span data-bind="text:totalCount"></span></div>
<div class="work-box__title"><span data-bind="text:workData.header"></span></div>
<ul class="work-box__list work-box-list">
    <!-- ko foreach:workData.workCount -->
    <li class="oj-flex oj-flex-items-pad work-box-list__item work-box-list-item">
        <div class="oj-flex-item oj-sm-9 work-box-list-item__text" data-bind="text:status"></div>
        <div class="oj-flex-item oj-sm-3 work-box-list-item__count" data-bind="text:count,css:status"></div>
    </li>
    <!-- /ko -->
</ul>
</div>
