<!-- ko if: $component.requirementLoaded() -->
<page-section params="baseModel : $baseModel, rootModel : $data">
  <oj-validation-group id="requirements-tracker"  valid="{{groupValid}}">
    <div class="">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item">

          <div class="requirements" data-bind="with:productDetails().requirements">
            <div data-bind="component: {
                          name: 'amount-input', params: {
                              amount: purchasePrice.amount,
                              placeholder: $component.dollar,
                              label: $component.resource.loan.purchasePrice,
                              currency: purchasePrice.currency,
                              labelClasses : 'oj-lg-3 oj-md-4 oj-lg-offset-2 oj-md-offset-1',
                              valueClasses : 'oj-lg-5 oj-md-6',
                              currencyParser : $component.currencyParser,
                              converter: $root.formatCurrency,
                              validator: $component.validationTracker,
                              isMandatory: true,
                              maxlength: 15,
                              rootId: 'purchase-price',
                              rootClass:'form-input',
                              inline:true,
                              formattedAmount: ko.observable()
                          }
                      }"></div>

            <div class="oj-flex oj-flex-items-pad">
              <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-3 oj-lg-offset-2 ">
                <div class="oj-label ">
                  <oj-label :for="[['downPaymentRequired']]"><span data-bind="text:$component.resource.loan.downPaymentRequired"></span></oj-label>
                </div>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
                <oj-buttonset-one :id="[['downPaymentRequired']]" on-value-changed="[[$component.downPaymentRequiredChange]]" value="{{$component.downPaymentRequired}}">
                  <oj-option class="undefined" value="{{'OPTION_YES'}}" :id="[['downPaymentRequiredYes']]" :name="[['downPaymentRequired']]"><span data-bind="attr: {for: 'downPaymentRequiredYes'},text:$component.resource.generic.common.yes"></span></oj-option>
                  <oj-option class="undefined" value="{{'OPTION_NO'}}" :id="[['downPaymentRequiredNo']]" :name="[['downPaymentRequired']]"><span data-bind="attr: {for: 'downPaymentRequiredNo'},text:$component.resource.generic.common.no"></span></oj-option>
                </oj-buttonset-one>
              </div>
            </div>

            <!-- ko if: $component.downPaymentRequired() === "OPTION_YES" -->
            <div data-bind="component: {
                                  name: 'amount-input', params: {
                                      amount: downpaymentAmount.amount,
                                      placeholder: $component.dollar,
                                      label: $component.resource.loan.downPaymentAmount,
                                      currency: downpaymentAmount.currency,
                                      labelClasses: 'oj-lg-3 oj-md-4 oj-lg-offset-2 oj-md-offset-1',
                                      valueClasses: 'oj-lg-5 oj-md-6',
                                      currencyParser: $component.currencyParser,
                                      converter: $root.formatCurrency,
                                      validator: $component.validationTracker,
                                      isMandatory: true,
                                      maxlength: 15,
                                      rootId: 'down-payment-amount',
                                      rootClass: 'form-input',
                                      inline:true,
                                      formattedAmount: ko.observable()
                                  }
                              }"></div>
            <!-- /ko -->

            <div class="oj-flex oj-flex-items-pad ">
              <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-3 oj-md-offset-1 oj-lg-offset-2">
                <oj-label><span data-bind="text:$component.resource.loan.loanAmount"></span></oj-label>
              </div>
              <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item padding-top-5">
                <span data-bind="text : $formatter.formatCurrency(requestedAmount.amount(), requestedAmount.currency)"></span>
              </div>
            </div>

            <div class="">
              <div data-bind='component: {
                                          name: "loan-tenure", params: {
                                              tenureYears: requestedTenure.years,
                                              tenureMonths: requestedTenure.months,
                                              maxVal: $component.years,
                                              label: $component.resource.loan.tenure,
                                              labelClasses: "oj-lg-offset-2 oj-md-offset-1",
                                              isMandatory:true,
                                              rootId:"tenureSelectYears",
                                              rootClass:"form-input",
                                              yearsId:"tenure-years",
                                              monthsId:"tenure-months",
                                          }
                                      }'></div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </oj-validation-group>
</page-section>
<div class="button-container oj-flex oj-flex-items-pad">
  <div class="oj-flex-item  oj-md-10 oj-lg-10">
    <oj-button raised="" id="submit-requirements" class="form-button-secondary" on-click="[[$component.submitRequirements]]" disabled="[[$component.disableContinue()]]"><span data-bind="text:$component.resource.generic.common.continue"></span></oj-button>
  </div>
</div>

<!-- /ko -->

<modal-window class="message" params="baseModel : $baseModel, rootModel : $component, id:'loanAmountError'">
  <div class="message-text scroll" data-bind="text:$component.resource.loan.loanAmountError"></div>
  <div class="message-btn button-container">
    <oj-button id="" class="toUpperCase" on-click="[[$baseModel.modalInteraction.bind($data, '#loanAmountError', 'closeModal')]]"> <span data-bind="text:$component.resource.generic.common.ok"></span></oj-button>
  </div>
</modal-window>
