.registration {
    .registration-heading {
        font-weight: bold;
        @include mq(small) {
            text-align: center;
        }
    }

    .emphasize {
        font-weight: bold;
    }

    .submitted-application {
        label {
            @include single-margin(left,1.3rem);
            @include single-margin(right,1.3rem);
        }
    }

    .margin-bottom {
        margin-bottom: 1.3rem;
    }

    .margin-left-right {
        @include single-margin(left,1.3rem);
        @include single-margin(right,1.3rem);
    }

    .display-inline-block {
        display: inline-block;
    }

    .margin-bottom-80 {
        margin-bottom: 5rem;
    }
}
