.correspondence-title,
.mailing-address-title {
  border-bottom: 0.0625rem solid var(--base-border-default);
}

.correspondence-address-padding {
  padding-top: 1.25rem;
}

.entity-type-padding {
  padding-bottom: 0.5rem;
}
