.form-builder {
  display: flex;
  padding: var(--form-padding);

  &__icon {
    padding: 0.5rem 0.2rem;
  }

  &__nav-list {
    height: 31.3rem;
  }

  &__section {
    border: 0.05rem solid var(--base-border-default);
    margin: 0.5rem 0;
    height: 31.3rem;
    overflow-y: auto;
  }

  &__info-note {
    border: 0.05rem solid var(--base-border-default);
    margin: 0.5rem 0;
    height: 14.5rem;
  }

  &__confirm {
    margin: 0.5rem 0;
  }

  &__upload-icon {
    font-size: 2.8rem;
    padding: 1.1rem 0;
  }

  &__end-element {
    height: 15.6rem;
  }

  .page-header-control{
    display:flex;
    align-items: flex-end;
    border: 0.05rem solid var(--base-border-default);
    @include single-margin(left, .85714rem);
    @include single-margin(right, .85714rem);
  }

  .page-header__banner{
    border-bottom: 0.05rem solid var(--base-border-default);
    padding: 0.2rem 0.5rem;
    font-size: var(--base-font-size-larger);
    background-color: var(--banner-background);
  }

  .page-header__middle{
    margin:0.5rem 0;
    width: 100%;
  }

  .information-wrapper{
    flex: 1;
  }
}
