$label-text-small: 0.9rem;
.requirements {
    .loan-amount {
        color: var(--base-background-secondary);
        font-style: italic;
        position: relative;
        font-size: 1rem !important;
        font-weight: normal;
        margin-top: -1.6rem;
    }
    .loan-requirements-estimate {
        margin-top: 2.6rem;
        color: var(--base-background-secondary);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.025em;
        margin-bottom: 0.6rem;
        @include mq(small) {
            font-size: 0.9rem;
            margin-top: 1.4rem;
        }
        @include mq(medium) {
            margin-top: 1.4rem;
        }
    }
    .heading {
        font-size: 1.3rem;
        font-weight: var(--base-font-weight-bold);
        color: var(--base-background-secondary);
        margin-bottom: 1.3rem;
        margin-top: 1.6rem;
    }
    .small-text {
        color: var(--base-text-secondary);
        font-size: 0.8rem !important;
        margin-top: 0.3rem !important;
        font-style: italic;
        font-weight: normal;
    }
    .main-label {
        color: var(--base-text-secondary);
        @include mq(small) {
            font-size: $label-text-small;
        }
    }
    .spacing {
        bottom: 0.3rem;
        position: relative;
    }
    .amountInput-currency {
        min-width: 28%!important;
        @include mq(small) {
            min-width: 33%!important;
        }
        @include mq(medium) {
            min-width: 37%!important;
        }
    }
    .militaryDisclosures {
        .text {
            font-size: 1rem;
        }
        .desc {
            border: 0.05rem solid var(--base-border-default);
            box-sizing: border-box;
            background-color: var(--base-background-primary);
            cursor: pointer;
            @include padding(1.1rem, 0, 1.1rem, 1.3rem);
            border-radius: 0.3rem;
            &.selected {
                border: 0.2rem solid var(--base-border-default)-active;
                .select-icon {
                    @include float(right);
                    display: block;
                    color: var(--base-color-success);
                    margin-top: -1.4rem;
                    @include single-padding(right, 0);
                }
                .select-icon:before {
                    content: url("{images}/origination/offer-tick.png");
                }
            }
        }
    }
}