@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	background-color: #ffffff;
}

p
{
	font-family: Arial;
	font-size: 10.0pt;
	color: #000000;
}

li
{
	font-family: Arial;
	font-size: 10.0pt;
	color: #000000;
}

h1
{
	mc-next-tag: p;
	mc-page-type: odd;
	page-break-before: always;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 20pt;
	margin-bottom: 24px;
	font-weight: bold;
	font-style: normal;
	font-family: Arial;
}

li.mc-H1
{
	font-family: Arial;
	font-weight: bold;
	color: #0000af;
	font-size: 18pt;
}

h2
{
	page-break-before: always;
	mc-page-type: all;
	background-attachment: fixed;
	background-color: #ffffff;
	font-size: 16pt;
	font-family: 'Arial Narrow';
	margin-bottom: 16pt;
	font-weight: bold;
	font-style: normal;
	margin-top: 16pt;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

li.mc-H2
{
	font-family: Arial;
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}

h3
{
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	page-break-before: always;
	margin-bottom: 8pt;
	margin-top: 16pt;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

li.mc-H3
{
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}

h4
{
	font-family: Arial;
	font-size: 10.0pt;
	color: #000000;
	font-weight: bold;
	font-style: normal;
	margin-right: 0px;
	margin-left: 0px;
	page-break-before: always;
	mc-page-type: all;
}

li.mc-H4
{
	font-family: Arial;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}

h5
{
	font-family: Arial;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}

li.mc-H5
{
	font-family: Arial;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}

h6
{
	font-family: Arial;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}

li.mc-H6
{
	font-family: Arial;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}

a:link
{
	color: #0050bc;
	border: solid 1px #ffffff;
	text-decoration: none;
}

a:visited
{
	color: #0050bc;
	border: none 1px #ffffff;
	text-decoration: none;
}

a:focus
{
	color: #0050bc;
	border: none #ffffff;
	width: 0px;
}

a:hover
{
	color: #0050bc;
	border: none;
}

a.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.expandtext
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

a.dropspot
{
	cursor: hand;
	font-weight: bold;
	font-style: normal;
	font-family: Arial, sans-serif;
	color: #006699;
	text-decoration: none;
}

a.glossterm
{
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

span.glosstext
{
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

p.BodyParagraph
{
	margin-left: 0.3pt;
	font-size: 10pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

li.BodyParagraph
{
	margin-right: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	margin-top: 5pt;
	margin-bottom: 5pt;
	text-align: Left;
	margin-left: 18.3pt;
	background: ;
}

p.Fastpath
{
	margin-bottom: 3pt;
	margin-top: 2pt;
	font-weight: bold;
	font-style: normal;
}

li.Fastpath
{
	margin-right: 0in;
	margin-left: 0in;
	font-size: 12.0pt;
	font-family: "Times New Roman";
	margin-bottom: 3pt;
	margin-top: 2pt;
	font-weight: bold;
	font-style: normal;
}

p.Listbullet
{
	margin-left: 0.3pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	list-style: disc;
	mc-disable-glossary-terms: true;
}

li.Listbullet
{
	text-align: justify;
	margin-right: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	color: #000000;
	margin-top: 6pt;
	margin-bottom: 6pt;
	list-style: disc;
	margin-left: 0.3pt;
	mc-disable-glossary-terms: true;
}

p.tableheadingtext
{
	font-style: normal;
	mc-disable-glossary-terms: true;
	font-weight: normal;
	margin-bottom: 2pt;
	margin-top: 2pt;
}

li.tableheadingtext
{
	margin-right: 0in;
	margin-left: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

p.tablenormaltext
{
	margin-top: 2pt;
	margin-bottom: 2pt;
}

li.tablenormaltext
{
	margin-right: 0in;
	margin-left: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	margin-top: 2pt;
	margin-bottom: 2pt;
}

p.startpoint
{
	margin-bottom: 6pt;
	font-weight: bold;
	font-style: normal;
	margin-top: 16pt;
	mc-disable-glossary-terms: true;
}

li.startpoint
{
	margin-right: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	margin-bottom: 6pt;
	font-weight: bold;
	font-style: normal;
	margin-top: 16pt;
	margin-left: 18pt;
}

p.Image
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin: 0;
	border: none 0px #000000;
}

li.Image
{
	margin-right: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 18pt;
}

p.Spacer
{
	margin-top: 1pt;
	margin-bottom: 1pt;
}

li.Spacer
{
	margin: 0in;
	text-align: justify;
	text-justify: inter-ideograph;
	font-size: 8.0pt;
	font-family: Garamond;
	letter-spacing: -.25pt;
	margin-top: 1pt;
	margin-bottom: 1pt;
}

p.endpoint
{
	mc-disable-glossary-terms: true;
}

li.endpoint
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.PartTitle
{
	
}

li.PartTitle
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.PartLabel
{
	
}

li.PartLabel
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.BlockQuotationFirst
{
	
}

li.BlockQuotationFirst
{
	margin-right: 0in;
	margin-left: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	color: #000000;
}

p.BlockQuotation
{
	
}

li.BlockQuotation
{
	margin-right: 0in;
	margin-left: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	color: #000000;
}

p.CompanyName
{
	mc-disable-glossary-terms: true;
}

li.CompanyName
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.SubtitleCover
{
	
}

li.SubtitleCover
{
	margin-right: 0in;
	margin-left: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	color: #000000;
}

p.TitleCover
{
	
}

li.TitleCover
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.ReturnAddress
{
	
}

li.ReturnAddress
{
	margin: 0in;
	margin-bottom: .0001pt;
	text-align: center;
	font-size: 10.0pt;
	font-family: Garamond;
	letter-spacing: -.15pt;
}

p.SectionLabel
{
	
}

li.SectionLabel
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.toc1
{
	
}

li.TOC1
{
	font-size: 10.0pt;
	font-family: Arial;
	font-weight: bold;
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.toc2
{
	
}

li.TOC2
{
	margin-top: 0in;
	margin-right: 0in;
	margin-left: 12.0pt;
	font-size: 10.0pt;
	font-family: Arial;
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.toc3
{
	
}

li.TOC3
{
	margin-top: 0in;
	margin-right: 0in;
	margin-left: 24.0pt;
	font-size: 10.0pt;
	font-family: Arial;
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.PageNumber
{
	
}

li.PageNumber
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.Header
{
	
}

li.Header
{
	text-align: right;
	font-size: 10.0pt;
	font-family: Arial;
	font-weight: bold;
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.CodeChar
{
	font-style: italic;
	font-weight: normal;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: "Courier New", monospace;
}

li.CodeChar
{
	margin-right: 0in;
	margin-left: 0in;
	font-size: 10.0pt;
	color: #000000;
	font-style: italic;
	font-weight: normal;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: "Courier New", monospace;
}

p.spa
{
	
}

li.spa
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
}

p.Tab
{
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	margin-top: 20pt;
	margin-bottom: 6pt;
	color: #006598;
	mc-disable-glossary-terms: true;
}

li.Tab
{
	margin-right: 0in;
	margin-left: .15in;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	color: #0033cc;
	font-size: 11pt;
	margin-top: 20pt;
	margin-bottom: 6pt;
}

p.Headings
{
	font-weight: bold;
	font-style: normal;
	margin-bottom: 6pt;
	margin-top: 12pt;
	mc-disable-glossary-terms: true;
	font-size: 10pt;
	font-family: Arial;
	margin-left: 25pt;
}

li.Headings
{
	text-decoration: none;
	margin-right: 0in;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	color: #006699;
	margin-left: 9pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
	font-size: 11pt;
}

p.BodyParagraphBold
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	left: 0px;
	margin-left: 15px;
}

li.BodyParagraphBold
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
	font-weight: bold;
	font-style: normal;
}

p.Procedure
{
	margin-left: 0.3pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	list-style: decimal;
	mc-disable-glossary-terms: true;
}

li.Procedure
{
	margin-right: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	margin-top: 6pt;
	margin-bottom: 6pt;
	list-style: decimal;
	margin-left: 0.3pt;
	mc-disable-glossary-terms: true;
}

p.Note
{
	border-top-width: 1px;
	mc-disable-glossary-terms: true;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-top-style: none;
	font-style: italic;
	display: block;
	background-color: #dadada;
}

li.Note
{
	margin-top: 6.0pt;
	margin-right: 0in;
	margin-bottom: 6.0pt;
	margin-left: .25in;
	border: none;
	padding: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	border-top-style: Solid;
	border-bottom-style: Solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

p.Listbullet1
{
	list-style: disc;
	margin-right: 0pt;
	margin-left: 20pt;
	mc-disable-glossary-terms: true;
}

li.Listbullet1
{
	list-style: disc;
	margin-right: 0pt;
	margin-left: 20pt;
	font-size: 10pt;
	margin-top: 5px;
}

p.Listbullet2
{
	margin-left: 36pt;
	list-style: disc;
}

li.Listbullet2
{
	list-style: disc;
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	text-indent: -.25in;
	font-size: 12.0pt;
	font-family: Arial;
}

MadCap|breadcrumbsProxy
{
	border-bottom: solid;
	border-top: solid 0px;
	top: 0px;
	bottom: 1px;
	padding-bottom: 10px;
	padding-top: 10px;
	line-height: 0.5px;
	border-bottom-width: 1.5px;
	mc-breadcrumbs-count: 4;
	background-color: #ffffff;
	color: #696969;
	border-bottom-color: #808080;
	font-weight: normal;
	font-style: normal;
	mc-breadcrumbs-prefix: ' ';
	font: 8;
	font-size: 8pt;
	font-family: Arial;
}

MadCap|popupBody
{
	background-color: #ffffff;
}

p.figuretitle
{
	font-style: italic;
	color: #696969;
}

p.SEEALSO
{
	
}

a.GlossaryPageTerm
{
	font-family: Calibri;
	background-color: #ffffff;
	font-variant: small-caps;
	font-size: 11pt;
	color: #4169e1;
}

div.GlossaryPageDefinition
{
	font-size: 11pt;
	font-family: Calibri;
	color: #696969;
	background-color: #ffffff;
}

div.GlossaryPageHeading
{
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	font-family: Calibri;
	color: #696969;
	background-color: #f5f5f5;
}

div.GlossaryPageTerm
{
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	font-size: 11pt;
	font-family: Calibri;
	color: #4169e1;
	background-color: #ffffff;
}

table.Table3
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
}

h2.ParagraphHeading
{
	font-family: Arial;
	font-weight: bold;
	margin-top: 3pt;
	margin-bottom: 8pt;
	page-break-before: always;
	mc-page-type: all;
	color: #ffffff;
	font-size: 16pt;
	background-attachment: fixed;
	background-color: #7490ff;
}

p.ProductName
{
	font-family: Garamond;
	font-size: 18pt;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	margin-bottom: 5pt;
	margin-left: 0.3pt;
	margin-top: 5pt;
}

p.Copyright
{
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
	font-size: 7pt;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
	mc-master-page: url('../MasterPages/Copyright.flmsp');
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

img
{
	border: none 0px #ffffff;
}

p.MiniTOC1
{
	mc-toc-depth: 0;
	mc-master-page: url('../MasterPages/NewPage.flmsp');
}

MadCap|miniTocProxy
{
	visibility: hidden;
}

MadCap|toggler
{
	font-family: Arial;
	color: #000000;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-size: 10pt;
}

a.MCBreadcrumbsLink
{
	color: #0050bc;
}

p.Headings1
{
	margin-left: 0.2pt;
	margin-bottom: 6pt;
	margin-top: 12pt;
	mc-disable-glossary-terms: true;
	font-weight: bold;
	font-style: normal;
	font-family: 'Arial Narrow';
	color: #000000;
	font-size: 10pt;
}

li.Procedure1
{
	margin-right: 0in;
	font-size: 10.0pt;
	font-family: Arial;
	margin-top: 6pt;
	margin-bottom: 6pt;
	list-style: decimal;
	mc-disable-glossary-terms: true;
	margin-left: 0.6pt;
	list-style-type: lower-alpha;
}

MadCap|dropDownHead
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
}

MadCap|dropDown
{
	font-size: 12pt;
	font-family: Arial;
}

MadCap|dropDownHotspot
{
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	font-family: Arial;
}

li.Procedure2
{
	font-size: 10pt;
	mc-auto-number-class: procedure;
	mc-auto-number-position: inside-head;
	list-style-type: lower-roman;
	padding-left: 5px;
	margin-top: 6pt;
	padding-bottom: 6pt;
}

p.Field_description
{
	font-weight: bold;
	text-align: right;
	font-size: 10pt;
}

MadCap|xref
{
	mc-format: 'See "{paratext}"';
	text-decoration: none;
}

a.Homepage
{
	
}

a.Homepage:link
{
	border: none 0px #ffffff;
}

p.GlossaryTermOnline
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	left: 0px;
	margin-left: 15px;
	mc-disable-glossary-terms: true;
}

p.GlossaryDefOnline
{
	margin-left: 0.3pt;
	font-size: 10pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
	mc-disable-glossary-terms: true;
}

a.Popup
{
	width: 0pt;
	mc-popup-height: auto;
	mc-popup-width: auto;
}

MadCap|glossaryTerm
{
	color: #0000cc;
}

span.SearchHighlight1
{
	background-color: #ffd700;
	border-color: #ffd700;
	padding-left: 2px;
	padding-right: 2px;
	border-width: 0pt;
	border: solid 2px;
	color: #ffffff;
}

span.SearchHighlight10
{
	color: #ffffff;
	background-color: #990099;
}

span.SearchHighlight2
{
	background-color: #a0ffff;
	border: solid 2px;
	color: #ffffff;
	border-bottom-color: #a0ffff;
	border-color: #a0ffff;
}

span.SearchHighlight3
{
	color: #000000;
	background-color: #99ff99;
}

span.SearchHighlight4
{
	color: #000000;
	background-color: #ff9999;
}

span.SearchHighlight5
{
	color: #000000;
	background-color: #ff66ff;
}

span.SearchHighlight6
{
	color: #ffffff;
	background-color: #880000;
}

span.SearchHighlight7
{
	color: #ffffff;
	background-color: #00aa00;
}

span.SearchHighlight8
{
	color: #ffffff;
	background-color: #886800;
}

span.SearchHighlight9
{
	color: #ffffff;
	background-color: #004699;
}

img.Reports
{
	border: solid 1px #000000;
}

p.BodyParagraph_NoGlossary
{
	margin-left: 0.3pt;
	font-size: 10pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
	mc-disable-glossary-terms: true;
}

p.CopyrightPage
{
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
	font-size: 7pt;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
}

html
{
	mc-master-page: url('../MasterPages/NewPage.flmsp');
}

html.Copyright
{
	mc-master-page: url('../MasterPages/Copyright.flmsp');
}

