@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	font-family: Arial;
	line-height: 1.7em;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-right-width: 4px;
	border-top-width: 4px;
	background-repeat: no-repeat;
	background-position: 50% 1in;
	max-width: 100%;
	background-image: none;
	font-size: 0.8em;
	margin: 17px;
	margin-top: 0px;
}

blockquote.style1
{
	font: 14px / 20px Century Gothic;
	padding: 8px;
	background-color: #faebbc;
	border-top: 1px solid #e1cc89;
	border-bottom: 1px solid #e1cc89;
	margin: 5px;
	background-image: url('../Images/openquote1.png');
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 23px;
}

blockquote.style1 span
{
	display: block;
	background-image: url('../Images/closequote1.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

div.background
{
	width: 500px;
	height: 250px;
	border: 2px solid black;
	background: url('../Images/surf2.png') repeat;
}

Div.FooterTable
{
	background-repeat: repeat;
	background-image: url('../Images/diagonal_lines.png');
	margin-right: -17px;
	margin-left: -17px;
}

Div.GlossaryPageTerm
{
	font-size: 10pt;
}

Div.GlossaryPageDefinition
{
	font-size: 9pt;
}

div.ImagesFloatLeft
{
	margin-right: 10px;
	clear: both;
	float: left;
}

div.ImagesFloatRight
{
	margin-left: 10px;
	clear: both;
	float: right;
}

Div.MCDiv
{
	mc-disabled: false;
	padding: 10px;
	border-top: solid 0px;
	border-bottom: solid 0px #f5f5f5;
	left: 0px;
	margin: 0px;
	padding-left: 20px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 100%;
	border-bottom-color: #333333;
	z-index: 5;
	background-repeat: repeat;
	background-image: none;
}

div.transbox
{
	width: 400px;
	height: 180px;
	margin: 30px 50px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

div.transbox p
{
	margin: 30px 40px;
	font-weight: bold;
	color: #000000;
}

h1.Appendix
{
	
}

h2.NoPageBreakBefore
{
	page-break-before: avoid;
}

h2.WhatsNext
{
	font-variant: small-caps;
	color: #003366;
	letter-spacing: 2px;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-transform: none;
	margin-top: 2pt;
	font-size: 1em;
}

h4
{
	font-weight: bold;
	color: #003366;
	mc-heading-level: 0;
	margin-bottom: 4pt;
	margin-top: 12pt;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-left: 0;
	letter-spacing: 1px;
	font-size: 1em;
	font-family: 'Source Sans Pro';
}

h5
{
	color: #003366;
	font-weight: bold;
	margin-bottom: 8pt;
	margin-top: 8pt;
	mc-heading-level: 0;
	page-break-before: avoid;
	font-size: 0.8em;
	font-family: 'Source Sans Pro';
}

h6
{
	color: #003366;
	mc-heading-level: 0;
	margin: 0;
	page-break-before: avoid;
	font-family: 'Source Sans Pro';
}

img
{
	mc-disabled: false;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	mc-thumbnail: none;
}

img:hover
{
	opacity: 1.0;
	filter: alpha(opacity=100);
}

img.MaxWidth100Percent
{
	mc-thumbnail: popup;
}

img.MaxWidth100PercentNoThumbnail
{
	mc-thumbnail: none;
	margin: 0px;
	opacity: 1;
	filter: alpha(opacity=100);
}

img.MaxWidth75Percent
{
	mc-thumbnail: popup;
}

img.MaxWidth50Percent
{
	mc-thumbnail: popup;
}

img.NoThumbnailHyperlinkedImage
{
	mc-thumbnail: none;
	margin: 0cm;
	border-style: none;
	opacity: 1;
	filter: alpha(opacity=100);
}

img.OnlineFooterPDFIcon
{
	mc-thumbnail: none;
	padding-left: 0pt;
	padding-right: 3pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	opacity: 1;
	filter: alpha(opacity=100);
}

img.ReduceButtonSize
{
	mc-thumbnail: none;
	padding: 0pt;
	opacity: 1;
	filter: alpha(opacity=100);
}

li
{
	color: #000000;
	orphans: 2;
	widows: 2;
	list-style-type: none;
	font-family: Arial;
	font-size: 11pt;
	margin-top: 8pt;
	margin-bottom: 8pt;
}

p
{
	margin-top: 8pt;
	text-indent: 1px;
	top: 0px;
	margin-left: 0pt;
	margin-right: 0px;
	margin-bottom: 0.8em;
	orphans: 2;
	widows: 2;
	color: #000000;
	font-family: 'Source Sans Pro';
	font-size: 14px;
}

p.columns
{
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid black;
	-webkit-column-count: 3;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid white;
	column-count: 3;
	column-gap: 1em;
	column-rule: 1px solid black;
}

p.ContentsHeadingPrint
{
	font-size: 14pt;
	font-weight: bold;
	margin-top: 72pt;
}

p.CopyrightAddress
{
	margin-bottom: 0pt;
	margin-top: 0pt;
}

p.CopyrightHeading
{
	font-weight: normal;
	font-size: 10pt;
}

p.CreatedUsingFlare
{
	font-weight: bold;
	margin-bottom: 2pt;
	bottom: 18px;
	top: 18px;
	font-variant: small-caps;
	font-size: 1.2em;
}

p.ExampleHead
{
	font-variant: small-caps;
	border-top: solid 1px #BECFDC;
	border-left: solid 1px #BECFDC;
	border-right: solid 1px #BECFDC;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-top-left-border-radius: 6px;
	-webkit-top-right-border-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-bottom: 0pt;
	letter-spacing: 5px;
	mc-heading-level: 0;
	margin-top: 6pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-transform: none;
	color: #003366;
	font-weight: bold;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	padding-bottom: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #BECFDC;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #BECFDC;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #BECFDC;
	background-color: #ddedfe;
	font-size: 1em;
}

p.Example
{
	color: #003366;
	border-bottom: solid 1px #BECFDC;
	border-left: solid 1px #BECFDC;
	border-right: solid 1px #BECFDC;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-bottom-left-border-radius: 6px;
	-webkit-bottom-right-border-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-top: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 14px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #BECFDC;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #BECFDC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #BECFDC;
	background-color: #ddedfe;
}

p.ExampleMiddleSection
{
	color: #003366;
	border-left: solid 1px #BECFDC;
	border-right: solid 1px #BECFDC;
	margin-bottom: 0pt;
	margin-top: 0pt;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #BECFDC;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #BECFDC;
	background-color: #ddedfe;
}

p.Figure
{
	
}

p.Footer
{
	margin-bottom: 0pt;
	margin-top: 0pt;
	text-align: Right;
	color: #000000;
	font-size: 0.8em;
}

p.Footer2
{
	text-align: left;
	margin-bottom: 6pt;
	margin-top: 6pt;
	color: #000000;
	white-space: nowrap;
	font-size: 0.8em;
}

p.FooterHeading
{
	font-weight: bold;
	text-align: left;
	margin-bottom: 0pt;
	margin-top: 12pt;
	color: #becfdc;
}

p.FooterHeadingAlignRight
{
	font-weight: bold;
	margin-bottom: 0pt;
	margin-top: 12pt;
	text-align: right;
	color: #becfdc;
}

p.FooterSpaceAboveRight
{
	margin-bottom: 0pt;
	color: #000000;
	margin-top: 12px;
	text-align: right;
	font-size: 0.8em;
}

p.FooterTopicMaster
{
	margin-bottom: 0pt;
	margin-top: 0pt;
	color: #ffffff;
	margin: 0pt;
	padding: 0px;
	line-height: 16px;
	font-weight: bold;
	text-align: left;
	font-size: 0.8em;
}

p.FrameHeaderText
{
	
}

p.FrameFooterText
{
	
}

p.GlossaryPrintHead
{
	font-size: 14pt;
	font-weight: bold;
	margin-top: 72pt;
	mc-heading-level: 1;
	margin: 0pt;
}

p.Gray
{
	color: #f5f5f5;
}

p.HowToText
{
	font-weight: bold;
	color: #003366;
	font-size: 1em;
}

p.IndexHeading
{
	text-align: left;
	margin-bottom: 0pt;
	margin-top: 0pt;
	margin: 0pt;
	font-size: 11pt;
	color: #363636;
}

p.IndexPrintHead
{
	font-size: 14pt;
	font-weight: bold;
	margin-top: 72pt;
	mc-heading-level: 1;
	margin: 0pt;
}

p.ManualTitle1
{
	font-size: 15px;
	color: #9c9c9c;
	word-spacing: 3px;
	margin: 0px;
	margin-bottom: 8px;
	margin-top: 8px;
}

p.ManualTitle2
{
	font-size: 53px;
	color: #bfd62f;
	margin: 0px;
	margin-bottom: 8px;
	margin-top: 8px;
	line-height: 50px;
}

p.ManualVersionNumber
{
	color: #9c9c9c;
	font-size: 18px;
	text-align: right;
	margin-top: 20px;
}

p.MiniTOC1
{
	mc-leader-offset: 10pt;
	mc-leader-align: right;
	margin-left: 0.5in;
}

p.MiniTOC2
{
	mc-leader-align: right;
	margin-left: 1in;
}

p.MiniTOC3
{
	margin-left: 1.5in;
}

p.note2
{
	color: #616E14;
	border-top: solid 1px #BFD62F;
	border-left: solid 1px #BFD62F;
	border-right: solid 1px #BFD62F;
	background-color: #DAE691;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-top-left-border-radius: 6px;
	-webkit-top-right-border-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-bottom: 0;
	padding-right: 20px;
	padding-top: 14px;
	padding-bottom: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #BFD62F;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #BFD62F;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #BFD62F;
	padding-left: 20px;
}

p.note3
{
	color: #616E14;
	border-left: solid 1px #BFD62F;
	border-right: solid 1px #BFD62F;
	background-color: #DAE691;
	margin-top: 0;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 14px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #BFD62F;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #BFD62F;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #bfd62f;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-bottom-left-border-radius: 6px;
	-webkit-bottom-right-border-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-left: 20px;
	border-top: solid 0px;
}

p.PageBreakAfter
{
	page-break-after: always;
}

p.PageBreakBefore
{
	page-break-before: always;
}

p.TableText
{
	margin-bottom: 2pt;
	margin-top: 8pt;
	bottom: 12px;
	top: 12px;
	font-size: 10pt;
	color: #595959;
}

p.TableTextCenter
{
	margin-bottom: 2pt;
	bottom: 12px;
	top: 12px;
	text-align: center;
}

p.TableTextEmphasis
{
	font-style: normal;
	font-weight: bold;
	margin-bottom: 2pt;
	color: #003366;
}

p.TableTextHead
{
	margin-bottom: 2pt;
	margin-top: 8pt;
	bottom: 12px;
	top: 12px;
	color: #000000;
	font-size: 10pt;
}

p.TableTextSmall
{
	color: #000000;
	margin-bottom: 2pt;
	margin-top: 8pt;
	bottom: 12px;
	top: 12px;
	font-size: 0.8em;
}

p.TOC1
{
	margin-bottom: 8pt;
	margin-top: 8pt;
	margin: 0;
	color: #363636;
}

p.TOC2
{
	text-indent: 1px;
	margin-left: 10pt;
	margin-bottom: 8pt;
	margin-top: 8pt;
}

p.WhatsNextLine
{
	background-image: url('../Images/whats_next_border.png');
	background-repeat: repeat-x;
}

ol,
ul
{
	margin-bottom: 0pt;
	margin-top: 0pt;
}

ol
{
	list-style-image: none;
	font-size: 1em;
}

ol.FirstLevel
{
	
}

ol.SecondLevel
{
	list-style-type: lower-alpha;
}

span.Emphasis
{
	font-weight: bold;
}

span.EmphasisItalic
{
	font-weight: normal;
	font-style: italic;
}

span.FigureNum
{
	
}

span.InvisibleText
{
	color: #ffffff;
}

span.SeeAlsoIndexTerms
{
	font-style: italic;
}

span.SeeIndexTerms
{
	font-style: italic;
}

span.SetOffFirstLevel
{
	font-weight: bold;
	color: #003366;
}

span.SetOffSecondLevel
{
	font-weight: bold;
	color: #006400;
}

td
{
	margin-bottom: 8pt;
	vertical-align: top;
	margin-left: 8pt;
	margin-right: 8pt;
	margin-top: 8pt;
	margin: 8pt;
}

th
{
	margin-left: 0pt;
	margin-top: 8pt;
	color: #ffffff;
	margin-bottom: 8pt;
}

tr
{
	page-break-inside: avoid;
}

ul
{
	list-style-type: none;
	font-size: 1em;
	list-style: disc;
}

ul.SecondLevel
{
	list-style-type: none;
	list-style-image: url('../Images/second_bullet.eps');
}

ul.FirstLevel
{
	list-style-type: none;
}

@media print
{
	body
	{
		margin: 8px;
		background-image: none;
		color: #363636;
		font-size: 8pt;
		line-height: 13px;
	}

	Div.GlossaryPageTerm
	{
		padding-bottom: 10px;
		padding-top: 10px;
	}

	Div.GlossaryPageHeading
	{
		color: #363636;
		font-size: 11pt;
	}

	Div.FooterTable
	{
		background-image: none;
	}

	Div.MCDiv
	{
		background-image: none;
	}

	h1
	{
		border-bottom-style: solid;
		border-bottom-color: #000000;
		border-bottom-width: 1pt;
		border-bottom: solid 0pt #ffffff;
		mc-auto-number-class: ChapAutoNum;
		text-transform: none;
		mc-auto-number-offset: 0;
		margin-top: 0;
		mc-auto-number-position: float-left;
		background-color: #ffffff;
		padding-left: 0px;
		color: #959595;
		font-weight: normal;
		font-size: 15pt;
		line-height: 18pt;
		padding-top: 0px;
		top: 0px;
		vertical-align: baseline;
		margin-bottom: 70px;
		mc-auto-number-format: 'CH:CHAPTER {chapnum} ';
		background-image: none;
	}

	h1.Appendix
	{
		mc-auto-number-format: 'GH:APPENDIX  ';
	}

	h2
	{
		font-weight: normal;
		font-size: 12pt;
	}

	h2.WhatsNext
	{
		page-break-before: avoid;
	}

	h3
	{
		font-size: 10pt;
		font-weight: normal;
		color: #006400;
	}

	h4
	{
		font-size: 9pt;
		font-weight: normal;
	}

	img
	{
		
	}

	img.MaxWidth100Percent
	{
		max-width: 100%;
	}

	img.MaxWidth100PercentNoThumbnail
	{
		max-width: 100%;
		mc-thumbnail: none;
	}

	img.MaxWidth75Percent
	{
		max-width: 75%;
	}

	img.MaxWidth50Percent
	{
		max-width: 50%;
	}

	img.ReduceButtonSize
	{
		max-height: 15px;
	}

	li
	{
		margin-bottom: 6pt;
		margin-top: 6pt;
		text-align: left;
		orphans: 2;
		widows: 2;
		line-height: 13px;
		font-weight: normal;
		color: #363636;
	}

	MadCap|dropDownBody
	{
		border-bottom: none 0px #ffffff;
	}

	MadCap|dropDownHead
	{
		font-size: 1em;
	}

	MadCap|listOfProxy
	{
		width: 5in;
		margin-top: 30px;
	}

	MadCap|miniTocProxy
	{
		margin-right: 0.5in;
		margin-left: 0.5in;
		padding-left: 0px;
	}

	MadCap|popupHead
	{
		color: #000000;
	}

	MadCap|xref
	{
		color: #000000;
		text-decoration: none;
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
	}

	p
	{
		text-indent: 0in;
		font-size: 8pt;
		color: #363636;
		orphans: 2;
		widows: 2;
	}

	p.ContentsHeadingPrint
	{
		page-break-before: always;
		text-indent: 0px;
		left: 0px;
		margin-top: 0;
		border-bottom: solid 0pt #000000;
		color: #bfd62f;
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 0px;
		margin-bottom: 70px;
		vertical-align: baseline;
		font-size: 30pt;
	}

	p.CopyrightHeading
	{
		page-break-before: always;
		margin-top: 24pt;
		padding: 0px;
		font-size: 8pt;
	}

	p.Example
	{
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #BECFDC;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #BECFDC;
		border-top-style: solid;
		border-top-width: 0px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 6px;
		padding-bottom: 14px;
		border-bottom-color: #becfdc;
	}

	p.ExampleHead
	{
		border: solid 0px;
		border-top: solid 1px;
		border-left-width: 1px;
		border-right-width: 1px;
	}

	p.Figure
	{
		color: #696969;
		font-size: 0.90em;
		font-style: italic;
		mc-auto-number-format: 'CH:Figure {chapnum}-{n+} ';
		mc-auto-number-class: FigureNum;
	}

	p.FrameHeaderText
	{
		font-weight: bold;
		font-size: 9pt;
		color: #959595;
		margin: 0px;
	}

	p.FrameFooterText
	{
		font-size: 18pt;
		color: #959595;
	}

	p.GlossaryPrintHead
	{
		border-bottom: solid 0pt #000000;
		color: #bfd62f;
		font-size: 30pt;
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 0px;
		page-break-before: always;
		vertical-align: super;
	}

	p.IndexHeading
	{
		margin-top: 0pt;
		padding-top: 16px;
	}

	p.IndexPrintHead
	{
		page-break-before: always;
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: solid 0pt #000000;
		color: #bfd62f;
		line-height: 0px;
		letter-spacing: -1px;
		font-weight: normal;
		vertical-align: super;
		font-size: 30pt;
	}

	p.MiniTOC1
	{
		margin-left: 0in;
	}

	p.note
	{
		border: solid 1px;
	}

	p.note2
	{
		border: solid 1px;
		border-bottom-width: 0px;
	}

	p.TOC1
	{
		tab-stops: right dotted 5in;
		font-size: 11pt;
		font-weight: normal;
		margin-bottom: 6pt;
		margin-top: 6pt;
	}

	p.TOC2
	{
		tab-stops: right dotted 5in;
		margin-bottom: 2pt;
		margin-top: 2pt;
		color: #959595;
		font-size: 9pt;
	}

	span.ChapAutoNum
	{
		color: #bfd62f;
		font-family: Arial;
		font-style: normal;
		letter-spacing: -1px;
		vertical-align: baseline;
		font-size: 30pt;
	}

	span.FigureNum
	{
		color: #bfd62f;
		font-weight: bold;
	}

	MadCap|glossaryTerm
	{
		
	}

	a
	{
		font-weight: normal;
	}
}

@media Mobile
{
	Div.MCDiv
	{
		display: none;
	}

	h1
	{
		position: relative;
		top: 0px;
	}

	MadCap|breadcrumbsProxy
	{
		position: relative;
	}

	MadCap|breadcrumbsProxy.Mobile
	{
		padding-bottom: 0px;
		padding-top: 0px;
	}

	MadCap|dropDownHead
	{
		margin-bottom: 8px;
	}

	MadCap|dropDownHotspot
	{
		margin-top: 8px;
		margin-bottom: 8px;
		color: #1e90ff;
	}

	MadCap|helpControlList
	{
		font-size: 8pt;
		margin-bottom: 2px;
		margin-top: 2px;
	}

	MadCap|helpControlListItem
	{
		font-size: 8pt;
		margin-bottom: 2px;
		margin-top: 2px;
	}

	MadCap|helpControlMenu
	{
		margin-bottom: 2px;
		margin-top: 2px;
		font-size: 8pt;
	}

	MadCap|helpControlMenuItem
	{
		font-size: 8pt;
		margin-bottom: 2px;
		margin-top: 2px;
	}

	MadCap|dropDown
	{
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

MadCap|bodyProxy
{
	mc-disabled: false;
	position: fixed;
	top: 30px;
	width: 100%;
}

MadCap|breadcrumbsProxy
{
	background-repeat: repeat;
	border-bottom-color: #333333;
	border-bottom: solid 0px #f5f5f5;
	border-top: solid 0px;
	font-size: 1em;
	margin-bottom: 0px;
	margin-left: -17px;
	margin-right: -17px;
	mc-disabled: false;
	padding: 10px;
	padding-left: 20px;
	width: 100%;
	background-image: none;
	background-color: #ffffff;
	font-style: italic;
	position: fixed;
	z-index: 0;
	padding-top: 10px;
	top: -1px;
	padding-bottom: 15px;
	color: #000000;
	mc-breadcrumbs-count: 4;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|breadcrumbsProxy.Mobile
{
	
}

MadCap|concept
{
	mc-disabled: false;
}

MadCap|conceptLink
{
	mc-disabled: false;
	color: #003366;
	mc-image: url('../Images/help_control_icon.png');
	font-weight: bold;
}

MadCap|conceptLink:hover
{
	color: #c0c0c0;
	font-weight: bold;
}

MadCap|conceptsProxy
{
	mc-disabled: false;
}

MadCap|conditionalText
{
	mc-disabled: false;
}

MadCap|dropDown
{
	margin-top: 6pt;
	mc-disabled: false;
	mc-closed-image: url('../Images/plus_btn.png');
	mc-open-image: url('../Images/minus_btn.png');
	font-size: 10pt;
	margin-bottom: 2pt;
}

MadCap|dropDownBody
{
	mc-disabled: false;
	border-bottom: solid 1px #546c7f;
	font-size: 1em;
}

MadCap|dropDownHead
{
	mc-disabled: false;
	left: 1px;
	text-indent: 1px;
	font-size: 19px;
	font-family: 'Source Sans Pro Light';
	color: #2f90f1;
	margin-bottom: 2pt;
	font-weight: normal;
}

MadCap|dropDownHotspot
{
	mc-disabled: false;
	cursor: hand;
	text-decoration: none;
	font-size: 19px;
	color: #2f90f1;
	font-weight: normal;
}

.dropDownHotspot:hover
{
	color: #c0c0c0;
	font-weight: bold;
}

.dropDownHotspot.Footer:focus
{
	color: #dcdcdc;
}

.dropDownHotspot.Footer:hover
{
	color: #dcdcdc;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	font-style: normal;
	mc-disabled: false;
	font-weight: normal;
	font-family: 'Source Sans Pro';
}

MadCap|dropDownHotspot.dropspot:hover
{
	color: #c0c0c0;
	font-weight: normal;
	font-family: 'Source Sans Pro';
}

MadCap|dropDownHotspot:hover
{
	color: #c0c0c0;
	font-weight: normal;
	font-family: 'Source Sans Pro';
}

MadCap|dropDownHotspot.Footer
{
	font-family: 'Source Sans Pro';
	color: #2f90f1;
}

MadCap|dropDownHotspot.Footer:focus
{
	color: #dcdcdc;
	font-weight: normal;
}

MadCap|dropDownHotspot.Footer:hover
{
	color: #dcdcdc;
	font-weight: normal;
}

MadCap|glossaryProxy
{
	mc-disabled: false;
	border-top-style: none;
	border-top-width: 0px;
}

MadCap|indexProxy
{
	mc-disabled: false;
	border-top-color: #ffffff;
	border-top-style: none;
	border-top-width: 0px;
}

MadCap|indexProxy.Column2
{
	mc-column-count: 2;
	mc-index-headings: true;
}

MadCap|miniTocProxy
{
	border-top-width: 0px;
}

MadCap|miniTocProxy.TOCDepth4
{
	mc-toc-depth: 4;
}

MadCap|pageFooter
{
	mc-disabled: false;
}

MadCap|pageHeader
{
	mc-disabled: false;
}

MadCap|relatedTopics
{
	color: #003366;
	mc-image: url('../Images/help_control_icon.png');
}

MadCap|snippetBlock
{
	mc-disabled: false;
}

MadCap|snippetText
{
	mc-disabled: false;
}

MadCap|tocProxy
{
	border-top-color: #ffffff;
	border-top-style: none;
	border-top-width: 0px;
}

MadCap|xref
{
	mc-format: '{para}';
	color: #003366;
	font-weight: bold;
	text-decoration: none;
}

MadCap|xref:hover
{
	color: #c0c0c0;
}

a
{
	color: #0070c0;
	font: Arial;
}

a.Popup
{
	
}

a.footermasterlarge
{
	mc-disabled: false;
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
	font-size: 1.10em;
}

a.footermastermobile
{
	font-size: 8pt;
	mc-disabled: false;
	font-weight: bold;
	text-decoration: underline;
}

a.footermasterlarge:link
{
	color: #ffffff;
}

a.footermasterlarge:visited
{
	color: #ffffff;
}

a.footermasterlarge:focus
{
	color: #ffffff;
}

a.footermasterlarge:hover
{
	color: #749ab6;
}

a.footermasterlarge:active
{
	color: #ffffff;
}

a.MCBreadcrumbsLink:link
{
	font-weight: normal;
	font-style: inherit;
	color: #3470c0;
}

a.MCBreadcrumbsLink:visited
{
	font-size: 12pt;
	color: #3470c0;
}

a.MCBreadcrumbsLink:focus
{
	font-weight: normal;
	color: #3470c0;
}

a.MCBreadcrumbsLink:hover
{
	font-weight: normal;
	font-style: inherit;
	color: #3470c0;
}

a.MCBreadcrumbsLink:active
{
	color: #3470c0;
}

a.Image
{
	color: #000000;
	border: none;
}

a.MCBreadcrumbsLink
{
	font-weight: normal;
	text-decoration: none;
	font-style: italic;
	color: #3470c0;
}

a.GlossaryPageTerm:link
{
	text-decoration: none;
}

a.GlossaryPageTerm:visited
{
	text-decoration: none;
}

a.GlossaryPageTerm:hover
{
	text-decoration: none;
	color: #c0c0c0;
}

a:link
{
	text-decoration: none;
	color: #0070c0;
	font-style: normal;
	font-family: 'Source Sans Pro';
}

a:visited
{
	text-decoration: none;
	font-family: Source Sans Pro;
	color: #63baf8;
}

a:focus
{
	text-decoration: none;
	font-family: 'Source Sans Pro';
	color: #1d6fc4;
}

a:hover
{
	font-style: normal;
	text-decoration: none;
	color: #696969;
	font-family: 'Source Sans Pro';
}

a:active
{
	color: #1d6fc4;
	font-family: 'Source Sans Pro';
}

a.PopupHotspot:link
{
	text-decoration: none;
	padding: 0pc;
}

a.PopupHotspot:visited
{
	text-decoration: none;
	margin: 0px;
}

a.PopupHotspot:hover
{
	text-decoration: none;
	padding: 0mm;
	color: #c0c0c0;
}

div.ImagesNoFloat
{
	
}

MadCap|xref.IndexPageNumber
{
	color: #b5cb2b;
}

li.Listbullet_Con_NoRMargin
{
	list-style: disc;
	list-style-type: disc;
	font-size: 10pt;
	margin-right: 0px;
	color: #404040;
	margin-bottom: 6pt;
	margin-top: 6pt;
	margin-left: -24px;
}

li.Procedure_concept
{
	list-style: decimal;
	list-style-type: decimal;
	font-size: 10pt;
	color: #595959;
}

li.Listbullet_concept
{
	list-style: disc;
	list-style-type: disc;
	font-size: 10pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
	color: #595959;
	margin-right: 0px;
}

li.listbullet_1_concept
{
	list-style-type: disc;
	list-style: disc;
	margin-bottom: 0pt;
	margin-left: 20pt;
	margin-top: 5px;
	font-size: 10pt;
	color: #595959;
}

p.images
{
	border: none 1px #000000;
}

MadCap|dropDownBody.DropdownNoBorder
{
	border-bottom: none 0px;
}

td.Summary
{
	font-family: Arial;
	border-bottom-width: 0px;
	text-decoration: none;
	color: #0070c0;
	border-right-style: none;
	text-align: left;
	margin-left: 4px;
	margin-top: 2px;
	margin: 4px;
	font-size: 10pt;
	margin-bottom: 4px;
	border: none 1px #0070c0;
	margin-right: 2px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
	cursor: pointer;
	padding-left: 5px;
}

p.Heading_Process
{
	font-weight: bold;
	padding-left: 0px;
	font-size: 12pt;
}

p.Bodyparagraph_Process
{
	font-family: Arial;
	padding-left: 5px;
	padding-bottom: 0px;
	font-size: 10pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
	color: #595959;
	padding-right: 5px;
	margin-right: 0px;
}

p.Bodyparagraph_ProcessIndent
{
	font-family: Arial;
	padding-bottom: 0px;
	font-size: 10pt;
	padding-left: 28pt;
	margin-bottom: 1px;
	margin-top: 1px;
	color: #595959;
}

td.Color
{
	border: solid 1px;
	color: #808080;
	font-size: 14pt;
	font-family: Arial;
	font-weight: bold;
	border-bottom-color: #4169e1;
	border-color: #4169e1;
	padding: 6px;
	background-color: #add8e6;
}

div.displaynone
{
	display: none;
}

td.tablenormal
{
	color: #000000;
	font-family: Arial;
	text-indent: 5px;
	font-size: 11pt;
}

td.tableheading
{
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	font-size: 11pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom: solid 2px;
}

a.Image:active
{
	text-decoration: none;
}

td.uiactive
{
	color: #ffffff;
	font-family: Arial;
	background-color: #0070c0;
	font-size: 10pt;
	margin: 4px;
	padding-bottom: 10px;
	padding-top: 10px;
	border: none 0px;
	padding-left: 5px;
}

td.chevron_uiactive
{
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
	margin: 4px;
	padding-bottom: 10px;
	padding-top: 10px;
	border: none 0px;
	background-color: #4f81bd;
}

li.Procedure_Content
{
	list-style: decimal;
	list-style-type: decimal;
	font-size: 10pt;
	color: #0070c0;
	margin-bottom: 0pt;
	margin-top: 0pt;
}

div.ContentToc
{
	width: 250px;
	background-color: #f5f5f5;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d3d3d3;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	padding: 10px;
	padding-left: 10px;
	border: none;
	padding-right: 25px;
}

h1.concept
{
	background-repeat: repeat;
	border-top: solid 0px;
	font-weight: bold;
	margin: 0px;
	margin-right: -17px;
	padding-left: 20px;
	page-break-before: always;
	z-index: 6;
	background-image: none;
	font-family: Arial;
	font-style: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	color: #ffffff;
	border-bottom: solid 0px #ffffff;
	display: block;
	width: 100%;
	padding: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background-position: 1px;
	margin-left: -5px;
	text-indent: 10px;
	font-size: 18pt;
	background-color: #c94926;
}

p.TOC_content
{
	font-family: Arial;
	padding-left: 5px;
	padding-bottom: 0px;
	font-size: 10pt;
	color: #262626;
	margin-top: 0pt;
	text-indent: 1px;
	text-align: left;
}

img.FloatImage
{
	float: right;
	vertical-align: text-top;
	mc-thumbnail-max-width: 300px;
	mc-thumbnail-max-height: 100px;
	mc-thumbnail: popup;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: ;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: ;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: ;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #d3d3d3;
	border-bottom-color: #000000;
	border: solid 1px #696969;
	height: 150px;
	width: 200px;
}

p.caption_figure
{
	padding-bottom: 0px;
	font-size: 8pt;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin: 0;
	margin-bottom: 0px;
	padding-top: 0px;
	font-style: italic;
}

img.demo
{
	float: right;
	vertical-align: text-top;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: ;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: ;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: ;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #d3d3d3;
	border-bottom-color: #000000;
	border: solid 1px #696969;
	height: 150px;
	width: 200px;
	mc-thumbnail: none;
	mc-thumbnail-max-height: 0px;
	mc-thumbnail-max-width: 0px;
	padding-left: 2px;
}

h2.concept
{
	font-size: 11pt;
	border-bottom: solid 1px #696969;
	font-family: Arial;
	color: #c94926;
	margin-right: 330px;
}

h3.concept
{
	font-size: 10pt;
}

p.BodyParagraph
{
	margin-left: 0.3pt;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-bottom: 3pt;
	margin-top: 3pt;
}

.action_button_style
{
	font-weight: bold;
	border: dotted 2px #808080;
}

p.BodyParagraph_NoGlossary
{
	margin-left: 0.3pt;
	font-size: 10pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
	mc-disable-glossary-terms: true;
}

p.CompanyName
{
	mc-disable-glossary-terms: true;
}

p.Copyright
{
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
	font-size: 7pt;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
	mc-master-page: url('../MasterPages/Copyright.flmsp');
	border-top-style: solid;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	Clear: both;
	border-top-width: 1px;
	border-bottom-width: 1px;
	padding-bottom: 0px;
	padding-top: 0px;
}

p.CopyrightPage
{
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	font-family: 'Source Sans Pro';
	font-size: 8px;
}

p.Fastpath
{
	margin-bottom: 3pt;
	margin-top: 2pt;
	font-weight: bold;
	font-style: normal;
}

p.Home
{
	font-family: 'Source Sans Pro';
	font-size: 14px;
	text-align: right;
}

p.Header
{
	
}

p.Headings
{
	font-weight: bold;
	font-style: normal;
	margin-bottom: 6pt;
	margin-top: 12pt;
	mc-disable-glossary-terms: true;
	font-size: 10pt;
	font-family: Arial;
	margin-left: 25pt;
}

p.Headings1
{
	margin-left: 0.2pt;
	margin-bottom: 6pt;
	margin-top: 12pt;
	mc-disable-glossary-terms: true;
	font-style: normal;
	color: #000000;
	font-size: 19px;
	font-family: 'Source Sans Pro Light';
}

p.Image
{
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin: 0;
	border: none 0px #000000;
}

p.Listbullet
{
	margin-left: 0.3pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	list-style: disc;
	mc-disable-glossary-terms: true;
}

p.Listbullet1
{
	list-style: disc;
	margin-right: 0pt;
	margin-left: 20pt;
	mc-disable-glossary-terms: true;
}

p.Listbullet2
{
	margin-left: 36pt;
	list-style: disc;
}

p.SEEALSO
{
	
}

p.startpoint
{
	margin-bottom: 6pt;
	font-style: normal;
	margin-top: 16pt;
	mc-disable-glossary-terms: true;
	font-family: 'Source Sans Pro Light';
	font-size: 19px;
	font-weight: 300;
	color: #2f90f1;
}

p.Tab
{
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	margin-top: 20pt;
	margin-bottom: 6pt;
	color: #006598;
	mc-disable-glossary-terms: true;
}

p.tableheadingtext
{
	font-style: normal;
	mc-disable-glossary-terms: true;
	border-bottom-width: 0px;
	font-size: 14px;
	font-family: 'Source Sans Pro Semibold';
	margin-bottom: 3pt;
	margin-top: 3pt;
}

p.tablenormaltext
{
	border-bottom: solid 0px;
	border-bottom-width: 0px;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-bottom: 3pt;
	margin-top: 3pt;
}

li.BodyParagraph
{
	margin-right: 0in;
	font-family: Arial;
	margin-top: 5pt;
	margin-bottom: 5pt;
	text-align: Left;
	margin-left: 18.3pt;
	background: ;
	list-style-type: none;
	list-style-image: url('../Images/square1.png');
	font-size: 10pt;
}

li.BodyParagraphBold
{
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
	font-weight: bold;
	font-style: normal;
}

li.Listbullet
{
	text-align: justify;
	margin-right: 0in;
	color: #000000;
	list-style: disc;
	mc-disable-glossary-terms: true;
	list-style-type: disc;
	vertical-align: 0px;
	text-indent: 0px;
	margin-left: 12px;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-bottom: 4pt;
	margin-top: 4pt;
}

li.Listbullet1
{
	list-style: disc;
	margin-right: 0pt;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-bottom: 4pt;
	margin-top: 4pt;
	margin-left: 30px;
}

li.Listbullet2
{
	list-style: disc;
	margin-right: 0in;
	text-indent: 0in;
	height: 1px;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-left: 40px;
	margin-top: 8pt;
	margin-bottom: 15pt;
}

li.Procedure
{
	margin-right: 0in;
	list-style: decimal;
	margin-left: 0.3pt;
	mc-disable-glossary-terms: true;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-bottom: 6pt;
	margin-top: 6pt;
}

h1
{
	mc-next-tag: p;
	mc-page-type: odd;
	page-break-before: always;
	border-bottom-style: solid;
	margin-bottom: 24px;
	font-weight: bold;
	font-style: normal;
	margin-top: 25pt;
	border-bottom-width: 4px;
	font-family: 'Source Sans Pro';
	font-size: 21px;
	border-bottom-color: #73b1f1;
	border-top: solid 15px;
	border-top-color: #73b1f1;
	padding-top: 15px;
	border-top-width: 40px;
	padding-bottom: 5px;
}

h2
{
	page-break-before: always;
	mc-page-type: all;
	background-attachment: fixed;
	background-color: #ffffff;
	font-size: 16pt;
	margin-bottom: 16pt;
	font-weight: bold;
	font-style: normal;
	margin-top: 16pt;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	font-family: 'Source Sans Pro';
}

h3
{
	color: #000000;
	font-size: 12pt;
	page-break-before: always;
	margin-bottom: 8pt;
	margin-top: 16pt;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: 'Source Sans Pro';
}

MadCap|toggler
{
	font-style: normal;
	text-decoration: none;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 14px;
	color: #599fe7;
	mc-closed-image: url('../Images/plus_btn.png');
	mc-open-image: url('../Images/minus_btn.png');
}

img.Reports
{
	border: solid 1px #000000;
}

table.conceptTOC
{
	caption-side: top;
	margin-left: 0;
	margin-right: auto;
	background-color: #f5f5f5;
	margin-top: 10px;
	padding-bottom: 0px;
}

p.Bodyparagraph_Process_demo
{
	font-family: Arial;
	padding-left: 5px;
	padding-bottom: 0px;
	font-size: 10pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
	color: #595959;
	padding-right: 5px;
	margin-right: 225px;
}

li.listbullet1_con_out
{
	list-style-type: disc;
	list-style: disc;
	margin-bottom: 0pt;
	margin-left: 20pt;
	margin-top: 5px;
	font-size: 10pt;
	color: #595959;
	margin-right: 225px;
}

li.listbullet_con_out
{
	list-style: disc;
	list-style-type: disc;
	font-size: 10pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
	color: #595959;
	margin-right: 225px;
}

img
{
	border: none;
}

div.figure
{
	background-color: #eeeeee;
	margin: 10px;
	border: solid 1px #cccccc;
	padding: 10px;
	text-align: center;
}

img.imagewithcaption
{
	mc-disabled: false;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 300px;
	mc-thumbnail-max-height: 125px;
	padding-bottom: 0px;
}

h1.Con
{
	color: #d85430;
	font-family: Arial;
	border-bottom-style: none;
	font-size: 15pt;
	margin-bottom: 15px;
	margin-top: 10px;
	padding-bottom: 0px;
}

h2.Con
{
	color: #2b4257;
	font-weight: normal;
	font-family: Arial;
	border-bottom-style: solid;
	margin-right: 330px;
	margin-bottom: 15px;
	margin-top: 50px;
	font-size: 11pt;
	border-bottom-color: #e0e0e0;
}

p.BodyPara_Con
{
	color: #404040;
	margin: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 10pt;
	margin-right: 335px;
}

li.ListBullet_Con
{
	font-size: 10pt;
	margin-bottom: 6pt;
	margin-top: 6pt;
	color: #404040;
	list-style-type: disc;
	margin-right: 335px;
	margin-left: -24px;
}

li.ListBullet_Con1
{
	color: #404040;
	font-size: 10pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	list-style-type: disc;
	margin-right: 100px;
	margin-left: -10px;
}

p.tabletext_ConLable
{
	color: #7f7f7f;
	font-size: 10pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
}

p.TableText_ConValue
{
	color: #404040;
	font-size: 10pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
}

div.Con_Rules
{
	float: right;
	border: solid 1px #d3d3d3;
	border-top-color: #d85430;
	border-top-width: 2px;
	width: 270px;
	padding-top: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

p.BodyPara_Con_Rules
{
	margin: 0;
	margin-bottom: 2px;
	margin-top: 10px;
	font-size: 10pt;
	color: #dc3101;
}

img.FloatRight
{
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.BodyPara_Con_Leadline
{
	color: #2b4257;
	margin-top: 10pt;
	margin-bottom: 10pt;
	font-size: 11pt;
}

li.ListBullet_Con_Rules
{
	color: #404040;
	margin: 0px;
	font-size: 10pt;
	list-style-image: none;
	list-style-type: disc;
	list-style: disc;
	display: list-item;
	margin-left: -24px;
}

img.nav_image
{
	padding-left: 2px;
	padding-top: 0px;
	vertical-align: text-bottom;
	margin-top: 0px;
	margin-bottom: -2px;
}

MadCap|toggler.Con_demotoggler
{
	font-weight: normal;
	color: #0070c0;
	mc-closed-image: none;
	mc-open-image: none;
}

MadCap|dropDownHead.Con_dropdownHead
{
	color: #d85430;
	font-weight: normal;
	font-size: 11pt;
	font-family: Arial;
}

MadCap|dropDownHotspot.Con_dropdownHotspot
{
	color: #d85430;
	font-weight: normal;
	font-size: 11pt;
	font-family: Arial;
}

MadCap|dropDownHotspot.Con_dropdownHotspot:hover
{
	color: #d85430;
}

p.BodyPara_Con_NoLimit
{
	font-style: italic;
	margin-bottom: 8pt;
	margin: 0;
	font-size: 10pt;
	color: #6a6a6a;
}

img.play_image
{
	margin-bottom: -2px;
	vertical-align: bottom;
}

div.Con_Rules_OH
{
	float: right;
	border: solid 1px #d3d3d3;
	border-top-color: #d85430;
	border-top-width: 2px;
	padding: 15px;
	padding-top: 10px;
	position: fixed;
	right: 10px;
	overflow: hidden;
	width: 270px;
}

img.img_OH
{
	mc-disabled: false;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	mc-thumbnail: none;
	margin-right: 0px;
	width: 800px;
}

ol.OH
{
	margin-bottom: 0pt;
	margin-top: 0pt;
}

ol.procedure_OH
{
	margin-bottom: 0pt;
	margin-top: 0pt;
	margin-right: 375px;
}

p.BodyParagraph_OH
{
	margin-left: 0.3pt;
	font-size: 10pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
	margin-right: 375px;
}

div.scrollarea
{
	margin-right: 200px;
	margin-top: 5px;
	right: 0px;
	width: 80%;
}

td.chevron
{
	font-family: Arial;
	border-bottom-width: 0px;
	text-decoration: none;
	border-right-style: none;
	text-align: left;
	margin-left: 4px;
	margin-top: 2px;
	margin: 4px;
	font-size: 10pt;
	margin-bottom: 4px;
	margin-right: 2px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
	border: none 0px;
}

MadCap|dropDownHead.LN100DropDown
{
	mc-disabled: false;
	left: 1px;
	text-indent: 1px;
	font-size: 0.9em;
	margin-bottom: 0pt;
	margin: 0px;
	color: #73b1f1;
	font-weight: normal;
}

p.LN100BodyParagraph
{
	margin-left: 0.3pt;
	font-size: 10pt;
	margin: 0;
	margin-top: 0pt;
	margin-bottom: 5pt;
}

MadCap|dropDown.LN100
{
	margin-top: 6pt;
	mc-disabled: false;
	mc-closed-image: url('../Images/plus_btn.png');
	mc-open-image: url('../Images/minus_btn.png');
	font-size: 10pt;
	margin: 0px;
	margin-bottom: 0pt;
}

div.ui-statictab
{
	position: fixed;
	background: #fff;
	width: 97%;
}

.FloatLeft
{
	float: left !important;
}

div.Topmargin
{
	top: 0px;
	padding-top: 0px;
	margin-top: 120px;
}

li.NumList_Con
{
	color: #404040;
	margin-bottom: 6pt;
	margin-top: 6pt;
	list-style: decimal;
	font-size: 10pt;
	margin-right: 335px;
	margin-left: -22px;
}

h2.Con_IntroPage
{
	color: #2b4257;
	font-size: 11pt;
	font-weight: normal;
	border-bottom-color: #e0e0e0;
	font-family: Arial;
	margin: 0;
	margin-bottom: 15px;
	margin-top: 50px;
}

p.BodyPara_Con_NoMargin
{
	color: #404040;
	font-size: 10pt;
	margin: 0px;
	margin-bottom: 2px;
	margin-top: 2px;
}

html
{
	mc-master-page: url('../MasterPages/Process.flmsp');
}

html.Copyright
{
	mc-master-page: url('../MasterPages/Copyright.flmsp');
}

p.GlossaryPageTerm
{
	mc-disable-glossary-terms: true;
}

p.GlossaryPageDefinition
{
	mc-disable-glossary-terms: true;
}

html.topic
{
	mc-master-page: url('../MasterPages/NewPage.flmsp');
}

p.IntroBodyParagraph
{
	margin-left: 0.3pt;
	margin-bottom: 6pt;
	margin-top: 6pt;
	text-align: justify;
	font-family: 'Source Sans Pro';
	font-size: 14px;
}

p.tableFaq
{
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-bottom: solid 1px;
	border-bottom-color: #000000;
}

li.Procedure1
{
	margin-right: 0in;
	list-style: decimal;
	mc-disable-glossary-terms: true;
	list-style-type: lower-alpha;
	margin-left: 12pt;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-bottom: 6pt;
	margin-top: 6pt;
}

li.Procedure2
{
	margin-right: 0in;
	list-style: decimal;
	mc-disable-glossary-terms: true;
	list-style-type: lower-roman;
	margin-left: 22pt;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-bottom: 6pt;
	margin-top: 6pt;
}

p.FAQ
{
	font-style: normal;
	margin-top: 16pt;
	mc-disable-glossary-terms: true;
	font-family: 'Source Sans Pro Light';
	font-size: 19px;
	font-weight: 300;
	border-bottom: solid 1px;
	border-bottom-color: #808080;
	margin-bottom: 12pt;
	color: #2f90f1;
}

MadCap|slide
{
	
}

p.Note
{
	background-repeat: no-repeat;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	color: #000000;
	background-image: url('../../obdx/corporate/icons/noteicon.png');
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-radius: 0px;
	border-left: solid 2px;
	background-color: #ededed;
	font-size: 14px;
	border: solid 2px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-color: #1d6fc4;
	mc-auto-number-format: '{b}{color #1D6FC4}Note: {/color}{/b}';
	font-family: 'Source Sans Pro';
}

p.NoteIcon
{
	background-repeat: no-repeat;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	color: #000000;
	background-image: url('../../obdx/corporate/icons/noteicon.png');
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-radius: 0px;
	border-left: solid 2px;
	background-color: #ededed;
	font-size: 14px;
	font-family: 'Source Sans Pro';
	border: solid 2px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-color: #1d6fc4;
	mc-auto-number-format: '{b}{color #1D6FC4}Note: {/color}{/b}';
}

MadCap|dropDownHotspot:focus
{
	font-weight: normal;
	font-family: 'Source Sans Pro';
}

MadCap|toggler:focus
{
	color: #2f90f1;
}

MadCap|toggler:hover
{
	color: #2f90f1;
}

li.Procedure3
{
	margin-right: 0in;
	list-style: decimal;
	mc-disable-glossary-terms: true;
	list-style-type: lower-roman;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	margin-left: 40pt;
	margin-bottom: 6pt;
	margin-top: 6pt;
}

p.Homepage
{
	margin-left: 0.3pt;
	font-weight: normal;
	font-family: 'Source Sans Pro Semibold';
	text-align: right;
	margin-bottom: 10pt;
	margin-top: 10pt;
	vertical-align: 12px;
	padding-bottom: 12px;
	padding-top: 12px;
	font-size: 24px;
}

p.Note
{
	background-repeat: no-repeat;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	color: #000000;
	background-image: url('../../obdx/corporate/icons/noteicon.png');
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-radius: 0px;
	border-left: solid 2px;
	background-color: #ededed;
	font-size: 11pt;
	font-family: 'Calibri Light';
	border: solid 2px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-color: #1d6fc4;
	mc-auto-number-format: '{b}{color #1D6FC4}Note: {/color}{/b}';
}

