.applications {
  &__links {
    padding-top: 2rem;
  }

  .card {
    border-top: 0;
    @include single-border(left,0rem);
    @include single-border(right,0rem);

    .track {
      .tracker {
        .link {
          color: var(--base-text-primary);
        }
      }
    }
  }
}
