<div class="oj-flex typography">
    <div class="oj-flex oj-sm-12 oj-flex-items-pad ">
        <div class="oj-flex-item oj-sm-9">
            <oj-label>
                <span data-bind="text:$component.resourceBundle.color"></span>
            </oj-label>
        </div>
        <div class="oj-flex-item oj-sm-3">
            <a href="#" class="colorBox" data-bind="click:$component.showPaleteBox,style:{'background-color':$component.bindvariable[$component.parameters.color]}"></a>
        </div>
    </div>
    <div class="oj-flex oj-sm-12 oj-flex-items-pad ">
        <div class="oj-flex-item oj-sm-6">
            <oj-label>
                <span data-bind="text:$component.resourceBundle.size"></span>
            </oj-label>
        </div>
        <div class="oj-flex-item oj-sm-6">
            <oj-input-number disabled="[[$component.readOnly]]" max=15 min=0 step="0.1" value="{{$component.bindvariable[$component.parameters.size]}}" converter="[[{type:'number',options:{style: 'decimal',pattern: '#.#rem'}}]]">
            </oj-input-number>
        </div>
    </div>
    <div class="oj-flex oj-sm-12 oj-flex-items-pad ">
        <div class="oj-flex-item oj-sm-6">
            <oj-label>
                <span data-bind="text:$component.resourceBundle.weight"></span>
            </oj-label>
        </div>
        <div class="oj-flex-item oj-sm-6">        
            <oj-select-one disabled="[[$component.readOnly]]" value="{{$component.bindvariable[$component.parameters.weight]}}" :placeholder="[[$component.resourceBundle.fontWeight]]">
                <oj-option value="300">
                    <span data-bind="text:$component.resourceBundle.light"></span>
                </oj-option>
                <oj-option value="400">
                    <span data-bind="text:$component.resourceBundle.regular"></span>
                </oj-option>
                <oj-option value="700">
                    <span data-bind="text:$component.resourceBundle.bold"></span>
                </oj-option>
            </oj-select-one>        
        </div>
    </div>
</div>
<div data-bind="component:{name:'modal-window',params:{baseModel : $baseModel, rootModel : $component,id:$component.modalWindowId(),header:$component.resourceBundle.labels.pickColor}}">
    <div class="form-main-container message-text">
        <div data-bind="component:{name:'color-picker',params:{color:$component.colorValue,selectedColors:$component.selectedColors}}"></div>
        <div class="oj-flex oj-flex-items-pad button-container">
            <oj-button class="action-button-primary" on-click="[[$component.saveSelectedColor.bind($data)]]">
                <span data-bind="text:resourceBundle.generic.common.done"></span>
            </oj-button>
            <oj-button class="action-button-secondary" on-click="[[$component.hideColorPalete]]">
                <span data-bind="text:$component.resourceBundle.generic.common.cancel"></span>
            </oj-button>
        </div>
    </div>
</div>