@import "utils";
$payee-name-color:var(--base-color-secondary);
$payee-name-size:1rem;
$payee-name-size-small:1rem;
.payee-sub-list{
	.payee-account{
		&-name{
			font-size: $payee-name-size;
			color: $payee-name-color;
			position:relative;
			padding:0.3rem;
			margin-bottom: 0.6rem;
			@include mq(small){
				font-size: $payee-name-size-small;
			}
		}
		&-icon{
			height:2.5rem;
			display:inline-block;
			img{
				height:2.5rem;
				width:2.5rem;
			}
		}
	}
}
