@mixin btn-variant($color, $start,$end,$direction, $border,$width,$radius,$fontsize,$fontweight) {
  &.oj-default,
  &.oj-focus,
  &.oj-selected {
    .oj-button-button {
      border-color: $border;
      background: linear-gradient(to $direction, $start, $end);
      color: $color;
      border-style: solid;
      border-width: $width;
      border-radius: $radius;
      font-size: $fontsize;
      font-weight: $fontweight;
      .oj-button-icon {
        color: $color;
        font-size: $fontsize;
        font-weight: $fontweight;
      }
      .oj-button-icon:not([class^="oj-button-"]) {
        margin-top: 0.3rem;
      }
    }
  }

  &.oj-disabled {
    .oj-button-button {
      border-color: var(--disabledinput-foreground-color);
      background: linear-gradient(to var(--disabledinput-gradient-direction), var(--disabledinput-gradient-start-color), var(--disabledinput-gradient-end-color));
      color: var(--disabledinput-foreground-color);
      border-style: solid;
      border-width: $width;
      border-radius: $radius;
      font-size: $fontsize;
      font-weight: $fontweight;

      .oj-button-icon {
        color: var(--disabledinput-foreground-color);
        font-size: $fontsize;
        font-weight: $fontweight;
      }
      .oj-button-icon:not([class^="oj-button-"]) {
        margin-top: 0.3rem;
      }
    }
  }

  &.oj-hover,
  &.oj-selected {
    .oj-button-button {
      background: linear-gradient(to $direction, $start, $end);
      color: $color;
      border-style: solid;
      border-width: $width;
      border-radius: $radius;
      font-size: $fontsize;
      font-weight: $fontweight;
      .oj-button-icon {
        color: $color;
        font-size: $fontsize;
        font-weight: $fontweight;
      }
      .oj-button-icon:not([class^="oj-button-"]) {
        margin-top: 0.3rem;
      }
    }
  }
}
@mixin form-btn-variant($color, $background, $border) {
  &.oj-default,
  &.oj-focus {
    .oj-button-button {
      background: $background;
      border-color: $border;
      color: $color;
      border-style: none;
    }
  }

  &.oj-hover {
    .oj-button-button {
      background: $background;
      color: $color;
      border-style: none;
    }
  }

  &:link,
  &:visited {
    .oj-button-button {
      border-color: $border;
      background: $background;
      color: $color;
      border-style: none;
    }
  }
}
@mixin btnset-variant($color, $background, $border) {
  border-color: $border !important;
  background: $background;

  label {
    color: $color;
  }

  &.oj-hover {
    background: $background;
    border-color: $border;
    opacity: 0.9;

    label {
      color: $color;
    }
  }

  .count {
    color: $color;
  }
}
@mixin button-shadow {
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.7);
}
