@mixin placeholder($color) {
    input:focus::-webkit-input-placeholder {
        color: $color;
    }
    input:focus::-moz-placeholder {
        color: $color;
    }
    input:focus:-ms-input-placeholder {
        color: $color;
    }
    input::placeholder {
        color: $color;
    }
}