.bill-payments {
	background: var(--base-background-primary);
	.category-list {
		padding-top: 1rem;
	}
	.edit-category {
		&__text {
			@include single-padding(right,1rem);
		}
		&__icon{
			position:relative;
			top:0.2rem;
		}
	}

    .input-date-width {
        min-width : 10em !important;
    }

}
.iconStyling {
    font-size: 1.1rem;
    position: relative;
    top: 0.1rem;
    color: var(--link-base);
}
.sample-bill {
	width: 100%;
}
