.goal-data-card {
    &__goalData {
        padding-bottom: 0.6rem;
    }

    .goalData {
        &__goalInfo {}
        &__icon{
          padding:0.6rem 0;
          @include text-align(right);
          font-size:1.4rem;
        }
        &-icon{
          &__link{

          }

        }
        .goalInfo {
            &__image {
                display: inline-block;
                @include float(left);
                position:relative;
                top:0.2rem;
@include right(0.6rem)
            }

            &__goalName {
                
                
                padding: 0.9rem 0;
            }
        }

        .image {
            &__highlight {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    &__goalAmount {
        padding: 0.3rem 0.6rem;
        margin-bottom: 0.6rem;
    }
    .details {
        &__label {
            color: var(--base-color-secondary);;
            font-size: 1.1rem;
        }
    }
}
.tooltip {
	visibility: inherit;

	&__table {
		border-collapse:separate;
		border-spacing:0.1rem;

		&__body {
			font-size:0.8rem;
		}

		&__row {
			font-size:0.9rem;
		}
	}
}
