.chart-size {
    height: 4rem;
}

.legendSection {
    margin: auto;
}

.legend-height {
    height: 2.3rem;
}

.height-panel {
    height: 9.35rem;
}

.heading {
    margin: 0.6rem 0;
    font-weight: var(--base-font-weight-regular);
    font-size: var(--base-font-size-larger);
}