.service-request-approval-view {
  .build-form {
    border: 0.02rem solid var(--base-border-default);
    overflow-y: auto;
  }
  .demo-panel-customizations {
    width: 23.8rem;
    height: 17.2rem;
    margin: 2.9rem;
  }
  .upload-font-size {
    font-size: 2.8rem;
    padding: 1.1rem 0;
  }
}