$offers-name-gold-color: rgb(229, 205, 0);
$offers-name-text-color: rgb(47, 50, 53);
$details-header-color: rgba(47, 50, 3, 1);
$details-text-color: #3B3E40;
$features-header-color: rgb(87, 107, 136);
$loan-offers-border-color: rgba(179, 200, 222, 1);
$loan-offers-name-color: rgba(87, 107, 136, 1);
$loan-offers-border-color-active: rgba(0, 138, 255, 1);
$letter-spacing-25: 0;
$savings-color: rgb(90, 164, 49);
$checking-color: rgb(0, 136, 174);
$td-color: rgb(82, 73, 136);
$credit-card-color: rgb(230, 122, 94);
.offers {
    .desc {
        border: 0.05rem solid var(--base-border-default);
        cursor: pointer;
        background: var(--base-background-tertiary);
        font-size: 0.9rem;
        color: var(--base-text-secondary);
        margin-bottom: 0.9rem;
        padding: 0.6rem;
        overflow: hidden;
    }
    ul {
        @include single-padding(left, 0.4rem);
    }
}

.offers-insurance-container {
    .offers {
        padding: 0;
    }
}

.form-main-container {
    .offer-container {
        background: var(--base-background-primary);
        max-width: 79.4rem;
        margin: 0 auto;
        max-width: 75rem;
        padding-top: 3.8rem;
        margin-bottom: 2.5rem;
        padding-bottom: 1.9rem;
        @include mq(small) {
            @include single-padding(left, 1.1rem);
            @include single-padding(right, 1.1rem);
            padding-top: 1.3rem;
        }
        @include mq(medium) {
            @include single-padding(left, 2.2rem);
            @include single-padding(right, 2.2rem);
            padding-top: 1.6rem;
            @include single-margin(left, 1.6rem);
            @include single-margin(right, 1.6rem);
        }
        .offer-pg-title {
            font-size: 1.8rem;
            font-weight: var(--base-font-weight-bold);
            margin-bottom: 2.5rem;
            letter-spacing: 0.1rem;
            word-spacing: 0.2rem;
            color: var(--base-text-secondary);
            margin-bottom: 2.5rem;
            @include single-margin(left, 2.8rem);
            @include mq(small) {
                font-size: 1rem;
                @include single-padding(left, 0.6rem);
                @include single-padding(right, 0.6rem);
                margin-bottom: 0.9rem;
                @include single-margin(left, 0);
                text-align: center;
            }
            @include mq(medium) {
                font-size: 1.1rem;
                margin-bottom: 1.3rem;
            }
        }
        @include mq(small) {
            @include single-margin(left, 1.3rem);
            @include single-margin(right, 1.3rem);
        }
    }
}

.offers {
    ul li {
        list-style-type: none;
    }
    &-heading {
        color: var(--base-color-primary);
        font-weight: var(--base-font-weight-bold);
    }
    &-desc {
        color: var(--base-color-primary);
    }
    &-id {
        color: var(--base-color-primary);
        font-weight: var(--base-font-weight-bold);
    }
    .offer-image-position {
        @include mq(small) {
            position: relative;
            z-index: 2;
        }
        ;
    }
    .offers-name {
        max-width: 17.5rem;
        @include single-margin(left, 2.4rem);
        font-weight: 600;
        margin-top: 3.1rem;
        @include mq(medium) {
            max-width: 10.6rem;
            @include single-margin(left, 1.3rem);
            margin-top: 1.3rem;
        }
        .offers-name-gold {
            font-size: 2.5rem;
            color: $offers-name-gold-color;
            @include mq(small) {
                font-size: 2.2rem;
            }
            @include mq(medium) {
                font-size: 1.9rem;
            }
        }
        .offers-name-text {
            font-size: 1.5rem;
            color: $offers-name-text-color;
            @include mq(small) {
                font-size: 1.3rem;
            }
            @include mq(medium) {
                font-size: 1rem;
            }
        }
        @include mq(small) {
            @include single-margin(left, 0);
            margin-top: 0;
        }
    }
    .offer-name-details {
        margin-top: 1.1rem;
        margin-bottom: 1.9rem;
        .offers-name-gold {
            font-size: 1.9rem;
            color: $offers-name-gold-color;
        }
        .offers-name-text {
            font-size: 1.4rem;
            color: $offers-name-text-color;
            @include single-margin(left, 0.6rem);
        }
    }
    .offer-details {
        .left-col {
            @include single-margin(left, 3.1rem);
            @include mq(small) {
                @include single-margin(left, 0);
            }
            @include mq(medium) {
                @include single-margin(left, 2.5rem);
            }
        }
        .right-col {
            @include single-margin(left, 0);
            @include mq(small) {
                @include single-margin(left, 0);
            }
            @include mq(medium) {
                @include single-margin(left, 0.6rem);
            }
            a {
                @include single-margin(left, 17.8rem);
            }
        }
        .details-header-front {
            font-weight: 600;
            color: $details-header-color;
            margin-top: 3.1rem;
            @include single-margin(left, 1.7rem);
            margin-bottom: 0.9rem;
            font-size: 1.5rem;
            @include mq(small) {
                margin-top: 0.6rem;
                font-size: 1.4rem;
                text-align: center;
                @include single-margin(left, 0);
            }
            @include mq(medium) {
                margin-top: 1.6rem;
                @include single-margin(left, 1.9rem);
                font-size: 1.5rem;
                margin-bottom: 0.6rem;
            }
        }
        .details-header-back {
            font-weight: 600;
            color: $details-header-color;
            margin-top: 1.3rem;
            @include single-margin(left, 2.2rem);
            margin-bottom: 0.9rem;
            font-size: 1.9rem;
            @include mq(small) {
                margin-top: 0.6rem;
                @include single-margin(left, 0);
                font-size: 1.3rem;
            }
            @include mq(medium) {
                margin-top: 0.9rem;
                @include single-margin(left, 2.5rem);
                font-size: 1.5rem;
                margin-bottom: 0.6rem;
            }
        }
        .details-text {
            color: var(--base-text-secondary);
            margin-bottom: 0;
            margin-top: 0.8rem;
            min-height: 1.9rem;
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            @include mq(small) {
                margin-top: 0.6rem;
                font-size: 0.8rem;
            }
            @include mq(medium) {
                margin-top: 0.4rem;
                font-size: 0.9rem;
                @include single-margin(left, 0.6rem);
            }
        }
        .details-text-value {
            margin-bottom: 0;
            margin-top: 0.8rem;
            min-height: 1.9rem;
            display: flex;
            align-items: center;
            font-size: 1rem;
            @include single-padding(left, 0.6rem !important);
            @include mq(small) {
                margin-top: 0.6rem;
                @include single-padding(left, 1.3rem);
                font-size: 0.9rem;
            }
            @include mq(medium) {
                margin-top: 0.4rem;
                @include single-padding(left, 1.3rem !important);
                font-size: 1rem;
            }
        }
        .facilities {
            @include mq(medium) {
                @include single-margin(left, 1.3rem);
            }
            ;
            .facilities-text {
                @include mq(medium) {
                    @include single-padding(left, 1.3rem !important);
                }
                ;
            }
            .facilities-values {
                @include mq(medium) {
                    @include single-padding(left, 1.9rem !important);
                }
                ;
                li {
                    display: list-item;
                    list-style-type: disc;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .features-text {
            color: $details-text-color;
            margin-bottom: 0;
            margin-top: 0.8rem;
            @include single-margin(left, 2.5rem);
            font-size: 0.9rem;
            @include mq(small) {
                margin-top: 0.6rem;
                @include single-margin(left, 0);
                font-size: 0.8rem;
            }
            @include mq(medium) {
                margin-top: 0.4rem;
                @include single-margin(left, 1.3rem);
                font-size: 0.8rem;
            }
        }
    }
    .offers-image {
        z-index: 2;
        position: absolute;
        @include single-margin(left, 3.4rem);
        margin-bottom: 2.5rem;
        @include mq(medium) {
            @include single-margin(left, 0);
        }
        @include mq(small) {
            margin-bottom: 0;
            position: initial;
            @include single-margin(left, 0);
        }
        .offers-strip-image {
            max-width: 15rem;
            max-height: 15rem;
            @include mq(small) {
                max-height: 8.1rem;
                max-width: 8.1rem;
            }
            ;
            @include mq(medium) {
                max-height: 10.6rem;
                max-width: 11.9rem;
            }
            ;
        }
    }
    .image-space {
        width: 17.6rem;
        height: 11.9rem;
        @include mq(small) {
            max-height: 6.9rem;
            max-width: 8.1rem;
        }
        @include mq(medium) {
            max-height: 10.6rem;
            max-width: 10.6rem;
            height: 8.8rem;
        }
    }
    .apply-text {
        margin-top: 2.8rem;
        margin-bottom: 2.5rem;
        color: var(--base-color-primary);
        font-size: 0.8rem;
        @include mq(small) {
            margin-top: 0;
            margin-bottom: 1.3rem;
        }
        @include mq(medium) {
            margin-top: 1.9rem;
            margin-bottom: 1.6rem;
        }
    }
    .offer-seperator {
        margin-top: 1.3rem;
        @include mq(small) {
            margin-top: 0.6rem;
        }
        @include mq(medium) {
            @include single-margin(left, 1.6rem);
        }
    }
    .more-details {
        margin-top: 0.3rem;
        margin-bottom: 1.3rem;
        @include mq(small) {
            margin-bottom: 0;
        }
        @include mq(medium) {
            margin-bottom: 0;
        }
        &.icon-more {
            height: 0.3rem;
        }
    }
    .more-details-hover {
        cursor: pointer;
        &.icon-more {
            @include mq(large) {
                height: 0.3rem;
            }
            ;
        }
    }
    .offers-button {
        margin-bottom: 1.3rem;
        margin-top: 3.1rem;
        @include mq(medium) {
            margin-top: 1.9rem;
        }
        @include mq(small) {
            margin-top: 0;
        }
        .savingsColor {
            background: $savings-color!important;
            border-color: $savings-color!important;
        }
        .checkingColor {
            background: $checking-color!important;
            border-color: $checking-color!important;
        }
        .tdColor {
            background: $td-color!important;
            border-color: $td-color!important;
        }
        .creditCardColor {
            background: $credit-card-color!important;
            border-color: $credit-card-color!important;
        }
        .form-button-primary {
            @include mq(small) {
                max-width: 55%;
            }
            @include mq(medium) {
                height: 2.5rem;
                padding: 0 0.9rem;
                font-size: 0.8rem;
            }
        }
    }
}

.loan-offers {
    &.offers-card {
        @include single-padding(left, 2.5rem);
        @include single-padding(right, 2.5rem);
        margin-bottom: 0.5rem;
    }
    .desc {
        border: 0.05rem solid $loan-offers-border-color;
        box-sizing: border-box;
        background-color: var(--color-white);
        cursor: pointer;
        margin-bottom: 0.9rem;
        @include padding(1.1rem, 0, 1.1rem, 1.3rem);
        border-radius: 0.3rem;
    }
    &.selected {
        border: 0.2rem solid $loan-offers-border-color-active;
        .done-icon {
            @include float(right);
            display: block;
            color: var(--base-color-primary);
            margin-top: -1.4rem;
            @include single-padding(right, 0);
        }
    }
    .done-icon {
        font-size: 0;
    }
    .loan-offers-images {
        .icon-success {
            font-size: 0;
            @include single-padding(right, 0);
            padding-bottom: 7.4rem;
        }
        .offers-name {
            font-size: 1rem;
            font-weight: var(--base-font-weight-bold);
            color: var(--color-white);
            align-items: center;
            display: flex;
            .margin-auto {
                margin: auto;
            }
        }
    }
    .offers-image {
        height: 8.8rem;
        margin-bottom: 0.3rem;
        background-repeat: no-repeat;
    }
    .loan-offers-panel {
        max-width: 18rem;
    }
}

.padding-bottom-20 {
    padding-bottom: 1.3rem;
}