$gold-card-bg: #D4af37;
$platinum-card-bg: #43515a;
$rewards-card-bg: #1272ae;
$silver-card-bg: #c0c0c0;

.debit-card {
  max-width: 17rem;
  @include mq(small) {
    margin: 0 auto;
  }

  &-header {
    &__title {
      font-weight: var(--base-font-weight-bold);
    }
  }

  a {
    color: var(--base-text-primary);

    &.gold {
      .wave {
        background: $gold-card-bg;
      }
    }

    &.platinum {
      color: var(--color-white);

      .wave {
        background: $platinum-card-bg;
      }
    }

    &.rewards {
      color: var(--color-white);

      .wave {
        background: $rewards-card-bg;
      }
    }

    &.silver {
      color: var(--base-text-primary);

      .wave {
        background: $silver-card-bg;
      }
    }
  }

  &-container {
    height: 100%;
  }

  &-number {
    text-align: center;
    font-size: var(--base-font-size-large);
    padding: 1.5rem 0;
    font-weight: var(--base-font-weight-bold);

    &__number:nth-child(3):after {
      content: ' ';
    }
  }

  &-validity {
    &__label {
      font-size: var(--base-font-size-small);
    }

    &__value {
      text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.5);
      font-size: var(--base-font-size-large);
    }
  }

  &-holder-name {
    text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.5);
    font-size: var(--base-font-size-large);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  .wave {
    display: block;
    height: 18.8rem;
    width: 18.8rem;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .wave:after,
  .wave:before {
    content: "";
    position: absolute;
    background: var(--base-background-primary);
    background: linear-gradient(to bottom, rgba(255,255,255,.125) 0%, rgba(255,255,255,.3) 100%);
    border-radius: 50% 50%;
  }

  .wave:after {
    height: 18.8rem;
    width: 18.8rem;
    @include left(30%) top: 20%;
    opacity: 0.8;
  }

  .wave:before {
    height: 22.5rem;
    width: 22.5rem;
    @include left(-5%) top: -70%;
  }

  &-links {
    a {
      color: var(--link-base);
    }
    max-width: 17rem;
    padding: 0.6rem 0 0;
    background: var(--base-background-primary);
    height: 2.6rem;
    position: relative;
    top: -1.2rem;
    @include border-radius(0, 0, 0.4rem, 0.4rem);
    border: 0.05rem solid var(--base-border-default);
  }

  &-details {
    &__seperator {}

    &__switch {}

    &__status {
      padding: 0 0.6rem;
    }
  }

  &-limit {
    &-header {
      @include text-align(left !important);
    }

    &__limitsTable {
      @include single-margin(left,0.4rem);
    }

    &-limitsTable {
      &__amount {
        @include text-align(right !important);
        @include single-padding(right,1.6rem !important);
      }
    }

    &__limitTypeInput {
      padding-top: 1.3rem !important;
    }

    &__countInput {
      width: 75% !important;
    }

    &_limitTypeInput {
      padding-bottom: 0.3rem !important;
    }

    &__amountInput {
      @include text-align(right);
      @include single-padding(top,-1.6rem !important);
    }

    &__limitText {
      padding: 0.3rem 0;
    }

    ul {
      li {
        @include single-padding(left,0);
      }
    }
  }

  .message-text {
    color: var(--base-text-primary);
  }
}
