@import "utils";
$goals: #3caf85;
$goals-bg: rgba($goals, .1);
.goals-card {
  background: $goals-bg;
  height: 8.1rem;
  @include mq(small) {
    height: auto;
  }
  @include mq(medium) {
    height: auto;
  }
  &-contents {
    padding-bottom: 0.6rem;
    &-count {
      font-size: var(--base-font-size-larger);
      @include single-padding(right, 0.3rem);
    }
    &-title {
      font-weight: var(--base-font-weight-regular);
      margin: 0.6rem 0;
    }
    &-link {
      font-size: var(--base-font-size-default);
      padding: 0.6rem;
    }
  }
  img {
    height: 4.7rem;
    width: 4.7rem;
  }
}
