.batch-approvals {
    background: var(--base-background-tertiary);
    border: 0.05rem solid var(--base-border-default);
    &.button-container {
        padding: 0;
        position: relative;
    }
    &__dialog {
        @include mq(large) {
            width: 40.6rem;
        }
    }
    &__approver-status{
      padding: 1.1rem;
      width: 98%;
      margin: 0.6rem auto;
      float: none;
    }
    &-approver-status{
      &__approved {
          color: var(--color-white); 
          background: var(--base-color-success);
          border: 0.05rem solid var(--base-color-success);
      }
      &__rejected {
          color: var(--color-white);
          background: var(--base-color-danger); 
          border: 0.05rem solid var(--base-color-danger);
      }
      &__icon{
          
          @include float(right);
          color: var(--base-text-secondary);
          text-shadow: 0 0.1rem 0 var(--color-white);
          filter: alpha(opacity=20);
          opacity: 0.5;
      }
    }
}
