$short-name-font-size:1.1rem;
.about {
    @include padding(0.6rem, 0, 1.3rem, 3.8rem);
    color: var(--base-text-primary);
    font-size: var(--base-font-size-default);
    @include mq(small) {
        padding: 0.6rem;
    }
    &__product {}
    &__row {
        padding: 0.6rem 1.3rem 0;
    }
    &__footer {
        font-size: var(--base-font-size-default);
    }
    &-product {
        &__logo {
            height: calc(#{var(--form-line-height)} - 0.4rem);
            img {
                height: 100%;
            }
        }
        &__short-name {
            font-size: $short-name-font-size;
            font-weight: var(--base-font-weight-light);
            margin: 0;
        }
        &__fullname {}
    }
    &-row {
        &__label {
            font-size: var(--base-font-size-default);
        }
    }
    &-footer {
        margin-top: 2.5rem;
        &__row {}
        &-row {
            &__label {
                font-size: var(--base-font-size-default);
            }
            &__logo {
                img {
                    height: calc(#{var(--form-line-height)} - 1.1rem);
                    @include padding(0, 0, 0rem, 0.3rem);
                    vertical-align: middle;
                    width: auto;
                }
            }
        }
        &__copyright {}
        &-copyright {
            &__text {
                font-size: var(--base-font-size-default);
            }
        }
    }
}