.title-bold {
  font-weight: var(--base-font-weight-bold);
}

.virtual-account-bar {
  background: linear-gradient(to var(--banner-gradient-direction), var(--banner-gradient-start-color), var(--banner-gradient-end-color));
  color: var(--banner-foreground-color);
  font-size: var(--banner-font-size);
  font-weight: var(--banner-font-weight);
  padding: var(--banner-padding);
  align-items: center;
}

.spacing-table {
  padding-top: 2.5rem;
}

.header-underline {
  border-bottom: 0.0625rem solid var(--base-border-default);
}

.search-entity-container {
  padding-top: 0.625rem;
}