.batch-approvals {
  background: var(--base-background-tertiary);
  border: 0.05rem solid var(--base-border-default);

  &.button-container {
    padding: 0.3rem 0.6rem;
    margin: 0;
    position: relative;
    @include mq(small) {
      padding: 1.3rem 0 !important;
      top: 0;
    }
  }

  &__dialog {
    @include mq(large) {
      width: 40.6rem;
    }
  }

  &__approver-status {
    padding: 1.1rem;
    width: 98%;
    margin: 0.6rem auto;
    float: none;
  }

  &-approver-status {
    &__approved {
      background: var(--base-color-success-light);
      @include single-border(left, 0.4rem solid var(--base-color-success));
      margin: 0.9rem 0;
      padding: 0.6rem 0.3rem;
      @include mq(small) {
        padding: 0.6rem 0;
      }
    }

    &__rejected {
      background: var(--base-color-danger-light);
      @include single-border(left, 0.4rem solid var(--base-color-danger));
      margin: 0.9rem 0;
      padding: 0.6rem 0.3rem;
      @include mq(small) {
        padding: 0.6rem 0;
      }
    }

    &__icon {
      @include float(right);
      color: var(--base-text-secondary);
      text-shadow: 0 0.1rem 0 var(--color-white);
      filter: alpha(opacity=20);
      opacity: 0.5;
    }
  }
}
