$admin-action-card-height: 9.4rem;
$admin-action-card-desc-color: var(--base-text-secondary);
$admin-action-card-desc-size: var(--base-font-size-default);

.admin-action-card {
	height: $admin-action-card-height;
	cursor: pointer;

	&__title {
		font-size: var(--base-font-size-larger);
		text-align: center;
		//margin: 4.4rem 0 0;
		//letter-spacing: 0.1rem;
		padding: 0.6rem 0;
		margin:0;
		font-weight: var(--base-font-weight-regular);
	}

	&__desciption {
		font-size: $admin-action-card-desc-size;
		color: $admin-action-card-desc-color;
	}

	&__icon {
		//position: absolute;
		//@include right(40%);
		padding-top:0.6rem;
		height: 4rem;
		width: 100%;
		text-align: center;
		//top: 0.9rem;
	}
}
