$icon-color: #c35409;
$count-color: #fff;

.entitySummary {
  max-height: 27rem;
  padding: 0;

  &__links {
    justify-content: center;
    align-items: center;
    height: calc(var(--form-line-height) + .5rem);
    line-height: calc(var(--form-line-height) + .5rem);
    border-top: 0.05rem solid var(--base-border-default);
    top: 0.8rem;
    position: relative;

    &:not(:last-child) {
      @include single-border(right, 0.05rem solid var(--base-border-default));
      @include single-padding(bottom, .5rem);
    }
  }

  &__table {
    height: 22.2rem;
  }

  &__iconStyle {
    color: $icon-color;
    padding: 0.125rem;
  }
}

.noData {
  padding-bottom: 0.5rem;
  height: -webkit-fill-available;
  height: -moz-fill-available;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 10rem;
      width: 100%;
    }
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--base-font-size-larger);
}

.subText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.widgetSummary {
  font-size: var(--base-font-size-default);
  color: var(--base-text-secondary);
}

.table-header-style {
  line-height: normal;
  word-wrap: break-word;
  white-space: normal;
}

.bottom-links {
  position: absolute;
  bottom: 0;
  @include single-padding(bottom, 0.80rem);
}

.paddingClass {
  @include single-padding(right,0.625rem);
  @include single-padding(left,0.625rem);
}


.count {
  background: var(--nav-hover-border-color);
  color:$count-color;
  display: inline-block;
  padding: .2rem .3rem;
  font-size: var(--base-font-size-small);
  margin: .1rem 0;
  text-align: center;
  border-radius: .25rem;
  font-weight: var(--base-font-weight-light);
}