.auditLog {

	.redtext {
        color: var(--base-color-danger);
	}
	.greentext {
        color: var(--base-color-success);
	}
	.arrow{
		color: var(--link-base);
		font-size: 0.9rem;
	}
	.windowleft{
		@include single-padding(left,2.2rem);
	}
	.windowtop{
		margin-top:1.3rem;
	}
	.selectdropdown{
		max-width:20em;
	}
}
.form-button-link {
            box-shadow: none;
            border: 0;
            padding: 0;
            height: auto;
        }
