.device-unbinding {
  .top-bottom-border {
    border-bottom: 0.05rem solid rgba(44, 50, 81, 0.1);
    border-top: 0.05rem solid rgba(44, 50, 81, 0.1);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  h3{
    padding-bottom: 1rem;
  }
  .note {
    color: rgba(44, 50, 81, 0.8);
  }
}
