
.mailbox-controls {
    &__icons {
        font-size: 1.3rem;
        color: var(--base-text-primary);
        border: 0.05rem solid var(--base-border-default);
        border-radius: 0.2rem;
        display: inline-flex;
        justify-content: center;
        height: var(--form-line-height);
        line-height: var(--form-line-height);
        cursor: pointer;
        width: 2.5rem;
        &:hover {
          opacity: 0.9;
        }
        &.disabled {
            opacity: 0.5;
        }
    }
    &-table-content {
        &__unread {
            font-weight: var(--base-font-weight-bold);
        }
        &__read {
            font-weight: var(--base-font-weight-regular);
        }
    }
}
