<div class="oj-flex oj-flex-items-pad ">
    <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-3 oj-md-offset-1 oj-lg-offset-2">
        <oj-label><span data-bind="text:resource.incomeType"></span></oj-label>
    </div>
    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item padding-top-5 label">
        <span data-bind="text : data.temp_selectedValues().type"></span>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad ">
    <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-3 oj-md-offset-1 oj-lg-offset-2">
        <oj-label><span data-bind="text:resource.incomeGross"></span></oj-label>
    </div>
    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item padding-top-5 label">
        <span data-bind="text : $formatter.formatCurrency(data.grossAmount.amount(),data.grossAmount.currency)"></span>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad ">
    <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-3 oj-md-offset-1 oj-lg-offset-2">
        <oj-label><span data-bind="text:resource.incomeNet"></span></oj-label>
    </div>
    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item padding-top-5 label">
        <span data-bind="text : $formatter.formatCurrency(data.netAmount.amount(),data.netAmount.currency)"></span>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad ">
    <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-lg-3 oj-md-offset-1 oj-lg-offset-2">
        <oj-label><span data-bind="text:resource.incomeFreq"></span></oj-label>
    </div>
    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-flex-item padding-top-5 label">
        <span data-bind="text : data.temp_selectedValues().frequency"></span>
    </div>
</div>
