.login-options-modal-window {
    position: fixed;
    /* display: none; */
    height: 100%;
    width: 100%;
    top: 0;@include right(0)
    bottom: 0;@include left(0)
    background: rgba(44,50,81,0.97);
    z-index: 1;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    opacity: 1;
    pointer-events: auto;
    font-color : var(--color-white) !important;
    transform: translateY(0);
    padding-top: 2.8rem;
    .close-modal-icon{
        font-size: 1.9rem;
        color: var(--color-white);
        @include single-padding(right,0.3rem);
        padding-top: 0.3rem;
    }
    .white-font{
      color:var(--color-white);
    }
    .red-input{
      text-align: center;
      color: var(--base-color-danger) !important;
    }
    label{
      color:var(--color-white);
      font-size: var(--base-font-size-default);
    }
    .white-input{
      text-align: center;
      color: var(--color-white) !important;
    }
    .margin-auto{
      margin: auto;
    }
    .main-content{
      text-align: center;
      margin-top: 40%;
    }
    .set-pin-size{
      font-size: 1.1rem
    }
    .set-pin-input{
      -webkit-text-security: disc;
    }
    .padding20{
      padding-top: 1.3rem
    }
    .pt10{
      padding-top: 0.6rem;
    }
    .patt-holder{
      background:transparent !important;
      -ms-touch-action: none
    }
}

.list-menu{
  .list-image{
    max-height: 1.9rem;
  }
  .list-name{
    padding-top: 0.4rem;
  }
}
