<div class="page-section-content">

  <!-- third row -->
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
              <oj-label for="sellerAddress"><span data-bind="text:$component.resourceBundle.shipmentDetails.labels.shipmentFrom"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-6 oj-lg-6 content">
            <span id="sellerAddress" data-bind="text: $component.collectionDetails.shipmentDetails.source"></span>
          </div>
        </div>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
              <oj-label for="buyerAddress"><span data-bind="text:$component.resourceBundle.shipmentDetails.labels.shipmentTo"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-6 oj-lg-6 content">
            <span id="buyerAddress" data-bind="text: $component.collectionDetails.shipmentDetails.destination"></span>
          </div>
        </div>
    </div>
  </div>
  <!-- end of third -->

  <!-- third row -->
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
              <oj-label for="portOfLoading"><span data-bind="text:$component.resourceBundle.shipmentDetails.labels.portOfLoading"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-6 oj-lg-6 content">
            <span id="portOfLoading" data-bind="text: $component.collectionDetails.shipmentDetails.loadingPort"></span>
          </div>
        </div>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
              <oj-label for="portOfDischarge"><span data-bind="text:$component.resourceBundle.shipmentDetails.labels.portOfDischarge"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-6 oj-lg-6 content">
            <span id="portOfDischarge" data-bind="text: $component.collectionDetails.shipmentDetails.dischargePort"></span>
          </div>
        </div>
    </div>
  </div>
  <!-- end of third -->

  <!-- fourth row -->
<!-- ko ifnot: $component.multiGoodsSupported-->
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
              <oj-label for="goodsCode"><span data-bind="text:$component.resourceBundle.shipmentDetails.labels.goods"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-6 oj-lg-6 content">
            <span id="goodsCode" data-bind="text: $component.collectionDetails.shipmentDetails.goodsCode"></span>
          </div>
        </div>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
              <oj-label for="descriptionOfGoods"><span data-bind="text:$component.resourceBundle.shipmentDetails.labels.descriptionOfGoods"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-8 oj-lg-8 content">
            <span id="descriptionOfGoods" data-bind="text: $component.collectionDetails.shipmentDetails.description"></span>
          </div>
        </div>
    </div>
  </div>
  <!-- /ko -->
<!-- ko if: $component.multiGoodsSupported-->
  <!-- ko ifnot:$baseModel.small() -->
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex oj-flex-item oj-sm-12 oj-md-12 oj-lg-12" data-bind="css: { 'no-pad-cols': $baseModel.medium() }">
            <label for="goodsTable"  data-bind="text: $component.resourceBundle.shipmentDetails.labels.goods"></label>
            <oj-table id="goodsTable" row-renderer="[[$oj.KnockoutTemplateUtils.getRenderer('row_tmpl_goods', true)]]" columns="[[[{headerText:$component.resourceBundle.lcDetails.labels.srNo},{headerText:$component.resourceBundle.shipmentDetails.labels.goods},{headerText:$component.resourceBundle.shipmentDetails.labels.descriptionOfGoods},{headerText:$component.resourceBundle.shipmentDetails.labels.units},{headerText:$component.resourceBundle.shipmentDetails.labels.pricePerUnit
              ,headerClassName:'right',className:'right'}]]]" data="[[$component.datasourceForGoodsReview]]">
              <caption class="hide-label" data-bind="text:$component.resourceBundle.shipmentDetails.labels.goods"></caption>
          </oj-table>
        </div>
      </div>
  <!-- /ko -->
  <!-- ko if:$baseModel.small() -->
  <div class="oj-flex grid-main-container">
    <div class="oj-flex-item oj-sm-12">
        <oj-label for="goods"><span data-bind="text: $component.resourceBundle.shipmentDetails.labels.goods"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12">
        <oj-list-view id="listview-txn-card" class="cards draft-cards" item="[[{renderer:$oj.KnockoutTemplateUtils.getRenderer('goods_list',true)}]]" selection-mode="[['single']]" data="[[$component.datasourceForGoodsReview]]">
        </oj-list-view>
    </div>
  </div>
  <!-- /ko -->
<!-- /ko -->
  <!-- end of fourth -->
</div>
<script type="text/html" id="row_tmpl_goods">
    <tr>
        <td data-bind="text: $component.getRowId($context.rowContext.status.rowIndex)">
        </td>
        <td data-bind="text: $data.code">
        </td>
        <td data-bind="text: $data.description">
        </td>
        <td data-bind="text: $data.noOfUnits">
        </td>
        <td data-bind="text: $formatter.formatCurrency(pricePerUnit,$component.collectionDetails.amount.currency)">
        </td>
    </tr>
</script>

<script type="text/html" id="goods_list">
  <li>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 description" data-bind="text: $baseModel.format($component.resourceBundle.shipmentDetails.labels.goodWithSrNo,
          {srNo: $component.getRowId($context.index)})">
          </div>
        </div>
      </div>

      <div class="oj-flex-item oj-sm-12" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.resourceBundle.shipmentDetails.labels.goods"></label>
            <div data-bind="text: $data.code"></div>
          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.resourceBundle.shipmentDetails.labels.descriptionOfGoods"></label>
            <div data-bind="text: $data.description"></div>
          </div>
        </div>
        <!-- ko ifnot: $data.noOfUnits ===""-->
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.resourceBundle.shipmentDetails.labels.units"></label>
            <div data-bind="text: $data.noOfUnits"></div>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $data.noOfUnits ===""-->
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.resourceBundle.shipmentDetails.labels.units"></label>
            <div data-bind="text: $component.resourceBundle.common.labels.notAvailable"></div>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: $data.pricePerUnit ===""-->
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.resourceBundle.shipmentDetails.labels.pricePerUnit"></label>
            <div data-bind="text: $formatter.formatCurrency(pricePerUnit,$component.collectionDetails.amount.currency)"></div>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $data.pricePerUnit ===""-->
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.resourceBundle.shipmentDetails.labels.pricePerUnit"></label>
            <div data-bind="text: $component.resourceBundle.common.labels.notAvailable"></div>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </li>
</script>
