<div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
  <div class="oj-flex oj-flex-items-pad">
  <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
     <oj-label for="lcLinkage-radioset"><span data-bind="text:$component.resourceBundle.labels.lcLinkage"></span></oj-label>
  </div>
  <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7">
    <div id="lcLinkage-radioset" data-bind="text: $component.resourceBundle.common.flagTypes[$component.filterValues.lcLinked()]"></div>
  </div>
</div>
</div>
  <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
     <!-- ko if:$component.collectionDetails.lcRefNo -->
      <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
        <oj-label class="align-right" for="lcNumber"><span data-bind="text:$component.resourceBundle.labels.lcNumber"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7">
      <div id="lcNumber" data-bind="text: $component.collectionDetails.lcRefNo"></div>
    </div>
    </div>
     <!-- /ko -->
  </div>
