@import "utils";
.offers {
  /* styling for offers used in corporate dashboard*/
  &.offers{
    height: 11.5rem;
    &:last-child{
      margin-top:1rem;
    }
    @include mq(small){
      height:8rem;
      width:100%;
    }
    @include mq(medium){
      height:8rem;
      width:100%;
    }
  }
  .offers{
    &__section{
      height:100%;
      img{
          height:100%;
          width:100%;
      }
    }
  }


  &.retailOffers{
    height:8.2rem;
    &:last-child{
      margin-top:1rem;
    }
  }
  .retailOffers{
    &__section{
      height:100%;
    }
    &__images{
      margin:auto;
    }
    &__description{
      margin:auto;
      padding:0 0.5rem;
    }
  }
}
