$goal-icon-color: #89c33d;
.goal-calculator {
    &__details {
        border-bottom: 0.05rem solid var(--base-border-default);
    }

    &__calculations {
        padding-top: 1.3rem;
    }

    &-calculations {
        &__svg {
            border-radius: 3.1rem;
            max-width:100%;
        }
        &__graph{
        @include mq(large) {
        width: 282px;
        height:13px;
        }
         @include mq(medium) {
         width: 346px;
         height:13px;
        }
        @include mq(small) {
        width: 280px;
        height:13px;
        }
        }
        &__plotAreaColor{
          color:var(--button-color);
        }
    }

    &__info {
        font-size: var(--base-font-size-small);
        color: var(--base-text-primary);
        margin-top: 0.2rem;

        .icon-ok {
            color: $goal-icon-color;
@include margin(0, 0.6rem, 0, 1.3rem);
        }
    }

    &__disclaimer {
        color: var(--base-text-primary);
    }

    &__svg-labels {}

    &-svg-labels {
        font-size:var(--base-font-size-default);
        &--left {

        }

        &--right {
            @include text-align(right);
            @include mq(medium) {
                @include text-align(left);
            }
        }
    }
    .amount-label {
        color: var(--base-text-primary);
        @include mq(small) {
            line-height: calc(#{var(--form-line-height)} - 0.9rem);
            margin-top: 0.6rem;
        }
        @include mq(medium) {
            margin-top: 1.3rem;
        }

        &__icon {
            position: relative;
            top: 0.1rem;
        }

        &__text {
            @include single-padding(left,0.3rem);
        }
    }
}
