.hotp {
    &__instructions-padding {
        padding-bottom: 0.4rem;
    }
    &__instructions-padding-left {
        @include mq(small) {
            padding: 0 3.1rem;
        }
        @include single-padding(left, 3.8rem);
        margin-top: 0;
    }
    &__referencenumber {
        font-size: var(--base-font-size-larger);
    }
    &__contentpadding {
        @include single-padding(left, 2.3rem);
        @include mq(small) {
            @include single-padding(left, 1.3rem);
        }
    }
    &__messagepadding {
        padding: 0
    }
    &__messagesection {
        @include single-padding(left, 1.3rem);
        font-size: var(--base-font-size-large);
        padding-bottom: 0;
    }
    &__soft-token-textbox {
        width: 4%;
        padding: 0 0.3rem;
        @include mq(small) {
            width: 10%;
            padding: 0 0.4rem;
        }
        @include mq(medium) {
            width: 5%;
        }
        &-icon {
            position: relative;
            @include left(0.6rem);
            top: 0.6rem;
        }
    }
}