

.submission-confirmation {
	.form-container {
		padding: 0;
		margin: 0;
	}

	.centerAlign {
		align-items: center;
		display: flex;

		.application-status-text {
			font-weight: var(--base-font-weight-bold);
			color: var(--base-background-secondary);
			font-size: 1.5rem;
			padding-top: 0;
			@include single-padding(left,0.3rem);
		}
	}

	.login-button {
		margin-top: 2.5rem;
	}

	.bold {
		font-weight: var(--base-font-weight-bold);
	}

	.icon-success:before {
		font-size: 1.9rem;
	}

	.application-no {
		font-weight: var(--base-font-weight-bold);
		
		font-size: 1.1rem;
		@include mq(small) {
			font-size: 1rem;
		};
	}
}
