@import "utils";
.set-pin {
  .curtail-width {
    max-width: 31.3rem;
    margin: auto;
  }
  .margin-auto {
    margin: auto;
  }

  .main-content {
    text-align: center;
    margin-top: 40%;
    @include mq(large) {
      margin-top: 10%;
    }
  }

  .set-pin-input {
    -webkit-text-security: disc;
  }

  input {
    text-align: center;
  }

  .padding20 {
    padding-top: 1.3rem;
  }

  .button-container {
    justify-content: center;
  }
}
