.purchase-order-details {
  .small-text{
    font-size: var(--base-font-size-default);
    color: var(--base-text-secondary);
    padding-bottom: 0.55rem;
  }
  .padding-bar{
    padding-bottom: 1.5rem;
  }

  .button-padding{
    @include single-padding(left, 0.7rem);
  }

  .back-margin{
    @include single-margin(left, 0);
  }
}
