$td-amount-primary-color: #8ac300;
.term-deposits {
  .summary-card{
  @include mq(small) {
		height: auto;
    margin-top: 1.2rem;
    margin-bottom: 0 !important;
	}
  &-header{
    font-weight:var(--base-font-weight-regular);
    margin:0.6rem 0 0;
  }
  &-subHeader{
      font-size: var(--base-font-size-medium);
  }
  &-button-set{
    margin: 0.3rem 0;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  &-row{
    position: relative;
    top: 1.3rem;
    width: 100%;
		padding:0 0 1.9rem;
    @include mq(small) {
      top: 0;
      padding:1.3rem 0 0;
    }
    .summary-investment {
  		&-amount {
  			font-size: var(--base-font-size-larger);
  			color: var(--base-text-primary);
  		}
  		&-heading {
  			font-size: var(--base-font-size-default);
  			color:var(--base-text-secondary);
  		}
  		&-chart svg rect {
  			fill: $td-amount-primary-color;
  		}
  	}
    .summary-balance {
        &-amount {
            font-size: var(--base-font-size-larger);
            color: var(--base-text-primary);
        }
        &-heading {
            font-size: 0.9rem;
            color: var(--base-text-secondary);
        }
    }
	}
}
.noLoanAccImg{
  height:15rem;
  padding: 2rem 0;
}

}
