.track-details {
  .comments-top {
    margin-top: 2rem;
  }
  .comments {
    background-color: var(--banner-background);
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
  }
  .closure-comments {
    font-size: var(--base-font-size-small);
  }
}