$header-bg:#e6e5e7;
.review-theme {
    .controlContainer{
        margin-bottom: 0.6rem;
        padding: 0;
        h4{
            font-weight: 400;
            padding: 5px;
            margin: 5px 0px;
            color: var(--button-primary-border-color);
          }
          .controlHeader{
            padding: 5px;
            margin: 5px 0px;
            background-color: $header-bg;
            font-size: 14px;
          }
    }
    &__colorBox {
        width: 2.8rem;
    }
    &__selectedColor {
        width: 2.2rem;
        height: 2.2rem;
        border: 0.05rem solid var(--base-border-default);
        display: inline-block;
    }
    .firstContainer{
        padding: 0rem;
        margin-bottom: 0.6rem;
        .header{
          background-color: $header-bg;
          padding: 5px;
          font-size: 14px;
        }
      }
}
.scrollArea{
    height: 500px;
    overflow-y: auto;
}