$white-color: #fff;
$label-text-color: #333333;
$application-list-title-color: lighten(#333333, 20%);
$offers-border-color: mix(#000, $white-color, 13%);
$offers-text-color: mix(#000, $white-color, 56%);
$sub-section-heading: #252525;
$collapsible-icon-color: #356465;
$font-weight-bold: 600;
$collapsible-icon-shadow-color: #333333;
$value-text-color: rgb(43,64,96);
$value-text-size: 0.9rem;
$app-summary-card-border: 400;
$form-bg-color: #fff;
$primary-heading-color: #2a4e98;
$progress-bar-color: #00c473;
$btn-primary-color: #fff;
$btn-primary-border-color: #2a4e98;
$btn-primary-color-hover: #efefef;
$form-heading-title-color: #a6a6a6;
$application-summary-title-color: #2a4e98;
$progress-bar-border: #f4f4f4;
$font-weight-normal: 400;
$grid-border-color: #c4c4c4;
$label-text-size: 1rem;
$accordion-font-size: 1.3rem;
$accordion-max-width: 100%;
$accordion-max-width-medium: 43.1rem;
$accordion-max-width-small: 25rem;
$accordion-font-size-small: 1rem;
$accordion-height-small: 2.9rem;
$letter-spacing-25: 0;
$white-color-opacity: rgba(255,255,255,1);
$product-page-width-medium: 600;
$product-page-width-small: 600;
$app-text-color: #353535;

.upl-tracking-component {
  .form-heading-strip {
    background-color: var(--base-background-primary);
    color: var(--base-text-secondary);
    margin-bottom: 1.3rem;
    height: 3.1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(201, 201, 201, 1);
    box-sizing: border-box;
    border: 0.05rem solid rgba(255,255,255,1);
    margin: 1.3rem auto;
    @include mq(small) {
      height: 2.5rem;
    }

    .icon-plus-circle {
      font-size: 1.6rem;
      padding-bottom: 0;
      @include single-padding(right,0.6rem);
      margin-top: 0.4rem;
      @include mq(small) {
        margin-top: 0.1rem;
      }
    }
  }

  .icon:hover {
    cursor: pointer;
  }
  margin-top: 1.3rem;
  @include mq(medium) {
    margin-top: 0;
  }
  @include mq(small) {
    margin-top: 0;
  }

  .section-heading {
    margin-top: 0.6rem;
    color: var(--base-text-secondary);
    font-size: 1.1rem;
    margin-top: 0.6rem;
  }

  .pending-actions-container {


    .pending-text {
      color: var(--base-text-secondary);
      font-size: 1.1rem;
      font-weight: 600;
      padding-top: 0.1rem;
      @include mq(medium) {
        font-size: 1.1rem;
      }
      @include mq(small) {
        font-size: 1rem;
        padding-top: 0.3rem;
      }
    }

    .action-button {
      background-color: var(--base-background-primary);
    }

    .icon-arrow-right {
      font-size: x-large;
      font-weight: bold;
      color: var(--base-text-secondary);
      @include mq(small) {
        padding-top: 0.1rem;
      }
    }

    .icon-arrow-right:hover {
      cursor: pointer;
    }

    .icon-arrow-right:before {
      color: var(--base-text-secondary);
      font-weight: bold!important;
    }
  }

  .view-list-container {
    margin-top: 0.9rem;
    @include mq(small) {
      margin-top: 0.6rem;
    }
  }
}

.application-fees-container {
  font-size: 0.9rem;
  color: var(--base-text-secondary);
  padding-top: 1.3rem;

  .fees-summary {
    margin-top: 0.8rem;
    background-color: rgba(19,63,111,0.1);
    box-sizing: border-box;
    border: 0.05rem solid rgba(203,203,203,1);
    height: 3.8rem;
    padding-top: 0.5rem;
    @include mq(small) {
      padding-top: 0;
    };

    .label-text {
      font-size: 0.9rem;
      font-weight: var(--base-font-weight-bold);
      @include single-padding(left,1.3rem);
      @include mq(small) {
        @include single-padding(left,0);
      };
      @include mq(medium) {
        @include single-padding(left,0);
      };
    }

    .value-text {
      font-size: 1rem;
      @include single-padding(right,1.3rem);
    }
  }

  .label-text {
    @include single-padding(left,1.3rem);
    @include mq(small) {
      margin-bottom: 0.2rem !important;
    };
  }

  .value-text {
    @include single-padding(right,1.3rem);
  }
}

.upl-tracking-component {
  .form-heading-strip {
    background-color: $white-color;
    color: $label-text-color;
    margin-bottom: 1.3rem;
    height: 3.1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(201, 201, 201, 1);
    box-sizing: border-box;
    border: 0.05rem solid rgba(255,255,255,1);
    margin: 1.3rem auto;
    @include mq(small) {
      height: 2.5rem;
    }

    .icon-plus-circle {
      font-size: 1.6rem;
      padding-bottom: 0;
      @include single-padding(right,0.6rem);
      margin-top: 0.4rem;
      @include mq(small) {
        margin-top: 0.1rem;
      }
    }
  }

  .icon:hover {
    cursor: pointer;
  }
  margin-top: 1.3rem;
  @include mq(medium) {
    margin-top: 0;
  }
  @include mq(small) {
    margin-top: 0;
  }

  .section-heading {
    margin-top: 0.6rem;
    color: $application-list-title-color;
    font-size: 1.1rem;
    margin-top: 0.6rem;
  }

  .pending-actions-container {


    .pending-text {
      color: $sub-section-heading;
      font-size: 1.1rem;
      font-weight: 600;
      padding-top: 0.1rem;
      @include mq(medium) {
        font-size: 1.1rem;
      }
      @include mq(small) {
        font-size: 1rem;
        padding-top: 0.3rem;
      }
    }

    .action-button {
      background-color: $white-color;
    }

    .icon-arrow-right {
      font-size: x-large;
      font-weight: bold;
      color: $collapsible-icon-color;
      @include mq(small) {
        padding-top: 0.1rem;
      }
    }

    .icon-arrow-right:hover {
      cursor: pointer;
    }

    .icon-arrow-right:before {
      color: $collapsible-icon-color;
      font-weight: bold!important;
    }
  }

  .view-list-container {
    margin-top: 0.9rem;
    @include mq(small) {
      margin-top: 0.6rem;
    }
  }
}

.application-fees-container {
  font-size: 0.9rem;
  color: $offers-text-color;
  padding-top: 1.3rem;

  .fees-summary {
    margin-top: 0.8rem;
    background-color: rgba(19,63,111,0.1);
    box-sizing: border-box;
    border: 0.05rem solid rgba(203,203,203,1);
    height: 3.8rem;
    padding-top: 0.5rem;
    @include mq(small) {
      padding-top: 0;
    };

    .label-text {
      font-size: 0.9rem;
      font-weight: $font-weight-bold;
      @include single-padding(left,1.3rem);
      @include mq(small) {
        @include single-padding(left,0);
      };
      @include mq(medium) {
        @include single-padding(left,0);
      };
    }

    .value-text {
      font-size: 1rem;
      @include single-padding(right,1.3rem);
    }
  }

  .label-text {
    @include single-padding(left,1.3rem);
    @include mq(small) {
      margin-bottom: 0.2rem !important;
    };
  }

  .value-text {
    @include single-padding(right,1.3rem);
  }
}

.application-tracking-container {
  .form-main-container {
    padding-bottom: 20;
  }

  .tracker-main-container {
    .primary-heading {
      font-weight: 400;
      color: $application-list-title-color;
      font-size: 1.3rem;
      padding-bottom: 2.5rem;
      @include mq(small) {
        padding-bottom: 0.9rem;
        font-size: 1.1rem;
      };
    }

    .form-heading {
      color: $primary-heading-color;
      padding-bottom: 0 !important;
    }
    @include mq(medium) {
      max-width: 43.1rem;
    };

    .accordion {
      .card-body {
        margin-top: 2.5rem;
        @include mq(small) {
          margin-top: 1.6rem;
        };
      }
    }

    .default-pointer {
      cursor: default;
    }

    .status-history {


      .label-text {
        @include mq(small) {
          margin-bottom: 0.2rem;
        };
      }

      .value-text {
        display: inline-flex;
        align-items: center;
        @include mq(small) {};
      }
    }

    .value-text {
      font-weight: $font-weight-bold;
      font-size: $value-text-size;
      color: $value-text-color;
      @include mq(small) {
        font-size: 0.9rem;
        padding-top: 0.3rem;
      };
    }

    .label-text {
      font-size: $label-text-size;
      color: $label-text-color;
      min-height: initial;
      @include mq(medium) {
        @include single-padding(left,0);
      };
      @include mq(small) {
        @include single-padding(left,0);
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
      };
    }



    .button-container {
      label {
        padding: 0;
      }
    }



    .documents-list {
      margin-bottom: 0.9rem;

      .document-verified {
        font-weight: $font-weight-bold;
        color: rgba(39,216,60,1);
        font-size: 0.9rem;
        min-height: 2.5rem;
        display: flex;
        align-items: center;
        vertical-align: middle;
      }

      .success-icon {
        padding-top: 0.5rem;
        @include mq(small) {
          @include single-padding(left,0);
          padding-top: 0;
        }
      }

      span {
        font-weight: 600;
        font-size: 0.9rem;
        color: $form-heading-title-color;
      }


      .processing-image {
        height: 0.6rem;
      }
    }
  }

  .application-dashboard-sections {
    margin-bottom: 1.9rem;
    @include mq(small) {
      margin-bottom: 1.3rem;
    };
  }
}

.application-summary-card {
  max-width: 57.5rem;
  margin-bottom: 1.9rem;
  cursor: pointer;
  background: $form-bg-color;
  font-size: 0.9rem;
  border: 0.05rem solid $app-summary-card-border;
  box-shadow: 0.4rem 0.4rem 0.6rem -0.5rem $collapsible-icon-shadow-color;
  @include mq(small) {
    margin-bottom: 0.9rem;
  };

  .application-card-row {

    .application-summary-title {
      font-weight: $font-weight-bold;
      color: $application-summary-title-color;
      font-size: 1.1rem;
      @include single-padding(left,2.5rem);
      padding-bottom: 1.9rem;
      @include mq(small) {
        font-weight: $font-weight-bold;
        color: $application-summary-title-color;
        @include single-padding(left,1.3rem);
        padding-bottom: 0.6rem;
        font-size: 1rem;
      }
      @include mq(medium) {
        @include single-padding(left,0.6rem);
      };
    }

    .amount {
      font-size: 1.3rem;
      color: $value-text-color;
      font-weight: $font-weight-bold;
      @include single-padding(right,1.7rem);
      letter-spacing: 0;
      background-color: $white-color;
      @include text-align(right);
      @include mq(small) {
        font-size: 1.1rem;
        @include single-padding(right,0);
        @include single-padding(left,1.3rem);
        padding-bottom: 0.6rem;
        @include text-align(left);
      }
      @include mq(medium) {
        @include single-padding(right,1.2rem);
      }
    }
  }






}

.progress-bar {
  width: 100%;
  height: 1.6rem;
  margin: 0.6rem 0;
  background: rgba(202,202,202,0.4);
  border-radius: 0.6rem;
  border: 0.4rem solid $progress-bar-border;
  box-shadow: inset 0.1rem 0 0 0.1rem $white-color;
}

.application-status-text {
  font-weight: $font-weight-bold;
  color: $application-summary-title-color;
  font-size: 1.5rem;
  padding-top: 1.3rem;
  @include mq(medium) {
    padding-top: 0.6rem;
  };
  @include mq(small) {
    font-size: 1.1rem;
    padding-top: 0;
  };
}

.offer-document-class {
  color: $offers-text-color;
  font-weight: 400;
}

.form-main-container.tracker-main-container {
  .dashboard-container.form-container {
    background: rgba(255, 255, 255, 0.9);
    @include single-padding(left,2.5rem);
    @include single-padding(right,2.5rem);
    padding-top: 1.3rem;
    margin-bottom: 3.8rem;
    padding-bottom: 2.5rem;
    @include mq(small) {
      @include single-padding(left,1.3rem);
      @include single-padding(right,1.3rem);
      padding: 1.3rem 0;
    }
    @include mq(medium) {
      @include single-padding(left,1.3rem);
      @include single-padding(right,1.3rem);
      padding-top: 1.6rem;
    }

  }
}

.status-history-card {
  .card-row {
    padding-bottom: 0 !important;
  }
  background: $white-color;
  font-size: 1rem;
  color: $offers-text-color;
  border: 0.05rem solid $offers-border-color;
  @include mq(small) {
    padding: 1.3rem 0 0.6rem;
  }



  .link {
    @include mq(small) {
      @include single-padding(left,0.6rem);
    }
  }

  .application-card-row {
    padding-bottom: 1.3rem !important;
    @include mq(small) {
      padding-bottom: 0.6rem !important;
    }
  }
}

.application-view {
  .accordion {
    margin-bottom: 0;
  }

  .accordion-header-section {
    font-size: 1.1rem;
    color: rgb(19,63,111);
    display: block;
    @include single-padding(left,1.9rem);
    font-weight: $font-weight-normal;
    margin: 0;
    @include mq(small) {
      font-size: 1rem !important;
      @include single-padding(left,0);
    };
  }

  .card {
    .card-header {
      .accordion-strip {
        height: 3.1rem;
      }

      .card-icon-container {
        height: 3.1rem;
        width: 3.1rem;

        .card-icon {
          height: 1.6rem;
        }
      }
    }
  }
}


.application-fees {
  @include mq(small) {
    @include single-padding(left,0.6rem);
  }
  @include mq(medium) {
    @include single-padding(left,0.6rem);
  }

  .application-fees-section {
    .border-bottom {
      border-bottom: 0.05rem solid $grid-border-color;
    }

    label {
      font-size: 0.9rem;
    }
  }

  .application-fees-subsection {
    label {
      font-size: 0.8rem;
    }
  }

  span {
    font-size: 1rem;
  }
}
$accordion-card-title: 1.1rem;
.accordion {
  background-color: var(--base-background-primary);

  .card {
    margin-bottom: 0.6rem !important;
    max-width: $accordion-max-width;

    .card-header {
      height: 3.3rem;

      .card-title {
        color: var(--base-color-primary);
        font-size: $accordion-card-title;
        font-weight: var(--base-font-weight-regular);
        margin: auto 0;
      }

      .card-expander {
        margin: auto 0;

        .icon {
          @include float(right);
          color: var(--base-color-primary);
        }
      }

      .icon-success {
        color: var(--base-color-primary);
      }

      .card-icon-container {
        background-color: var(--base-color-secondary);
        text-align: center;
        height: 100%;
        width: 3rem;

        .card-icon {
          padding: 0.5rem;
        }
      }
    }

    &.active {
      & .card-header {
        background: var(--base-color-secondary);

        .card-title {
          color: var(--base-color-secondary-text);
          font-weight: var(--base-font-weight-light);
          @include single-padding(left,0.6rem);
        }

        .icon {
          color: var(--base-color-secondary-text);
        }
      }
    }
  }
}

.form-main-container {
  padding-bottom: 1.3rem;
  width: 100%;
  margin: 0 auto;
  background: none!important;
  box-shadow: none!important;

  .form-container {
    float: inherit;

    .page-container {
      padding: 1.5rem 1.9rem;
      @include mq(medium) {
        padding: 1.9rem 1.3rem 0.6rem;
      }
      @include mq(small) {
        padding: 1.9rem 0.6rem 0;
      }
    }
    background: $white-color-opacity;
    margin: 2.6rem auto -1.1rem;
    width: initial;

    .addonCard {
      line-height: 1.4rem;
    }
    margin: 0 auto;
    max-width: 57.5rem;
    @include mq(medium) {
      max-width: $product-page-width-medium;
    }
    @include mq(small) {
      width: initial;
      margin: 0 0.6rem;
      max-width: $product-page-width-small;
    }
    .padding-top-5 {
      @include mq(small) {
        padding-top: 0.3rem;
      }
    }
  }

  .action-subtitle-border {
    color: $app-text-color;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    bottom: 0;
    line-height: 2.3rem;
    @include single-padding(left,2rem);
    @include mq(small) {
      @include single-padding(left,0.6rem);
    }
  }
}
