.docked-menu{
    .oj-hybrid-applayout-navbar-app{
      background: var(--base-background-primary);
    }
    a {
      padding: 0 !important;
      .oj-navigationlist-item-label{
        color: var(--base-text-secondary) !important;
        font-size: var(--base-font-size-default);
        .icons{
          color: var(--link-base);
          font-size: calc(#{var(--base-font-size-larger)} + 0.2rem);
        }
        :hover{
          color: var(--link-hover);
        }
      }
    }
  }
  