.financial-limits-create{
  &--perDay{
    display: inline-block;
    margin-top: 0.6rem;
  }
  &--deleteIcon{
    padding-top: 0.5rem;
  }

  .override-amount{
    .amountInput {
        max-width: 100%;
    }
  }
}
