<div class=" wallets_container">
  <div class=" oj-panel form-main-container card-action-container">
    <page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
        <div class="section user-confirm-block">
            <div class="success-icon">
                <img data-bind="loadImage:'wallet/wallet-success.png'">
            </div>
            <div>
                <div class="confirmtaion-heading" data-bind="text:$component.resource.wallet.congratulations"></div>
            </div>
            <div class="oj-row declaration">
                <div data-bind="text:$component.resource.wallet.declaration"></div>
            </div>
            <div class="jobs">
                <div data-bind="text:$component.resource.wallet.jobs"></div>
            </div>
            <div class="oj-row more">
                <div data-bind="text:$component.resource.wallet.andMuchMore"></div>
            </div>
            <div class="oj-row properties">
                <div data-bind="text:$component.resource.wallet.properties"></div>
            </div>
            <div class="oj-row button-container">
              <oj-button id="button" class="action-button-primary" on-click="[[save]]">
      <span data-bind="text:$component.resource.wallet.getStarted"></span>
</oj-button>
              <img data-bind="loadImage:'wallet/wallet-tick-white.png'">
            </div>
        </div>
    </page-section>
  </div>
</div>
