.goal-transaction-card {
    background: var(--base-background-primary);
    margin-bottom: 1.1rem;
    padding: 0.6rem ;
    
    
    box-shadow: 0 0.1rem 0.1rem 0 var(--base-color-secondary);
    border: 0;

    &__date {}

    &-date {
        &__day {
          font-size: 1rem;
        }

        &__dateBlock {
            font-size: 0.9rem;
            padding-top: 0.2rem;
            color:var(--base-color-secondary);
        }
    }

    &__description {
@include padding(0.9rem, 0, 0.3rem, 0);
        font-size: 1rem;
    }

    &__amount {
        padding: 0.6rem 0 0;
        font-weight: var(--base-font-weight-bold);
        font-size: 1.1rem;
    }
}
