
.new-tag {
  background: var(--base-color-success);
  color: var(--base-color-secondary-text);
  padding:  0.1rem;
  align-items: center;
  border-radius: 4px;
  width: 35px;
  text-align: center;
  justify-content: center;
  font-size: 0.6rem;
  margin-top: 0.1rem;

}
.list-bottom-pad{
  padding-bottom: 0.6rem;
}
