.profile{
  .profile-name{
    font-size: var(--base-font-size-large);
    bottom: 1.5rem;
    position: relative;
  }
  .profile-image{
    width: 3.5rem;
    height: 3.5rem;
  }
  .profile-header{
    margin-bottom: 1rem;
    border-bottom: 0.05rem solid var(--base-border-default);
    &__link{
      margin:auto;
    }
  }
  .banner-update{
    background-color: var(--banner-background);
  }
}

.confirm-screen {

  &__header {
      border-bottom: var(--confirm-screen-border-bottom-width) solid var(--confirm-screen-border-bottom-color);
      border-radius: var(--confirm-screen-border-radius);
      margin: 0 0 0.8rem;
      padding: 0.6rem;
  }
  .successHeader {
      @include single-border(left, var(--confirm-screen-success-border-width) solid var(--confirm-screen-success-border-color));
      border-radius: var(--confirm-screen-success-border-radius);
      background-color: var(--base-color-success-light);
      background: linear-gradient(to var(--confirm-screen-success-gradient-direction), var(--confirm-screen-success-gradient-start-color), var(--confirm-screen-success-gradient-end-color));
  }
  .errorHeader {
      @include single-border(left, var(--confirm-screen-error-border-width) solid var(--confirm-screen-error-border-color));
      border-radius: var(--confirm-screen-error-border-radius);
      background: linear-gradient(to var(--confirm-screen-error-gradient-direction), var(--confirm-screen-error-gradient-start-color), var(--confirm-screen-error-gradient-end-color));
  }
  &-header {
      &__text {
          text-transform: uppercase;
          font-size: var(--confirm-screen-text-font-size);
          font-weight: var(--confirm-screen-text-font-weight);
          color: var(--confirm-screen-text-foreground-color);
          display: flex;
          align-items: center;
      }
      &-text {
          &__image {
              height: 1.3rem;
              width: 1.3rem;
          }
          &__message {
              padding: 0.3rem;
          }
      }
      &__successMessage {
          @include single-padding(left, 1.6rem);
          display: inline-block;
      }
  }
}
