.initiate-guarantee{
  .tnc-div{
		@include mq(small) {
			padding-bottom: 1.3rem !important;
		}
		.tnc-checkbox {
			max-width: 1.3rem;
			vertical-align: text-bottom;
		}
	}
  .tncContent{
    div{
      padding: 0 0.6rem;
    }
  }
  .viewTnC {
      padding: 0.5rem 0 0 2.8rem;
  }
  .padding-bottom {
		padding-bottom: 1.1rem;
	}
}
