<!-- ko foreach:$component.configuration.configurationItemDTOs -->

<div class="oj-flex oj-flex-items-pad">

    <!-- ko foreach:$data.inputDTOs -->
<!-- ko ifnot :$data.type === 'LISTBOX' -->
    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-label :for="[['field_txt_'+ $index()]]"><span data-bind="text:$data.uiDefinition.title"></span></oj-label>
    </div>
      <!-- /ko -->
  <!-- ko if :$data.type === 'LISTBOX' -->
  <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
      <oj-label :for="[['field_select_'+ $index()]]"><span data-bind="text:$data.uiDefinition.title"></span></oj-label>
  </div>
  <!-- /ko -->


    <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">

        <!-- ko if :$data.type === 'TXT' || $data.type === 'RO' -->
        <oj-input-text :id="[['field_txt_'+ $index()]]" validators="[[$baseModel.getValidator($data.uiDefinition.validator,$data.uiDefinition.message,$data.uiDefinition.extension)]]" :invalidcomponenttracker="[[$component.validationTracker]]" value="{{$data.inputValues}}"></oj-input-text>
        <!-- /ko -->


        <!-- ko if :$data.type === 'DATE' -->
        <oj-input-date :id="[['field_txt_'+ $index()]]" validators="[[$baseModel.getValidator($data.uiDefinition.validator,$data.uiDefinition.message,$data.uiDefinition.extension)]]" required="[[$data.uiDefinition.required]]" value="{{$data.inputValues}}"></oj-input-date>
        <!-- /ko -->
        <!-- ko if :$data.type === 'PWD' -->
        <oj-input-password :id="[['field_txt_'+ $index()]]" validators="[[$baseModel.getValidator($data.uiDefinition.validator,$data.uiDefinition.message,$data.uiDefinition.extension)]]" required="[[$data.uiDefinition.required]]" value="{{$data.inputValues}}"></oj-input-password>
        <!-- /ko -->

        <!-- ko if :$data.type === 'LISTBOX' || $data.type === 'MSELECT'-->
        <oj-select-one :id="[['field_select_'+ $index()]]" validators="[[$baseModel.getValidator($data.uiDefinition.validator)]]" required="[[$data.uiDefinition.required]]" :invalidcomponenttracker="[[$component.validationTracker]]" value="{{$data.inputValues}}" :placeholder="[[$component.nls.fieldname.select]]">
            <!-- ko foreach: $data.tempObj.options -->
            <oj-option value="{{key}}"><span data-bind="text:description"></span></oj-option>
            <!-- /ko -->
        </oj-select-one>

        <!-- /ko -->
        <!-- ko if :$data.type === 'CHB' -->

        <oj-checkboxset id="checkboxSetId" aria-labelledby="mainlabelid" class="oj-choice-direction-row" validators="[[$baseModel.getValidator($data.uiDefinition.validator)]]" required="[[$data.uiDefinition.required]]" value="{{$data.inputValues}}"><!-- ko foreach: $data.tempObj.options --><oj-option value="{{key}}" :id="[[$parent.fieldName + $index()]]"><span data-bind="text: description, attr : {'for' :$parent.fieldName + $index()}"></span></oj-option><!-- /ko --></oj-checkboxset>
        <!-- /ko -->


    </div>

    <!-- /ko -->
</div>
<!-- /ko -->
