<div class="form-main-container submission-confirmation">
    <div class=" registration">
        <div class="page-container">
            <!-- ko if: $component.accountId() === undefined -->
            <div class="oj-flex oj-flex-items-pad ">
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10">
                    <h3 class="primary-heading" data-bind="text: $baseModel.format($component.resource.thankNoteName, {name: $component.applicantDetails()[0].primaryInfo.primaryInfo.firstName()})"></h3>
                </div>
            </div>


            <div class="oj-flex oj-flex-items-pad ">
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10">
                    <span class="text emphasize centerAlign  margin-bottom list-spacing" data-bind="html:$baseModel.format($component.resource.appRefNo,{applicationStatusText:'application-status-text', applicationRefNo:applicationRefNo})"></span>
                </div>
            </div>

            <div class="oj-flex oj-flex-items-pad">
                <div class="text oj-flex-item oj-sm-12 oj-md-10 oj-lg-10 list-spacing" data-bind="html: $component.resource.refStatusSuccess">
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad margin-top-20">
                <h3 class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10 primary-heading" data-bind="text:$component.resource.nxtSteps"></h3>
            </div>

            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10">
                    <oj-label class="text">
                        <ul>
                            <!-- ko if: $component.productDetails().productClassName === 'CASA' -->
                            <li class="list-spacing" data-bind="text:$component.resource.nextSteps1"></li>
                            <li class="list-spacing" data-bind="text:$component.resource.nextSteps2"></li>
                            <li class="list-spacing" data-bind="text:$component.resource.nextSteps3"></li>
                            <!-- /ko -->
                            <!-- ko if: $component.productDetails().productClassName === 'LOANS' -->
                            <li class="list-spacing" data-bind="text:$component.resource.nextSteps4"></li>
                            <li class="list-spacing" data-bind="text:$component.resource.nextSteps5"></li>
                            <!-- /ko -->
                             <!-- ko if: $component.productDetails().productClassName === 'CREDIT_CARD' -->
                             <li class="list-spacing" data-bind="text:$component.resource.nextSteps1"></li>
                             <li class="list-spacing" data-bind="text:$component.resource.nextSteps2"></li>
                             <li class="list-spacing" data-bind="text:$component.resource.nextSteps3"></li>
                             <!-- /ko -->
                        </ul>
                    </oj-label>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko if: $component.accountId() -->
            <div class="oj-flex oj-flex-items-pad ">
                <!-- ko if: $component.productDetails().productClassName === 'CASA' -->
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10   primary-heading" data-bind="html:$baseModel.format($component.resource.congratsMsg,{offerName :$component.productDetails().offers.offerName})"></div>
                <!-- /ko -->
                <!-- ko if: $component.productDetails().productClassName === 'TERM_DEPOSITS' -->
                <div class=" oj-flex-item oj-sm-12 oj-md-10 oj-lg-10   primary-heading" data-bind="html:$baseModel.format($component.resource.congratsMsgTD,{offerName :$component.productDetails().offers.offerName})"></div>
                <!-- /ko -->
            </div>

            <div class="oj-flex oj-flex-items-pad">
                <div class="bold oj-flex-item oj-sm-12 oj-md-10 oj-lg-10  ">
                    <span class="text emphasize centerAlign " data-bind="html:$baseModel.format($component.resource.accNo,{applicationStatusText:'application-status-text', identificationTypeAcc:identificationTypeAcc})"></span>
                </div>
            </div>



            <div class="oj-flex oj-flex-items-pad ">
                <div class=" text oj-flex-item oj-sm-12 oj-md-10 oj-lg-10  " data-bind="html:$baseModel.format($component.resource.status,{bold:'bold'})">
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad margin-top-20">
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10   primary-heading" data-bind="text:$component.resource.nxtSteps"></div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10  ">
                    <oj-label class="text">
                        <ul>
                            <li class="list-spacing" data-bind="text:$component.resource.msg1"></li>
                            <li class="list-spacing" data-bind="text:$component.resource.msg2"></li>
                            <!-- ko if: $component.productDetails().productClassName === 'CASA' -->
                            <li class="list-spacing" data-bind="text:$component.resource.msg3"></li>
                            <!-- /ko -->
                        </ul>
                    </oj-label>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="oj-flex oj-flex-items-pad button-container product-button-panel">
        <!-- ko if: !$component.productDetails().isRegistered -->
        <!-- ko if: !$component.registrationCompulsory() -->
        <oj-button raised="" id="saveForLater" class="action-button-primary" on-click="[[$component.showPluginComponent.bind($data,'user-creation')]]">
            <span data-bind="text:$component.resource.generic.common.register"></span>
        </oj-button>
        <!-- /ko -->
        <!-- ko if: $component.registrationCompulsory() -->
        <oj-button raised="" id="trackApplications" class="action-button-primary" on-click="[[$component.trackApplication]]">
            <span data-bind="text:$component.resource.trackApplication"></span>
        </oj-button>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $component.productDetails().isRegistered -->
        <oj-button raised="" id="trackApplications" class="action-button-primary" on-click="[[$component.trackApplication]]">
            <span data-bind="text:$component.resource.trackApplication"></span>
        </oj-button>
        <!-- /ko -->
        <oj-button id="exitApplications" class="action-button-secondary" on-click="[[$component.goToHomePage]]">
            <span data-bind="text:$component.resource.homepage"></span>
        </oj-button>
    </div>
</div>
<modal-window class="message" params="baseModel : $baseModel, rootModel : $component,id:'successfulRegistration', header:$component.resource.generic.common.info">
    <div class="oj-flex oj-flex-items-pad" data-bind="descendantsComplete : $component.afterRenderHandler">
        <div class="oj-flex-item oj-sm-12 message-text scroll" data-bind="text:$component.resource.successfullyRegistered"></div>
        <div class="oj-flex-item oj-sm-12 message-btn button-container">
            <oj-button id="hideButton" class="toUpperCase action-button-primary" on-click="[[$baseModel.modalInteraction.bind($data, '#successfulRegistration', 'closeModal', null)]]">
                <span data-bind="text:$component.resource.generic.common.ok"></span>
            </oj-button>
        </div>
    </div>
</modal-window>