.text-box-control{
  display:flex;
  align-items: flex-end;
  border: 0.05rem solid var(--base-border-default);
  &__section{
    border-top: 0.05rem solid var(--base-border-default);
    margin:0.5rem 0;
    width: 100%;
  }
  &__banner{
    border-bottom: 0.05rem solid var(--base-border-default);
    padding: 0.2rem 0;
    font-size: var(--base-font-size-larger);
    background-color: var(--banner-background);
  }
  &__icon{
    padding:0.5rem 0.5rem;
  }
  &__middle{
    margin:0.5rem 0;
    width: 100%;
  }
  .internal-padding{
    padding:0 1rem;
  }
  .icon-style {
      @include single-border(right, 0.05rem solid var(--base-color-secondary));   //appears on white background
  }
}
