.wearable-instructions{
  max-width: 27rem;
  margin: auto;
  .wearable-image{
    max-width: 15rem;
    @include mq(medium) {
        max-width: 12rem;
    }
    @include mq(small) {
        max-width: 6rem;
    }
  }
  .upper-pad{
    margin-top: 2rem;
  }
  .button-container{
    justify-content: center;
  }
  .step-header{
    margin-top: 2rem;
  }
  .alignment{
    padding: 0.4rem
  }
}
