$percentage-graph-fill: #89c33d;
.budget-data-card{
&__list-budget{
  margin: 0.6rem 0;
}
.list-budget-description{
&__budgetDescription{

}
&__viewDetailsLauncher{
  @include text-align(right);
}
}
.budgetDescription{
  &__img{
    border-radius: 1.6rem;
    border: 0.2rem solid $percentage-graph-fill;
    width: 0.9rem;
    height: 0.9rem;
    display:inline-block;
    @include float(left);
    position:relative;
    @include right(0.3rem)
  }
  &__name{
    padding: 0.1rem;
  }
}

&__budgetAmount{
  margin:1.3rem 0;
}
.amount{
  &__budget{
    border:0.05rem solid var(--base-text-secondary);
    border-radius:3.1rem;
    padding:0.3rem 0.6rem;
  }
}
}
.tooltip {
	visibility: inherit;

	&__table {
		border-collapse:separate;
		border-spacing:0.1rem;

		&__body {
			font-size:0.8rem;
		}

		&__row {
			font-size:0.9rem;
		}
	}
}
