.calculator {
  /* loan calculator retail */
    &__header{
      font-size:var(--base-font-size-larger);
    }
    &-interest{
      &__text{
        margin:auto 0;
      }
    &__value{
      max-width:5rem;
    }
    }
    &__image {
        height: 1.5rem;
        width:1.5rem;
        position: relative;
        top:0.5rem;
    }
  /* end of styling for loan calculator retail */

  &__response{
    background-color:var(--base-background-tertiary);
    padding:0.9rem 0;
    text-align:center;
    height: auto;
    margin-top: 1.1rem;
    @include single-margin(left,0.6rem);
  }
  &-response{
    &__text{
      font-size:var(--base-font-size-default);
    }
  }

  .calculated-amount{
    font-size:var(--base-font-size-larger);
    @include single-padding(left,0.3rem);
  }

  /* corporate dashboard calculator styling */

  &__eligibleAmount{
    margin:auto;
  }

  &__avgInstallment{
    margin:auto;
  }
    /* corporate dashboard calculator styling ends here */
}
