  .darkColor {
      background-color: var(--banner-background);
  }
  
  .evaluateSpacing {
      padding-top: 0.3rem;
  }
  
  .evaluateText {
      font-size: 1.1rem;
  }
  
  .headerList {
      list-style: none;
  }
  
  .jsonEvaluator {
      padding-top: 2.1rem;
  }
  
  .errorCode {
      @include padding(0, 6rem, 0, 0);
  }
  
  .errorDesc {
      @include padding(0, 4.5rem, 0, 10rem);
  }
  
  .serviceDetails {
      padding-top: 0.6rem;
  }