.design-dashboard{
    #desktop-review-container{
        width:902px;
        height: 685px;
        margin: 30px auto 0px;
        position: relative;
        .desktop-design-frame{
            position: absolute;
            top: 0;
            @include single-margin(left,-190px);
            z-index: 1;
        }
        .frame-contents{
            margin-top: 47px;
            height: 563px;
            overflow: auto;
            z-index: 2;
            .component{
                padding: 5px;
            }
        }
    }
    #tab-review-container{
        width:469px;
        height: 727px;
        margin: 30px auto 0px;
        position: relative;
        .tab-design-frame{
            position: absolute;
            top: 0;
            @include single-margin(left,-16px);
            z-index: 1;
        }
        .frame-contents{
            margin-top: 35px;
            overflow: auto;
            height: 628px;
            z-index: 2;
            .component{
                padding: 5px;
            }
        }
    }
    #mobile-review-container{
        width:320px;
        height: 682px;
        margin: 28px auto 0px;
        position: relative;
        .mobile-design-frame{
            position: absolute;
            top: 0;
            @include single-margin(left,-27px);
            z-index: 1;    
        }
        .frame-contents{
            margin-top: 38px;
            overflow: auto;
            height: 577px;
            z-index: 2;
            .component{
                padding: 5px;
            }
        }
    }
    .switchView{
        position: relative;
    }
    oj-navigation-list{
        position: absolute;
        @include right(0);
        height:50px;
        li{
            width: 50px;
            height: 50px;
            span{
                width: 50px;
                height: 50px;
                box-sizing: border-box;
                text-align: center;
            }
            span[class^="icon"]{
                font-size: 24px;
            }
        }
    }
    .editDashboard{
        font-size: 18px;
        margin-top: 10px;
        display: inline-block;
    }
}
.switch{
    font-size: 1rem;
    margin-top: 35px;
    @include single-margin(left,10px);
    display: inline-block;
}