.category {
    &__banner {
      .section {
          padding: 0 0 2.5rem;
          @include mq(small) {
              padding: 0.6rem;
          }
          @include mq(medium) {
              padding: 0 0.6rem 1.3rem;
          }

          &__title {
              font-size: var(--base-font-size-large);
              @include mq(small) {
                  font-size: var(--base-font-size-large);
              }
              color: var(--base-text-primary);
          }

          &__subtitle {
              color: var(--base-text-primary);
              font-size: var(--base-font-size-default);
              @include mq(small) {
                  line-height: calc(#{var(--form-line-height)} - 0.6rem);
                  font-size: var(--base-font-size-larger);
              }
          }
      }
    }
    &__amount {
        
        
        
        @include mq(small) {
            top: -1.9rem;
@include left(0)
        }
        @include mq(medium) {
            top: 1.3rem;
@include left(3.4rem)
        }
    }
  }
