.eStatement{
  width:31.3rem;
  @include mq(small){
    width:21.1rem;
  }
  &__content{
    
    padding:0.6rem;@include margin(0,0,0.6rem,0);
  }
  &-content{
  &__icon{
    font-size:calc(#{var(--base-font-size-default)} + 0.6rem);
    display:inline-block;
    @include float(left);
    
    @include mq(small){
      padding:0;
      position:relative;
      top:0.3rem;
    }

  }
  &__description{
    display:inline-block;
    padding:0 0.6rem;
  }
  &__subscribeStatus{}
  &-subscribeStatus{
    &__subscribe{
      display:inline-block;
      @include float(left);
      padding:0.3rem 0;
    }
    &-subscribe{
      &__icon{
      font-size:var(--base-font-size-large);
      position:relative;
      top:0.2rem;
    }
    }
  }
  &__unSubscribeText{
    display:inline-block;
    padding:0.3rem 0;
  }
  &__text{
    color: var(--base-text-primary);
    font-weight:var(--base-font-weight-bold);
  }
  &__subscribeButton{
    display:flex;
    align-items: center;
  }
  &__confirmButtons{
    display:flex;
    align-items:center;
    justify-content: center;
  }
  &-confirmButtons{
    .form-button-primary{
      margin:0 0.6rem;
    }
  }
}
&__details{
  padding:0.6rem 0.6rem;
}
&-details{
  &__text{
    color: var(--base-text-primary);
    font-weight:var(--base-font-weight-bold);
    padding-bottom:0.3rem;
  }
  &__selectNote{
    color: var(--base-text-primary);
    font-weight:var(--base-font-weight-bold);
  }
  &__searchButton{
    display:flex;
    align-items:center;
  }
}
&__table-data{
  margin:0 0.9rem;
}
}
