.virtual-account-bar {
  background: linear-gradient(to var(--banner-gradient-direction), var(--banner-gradient-start-color), var(--banner-gradient-end-color));
  color: var(--banner-foreground-color);
  font-size: var(--banner-font-size);
  font-weight: var(--banner-font-weight);
  padding: var(--banner-padding);
  align-items: center;
}


.title-bold {
  font-weight: var(--base-font-weight-bold);
}

.icon-size {
  font-size: 1.3rem;
  @include single-padding(right, 3.125rem);
  padding-top: 1.25rem;
}

.border-bottom {
  border-bottom: 0.0625rem solid;
}

.extra-padding {
  padding-bottom: 05rem;
}

.search-remitter-container {
  padding-top: 0.625rem;
  padding-bottom: 0.75rem;
  @include single-padding(left, 0.625rem);
}

.seperator {
  padding-top: 0.9375rem;
}