.offline-notification {
    display: flex;
    align-items: center;
    color: var(--base-color-secondary-text);
    justify-content: center;
    height: 1.9rem;
    text-align: center;
    font-size: var(--base-font-size-default);
    font-weight: var(--base-font-weight-light);
    position: fixed;
    @include left(0);
    bottom: 0;
    z-index: 101;
    &-message {
        @include single-padding(right, calc(#{var(--form-line-height)} - 0.4rem));
    }
    &__message {
        &a:link {
            color: var(--base-text-primary);
            text-decoration: underline;
        }
    }
}
