.header-underline {
  border-bottom: 0.0625rem solid var(--base-border-default);
  display: inherit;

  div {
    &:first-child {
      @include single-margin(left,1.6rem);
    }
  }
}

.align-feedback {
  @include single-margin(left,1rem);
}

.icon-property {
  font-size: 1.2rem;
}
