@import "utils";
.calculator {
  /* loan calculator retail */
    &__header{
      font-size:var(--base-font-size-larger);
    }
    &__tenure{
      position:relative;
      top:0.3rem;
    }
    &-interest{
      &__text{
        margin:auto 0;
      }
    &__value{
      max-width:8rem;
      display:inline-block;
    }

    }
    &__image {
        height: 1.5rem;
        width:1.5rem;
        position: relative;
        top:0.5rem;
    }
  /* end of styling for loan calculator retail */

  &__response{
    background-color:var(--base-background-tertiary);
    padding:0.9rem 0;
    text-align:center;
    height: auto;
    margin-top: 1.1rem;
    @include single-margin(left,0.6rem);
  }
  &-response{
    &__text{
      font-size:var(--base-font-size-default);
    }
  }
    }
  /* end of calculator styling for retail */

  /* corporate dashboard calculator styling */
.td-calculator{
  &__amountInput{
    padding-bottom:0.3rem;

  }
  &__tenure{
    padding-bottom:0.3rem;
  }

  &__interest{
    padding-bottom:0.3rem;
  }
  &__result{
    padding:0.5rem 0;
  }
  &__totalReturns{
  }
  &-totalReturns{
    &__text{
    font-size: var(--base-font-size-medium);
    color: var(--base-text-primary);
    }
    &__value{
      font-size: var(--base-font-size-large);
    }
  }
  &-interestEarned{
    &__text{
    font-size: var(--base-font-size-medium);
    color: var(--base-text-primary);
    }
    &__value{
      font-size: var(--base-font-size-large);
    }
  }
}
    /* corporate dashboard calculator styling ends here */
