//chatbot client
$card-sub-title-color: #999;
$action-link-color: #0084ff;
$card-background-color: #ffffff;
$bubble-left-color: #f1f0f0;
$chatbot-color: #2a4e98;
.bot-client {
    .global-action-link {
        color: $action-link-color;
        @include padding(0.3rem, 0.6rem, 0.3rem, 0.6rem);
        @include single-margin(left, 0.3rem);
        @include single-margin(right, 0.3rem);
        margin-bottom: 0.3rem;
        background: $card-background-color;
        border: 0.06rem solid $action-link-color;
        -webkit-border-radius: 0.9rem;
        -moz-border-radius: 0.9rem;
        border-radius: 0.9rem;
    }
    .avatar {
        border-radius: 50%;
        background-size: 2.2rem 2.2rem;
        width: 2.2rem;
        height: 2.2rem;
        display: inline-block;
    }
    .bubble-right-container {
        margin-top: 0.7rem;
    }
    .bubble-left {
        padding: 0.5rem 1rem;
        background: $bubble-left-color;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        border-radius: 1.5rem;
    }
    .bubble-left-with-actions {
        border-radius: 0.6rem 0.6rem 0rem 0rem;
    }
    .message-content-container {
        margin-top: 0.7rem;
        @include single-margin(left, 1.56rem);
        @include single-margin(right, 1.56rem);
    }
    .card {
        margin-top: 0.6rem;
        background: $card-background-color;
        border: 0.06rem solid $bubble-left-color;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        border-radius: 0.6rem;
    }
    .card-title {
        font-weight: bold;
    }
    .card-sub-title {
        margin-top: 0.125rem;
        color: $card-sub-title-color;
    }
    .card-url {
        color: $card-sub-title-color;
        font-size: 0.75rem;
    }
    .vert-card-image {
        width: 3.2rem;
    }
    .vert-card-link {
        margin-top: 0.6rem;
        color: $action-link-color;
        @include padding(0.3rem, 0.6rem, 0.3rem, 0.6rem);
        background: $card-background-color;
        border: 0.06rem solid $action-link-color;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        border-radius: 0.3rem;
    }
    .bubble-right {
        color: $card-background-color;
        padding: 0.5rem 1rem;
        background: $action-link-color;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        border-radius: 1.5rem;
    }
    .actions {
        @include padding(0rem, 0rem, 0rem, 0rem);
        width: 18rem;
        background: $card-background-color;
        border: 0.06rem solid;
        border-radius: 0rem 0rem 0.6rem 0.6rem;
    }
    .card-actions {
        width: 15.31rem;
    }
    .action {
        margin-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-bottom: 0.06rem solid $bubble-left-color;
    }
    .action-last {
        margin-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-bottom: 0rem;
    }
    .action-link {
        color: $action-link-color;
    }
    a {
        &:visited.action-link {
            color: $action-link-color;
        }
    }
    .demo-arrow-controls {
        display: inline-block;
        vertical-align: top;
        @include single-margin(right, 0.6rem);
    }
    .card-filmstrip-item {
        box-sizing: border-box;
        width: 100%;
        margin-top: 0.6rem;
        background: $card-background-color;
        border: 0.06rem solid $bubble-left-color;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        border-radius: 0.6rem;
    }
    .demo-overlaid-paging-control {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .demo-stretch-items {
        height: 100%;
    }
    .container {
        display: inline-block;
        margin: 0 0.6rem;
        vertical-align: top;
    }
    .waiting-for-text {
        width: 3.12rem;
        border-radius: 0.6rem;
        margin-top: 0.6rem;
    }
    .chatbot-footer {
        max-width: 100%;
    }
    .chatbot-template {
        margin-top: 1.8rem;
    }
    .chatbot-user-message {
        margin: 0.31rem;
    }
    .chatbot-card {
        max-width: 15.3rem;
    }
    .chatbot-card-margin {
        margin-top: 0.6rem;
    }
    .chatbot-max-width {
        max-width: 100%;
        height: auto;
    }
    .chatbot-display {
        display: none;
    }
    .bot-input {
        background-color: $card-background-color;
        border-top: 0.03rem solid $bubble-left-color;
        @include left(0rem);
        height: 3rem;
        padding: 0.3rem;
    }
    .content {
        border: none;
    }
    .input-box {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        z-index: 100;
    }
    .list-view-padding {
        @include padding(0, 0, 0.5rem, 0);
    }
    .minHeight {
        min-height: 85vh;
    }
}