$font-weight-normal: 400;
$color-text-black: #000 !default;
$white-color: #fff;
$font-weight-bold: 600;
$offer-heading-color: #353535;

.orientation {
    .mobile-padding {
        padding: 0 0.6rem 0 0.6rem;
    }

    .button-padding {
        padding: 0 0 0 1rem;
    }

    .link {
        line-height: inherit;
    }

    .no-bottom-padding {
        @include mq(small) {
            padding-bottom: 0 !important;
        }
    }

    .padding-bottom {
        padding-bottom: 1rem;
        padding-top: 2rem;

        @include mq(medium) {
            padding-bottom: 2.5rem;
        }
    }

    .ori-padding-top-10 {
        @include mq(small) {
            padding-top: 0.6rem !important;
        }
    }

    .social-media-images {
        height: 1.9rem;
    }

    .image {
        img {
            width: 5rem;
        }

        @include mq(small) {
            transform: scale(0.6);
        }
    }

    .orientation-line-image {
        @include single-padding(left, 3.8rem);
        padding-top: 18.8rem;
        z-index: -1;
        background-attachment: fixed;
        width: 100%;
        background-repeat: repeat-x;
    }

    .form-container {
        padding: 0;
        margin: 0;
    }

    .image-header-title {
        font-size: 1.8rem;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        word-spacing: 0.2rem;
        color: $color-text-black;
        @include single-margin(left, 4.7rem);

        @include mq(small) {
            top: 15%;
            font-size: 1.4rem;
            @include single-margin(left, 1.3rem);
        }

        @include mq(medium) {
            @include single-margin(left, 2.8rem);
        }
    }

    .image-text {
        position: absolute;
        top: 20%;
        color: $white-color;
        font-size: 1.5rem;
        @include single-padding(left, 3%);

        @include mq(small) {
            top: 6%;
            font-size: 1.1rem;
        }

        @include mq(medium) {
            top: 15%;
            font-size: 1.3rem;
        }

        .title {
            font-size: 1.3rem;
            font-weight: $font-weight-bold;
            padding-bottom: 1%;

            @include mq(small) {
                font-size: 1rem;
            }

            @include mq(medium) {
                font-size: 1.1rem;
            }
        }
    }

    .section-padding {
        padding: 2.5rem 0.6rem 0 0.6rem;
    }

    .social-media-padding {
        padding-top: 1.3rem;
    }

    .section {
        .img {
            padding-top: 0.6rem;
        }

        .step {
            @include mq(small) {
                padding-top: 1.3rem;
            }
        }

        .offer-heading {
            font-weight: $font-weight-bold;
            color: $offer-heading-color;
            font-size: 1.3rem;

            @include mq(small) {
                font-size: 1rem;
            }

            @include mq(medium) {
                font-size: 1.1rem;
            }
        }

        .text {
            font-size: 0.8rem;
            color: var(--base-text-secondary);
            font-weight: $font-weight-normal;
        }

        .primary-heading {
            font-size: 1.3rem;
        }

        .login-button {
            margin-top: 0.5rem;
        }
    }

    .comp-title {
        letter-spacing: 0.03rem;
        font-size: var(--form-page-title-font-size);
        font-weight: var(--form-page-title-font-weight);
        color: var(--form-page-title-foreground-color);
        margin: var(--form-title-margin);
    }

    .no-margin-top-bottom {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .no-margin-bottom {
        margin-bottom: 0rem;
    }

    .section-heading {
        padding: 0.3rem 0;
    }
}