.spend-transaction-card{
  
  &__name{
    padding:0.9rem 0;
  }
  &__description{
  @include padding(0,0,0.6rem,0);
    
    
  }
  &__amount{
    padding:0.3rem 0;
    font-weight:var(--base-font-weight-regular);
    
  }
  &__icons{
    display:inline-block;
    @include float(right);
    padding:0.4rem 0;
  }
}
