<!-- ko if:$component.instructionDetailsLoaded() -->
<div class="form-main-container oj-flex oj-flex-items-pad oj-lg-12 overlay">
    <!-- ko if:$component.isIEBrowser() -->
    <div class="oj-flex-item oj-lg-6 structure__top-padding">
        <div class = "oj-flex oj-flex-items-pad oj-lg-10 structure__openInIE">
            <div class="oj-flex-item">
                <div class="oj-flex-item oj-lg-12 structure__parentNodeHeader" data-bind="text:$component.nodeDetails()[0].accountDetails.customerDesc"></div>
                <div class="oj-flex-item oj-lg-12" data-bind="text:$component.nodeDetails()[0].accountDetails.accountDesc"></div>
                <div class="oj-flex-item oj-lg-12">
                    <span data-bind="text:$component.nodeDetails()[0].accountDetails.accountKey.accountNo.displayValue"></span>
                    <span class="structure__accountType tags" data-bind="text : $component.resources.instruction.accountCheck[$component.nodeDetails()[0].accountDetails.isExtAccChk]">
                            </span>
                </div>
                <div class="oj-flex-item oj-lg-12" data-bind="text:$formatter.formatCurrency($component.nodeDetails()[0].accountDetails.currentBalance,$component.nodeDetails()[0].accountDetails.accountKey.ccyId)"></div>
            </div>
        </div>
        <div class = "oj-flex oj-flex-items-pad oj-lg-5 structure__heightBtwnNodeInIE">
            <div class="structure__cashccmethod" data-bind="text:$component.nodeDetails()[1].account.cashCCMethod || $component.cashCCMethod()"></div>
        </div>
        <div class = "oj-flex oj-flex-items-pad oj-lg-10 structure__openInIE">
            <div class="oj-flex-item">
                <div class="oj-flex-item oj-lg-12 structure__parentNodeHeader" data-bind="text:$component.nodeDetails()[1].account.accountDetails.customerDesc"></div>
                <div class="oj-flex-item oj-lg-12" data-bind="text:$component.nodeDetails()[1].account.accountDetails.accountDesc"></div>
                <div class="oj-flex-item oj-lg-12">
                    <span data-bind="text:$component.nodeDetails()[1].account.accountDetails.accountKey.accountNo.displayValue"></span>
                    <span class="structure__accountType tags" data-bind="text : $component.resources.instruction.accountCheck[$component.nodeDetails()[1].account.accountDetails.isExtAccChk]">
                            </span>
                </div>
                <div class="oj-flex-item oj-lg-12" data-bind="text:$formatter.formatCurrency($component.nodeDetails()[1].account.accountDetails.currentBalance,$component.nodeDetails()[1].account.accountDetails.accountKey.ccyId)"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot:$component.isIEBrowser() -->
    <div class="oj-flex-item oj-lg-6 view-instruction-details-container">
        <tree-view class="structure" params="
                 treeDetails :$component.treeJson(),
                 linkShortDescValue:'cashCCMethod',
                 nodeShortDescValue:'accountDetails.accountKey.accountNo.displayValue',
                 nodeIdjsonPath:'accountDetails.accountKey.accountNo.value',
                 treePanning:'none', 
                 treeZooming:'none',
                 wrapTree:'true',
                 width:240,
                 height:120,
                 overViewRenderer:'off',
                 zoomControl:'false',
                 rootModel : $component,
                 baseModel : $baseModel">
            <div class="oj-flex oj-flex-items-pad structure__node" data-bind="css : $data.nodeData.level ? (($data.nodeData.cashCCMethod === 'Sweep') ? 'structure__structureFill__structureFillSweep structure__structureFill':'structure__structureFill__structureFillPool structure__structureFill') :  (($component.cashCCMethod() === 'Sweep') ? 'structure__structureFillParent__structureFillSweep structure__structureFillParent': 'structure__structureFillParent__structureFillPool structure__structureFillParent') ">
                <!-- ko ifnot:$data.nodeData.level -->
                <div class="oj-flex-item oj-lg-12 structure__parentNodeHeader" data-bind="text:$data.nodeData.accountDetails.customerDesc"></div>
                <div class="oj-flex-item">
                    <div class="oj-flex-item oj-lg-12" data-bind="text:$data.nodeData.accountDetails.accountDesc"></div>
                    <div class="oj-flex-item oj-lg-12">
                        <span data-bind="text:$data.nodeData.accountDetails.accountKey.accountNo.displayValue"></span>
                        <span class="structure__accountType tags" data-bind="text : $component.resources.instruction.accountCheck[$data.nodeData.accountDetails.isExtAccChk]">
                            </span>
                    </div>
                    <div class="oj-flex-item oj-lg-12" data-bind="text:$formatter.formatCurrency($data.nodeData.accountDetails.currentBalance,$data.nodeData.accountDetails.accountKey.ccyId)"></div>
                </div>
                <!-- /ko -->
                <!-- ko if:$data.nodeData.level -->
                <div class="oj-flex-item oj-lg-12 structure__nodeHeader" data-bind="text:$data.nodeData.accountDetails.customerDesc"></div>
                <div class="oj-flex-item oj-lg-12" data-bind="text:$data.nodeData.accountDetails.accountDesc"></div>
                <div class="oj-flex-item oj-lg-12">
                    <span data-bind="text:$data.nodeData.accountDetails.accountKey.accountNo.displayValue"></span>
                    <span class="structure__accountType tags" data-bind="text : $component.resources.instruction.accountCheck[$data.nodeData.accountDetails.isExtAccChk]">
                            </span>
                </div>
                <div class="oj-flex-item oj-lg-8" data-bind="text:$formatter.formatCurrency($data.nodeData.accountDetails.currentBalance,$data.nodeData.accountDetails.accountKey.ccyId)"></div>
                <!-- ko if:$data.nodeData.instructionPriority -->
                <div class="oj-flex-item oj-lg-4 right priority" data-bind="text:$baseModel.format($component.resources.instruction.priority,{number :$data.nodeData.instructionPriority})"></div>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </tree-view>
    </div>
    <!-- /ko -->
    <div class="oj-flex-item oj-lg-6">
        <!-- ko if:$component.nodeDetails()[1].account.instructionList.instructiondetailList -->
        <page-section params="baseModel : $baseModel, rootModel : $component, heading : $component.resources.instruction.specification">
            <div class="row-group">
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resources.instruction.instruction, value : (nodeDetails()[1].account.instructionList.instructiondetailList ? nodeDetails()[1].account.instructionList.instructiondetailList[0].instructionType : '-')">
                </row>
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resources.instruction.frequency, value :((nodeDetails()[1].account.instructionList.instructiondetailList[0].frequencyList && nodeDetails()[1].account.instructionList.instructiondetailList[0].frequencyList.frequencyList) ? nodeDetails()[1].account.instructionList.instructiondetailList[0].frequencyList.frequencyList.description : (structureDetails().defaultFreq ? structureDetails().defaultFreq : '-'))">
                </row>
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resources.instruction.sweepPriority, value : nodeDetails()[1].account.instructionPriority">
                </row>
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resources.instruction.sweepDirection, value : $component.resources.instruction.sweepDirectionDetails[nodeDetails()[1].account.sweepDirection] || '-'">
                </row>
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resources.instruction.revSweepFrequency, value : (nodeDetails()[1].account.revFreq ? nodeDetails()[1].account.revFreq : '-')">
                </row>
            </div>
        </page-section>
        <!-- ko if:instructionDetails -->
        <page-section params="baseModel : $baseModel, rootModel : $component, heading : $component.resources.instruction.parameter">
            <div class="row-group">
                <!-- ko if:instructionDetails().length > 0 -->
                <!-- ko foreach : instructionDetails -->
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resources.instruction.instructionParamList[instructionParamKey.paramName], value : ($data.paramvalue || '-')">
                </row>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot:instructionDetails().length > 0 -->
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resources.instruction.instructionParamList[instructionDetails().instructionParamKey.paramName], value : (instructionDetails().paramvalue || '-')">
                </row>
                <!-- /ko -->
            </div>
        </page-section>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot:$component.nodeDetails()[1].account.instructionList.instructiondetailList -->
        <page-section params="baseModel : $baseModel, rootModel : $component, heading : $component.resources.instruction.specification">
            <div class="row-group">
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resources.instruction.noInstructionText, value : ''"></row>
            </div>
        </page-section>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->