<div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between">
    <div class=" oj-flex-item oj-sm-9">
        <div class="form-main-container authentication">
            <!-- ko if:$component.showMaintenanceData() -->
            <page-section params="baseModel : $baseModel, rootModel : $data">
                <row params="baseModel : $baseModel, rootModel : $parent, label : $component.nls.authentication.labels.enterpriseRole , value :$component.selectedSegmentName"></row>
                <!-- ko ifnot : $component.selectedEntityId === "ROLE" -->
                <row params="baseModel : $baseModel, rootModel : $parent, label : $component.nls.authentication.labels[$component.selectedEntityId] , value :$component.selectedEntityValue"></row>
                <!-- /ko -->
                <!-- ko if:$component.showCreateScreen() -->
                <div class="oj-flex oj-flex-items-pad boxed">
                    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                        <span id="notMaintained" for="userSegment" data-bind="text:$component.nls.authentication.labels.notMaintained"></span>
                    </div>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 button-container rowCenter">
                    <oj-button class="action-button-primary help-button" on-click="[[openCreateMode]]">
                        <span data-bind="text:$component.nls.authentication.labels.setUpNow"></span>
                    </oj-button>
                </div>

                <!-- /ko -->
                <!-- ko ifnot:$component.showCreateScreen() -->
                <oj-table id="table" :aria-label="[[$component.nls.authentication.labels.ariaLabel]]" row-renderer="[[$oj.KnockoutTemplateUtils.getRenderer('row_tmpl', true)]]" columns="[[[{headerText:$component.nls.authentication.labels.transactionType},{headerText:$component.nls.authentication.labels.level1},{headerText:$component.nls.authentication.labels.level2}]]]"
                    data="[[datasource]]">
                    <caption class="hide-label" data-bind="text:$component.nls.authentication.headers.authentication"></caption>
                </oj-table>
                <script type="text/html" id="row_tmpl">
                    <tr>
                        <td data-bind="text: transactionName">
                        </td>
                        <!-- ko foreach:authenticationInfoDTOList-->
                        <td>
                            <!-- ko if:authType.authTypeKey === 'SEC_QUE' -->
                            <div data-bind="text:$data.authType.name"></div>
                            <span data-bind="text:$data.authType.paramName1"></span>
                            <span data-bind="text:$data.paramVal1"></span>
                            <!-- /ko -->
                            <!-- ko ifnot:authType.authTypeKey === 'SEC_QUE' -->
                            <div data-bind="text:$data.authType.name"></div>
                            <!-- /ko -->
                        </td>
                        <!-- /ko -->
                    </tr>
                </script>
                <!-- /ko -->
            </page-section>
            <!-- /ko -->

            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-primary" on-click="[[showEditScreen]]">
                    <span data-bind="text:$component.nls.common.edit"></span>
                </oj-button>
                <oj-button class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data, null)]]">
                    <span data-bind="text:$component.nls.common.cancel"></span>
                </oj-button>
                <oj-button class="action-button-tertiary" on-click="[[back]]">
                    <span data-bind="text:$component.nls.common.back"></span>
                </oj-button>
            </div>
        </div>
    </div>
    <div class="oj-flex-item oj-lg-3 oj-sm-only-hide oj-md-only-hide help-panel">
        <help params="baseModel : $baseModel, rootModel : $component, transaction:'view-authentication-maintenance'"></help>
    </div>
</div>