<div class="page-section-content">
  <!-- first row -->
  <div class="oj-flex oj-flex-items-pad">
    <!-- first row first col -->
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
          <oj-label for="beneRefNo"><span data-bind="text:$component.resourceBundle.commitmentDetails.labels.beneficiaryRefNo"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
          <div id="beneRefNo" data-bind="text:$component.guaranteeDetails.beneContractReferenceNo"></div>
        </div>
      </div>
    </div>
    <!-- end of first row first col -->
    <!-- first row second col -->
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
          <oj-label for="amount"><span data-bind="text:$component.resourceBundle.commitmentDetails.labels.guaranteeAmount"></span></oj-label>
        </div>

        <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
          <span id="amount" data-bind="text: $formatter.formatCurrency($component.guaranteeDetails.contractAmount.amount,$component.guaranteeDetails.contractAmount.currency)"></span>
        </div>
      </div>
    </div>
    <!-- end of first row second col -->
  </div>
  <!-- end of first row -->

  <!-- second row -->
  <div class="oj-flex oj-flex-items-pad">
    <!-- second row first col -->
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
          <oj-label for="effectiveDate"><span data-bind="text:$component.resourceBundle.commitmentDetails.labels.effectiveDate"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
          <div id="effectiveDate" data-bind="text:$formatter.formatDate($component.guaranteeDetails.effectiveDate)"></div>
        </div>
      </div>
    </div>
    <!-- end of second row first col -->
    <!-- second row second col -->
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
          <oj-label for="expiryDate"><span data-bind="text:$component.resourceBundle.commitmentDetails.labels.expiryDate"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
          <div id="expiryDate" data-bind="text:$formatter.formatDate($component.guaranteeDetails.expiryDate)"></div>
        </div>
      </div>
    </div>
    <!-- end of second row second col -->
  </div>
  <!-- end of second row -->

  <!-- third row -->
  <div class="oj-flex oj-flex-items-pad">
    <!-- third row first col -->
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
          <oj-label for="closureDate"><span data-bind="text:$component.resourceBundle.commitmentDetails.labels.closureDate"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
          <span id="closureDate" data-bind="text:$formatter.formatDate($component.guaranteeDetails.closureDate)"></span>
        </div>
      </div>
    </div>
    <!-- end of third row first col -->
    <!-- third row second col -->
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
          <oj-label for="expiryPlace"><span data-bind="text:$component.resourceBundle.commitmentDetails.labels.expiryPlace"></span></oj-label>
        </div>

        <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
          <span id="expiryPlace" data-bind="text: $component.guaranteeDetails.expiryPlace"></span>
        </div>
      </div>
    </div>

    <!-- end of fourth row second col -->
  </div>

  <!-- end of third row -->
</div>
