 @import "utils";
 $quick-link-icon-img-size:3.1rem;
 .quick-links {
    &__flex-container {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        align-items: center;
        padding:0 0.5rem;
        margin:0;
        justify-content: center;
        @include mq(small){
          padding:0;
        }
    }
        &-flex-container{
          &__list{
             max-width: 9rem;
             text-align: center;

            @include mq(small){
              max-width: 8.4rem;
              padding-bottom: 1.3rem;
            }
            @include mq(medium){
              max-width: 12rem;
              padding-bottom: 0.7rem;
            }
          }
          &-list{
            &__item {

            }
            &-item{
              &__icons {
                  width: 3.8rem;
                  height: 3.8rem;
                  @include float(left);
                  background-size: cover;
                  position:relative;
                  @include left(1.3rem);
                  &:hover {
                    color: var(--link-base);
                  }

              }
              &__icon-title {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: var(--base-text-secondary);
                  width: 100%;
                  font-size:var(--base-font-size-default);
                  &:hover {
                    color: var(--link-base);
                  }
              }
             }
           }
     }
 }
