
.addRecipientBlock{
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--base-border-default);
  border-radius:1em;
  padding-top:0.9rem;
  padding-bottom: 0.9rem;
  @include single-padding(left,0.9rem);
  @include single-padding(right,0.9rem);
}

.recipientsTextArea{
   resize: vertical;
   overflow-y: scroll;
}
.mailers {
  @include margin(-1.3rem, -1.2rem, 0, 5rem);
  @include padding(1.3rem, 1.3rem, 1.3rem, 1.3rem);
  .create-header{
      font-weight: 700;
  }
  .create-description{
      margin-bottom: 2rem;
  }
}

.mailers-read {
  .spacing-table {
    padding-top: 1rem;
  }

  .information-wrapper-btn {
    margin-top: 1rem;
  }


}
