<div class="row-group" data-bind="with:paymentData">
    <!-- ko if:!('adhocPaymentFlag' in $component) -->
    <!-- ko ifnot: $component.isMultiplePayment -->
    <div class="oj-flex oj-flex-items-pad oj-sm-12 oj-md-12 oj-lg-12">
        <oj-label class="oj-flex-item oj-lg-12 oj-sm-12 ">
            <span data-bind="text: $component.payments.moneytransfer.transferTo"></span>
        </oj-label>
        <div class="oj-flex oj-flex-item">
            <!-- ko if:$component.imageUploadFlag() -->
            <oj-avatar class="" role="img" size="xs" initials='[[$component.initials]]' src='[[$component.preview()]]' data-bind="attr:{'aria-label':transferDetails.payeeDetails?transferDetails.payeeDetails.nickName:payeeDetails.nickName}">
            </oj-avatar>
            <!-- /ko -->
            <div data-bind="css: $component.imageUploadFlag() ? 'oj-label-inline oj-flex-item' : ''">
                <span data-bind="text:transferDetails.payeeDetails?transferDetails.payeeDetails.nickName:payeeDetails.nickName"></span>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div data-bind="with:$component.payeeDetails()">
        <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments?$component.payments.payee.accountType:$component.payments.moneytransfer.accountType ,value : $component.payments.payee.type[accountType]"></row>
        <internal-account-input class="oj-flex oj-flex-items-pad oj-sm-12 oj-lg-12" params="{
           baseModel:$baseModel,
           account : ko.observable(accountNumber),
           label:$component.payments?$component.payments.payee.accountNumber:$component.payments.moneytransfer.accountNumber,
           required:true,
           readOnly: true
          }">
        </internal-account-input>
        <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments?$component.payments.payee.accountName:$component.payments.moneytransfer.accountName ,value : accountName"></row>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: $component.isMultiplePayment -->
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.transferfrom ,
                     value :transferDetails.instructionDetails?transferDetails.instructionDetails.debitAccountId.displayValue:transferDetails.debitAccountId.displayValue"></row>
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.amount ,
                     value :transferDetails.instructionDetails?$formatter.formatCurrency(transferDetails.instructionDetails.amount.amount,transferDetails.instructionDetails.amount.currency):
                     $formatter.formatCurrency(transferDetails.amount.amount,transferDetails.amount.currency),dataClass :'highlight-text'"></row>
    <!-- ko if:!$component.isStandingInstruction() -->
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.transferon ,
                     value :transferDetails.instructionDetails?$formatter.formatDate(transferDetails.instructionDetails.startDate):$formatter.formatDate(transferDetails.valueDate)"></row>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: $component.paymentData().transferDetails && $component.paymentData().transferDetails.dealId -->
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.dealNumber ,value : $component.paymentData().transferDetails.dealId"></row>
    <!-- /ko -->
    <!-- ko if: $component.paymentData().transferDetails.instructionDetails && $component.paymentData().transferDetails.instructionDetails.dealId -->
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.dealNumber ,value : $component.paymentData().transferDetails.instructionDetails.dealId"></row>
    <!-- /ko -->
    <!-- ko if:$component.dealDetails && $component.dealDetails() -->
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.dealType ,value : $component.dealType"></row>
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.exchangeRate ,value : $component.exchangeRate() ? $formatter.formatCurrency($component.exchangeRate().amount, $component.exchangeRate().currency) : ''"></row>
    <!-- /ko -->
    <!-- ko if:$component.isStandingInstruction() -->
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.frequency ,
                     value : $component.payments.common.frequency[transferDetails.instructionDetails.frequency]"></row>
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.startTransfer ,
                     value :transferDetails.instructionDetails?$formatter.formatDate(transferDetails.instructionDetails.startDate):$formatter.formatDate(transferDetails.valueDate)"></row>
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.stopTransfer ,
                     value : $formatter.formatDate(transferDetails.instructionDetails.endDate)"></row>
    <!-- /ko -->
    <!-- ko if:$component.purposeText() -->
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.purpose,
                     value :$component.purposeText()"></row>
    <!-- /ko -->
    <row params="baseModel : $baseModel, rootModel : $component, label : $component.payments.moneytransfer.note ,
                     value :transferDetails.instructionDetails?transferDetails.instructionDetails.remarks:transferDetails.remarks"></row>
    <!-- ko if:$component.isStandingInstruction() && $component.params.retainedData.paynowWithSI() -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-lg-3">
            <oj-checkboxset id="pay-now" labelled-by="check-pay-now" value="{{$component.params.retainedData.paynowWithSI()}}" disabled="[[true]]">
                <oj-option class="checkbox-option-label" id="pay-now-option" value="{{true}}">
                    <span data-bind="text:$component.payments.moneytransfer.transfertoday"></span>
                </oj-option>
            </oj-checkboxset>
        </div>
    </div>
    <!-- /ko -->
</div>