.purchase-fund-container {


	.align-label{
		margin-bottom: 1rem;
	}

}
.heading{
  font-size: var(--base-font-size-large);
  border-bottom: 0.05rem solid var(--base-border-default);
  padding: 0.5rem;
}
