<div class="oj-flex">
		<div class="oj-flex-item oj-sm-9">
		  <div class="form-main-container">

	<page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
		<!--Input PartyId-->
		<div class="oj-flex oj-flex-items-pad">
				<div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
				  <oj-label class="" for="partyIdWorkflowSearch"><span data-bind="text:$component.nls.userGroup.groupCode"></span></oj-label>
				</div>
				<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-4">
					  <oj-input-text :aria-label="[[$component.nls.userGroup.groupCode]]" maxlength="20" require="" id="partyIdWorkflowSearch" :invalidcomponenttracker="[[$component.validationTracker]]" value="{{$component.groupDetails.userGroupName}}" validators="[[$baseModel.getValidator('APPLICATION_CODE')]]"></oj-input-text>
			  
				</div>
				</div>
			  
				  <div class="oj-flex oj-flex-items-pad">
			  
					  <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
						  <oj-label class="" for="groupCodedesc" require="true"><span data-bind="text:$component.nls.userGroup.groupDescription"></span></oj-label>
					  </div>
					  <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-4">
					  <oj-input-text :aria-label="[[$component.nls.userGroup.groupDescription]]" maxlength="80" id="groupCodedesc" required="[[true]]" translations="[[{'required':{messageDetail:$component.nls.approvals.common.Empty}}]]" validators="[[$baseModel.getValidator('APPLICATION_DEscriptION')]]" value="{{$component.groupDetails.description}}"></oj-input-text>
			  
					</div>
			  
				  </div>
	</page-section>

    <div class=" oj-flex oj-flex-items-pad  button-container ">
			<oj-button id="userGroup_btnSearch" class="action-button-primary" on-click="[[fetchGroupDetailsCode]]">
      <span data-bind="text:$component.nls.generic.common.search"></span>
</oj-button>

<oj-button id="clearButton" class="action-button-tertiary" on-click="[[clear]]">
		<span data-bind="text:$component.nls.generic.common.clear"></span>
  </oj-button>

    </div>
<page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
	<!-- ko if:dataLoaded() -->
	<oj-table id="table" :aria-label="[[$component.nls.userGroup.title]]" columns="[[[{headerText:$component.nls.userGroup.groupCode,field:'name',template:'group_code'},{headerText:$component.nls.userGroup.groupDescription,field:'description'},{headerText:$component.nls.userGroup.users,field:'usercount'}]]]" columns-default="[[{sortable:'enabled'}]]" selection-mode="[[{row:'single',column:'single'}]]" data="[[$component.datasource]]">
	<caption class="hide-label" data-bind="text:$component.nls.userGroup.title"></caption>
    <template slot="group_code">
        <td>
          <a href="#" data-bind="text:$current.row.name,click:$component.onUserGroupSelected.bind($data,$current.row)"></a>
        </td>
    </template>
	</oj-table>
 <!-- /ko -->
	</page-section>
	<!-- ko if:dataLoaded() -->
	<div class=" oj-flex oj-flex-items-pad  button-container ">	
	
	<oj-button id="cancelButton" class="action-button-secondary " on-click="[[cancel]]">
			<span data-bind="text:$component.nls.generic.common.cancel"></span>
	  </oj-button>
	  
	</div>
<!-- /ko -->
</div>

</div>
<div class="oj-flex-item oj-sm-3 oj-sm-only-hide oj-md-only-hide">
  <help params="baseModel : $baseModel, rootModel : $component, transaction: 'admin-user-group'"></help>
</div>
</div>
