@import "utils";
.my-approved-list{
  &__selection{
    padding:0.4rem;
  }


  .approver-tabs {
    &-listView {
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      &-list {
        &-listItems {
          padding: 1rem 0.6rem;
          cursor: pointer;
          font-size: var(--base-font-size-default);
          border-bottom: 0.05rem solid var(--base-border-default);

          .icon {
            transform: rotate(-90deg);
          }

          &:last-child {

            border-bottom: 0;
          }

          &__link {
            color: var(--base-color-secondary) !important;
          }

          &-link {
            &__items{
              display:inline-block;
              @include float(right);
            }
            &-items {
              &__count {
                @include mq(small) {
                  color: var(--color-white);
                  background-color: var(--link-base);
                  border-radius: 0.9rem;
                  padding: 0.3rem 0.6rem;
                  font-size: var(--base-font-size-default);
                  position: relative;
                  top: -0.2rem;
                }
                @include mq(medium) {
                  color: var(--color-white);
                  background-color: var(--link-base);
                  border-radius: 0.9rem;
                  padding: 0.3rem 0.6rem;
                  font-size: var(--base-font-size-default);
                  position: relative;
                  top: -0.2rem;
                }
              }

              &__icon {
                display: inline-block;
                color: var(--link-base);
                @include padding(0, 0, 0, 0.3rem);
              }
            }
          }
        }
      }
    }
  }

}
