.text-input{
  &__validation-purpose{
    width:0;
    height:0;
    border:0 !important;
  }
  &__required .cke_editable {
    border:0.05rem solid var(--base-color-danger);
  }

  .oj-messaging-inline-container{
    margin-top: -2.2rem;
  }

  p{
    margin: 0;
    line-height: 1.3rem;
  }
}
