/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: FDTable;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	max-id: 3;
	border-spacing-y: 2;
	border-spacing-x: 2;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #808080;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 2px;
	separator-color: #73b1f1;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-FDTable
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 2px;
	border-spacing: 2px 2px;
}

.TableStyle-FDTable-Column-Column1
{
	
}

.TableStyle-FDTable-Head-Header1
{
	
}

.TableStyle-FDTable-HeadI-Column1-Header1
{
	
}

.TableStyle-FDTable-HeadI-Column1-Header1 p
{
	
}

.TableStyle-FDTable-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-FDTable-HeadE-Column1-Header1 p
{
	
}

.TableStyle-FDTable-HeadF-Column1-Header1
{
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-FDTable-HeadF-Column1-Header1 p
{
	
}

.TableStyle-FDTable-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FDTable-HeadH-Column1-Header1 p
{
	
}

.TableStyle-FDTable-HeadD-Column1-Header1
{
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-FDTable-HeadD-Column1-Header1 p
{
	
}

.TableStyle-FDTable-HeadC-Column1-Header1
{
	
}

.TableStyle-FDTable-HeadC-Column1-Header1 p
{
	
}

.TableStyle-FDTable-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FDTable-HeadB-Column1-Header1 p
{
	
}

.TableStyle-FDTable-HeadA-Column1-Header1
{
	
}

.TableStyle-FDTable-HeadA-Column1-Header1 p
{
	
}

.TableStyle-FDTable-HeadG-Column1-Header1
{
	
}

.TableStyle-FDTable-HeadG-Column1-Header1 p
{
	
}

.TableStyle-FDTable-Foot-Footer1
{
	
}

.TableStyle-FDTable-FootI-Column1-Footer1
{
	
}

.TableStyle-FDTable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 2px;
	border-top-color: #73b1f1;
	border-top-style: none;
}

.TableStyle-FDTable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-FootF-Column1-Footer1
{
	border-top-width: 2px;
	border-top-color: #73b1f1;
	border-top-style: none;
}

.TableStyle-FDTable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FDTable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-FootD-Column1-Footer1
{
	border-top-width: 2px;
	border-top-color: #73b1f1;
	border-top-style: none;
}

.TableStyle-FDTable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-FootC-Column1-Footer1
{
	
}

.TableStyle-FDTable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FDTable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-FootA-Column1-Footer1
{
	
}

.TableStyle-FDTable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-FootG-Column1-Footer1
{
	
}

.TableStyle-FDTable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-FDTable-Body-Body1
{
	
}

.TableStyle-FDTable-BodyI-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FDTable-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-FDTable-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyH-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FDTable-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-FDTable-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyC-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyB-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FDTable-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyA-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyG-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-FDTable-BodyG-Column1-Body1 p
{
	font-weight: normal;
}


