/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: HomepgTable;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	max-id: 3;
	border-spacing-y: 2;
	border-spacing-x: 2;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 2px;
	separator-color: #a9a9a9;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #808080;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 2px;
	separator-color: #73b1f1;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-HomepgTable
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 2px;
	border-spacing: 2px 2px;
}

.TableStyle-HomepgTable-Column-Column1
{
	
}

.TableStyle-HomepgTable-Head-Header1
{
	
}

.TableStyle-HomepgTable-HeadI-Column1-Header1
{
	
}

.TableStyle-HomepgTable-HeadI-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-HeadE-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-HomepgTable-HeadE-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-HeadF-Column1-Header1
{
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-HomepgTable-HeadF-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-HeadH-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-HomepgTable-HeadH-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-HeadD-Column1-Header1
{
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-HomepgTable-HeadD-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-HeadC-Column1-Header1
{
	
}

.TableStyle-HomepgTable-HeadC-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-HeadB-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-HomepgTable-HeadB-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-HeadA-Column1-Header1
{
	
}

.TableStyle-HomepgTable-HeadA-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-HeadG-Column1-Header1
{
	
}

.TableStyle-HomepgTable-HeadG-Column1-Header1 p
{
	
}

.TableStyle-HomepgTable-Foot-Footer1
{
	
}

.TableStyle-HomepgTable-FootI-Column1-Footer1
{
	
}

.TableStyle-HomepgTable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-FootE-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
	border-top-width: 2px;
	border-top-color: #73b1f1;
	border-top-style: none;
}

.TableStyle-HomepgTable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-FootF-Column1-Footer1
{
	border-top-width: 2px;
	border-top-color: #73b1f1;
	border-top-style: none;
}

.TableStyle-HomepgTable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-FootH-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-HomepgTable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-FootD-Column1-Footer1
{
	border-top-width: 2px;
	border-top-color: #73b1f1;
	border-top-style: none;
}

.TableStyle-HomepgTable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-FootC-Column1-Footer1
{
	
}

.TableStyle-HomepgTable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-FootB-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-HomepgTable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-FootA-Column1-Footer1
{
	
}

.TableStyle-HomepgTable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-FootG-Column1-Footer1
{
	
}

.TableStyle-HomepgTable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-HomepgTable-Body-Body1
{
	
}

.TableStyle-HomepgTable-BodyI-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-HomepgTable-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomepgTable-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyH-Column1-Body1
{
	font-weight: normal;
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-HomepgTable-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomepgTable-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyC-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyB-Column1-Body1
{
	font-weight: normal;
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-right-style: none;
}

.TableStyle-HomepgTable-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyA-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyG-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-HomepgTable-BodyG-Column1-Body1 p
{
	font-weight: normal;
}


