/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableFaq;
	border-collapse: collapse;
	max-id: 5;
	border-top-style: dotted;
	border-top-width: 2px;
	border-top-color: #696969;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: dotted;
	separator-width: 2px;
	separator-color: #696969;
	color: #000000;
	name: Header1;
	id: 3;
	font-size: 10pt;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: dotted;
	separator-width: 2px;
	separator-color: #696969;
	name: Body1;
	id: 1;
	text-align: left;
	font-size: 10pt;
	font-family: Arial;
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: dotted;
	separator-width: 2px;
	separator-color: #696969;
	name: Body2;
	id: 2;
	font-size: 10pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
}


/* Cell Styles: */
 
.TableStyle-TableFaq
{
	border-collapse: collapse;
	border-top-style: dotted;
	border-top-color: #696969;
	border-top-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #696969;
	border-bottom-width: 2px;
	border-spacing: 0px 0px;
}

.TableStyle-TableFaq-Column-Column1
{
	
}

.TableStyle-TableFaq-Head-Header1
{
	
}

.TableStyle-TableFaq-HeadI-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-TableFaq-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
}

.TableStyle-TableFaq-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-HeadF-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
}

.TableStyle-TableFaq-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-TableFaq-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-HeadD-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
}

.TableStyle-TableFaq-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-HeadC-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-TableFaq-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-TableFaq-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-HeadA-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-TableFaq-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-HeadG-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}

.TableStyle-TableFaq-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableFaq-FootI-Column1-
{
	
}

.TableStyle-TableFaq-FootI-Column1- p
{
	
}

.TableStyle-TableFaq-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-FootE-Column1- p
{
	
}

.TableStyle-TableFaq-FootF-Column1-
{
	
}

.TableStyle-TableFaq-FootF-Column1- p
{
	
}

.TableStyle-TableFaq-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-FootH-Column1- p
{
	
}

.TableStyle-TableFaq-FootD-Column1-
{
	
}

.TableStyle-TableFaq-FootD-Column1- p
{
	
}

.TableStyle-TableFaq-FootC-Column1-
{
	
}

.TableStyle-TableFaq-FootC-Column1- p
{
	
}

.TableStyle-TableFaq-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-FootB-Column1- p
{
	
}

.TableStyle-TableFaq-FootA-Column1-
{
	
}

.TableStyle-TableFaq-FootA-Column1- p
{
	
}

.TableStyle-TableFaq-FootG-Column1-
{
	
}

.TableStyle-TableFaq-FootG-Column1- p
{
	
}

.TableStyle-TableFaq-Body-Body1
{
	
}

.TableStyle-TableFaq-BodyI-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-TableFaq-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyE-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyF-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
}

.TableStyle-TableFaq-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyH-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyD-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
}

.TableStyle-TableFaq-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyC-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-TableFaq-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyB-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyA-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-TableFaq-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyG-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
}

.TableStyle-TableFaq-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-Body-Body2
{
	
}

.TableStyle-TableFaq-BodyI-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyI-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyE-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-BodyE-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyF-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
}

.TableStyle-TableFaq-BodyF-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyH-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-BodyH-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyD-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-bottom-style: dotted;
}

.TableStyle-TableFaq-BodyD-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyC-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyC-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyB-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-TableFaq-BodyB-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyA-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyA-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyG-Column1-Body2
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-TableFaq-BodyG-Column1-Body2 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}


