/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableRow;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	max-id: 4;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	type: Manual;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #696969;
	color: #ffffff;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	type: Automatic;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #808080;
	background-color: #a9a9a9;
	name: Body1;
	id: 1;
	type: Manual;
	cell-content-style-tag: p;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-TableRow
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-TableRow-Column-Column1
{
	
}

.TableStyle-TableRow-Head-Header1
{
	
}

.TableStyle-TableRow-HeadI-Column1-Header1
{
	padding-bottom: 0px;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-TableRow-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-HeadE-Column1-Header1
{
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableRow-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-HeadF-Column1-Header1
{
	padding-bottom: 0px;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableRow-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-HeadH-Column1-Header1
{
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-TableRow-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-HeadD-Column1-Header1
{
	padding-bottom: 0px;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableRow-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-HeadC-Column1-Header1
{
	padding-bottom: 0px;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-TableRow-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-HeadB-Column1-Header1
{
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-TableRow-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-HeadA-Column1-Header1
{
	padding-bottom: 0px;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-TableRow-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-HeadG-Column1-Header1
{
	padding-bottom: 0px;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-TableRow-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-TableRow-Foot-Footer1
{
	
}

.TableStyle-TableRow-FootI-Column1-Footer1
{
	padding-bottom: 0px;
	background-color: #c0c0c0;
}

.TableStyle-TableRow-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-FootE-Column1-Footer1
{
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TableRow-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-FootF-Column1-Footer1
{
	padding-bottom: 0px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TableRow-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-FootH-Column1-Footer1
{
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-TableRow-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-FootD-Column1-Footer1
{
	padding-bottom: 0px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TableRow-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-FootC-Column1-Footer1
{
	padding-bottom: 0px;
	background-color: #c0c0c0;
}

.TableStyle-TableRow-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-FootB-Column1-Footer1
{
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-TableRow-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-FootA-Column1-Footer1
{
	padding-bottom: 0px;
	background-color: #c0c0c0;
}

.TableStyle-TableRow-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-FootG-Column1-Footer1
{
	padding-bottom: 0px;
	background-color: #c0c0c0;
}

.TableStyle-TableRow-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TableRow-Body-Body2
{
	
}

.TableStyle-TableRow-BodyI-Column1-Body2
{
	padding-bottom: 0px;
}

.TableStyle-TableRow-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TableRow-BodyE-Column1-Body2
{
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRow-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TableRow-BodyF-Column1-Body2
{
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableRow-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TableRow-BodyH-Column1-Body2
{
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRow-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TableRow-BodyD-Column1-Body2
{
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableRow-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TableRow-BodyC-Column1-Body2
{
	padding-bottom: 0px;
}

.TableStyle-TableRow-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TableRow-BodyB-Column1-Body2
{
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRow-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TableRow-BodyA-Column1-Body2
{
	padding-bottom: 0px;
}

.TableStyle-TableRow-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TableRow-BodyG-Column1-Body2
{
	padding-bottom: 0px;
}

.TableStyle-TableRow-BodyG-Column1-Body2 p
{
	
}

.TableStyle-TableRow-Body-Body1
{
	
}

.TableStyle-TableRow-BodyI-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
}

.TableStyle-TableRow-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TableRow-BodyE-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRow-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TableRow-BodyF-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-TableRow-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TableRow-BodyH-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRow-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TableRow-BodyD-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-TableRow-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TableRow-BodyC-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
}

.TableStyle-TableRow-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TableRow-BodyB-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableRow-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TableRow-BodyA-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
}

.TableStyle-TableRow-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TableRow-BodyG-Column1-Body1
{
	padding-bottom: 0px;
	background-color: #a9a9a9;
}

.TableStyle-TableRow-BodyG-Column1-Body1 p
{
	
}


