@import "utils";
.bills {
.labelTitle{
  display:inline-block;
  max-width:31.3rem;
  width:100%;
  font-size:0.8rem;
  font-weight: var(--base-font-weight-bold);
  @include single-margin(top, 0.6rem);
}

.bills-chart{

  width:100%;
  height:6rem;
}
.bills-legend{
  height:2.2rem;
}
.noData{
  text-align: center;
  margin:3rem;
}
}
