.account-snapshot-registration {
  margin-top: 3.8rem;
  @include single-margin(left,1.3rem);

  .account-snapshot-paragraph {
    padding-top: 1.3rem;
  }

  .account-snapshot-button-container {
    margin-top: 5.6rem;
  }
}
