.lc-details{
  .tolerance-input {
		min-width: 3em;
	}

	.tolerance-input {
		@include single-margin(left,0.6rem);
	}

	.tolerance-label {
		padding: 0.7rem;
	}

	.tolerance-percent-span {
		padding: 0.6rem 0rem !important;
	}
}
