<div class="form-main-container submission-confirmation">
    <div class=" registration">
        <div class="page-container">
            <div class="oj-flex oj-flex-items-pad ">
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 margin-bottom-20 primary-heading">
                  <h3 data-bind="text: $component.resource.sucessRegistrationViaLink"></h3>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 margin-bottom ">
                  <div class="text" data-bind="text: $component.resource.trackMsgViaLink"></div>
              </div>
            </div>
        </div>
    </div>
</div>
