.cpid-container {
    font-weight: var(--base-font-weight-light);
    font-size: var(--base-font-size-medium);
}

.cp-border {
    border-bottom: 0.05rem solid var(--base-border-default);
    padding-bottom: 0.3rem;
}

.cp-address {
    padding-top: 0.7rem;
}

.list-width {
    width:15rem;
    border: 0.09rem solid var(--button-primary-border-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

.word-style {
    word-wrap: break-word;
}
