

.filter {
    &__label {
        @include single-padding(left, 2rem);
    }
}

.offcanvas-box {
    &__menu {
        position: relative;
        display: inline-block;
        border-color: var(--base-color-primary-text);
        @include single-border(right, 0.05rem solid var(--base-border-default));
        background-color: var(--base-color-secondary-text);
        transform: none;
        padding:0 !important;
        //margin: 0.9rem 0;

        &__option {
            display: table;
            width: 100%;
            min-height: 1.9rem;
            font-size: 0.9rem;
            a {
                @include single-margin(right, 0.5rem);
            }

            &__selected {
                background-color: var(--base-text-secondary);
                a {
                    color: var(--color-white) !important;
                }
            }

            &:hover {
                a {
                    color: var(--base-text-primary);
                }
            }

            a {
                color: var(--base-text-primary);
                display: table-cell;
                vertical-align: middle;

                span {
                    display: table-cell;
                }
                .icons {
                    font-size: 0.6rem;
                    @include text-align(right);
                    line-height: 1.3rem;
                }
            }
        }
    }

    &__main-content {
        &__details {
          margin:0 !important;
            //@include single-padding(left, 1rem);
            //@include single-padding(right, 2rem);
        }
    }

    &__content-option {
        min-height: 2.2rem;

        label {

            color: var(--base-text-primary);
        }
    }
}

.transaction-list {
    &__filter-list-option {
        padding: 0.3rem 0;

        &__label {
            color: var(--base-text-primary) !important;
        }
    }

    .menuFilters {
        padding: 0 0.6rem;
        @include mq(small) {}
        @include mq(medium) {
            padding: 0;
        }
    }

    .filterButtons {
        padding: 0;
        @include mq(medium) {}
    }
    &-filterIcon {
        &__icon {
            font-size: 1.5rem;
            @include float(right);
        }
    }

    &__filterReset {}

    &-filterReset {
        &__label {
            font-size: 0.9rem;
            color: var(--base-text-primary);
        }
    }

    .filter-content {
        width: 85%;

        .radio-checkbox-option {
            padding-bottom: 0.6rem;
            padding-top: 0.6rem;
        }
    }

    .filter-icon {
        color: var(--link-base)!important;
        position: relative;
        top: 0.1rem;
    }

    &__refresh {
        font-size: 1.1rem;
        color: var(--link-base);
        margin-top: 0.2rem;
        @include mq(small) {
            @include single-padding(right, 0.6rem);
        }

        &__category {
            font-size: 1.4rem;
            color: var(--link-base);
        }
    }

    &__table {}

    .table {
        &__categoryName {
            font-size: 1rem;
        }

        &__subCategoryName {
            font-size: 0.8rem;
        }

        &__secondary-text {
            font-size: 0.8rem;
        }

        &__editIcon {
            display: inline-block;
            @include single-border(right, 0.05rem solid var(--base-text-primary));
            padding: 0.3rem 0.6rem;
        }

        &__splitIcon {
            display: inline-block;

            @include single-padding(left, 0.3rem);
        }
    }
    .action-align {
        text-align: center !important;
    }
    .success-bar {
        background: var(--base-color-success-light);
        @include single-border(left, 0.4rem solid var(--base-color-success));
        margin: 0.9rem 0;
        padding: 0.6rem 0.3rem;
        @include mq(small) {
            padding: 0.6rem 0;
        }
    }
    .category-filter {
        display: none;

        @include mq(small) {
            width: 100%;
        }
    }
    .hundredvh {
        min-height: 100vh;
    }

    .transaction-list-checkboxset {
        width: 100%;
    }


    .split-row {
        @include mq(small) {
            border-bottom: 0.05rem solid var(--base-border-default);
            margin-bottom: 1.3rem;
        }

        &__amount-input {
            @include single-padding(left, 0.6rem);
        }
    }

    .list-style-type-none {
        list-style-type: none;
    }
}
