.workflow-config {
  .workflow-box {
    background: var(--base-background-primary);
    padding: 1.3rem 0.9rem;
    width: 20rem;
    overflow: auto;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

.workflow-configuration,
.workflow-confirm {
  span {
    display: flex;
  }
}

.table-offset {
  @include single-margin(left,0.6rem);
  margin-top: 1.3rem;
}

.display-initial {
  display: initial!important;
}

.ui-sortable-handle {
  margin: 1.3rem 2.2rem;
  font-weight: 400;
  border-color: var(--base-border-default);
  color: var(--base-text-secondary);
  list-style-type: none;

  h3 {
    @include single-padding(left,1.3rem);
    height: 3rem;
    background-color: var(--base-background-primary);
    overflow: auto;
    font-size: 0.9rem;
    border: 0.05rem solid var(--base-border-default);
    display: flex;
    align-items: center;
  }
}

.body.movable {
  .ui-sortable-handle {
    h3 {
      &:hover {
        background: var(--base-border-default);
        cursor: pointer;
      }
    }
  }
}

.icon-move:before {
  @include single-padding(right,0.6rem);
}

.workflow-confirm {
  .icon-success:before {
    color: var(--base-color-success);
    font-size: 1.9rem;
    @include single-padding(right,1.3rem);
  }
}

.head,
.tail {
  .ui-sortable-handle {
    h3 {
      border-color: var(--base-border-default);
      color: var(--base-text-secondary);
    }
  }
}

.edit-screen {
  .margin-top-bottom {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

.centre-icon {
  display: flex;
  justify-content: center;
}

.workflow-confirm {
  label {
    display: flex;
  };

  .capital-text {
    text-transform: uppercase;
  }
}
