.row {
    .label-container {
        &__label {
            display: block;
            color: var(--base-text-secondary);
            font-size: var(--base-font-size-medium);
            font-weight: var(--base-font-weight-light);
            @at-root .ADMIN &,
            .ANON & {
                line-height: var(--form-line-height);
            }
        }
    }
    .row__value {
        line-height: var(--form-line-height);
        padding-bottom: 0.5rem;
        &.multiple {
            line-height: calc(var(--form-line-height)*.6);
            &:first-child {
                padding-top: 0.5rem;
            }
            &:last-child {
                padding-bottom: 0.5rem;
            }
        }
    }
}