<div id="pinLogin" class="login-options-modal-window">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 right pt10">
      <a href="#" data-bind="attr:{'aria-label':$component.resource.closeAlt, 'alt':$component.resource.closeAlt ,'title':$component.resource.close },click:closeDialog">
          <span class="icons icon-cancel close-modal-icon"></span>
      </a>
    </div>
  </div>
  <div class="main-content">
    <div class="white-font" data-bind="text:$component.error"></div>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12">
          <oj-label for="enterPin" class="set-pin-size"><span data-bind="text:$component.resource.enterPin"></span></oj-label>

        </div>
      </div>
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-10 margin-auto">
          <oj-input-text autofocus class="set-pin-input  set-pin-size" id="enterPin" :maxlength="[[$component.maxlength]]" on-raw-value-changed="[[pinLoginProceed]]"></oj-input-text>
        </div>
    </div>
  </div>
</div>
