.darkColor {
    background-color: var(--banner-background);
}

.evaluateSpacing {
    padding-top: 0.5rem;
}

.evaluateText {
    font-size: 1.1rem;
}

.headerList {
    list-style: none;
}

.jsonEvaluator {
    padding-top: 3.93rem;
}