<oj-validation-group :id="[[$component.id+'track']]">
  <div class="oj-flex oj-flex-items-pad section-header-control">
    <div class="oj-flex-item oj-md-12 section-header-control__banner">
      <span data-bind="text:$component.resource.sectionHeaderCaption"></span>
    </div>
    <div class="oj-flex section-header-control__middle">
    <div class="oj-flex-item oj-sm-4">
    </div>
    <div class="oj-flex-item oj-sm-4 ">
      <oj-input-text :id="[[$component.id+1]]" placeholder="{{$component.resource.sectionHeader}}" value="{{$component.formField().values[0].description}}" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_SOME_SPECIAL',$component.resource.validationMessage,{
                       type: 'length',
                       options: {
                           min: 0,
                           max: 120
                       }})]]" required> </oj-input-text>
    </div>
    <!-- ko if: showSave -->
    <a href="#" on-click="[[$component.saveSectionHeader]]">
  <span class="icons icon-save section-header-control__icon"></span></a>
    <!-- /ko -->
    <a href="#" on-click="[[$component.deleteSectionHeader]]">
  <span class="icons icon-close section-header-control__icon"></span></a>
  </div>
</div>
</oj-validation-group>
