.adhoc-transfer-vpa {
    .validity {
        font-size: var(--base-font-size-medium);
    }

    .cust-details {
        background: var(--banner-background);
        color: var(--banner-text-secondary);
        padding: var(--banner-padding);
        justify-content: center;
        align-items: center;

        .label,
        label {
            color: var(--banner-text-primary);
            font-size: var(--base-font-size-medium);
        }

    }
}