<div class="form-main-container">
    <!-- ko if:userCredentials -->
    <page-section
        params="baseModel : $baseModel, rootModel : $data, heading :$component.nls.registration.messages.accountDetail">

        <oj-validation-group id="tracker" valid="{{validationTracker}}">
            <!-- ko if: clickedDemandDeposit -->
            <div class="oj-flex oj-flex-items-pad row-spacing">

                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">

                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="acctype"><span
                                    data-bind="text:$component.nls.registration.messages.accountType"></span></oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3">
                            <!-- ko if:accountEnumLoaded -->
                            <oj-select-one id="acctype" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                on-value-changed="[[optionChangedHandler]]" value="{{accountType}}">
                                <!-- ko foreach: accountEnumList -->
                                <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="customerId"><span
                                    data-bind="text:$component.nls.registration.accountDetails.customerIdLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3 ">
                            <oj-input-text maxlength="20" id="customerId" required
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                validators="[[$baseModel.getValidator('PARTY_ID')]]"
                                value="{{$component.payload().partyId}}"></oj-input-text>
                        </div>
                    </div>

                    <div class="oj-flex oj-flex-items-pad row-spacing">

                        <!-- ko if: $baseModel.large() -->
                        <internal-account-input class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-12 inline"
                            params="account : $component.accountNumber, label : $component.nls.registration.accountDetails.acctNoLabel,  baseModel : $baseModel, showInline : true, required : true">
                        </internal-account-input>
                        <!-- /ko -->
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">

                        <!-- ko ifnot: $baseModel.large() -->
                        <internal-account-input class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-3 "
                            params="account : $component.accountNumber, label : $component.nls.registration.accountDetails.acctNoLabel,  baseModel : $baseModel,  required : true">
                        </internal-account-input>
                        <!-- /ko -->
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="firstName"><span
                                    data-bind="text:$component.nls.registration.accountDetails.firstNameLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-4">
                            <oj-input-text maxlength="35" id="firstName" required
                                validators="[[$baseModel.getValidator('NAME')]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().firstName}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="lastName"><span
                                    data-bind="text:$component.nls.registration.accountDetails.lastNameLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-4 ">
                            <oj-input-text maxlength="35" id="lastName" required validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_ALL_SPECIAL',$component.nls.locale.messages.NAME,{
                    type: 'length',
                    options: {
                    max: 80
                    }
                })]]" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().lastName}}"></oj-input-text>
                        </div>
                    </div>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="emailId"><span
                                    data-bind="text:$component.nls.registration.accountDetails.emailLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-5 ">
                            <oj-input-text maxlength="50" id="emailId" required
                                validators="[[$baseModel.getValidator('EMAIL')]]"
                                :placeholder="[[$component.nls.registration.messages.usernamePlaceholder]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().emailId}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="dob"><span
                                    data-bind="text:$component.nls.registration.accountDetails.dobLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3">
                            <oj-input-date id="dob" required value="{{$component.payload().dateOfBirth}}"
                                datepicker="[[{yearRange:'c-100:c+0'}]]"  converter="[[$formatter.dateConverter]]"></oj-input-date>

                        </div>
                    </div>


                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="cardNumber"><span
                                    data-bind="text:$component.nls.registration.accountDetails.debitCardNoLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-4">
                            <oj-input-text id="cardNumber" maxlength="23"
                                :placeholder="[[$component.nls.registration.messages.debitcardPlaceholder]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                validators="[[$baseModel.getValidator('CARD_NUMBER')]]"
                                value="{{$component.payload().debitCardNumber}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="cardPin"><span
                                    data-bind="text:$component.nls.registration.accountDetails.debitCardPinLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-2">
                            <oj-input-password id="cardPin" maxlength="4"
                                validators="[[$baseModel.getValidator('PIN')]]"
                                value="{{$component.payload().debitCardPin}}"></oj-input-password>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /ko -->
            <!-- ko if: clickedLoanAccount -->
            <div class="oj-flex oj-flex-items-pad row-spacing">

                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="acctype"><span
                                    data-bind="text:$component.nls.registration.messages.accountType"></span></oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3">
                            <!-- ko if:accountEnumLoaded -->
                            <oj-select-one id="acctype" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                on-value-changed="[[optionChangedHandler]]" value="{{accountType}}">
                                <!-- ko foreach: accountEnumList -->
                                <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="customerId"><span
                                    data-bind="text:$component.nls.registration.accountDetails.customerIdLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3 ">
                            <oj-input-text maxlength="20" id="customerId" required
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                validators="[[$baseModel.getValidator('PARTY_ID')]]"
                                value="{{$component.payload().partyId}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">

                        <!-- ko if: $baseModel.large() -->
                        <internal-account-input class="oj-flex-item oj-lg-12"
                            params="account : $component.accountNumber, label : $component.nls.registration.accountDetails.acctNoLabel, baseModel : $baseModel, showInline : true, required : true">
                        </internal-account-input>
                        <!-- /ko -->

                        <!-- ko ifnot: $baseModel.large() -->
                        <internal-account-input class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-3"
                            params="account : $component.accountNumber, label : $component.nls.registration.accountDetails.acctNoLabel, baseModel : $baseModel, required : true">
                        </internal-account-input>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="firstName"><span
                                    data-bind="text:$component.nls.registration.accountDetails.firstNameLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-4 ">
                            <oj-input-text id="firstName" required validators="[[$baseModel.getValidator('NAME')]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().firstName}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="lastName"><span
                                    data-bind="text:$component.nls.registration.accountDetails.lastNameLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-4 ">
                            <oj-input-text id="lastName" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_ALL_SPECIAL',$component.nls.locale.messages.NAME,{
                    type: 'length',
                    options: {
                    max: 80
                    }
                })]]" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().lastName}}"></oj-input-text>
                        </div>
                    </div>


                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="emailId"><span
                                    data-bind="text:$component.nls.registration.accountDetails.emailLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-5 ">
                            <oj-input-text id="emailId" required validators="[[$baseModel.getValidator('EMAIL')]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().emailId}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="dob"><span
                                    data-bind="text:$component.nls.registration.accountDetails.dobLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 ">
                            <oj-input-date id="dob" required value="{{$component.payload().dateOfBirth}}"
                                datepicker="[[{yearRange:'c-100:c+0'}]]"></oj-input-date>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /ko -->
            <!-- ko if: clickedCreditCard -->
            <div class="oj-flex oj-flex-items-pad row-spacing">

                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="acctype"><span
                                    data-bind="text:$component.nls.registration.messages.accountType"></span></oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3">
                            <!-- ko if:accountEnumLoaded -->
                            <oj-select-one id="acctype" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                on-value-changed="[[optionChangedHandler]]" value="{{accountType}}">
                                <!-- ko foreach: accountEnumList -->
                                <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="cardNumber"><span
                                    data-bind="text:$component.nls.registration.creditCardDetails.cardNoLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4 ">
                            <oj-input-text id="cardNumber" maxlength="19" required
                                :placeholder="[[$component.nls.registration.messages.creditcardPlaceholder]]"
                                validators="[[$baseModel.getValidator('CARD_NUMBER')]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().creditCardNumber}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="name"><span
                                    data-bind="text:$component.nls.registration.creditCardDetails.nameLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4 ">
                            <oj-input-text id="name" required validators="[[$baseModel.getValidator('NAME')]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().creditCardNameOnCard}}"></oj-input-text>
                        </div>
                    </div>

                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="emailId"><span
                                    data-bind="text:$component.nls.registration.accountDetails.emailLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-5 ">
                            <oj-input-text maxlength="50" id="emailId" required
                                validators="[[$baseModel.getValidator('EMAIL')]]"
                                :placeholder="[[$component.nls.registration.messages.usernamePlaceholder]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().emailId}}"></oj-input-text>
                        </div>
                    </div>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">

                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="expDate"><span
                                    data-bind="text:$component.nls.registration.creditCardDetails.expiryDateLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-4 oj-md-4 oj-lg-2">
                            <oj-label class="hide-label" for="expmonth"><span
                                    data-bind="text:$component.nls.registration.creditCardDetails.expiryDateLabel"></span>
                            </oj-label>
                            <oj-select-one id="expmonth" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{expiryMonth}}">
                                <!-- ko foreach: monthEnumList -->
                                <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                        </div>
                        <div class="oj-flex-item oj-sm-4 oj-md-4 oj-lg-3 label">
                            <oj-label class="hide-label" for="expyear"><span
                                    data-bind="text:$component.nls.registration.creditCardDetails.expiryDateLabel"></span>
                            </oj-label>
                            <oj-select-one id="expyear" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{expiryYear}}">
                                <!-- ko foreach: yearEnumList -->
                                <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="cvv"><span
                                    data-bind="text:$component.nls.registration.creditCardDetails.cvvLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-4 oj-md-5 oj-lg-2">
                            <oj-input-password id="cvv" required maxlength="3"
                                validators="[[$baseModel.getValidator('CVV')]]"
                                value="{{$component.payload().creditCardCVVNumber}}"></oj-input-password>

                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="dob"><span
                                    data-bind="text:$component.nls.registration.creditCardDetails.dobLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 ">
                            <oj-input-date id="dob" required value="{{$component.payload().dateOfBirth}}"
                                datepicker="[[{yearRange:'c-100:c+0'}]]"></oj-input-date>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /ko -->
            <!-- ko if: clickedTermDeposit -->
            <div class="oj-flex oj-flex-items-pad row-spacing">

                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="acctype"><span
                                    data-bind="text:$component.nls.registration.messages.accountType"></span></oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3">
                            <!-- ko if:accountEnumLoaded -->
                            <oj-select-one id="acctype" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                on-value-changed="[[optionChangedHandler]]" value="{{accountType}}">
                                <!-- ko foreach: accountEnumList -->
                                <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                                <!-- /ko -->
                            </oj-select-one>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="customerId"><span
                                    data-bind="text:$component.nls.registration.accountDetails.customerIdLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3 ">
                            <oj-input-text maxlength="20" id="customerId" required
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                validators="[[$baseModel.getValidator('PARTY_ID')]]"
                                value="{{$component.payload().partyId}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">

                        <!-- ko if : $baseModel.large() -->
                        <internal-account-input class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12"
                            params="account : $component.accountNumber, label : $component.nls.registration.accountDetails.acctNoLabel,  baseModel : $baseModel, showInline : true, required : true">
                        </internal-account-input>
                        <!-- /ko -->

                        <!-- ko ifnot: $baseModel.large() -->
                        <internal-account-input class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-3"
                            params="account : $component.accountNumber, label : $component.nls.registration.accountDetails.acctNoLabel,  baseModel : $baseModel, required : true">
                        </internal-account-input>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">

                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="firstName"><span
                                    data-bind="text:$component.nls.registration.accountDetails.firstNameLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-4 ">
                            <oj-input-text id="firstName" required validators="[[$baseModel.getValidator('NAME')]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().firstName}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="lastName"><span
                                    data-bind="text:$component.nls.registration.accountDetails.lastNameLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-4 ">
                            <oj-input-text id="lastName" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_ALL_SPECIAL',$component.nls.locale.messages.NAME,{
                    type: 'length',
                    options: {
                    max: 80
                    }
                })]]" :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().lastName}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="emailId"><span
                                    data-bind="text:$component.nls.registration.accountDetails.emailLabel"></span>
                            </oj-label>
                        </div>

                        <div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-5 ">
                            <oj-input-text id="emailId" required validators="[[$baseModel.getValidator('EMAIL')]]"
                                :invalidcomponenttracker="[[$component.invalidTracker]]"
                                value="{{$component.payload().emailId}}"></oj-input-text>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad row-spacing">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 label">
                            <oj-label for="dob"><span
                                    data-bind="text:$component.nls.registration.accountDetails.dobLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 ">
                            <oj-input-date id="dob" required value="{{$component.payload().dateOfBirth}}"
                                datepicker="[[{yearRange:'c-100:c+0'}]]"></oj-input-date>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <div id="dialogWrapper ">
                <oj-dialog class="hide" id="verificationFailed" initial-visibility="hide">
                    <div class="oj-dialog-body">
                        <span data-bind="text:$component.message()"></span>
                    </div>
                </oj-dialog>

            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-sm-12 oj-md-12 oj-lg-12  oj-flex-item">
                    <oj-checkboxset id="checkboxSetAgreeId" aria-labelledby="checkboxSetAgreeId" value="{{agreement}}"
                        on-value-changed='[[enableSignUp]]'>
                        <oj-option value='{{"true"}}' id="agree">
                        </oj-option>
                    </oj-checkboxset>
                    <a href="" id="btnGo" data-bind="click: $component.openListener">
                        <span data-bind="text:$component.nls.registration.messages.terms"></span>
                    </a>
                    <modal-window params="baseModel : $baseModel, rootModel : $data,id:'termsConditions', header : $component.nls.registration.messages.termsAndConditionsPopUp">
                        <div class="oj-flex oj-flex-items-pad"><div class="oj-flex-item row-spacing">
                            <div data-bind="template: { name: 'help/terms-and-conditions'}"
                                    class="usercreation-popup-content">
                            </div>
                             <oj-button class="action-button-primary" id="btnCancel"
                                        on-click="[[cancelListener]]">
                                        <span data-bind="text:$component.nls.registration.buttons.okButton"></span>
                                    </oj-button>
                        </div>
                    </div>
                    </modal-window>
                   
                </div>
            </div>
        </oj-validation-group>
    </page-section>
    <div class="oj-flex oj-flex-items-pad button-container">
        <oj-button  class="action-button-primary" on-click="[[validation]]" disabled="[[signUpButton]]">
            <span data-bind="text:$component.nls.registration.buttons.continueButton"></span>
        </oj-button>
        <oj-button class="action-button-secondary" on-click="[[cancel]]">
            <span data-bind="text:$component.nls.registration.buttons.cancelButton"></span>
        </oj-button>
    </div>
    <!-- /ko -->
    <!-- ko if:verification -->
    <page-section params="baseModel : $baseModel, rootModel : $component, heading : ''">


        <otp-verification params="baseModel : $baseModel,
                    rootModel : $component,
                    callback:OtpAuthentication,
                    baseUrl:baseURL
                    ">
        </otp-verification>


    </page-section>
    <!-- /ko -->
    <!-- ko if: $component.emailDispatched() -->
    <div class="confirm-screen"
        data-bind="template: { name: 'confirm-screen/confirm-screen-banner', data: $component.headerMessages}"></div>
    <page-section params="baseModel : $baseModel, rootModel : $component, heading : ''">

        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-1 oj-md-1 oj-lg-1">
                <img class="login-icon" data-bind="loadImage:'forgot-user/login.svg'" alt=""></img>
            </div>
            <div class="oj-flex-item oj-sm-11 oj-md-11 oj-lg-11 username-link-container">
                <a href="#" class=" " data-bind="text:$component.nls.registration.messages.clickHere,
        click:$component.loginRedirect, attr:{title:$component.nls.registration.messages.clickHere
           }">
                </a>
            </div>
        </div>
    </page-section>

    <!-- /ko -->
</div>