.proceedButton {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.topPadding {
    padding-top: 0.8rem;
}

.bottomPadding {
    padding-bottom: 1.8rem;
}

.boldHeading {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}