body {
  .oj-inputsearch-search-icon {
    font-family: "obdx" !important;
    @extend .icon-search;
  }

  .oj-inputdatetime-calendar-icon {
    @extend .icon-calendar;
    font-family: "obdx" !important;
    color: var(--form-input-color-base);
  }

  .oj-table {
    .oj-component-icon {
      &.oj-table-column-header-asc-icon,
      &.oj-table-column-header-dsc-icon{
        @extend .icon-arrow-left;
        font-family: "obdx" !important;
      }
    }
  }
  .oj-fwk-icon-arrow-e,
  .oj-fwk-icon-arrow-n,
  .oj-fwk-icon-arrow-s,
  .oj-fwk-icon-arrow-w,
  html:not([dir="rtl"]) .oj-collapsible-close-icon,
  html:not([dir="rtl"]) .oj-fwk-icon-arrow-end,
  html:not([dir="rtl"]) .oj-fwk-icon-arrow-start,
  html:not([dir="rtl"]) .oj-listview-collapse-icon,
  html[dir="rtl"] .oj-collapsible-close-icon,
  html[dir="rtl"] .oj-fwk-icon-arrow-end,
  html[dir="rtl"] .oj-fwk-icon-arrow-start,
  html[dir="rtl"] .oj-listview-collapse-icon {
    @extend .icon-arrow-down;

    &:before {
      font-family: "obdx" !important;
      font-size: var(--base-font-size-default) !important;
    }
  }

  .oj-fwk-icon-arrow-ne,
  .oj-fwk-icon-arrow-nw,
  .oj-fwk-icon-arrow-se,
  .oj-fwk-icon-arrow-sw,
  html:not([dir="rtl"]) .oj-collapsible-open-icon,
  html:not([dir="rtl"]) .oj-fwk-icon-arrow-n-end,
  html:not([dir="rtl"]) .oj-fwk-icon-arrow-n-start,
  html:not([dir="rtl"]) .oj-fwk-icon-arrow-s-end,
  html:not([dir="rtl"]) .oj-fwk-icon-arrow-s-start,
  html:not([dir="rtl"]) .oj-listview-expand-icon,
  html[dir="rtl"] .oj-collapsible-open-icon,
  html[dir="rtl"] .oj-fwk-icon-arrow-n-end,
  html[dir="rtl"] .oj-fwk-icon-arrow-n-start,
  html[dir="rtl"] .oj-fwk-icon-arrow-s-end,
  html[dir="rtl"] .oj-fwk-icon-arrow-s-start,
  html[dir="rtl"] .oj-listview-expand-icon {
    @extend .icon-arrow-up;

    &:before {
      font-family: "obdx" !important;
      font-size: var(--base-font-size-default) !important;
    }
  }

  .oj-conveyorbelt-overflow-icon.oj-bottom,
  .oj-filmstrip-arrow-icon.oj-bottom,
  .oj-fwk-icon-caret-e,
  .oj-fwk-icon-caret-s,
  .oj-fwk-icon-caret-w,
  .oj-inputnumber-down-icon,
  html:not([dir="rtl"]) .oj-fwk-icon-caret-start,
  html:not([dir="rtl"]) .oj-fwk-icon-back,
  html:not([dir="rtl"]) .oj-hybrid-applayout-header-icon-back,
  html:not([dir="rtl"]) .oj-conveyorbelt-overflow-icon.oj-start,
  html:not([dir="rtl"]) .oj-filmstrip-arrow-icon.oj-start,
  html:not([dir="rtl"]) .oj-navigationlist-previous-icon,
  html[dir="rtl"] .oj-fwk-icon-caret-end,
  html[dir="rtl"] .oj-fwk-icon-next,
  html[dir="rtl"] .oj-conveyorbelt-overflow-icon.oj-end,
  html[dir="rtl"] .oj-filmstrip-arrow-icon.oj-end,
  html[dir="rtl"] .oj-listview-drill-icon,
  html:not([dir="rtl"]) .oj-datepicker-prev-icon,
  html[dir="rtl"] .oj-datepicker-next-icon,
  .oj-fwk-icon-caret-n,
  .oj-conveyorbelt-overflow-icon.oj-top,
  .oj-filmstrip-arrow-icon.oj-top,
  .oj-inputnumber-up-icon,
  html[dir="rtl"] .oj-fwk-icon-caret-start,
  html[dir="rtl"] .oj-fwk-icon-back,
  html[dir="rtl"] .oj-hybrid-applayout-header-icon-back,
  html[dir="rtl"] .oj-conveyorbelt-overflow-icon.oj-start,
  html[dir="rtl"] .oj-filmstrip-arrow-icon.oj-start,
  html[dir="rtl"] .oj-navigationlist-previous-icon,
  html:not([dir="rtl"]) .oj-fwk-icon-caret-end,
  html:not([dir="rtl"]) .oj-fwk-icon-next,
  html:not([dir="rtl"]) .oj-conveyorbelt-overflow-icon.oj-end,
  html:not([dir="rtl"]) .oj-filmstrip-arrow-icon.oj-end,
  html:not([dir="rtl"]) .oj-listview-drill-icon,
  html[dir="rtl"] .oj-datepicker-prev-icon,
  html:not([dir="rtl"]) .oj-datepicker-next-icon {
    @extend .icon-arrow-right;

    &:before {
      font-family: "obdx" !important;
      font-size: var(--base-font-size-default) !important;
    }
  }

  .oj-fwk-icon-arrow02-s,
  .oj-fwk-icon-arrow02-w,
  html:not([dir="rtl"]) .oj-fwk-icon-arrow02-start,
  html[dir="rtl"] .oj-fwk-icon-arrow02-end,
  html[dir="rtl"] .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon,
  .oj-navigationlist-collapsible html[dir="rtl"] .oj-navigationlist-collapse-icon,
  .oj-fwk-icon-arrow02-n,
  .oj-fwk-icon-arrow02-e,
  html[dir="rtl"] .oj-fwk-icon-arrow02-start,
  html:not([dir="rtl"]) .oj-fwk-icon-arrow02-end,
  html:not([dir="rtl"]) .oj-navigationlist-collapsible .oj-navigationlist-collapse-icon,
  .oj-navigationlist-collapsible html:not([dir="rtl"]) .oj-navigationlist-collapse-icon,
  .oj-button-menu-dropdown-icon,
  .oj-navigationlist-collapsible .oj-navigationlist-expand-icon,
  .oj-combobox-open-icon,
  .oj-select-open-icon {
    @extend .icon-arrow-down;

    &:before {
      font-family: "obdx" !important;
      font-size: var(--base-font-size-default) !important;
    }
  }
}
