.search-bar {
    .oj-inputsearch {
        margin-bottom: 0;
        .oj-inputsearch-input {
            border: none;
            background: transparent;
        }
        .oj-inputsearch-search-icon {
            //@include single-border(left,0.05rem solid var(--form-input-border-color));
            width: 2.5rem;
            height: 2.5rem;
            padding: 0 0.6rem !important;
            font-size: 1.1rem;
            color: var(--base-text-primary);
            background: var(--form-input-background-base);
            &:hover{
              background: var(--form-input-background-hover);
            }
        }
    }
    .oj-label-group {
        display: none;
    }
}
