<div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-offset-1 oj-md-4 oj-lg-offset-2 oj-lg-3 oj-flex-item label">
        <oj-label><span data-bind="text:resource.loan.loanAmount"></span></oj-label>
    </div>
    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item label">
        <span data-bind="text:$formatter.formatCurrency(data.requestedAmount.amount(), data.requestedAmount.currency)"></span>
    </div>
</div>
<!-- ko if : data.promoCode -->
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-offset-1 oj-md-4 oj-lg-offset-2 oj-lg-3 oj-flex-item label">
        <oj-label><span data-bind="text:resource.promoCode"></span></oj-label>
    </div>
    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item label">
        <span data-bind="text: data.promoCode"></span>
    </div>
</div>
<!-- /ko -->
<!-- ko if : $component.productDetails().militaryDisclosures().index !== 'undefined' -->
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-md-offset-1 oj-lg-offset-1 oj-md-10 oj-lg-10">
        <div class="section-heading" data-bind="text:resource.militaryDisclosure"></div>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-md-offset-1 oj-lg-offset-2 oj-md-10 oj-lg-9">
        <div class="text" data-bind="html: resource.militaryDisclosures[($component.productDetails().militaryDisclosures().index)]"></div>
    </div>
</div>
<!-- /ko -->
<!-- ko if : $component.productDetails().SCRADate() -->
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-offset-1 oj-md-4 oj-lg-offset-2 oj-lg-3 oj-flex-item label">
        <oj-label><span data-bind="text:resource.scraDate"></span></oj-label>
    </div>
    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item label">
        <span data-bind="text : $formatter.dateConverter.format($component.productDetails().SCRADate())"></span>
    </div>
</div>
<!-- /ko -->
<!-- ko if : $component.productDetails().SCRARefNo() -->
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-offset-1 oj-md-4 oj-lg-offset-2 oj-lg-3 oj-flex-item label">
        <oj-label><span data-bind="text:resource.scraRefNo"></span></oj-label>
    </div>
    <div class="oj-sm-12 oj-md-6 oj-lg-4 oj-flex-item label">
        <span data-bind="text : $component.productDetails().SCRARefNo()"></span>
    </div>
</div>
<!-- /ko -->
