<modal-window
  params="baseModel : $baseModel, rootModel:$data, id:'lcLookupDialog', header:$component.lookupResourceBundle.common.labels.lcLookupHeader, display:'full-screen'">
  <oj-validation-group id="lcLookUpTracker" valid="{{lcLookUpValidGroup}}">
    <div class="form-main-container trade-finance">
      <page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6 oj-lg-6">
            <div class="oj-flex oj-flex-items-pad grid-row-group">
              <!-- ko if: $component.transactionType !== "SHIPPING_GUARANTEE" -->
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <label for="beneficiaryName"
                  data-bind="text: $component.lookupResourceBundle.lcDetails.labels.beneficiaryName"></label>
              </div>
              <!-- /ko -->
              <!-- ko if: $component.transactionType === "SHIPPING_GUARANTEE" -->
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <label for="beneficiaryName"
                  data-bind="text: $component.lookupResourceBundle.lcDetails.labels.applicantName"></label>
              </div>
              <!-- /ko -->
              <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10">
                <oj-select-one id="beneficiaryName" required="[[true]]"
                  :invalidcomponenttracker="[[$component.validationTracker]]" options="[[$component.beneNameArray]]"
                  :placeholder="[[$component.lookupResourceBundle.common.labels.pleaseSelect]]"
                  value="{{$component.model.beneName}}">
                </oj-select-one>
              </div>
            </div>
          </div>

          <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6 oj-lg-6">
            <div class="oj-flex oj-flex-items-pad grid-row-group">
              <!-- ko if: $component.transactionType !== "SHIPPING_GUARANTEE" -->
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <label for="applicantName"
                  data-bind="text: $component.lookupResourceBundle.lcDetails.labels.applicantName"></label>
              </div>
              <!-- /ko -->
              <!-- ko if: $component.transactionType === "SHIPPING_GUARANTEE" -->
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <label for="applicantName" data-bind="text: $component.lookupResourceBundle.lcDetails.labels.beneficiaryName"></label>
              </div>
              <!-- /ko -->
              <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10">
                <oj-input-text id="applicantName" minlength="0" maxlength="40" validators="[[$baseModel.getValidator('ALPHABETS_WITH_SPACE',$component.lookupResourceBundle.tradeFinanceErrors.lcDetails.invalidBeneficiaryName,{type:'length',options:{
                                    min:0,max:40}})]]" value="{{$component.model.applicantName}}"></oj-input-text>
              </div>
            </div>
          </div>
        </div>


        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6 oj-lg-6">
            <div class="oj-flex oj-flex-items-pad grid-row-group">
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <label for="status" data-bind="text: $component.lookupResourceBundle.labels.lcDrawingStatus"></label>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-10">
                <oj-select-one id="status" :invalidcomponenttracker="[[$component.lcDetailsValidationTracker]]"
                  :placeholder="[[$component.lookupResourceBundle.common.labels.pleaseSelect]]"
                  value="{{$component.model.status}}">
                  <!-- ko foreach: $component.drawingStatusArray -->
                  <oj-option value="{{value}}"><span data-bind="text:label"></span></oj-option>
                  <!-- /ko -->
                </oj-select-one>
              </div>
            </div>
          </div>
          <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6 oj-lg-6">
            <div class="oj-flex oj-flex-items-pad grid-row-group">
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <label for="fromAmount"
                  data-bind="text: $component.lookupResourceBundle.lcDetails.labels.lcAmount"></label>
              </div>
              <div class="oj-flex-item oj-sm-6 oj-md-5 oj-lg-5">
                <oj-input-text id="fromAmount" maxlength="15"
                  :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[[validateFromAmount]]]"
                  :placeholder="[[$component.lookupResourceBundle.common.labels.from]]"></oj-input-text>
              </div>

              <div class="oj-flex-item oj-sm-6 oj-md-5 oj-lg-5">
                <label for="toAmount" class="hide-label"
                  data-bind="text: $component.lookupResourceBundle.lcDetails.labels.lcAmount"></label>
                <oj-input-text id="toAmount" maxlength="15" :invalidcomponenttracker="[[$component.validationTracker]]"
                  validators="[[[validateToAmount]]]"
                  :placeholder="[[$component.lookupResourceBundle.common.labels.to]]"></oj-input-text>
              </div>
            </div>
          </div>
        </div>

      </page-section>
      <div class="button-container">
        <oj-button id="search" class="action-button-primary" on-click="[[getExportLCs]]">
          <span slot="startIcon" class="icons icon-search"></span>
          <span data-bind="text:$component.lookupResourceBundle.generic.common.search"></span>
        </oj-button>
        <oj-button id="clear" class="action-button-tertiary" on-click="[[reset]]">
          <span data-bind="text:$component.lookupResourceBundle.generic.common.clear"></span>
        </oj-button>

      </div>

      <!-- ko if: lookupDataSourceCreated() -->

      <!-- ko if: listExportLC().length > 0 -->
      <div class="oj-flex oj-flex-items-pad grid-row-group">
        <!-- ko if:$baseModel.large() -->
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
          <oj-table id="printTable" class="export-lc-list"
            :aria-label="[[$component.resourceBundle.labels.exportTable]]"
            columns="[[[{headerText:$component.lookupResourceBundle.labels.lcNo},{headerText:$component.lookupResourceBundle.lcDetails.labels.applicantName},{headerText:$component.lookupResourceBundle.lcDetails.labels.issueDate},{headerText:$component.lookupResourceBundle.lcDetails.labels.dateofExpiry},{headerText:$component.lookupResourceBundle.lcDetails.labels.lcAmount,headerClassName:'right',className:'right'},{headerText:$component.lookupResourceBundle.labels.outstandingAmount,headerClassName:'right',className:'right'}]]]"
            row-renderer="[[$oj.KnockoutTemplateUtils.getRenderer('lcList_template', true)]]"
            columns-default="[[{sortable:'enabled'}]]" data="[[dataSource]]">
            <caption class="hide-label" data-bind="text:$component.lookupResourceBundle.heading.exportLC"></caption>
          </oj-table>

          <oj-paging-control class="oj-flex-item oj-sm-12" id="paging" slot="bottom" :page-size="[[10]]"
            data="[[dataSource]]">
          </oj-paging-control>
        </div>
        <!-- /ko -->
        <!-- ko ifnot:$baseModel.large() -->
        <div class="oj-flex oj-sm-12 grid-main-container">
          <div class="oj-flex-item oj-sm-12"
            data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
            <oj-list-view id="listview-txn-card" class="cards"
              item="[[{renderer:$oj.KnockoutTemplateUtils.getRenderer('lookUp_list_card',true)}]]"
              selection-mode="[['single']]" data="[[dataSource]]">
            </oj-list-view>
            <oj-paging-control class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-12" id="paging" slot="bottom"
              page-options="[[{layout:['nav']}]]" :page-size="[[10]]" data="[[$component.dataSource]]">
            </oj-paging-control>
          </div>
        </div>
        <!-- /ko -->
      </div>

      <!-- /ko -->

      <!-- ko ifnot: listExportLC().length > 0 -->
      <div class="oj-flex oj-flex-items-pad padding-tb">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12"
          data-bind="text: $component.lookupResourceBundle.tradeFinanceErrors.messages.noRecordFound">
        </div>
      </div>
      <!-- /ko -->

      <!-- /ko -->
    </div>
  </oj-validation-group>
</modal-window>

<script type="text/html" id="lcList_template">
    <tr>
      <td>
        <a href="#" data-bind="text:$data.lc_number,click:$component.onLCSelected.bind($data)"></a>
      </td>
       <td>
        <span data-bind="text:applicant"></span>
      </td>
      <td>
        <span data-bind="text:created_on"></span>
      </td>
      <td>
        <span data-bind="text:expiry_date"></span>
      </td>
      <td>
        <span data-bind="text:amount"></span>
      </td>
      <td>
        <span data-bind="text:outstanding_amount"></span>
      </td>
  </tr>

</script>

<script type="text/html" id="lcList_availments">
    <tr>
      <td>
        <span data-bind="text: $data.availmentId"></span>
      </td>
       <td>
        <span data-bind="text: $formatter.formatDate(availmentDate)"></span>
      </td>
      <td>
        <span data-bind="text: $data.description"></span>
      </td>
      <td>
        <span data-bind="text: $formatter.formatCurrency(availmentAmount.amount, availmentAmount.currency)"></span>
      </td>
    </tr>
</script>
<script type="text/html" id="lookUp_list_card">
<li data-bind="attr: {id: $data.lc_number}">
    <div class="oj-flex oj-flex-items-pad" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">

      <div class="oj-flex-item oj-flex-items-pad oj-sm-12">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-9 description">
              <a href="#" data-bind="attr:{ title:  $data.lc_number, alt : $data.lc_number },text:$data.lc_number,click:$component.onLCSelected.bind($data)"></a>
            </div>
          </div>
      </div>


      <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.lookupResourceBundle.lcDetails.labels.applicantName"></label>
            <div data-bind="text: $data.applicant"></div>
          </div>
        </div>
      </div>

      <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.lookupResourceBundle.lcDetails.labels.issueDate"></label>
            <div data-bind="text: $data.created_on"></div>
          </div>
        </div>
      </div>

      <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item">
            <label data-bind="text: $component.lookupResourceBundle.lcDetails.labels.dateofExpiry"></label>
            <div data-bind="text: $data.expiry_date"></div>
          </div>
        </div>
      </div>

      <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-6 oj-md-12">
            <label data-bind="text: $component.lookupResourceBundle.lcDetails.labels.lcAmount"></label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-12" data-bind="css: { 'right': $baseModel.small() }">
            <span data-bind="text: $data.amount"></span>
          </div>
        </div>
      </div>

      <div class="oj-flex-item oj-flex-items-pad oj-sm-12 oj-md-6">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-6 oj-md-12">
            <label data-bind="text: $component.lookupResourceBundle.labels.outstandingAmount"></label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-12" data-bind="css: { 'right': $baseModel.small() }">
            <span data-bind="text: $data.outstanding_amount"></span>
          </div>
        </div>
      </div>

    </div>
  </li>
</script>