<div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between">
    <div class=" oj-flex-item oj-sm-9">
        <div class="form-main-container">
            <page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
                <oj-validation-group id="userRoleTracker">
                <!-- ko if : userSegmentsLoaded() -->
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-lg-2 oj-md-2 oj-sm-12">
                        <oj-label for="questionList"><span data-bind="text:$component.nls.authentication.labels.enterpriseRole"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-lg-offset-2 oj-lg-6 oj-md-6 oj-sm-12   ">
                            <oj-select-one  id="questionList" :placeholder="[[$component.nls.common.select]]" value="{{segmentSelected}}" required>
                            :placeholder="[[$component.nls.common.select]]" value="{{segmentSelected}}">
                            <!-- ko foreach: $component.userSegmentsList() -->
                            <oj-option value="{{enterpriseRoleId}}"><span data-bind="text:enterpriseRoleName"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if : userSegmentsForRoleLoaded() -->
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-lg-2 oj-md-2 oj-sm-12">
                        <oj-label for="segmentsForRole"><span data-bind="text:$component.nls.authentication.labels.userSegments"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-lg-offset-2 oj-lg-6 oj-md-6 oj-sm-12   ">
                        <oj-select-one id="segmentsForRole" :placeholder="[[$component.nls.common.select]]" value="{{segmentSelectedForRole}}">
                            <!-- ko foreach: $component.userSegmentsForRoleList() -->
                            <oj-option value="{{code}}"><span data-bind="text:name"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                </div>
                <!-- /ko -->
            </oj-validation-group>
            </page-section>
            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-primary" on-click="[[save]]">
                    <span data-bind="text:$component.nls.authentication.headers.VIEW"></span>
                </oj-button>
                <oj-button class="action-button-secondary" on-click="[[back]]">
                    <span data-bind="text:$component.nls.common.cancel"></span>
                </oj-button>
                <oj-button class="action-button-tertiary" on-click="[[back]]">
                    <span data-bind="text:$component.nls.common.back"></span>
                </oj-button>

            </div>
        </div>
    </div>
    <div class="oj-flex-item oj-lg-3 oj-sm-only-hide oj-md-only-hide help-panel">
        <help params="baseModel : $baseModel, rootModel : $component, transaction:'segment-authentication-mapping'"></help>
    </div>
</div>