.calculator{

  &__response{
    background-color:var(--base-background-tertiary);
    padding:0.9rem 0;
    text-align:center;
    height: auto;
    margin-top: 1.1rem;
    @include single-margin(left,0.6rem);
  }
  &-response{
    &__text{
      font-size:var(--base-font-size-default);
    }
  }
  /* end of calculator styling for retail */

  /* corporate dashboard calculator styling */
  &__responsenew {
    background-color: var(--base-background-tertiary);
    height: auto;
    padding: 0 0.6rem 0.6rem;
    margin: 0.6rem 0;
  }

  &__rateDescription{
    color: rgba(44, 50, 81, 0.8);
    font-size: var(--base-font-size-small);
    @include padding(0, 0, 0.6rem, 0.6rem);
  }

  &__result{
    padding:0.6rem 0;
  }

  &__finalOutput {
    font-size: var(--base-font-size-larger);
    @include single-padding(left,1rem);
  }
    /* corporate dashboard calculator styling ends here */
}
