<!-- ko if:redeemtransferOptionsLoaded -->
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 label ">
        <oj-label for="accTransferOption"><span data-bind="text:$component.locale.payoutInstructions.payTo"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12">

        <oj-select-one id="accTransferOption" on-value-changed="[[transferOption]]" required="[[true]]" value="{{$component.payoutInstructions.type}}" :placeholder="[[$component.locale.placeholder.pleaseSelect]]">


         <!-- ko foreach: $component.transferOptionsList -->
         <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
         <!-- /ko -->

    </oj-select-one>


    </div>



</div>
<!-- /ko -->
<!-- OwnAccount Start -->

<!-- ko if:$component.payoutInstructions.type()==='O' -->

<account-input params="baseModel : $baseModel, rootModel: $data ,label : $component.locale.payoutInstructions.transferTo,type : 'address' , account :$component.dataModel().accountNumber ,additionalDetails : additionalDetails,validator:$component.validationTracker"></account-input>

<!-- /ko -->
<!-- <div data-bind ="text : accountNumber()" ></div>-->
<!-- OwnAccount end -->

<!-- ExternalAccount Start -->

<!-- ko if:$component.payoutInstructions.type()==='E' -->

<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 label ">
        <oj-label for="accountNumber" class=""><span data-bind="text:$component.locale.payoutInstructions.accNumber"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12">
        <oj-input-text id="accountNumber" maxlength="20" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('ACCOUNT')]]" value="{{$component.payoutInstructions.account}}"></oj-input-text>

    </div>
</div>
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 label ">
        <oj-label for="beneficiaryName" class=""><span data-bind="text:$component.locale.payoutInstructions.accName"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12">
        <oj-input-text id="beneficiaryName" maxlength="35" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('NAME')]]" value="{{$component.payoutInstructions.beneficiaryName}}"></oj-input-text>
    </div>
</div>



<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 label ">
        <oj-label for="bankCode" class=""><span data-bind="text:$component.locale.payoutInstructions.bankCode"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12">


        <oj-input-text id="bankCode" maxlength="20" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('BANK_CODE')]]" value="{{$component.payoutInstructions.clearingCode}}"></oj-input-text>





        <oj-button id="bankCodeOpener" class="form-button-secondary" on-click="[[bankDetails]]">
      <span data-bind="text:$component.locale.generic.common.submit"></span>
</oj-button>


        <span data-bind="text:$component.locale.payoutInstructions.or"></span>
        <a href="#" class="form-button-link" data-bind="text:$component.locale.payoutInstructions.lookUpBankCode,click:bankLookupHandler"></a>
        <!-- ko if:additionalBankDetails() -->

        <div data-bind="text:$component.additionalBankDetails().name"></div>
        <div data-bind="text:$component.additionalBankDetails().branchAddress.line1"></div>
        <div data-bind="text:$component.additionalBankDetails().branchAddress.line2"></div>
        <div data-bind="text:$component.additionalBankDetails().branchAddress.city"></div>

        <!-- /ko -->

    </div>
</div>





<div data-bind="component: {name: 'bank-look-up', params:{rootModel: $component,clearingCodeType:$component.payoutInstructions.networkType,accountType:'Domestic',networkCode :$component.payoutInstructions.clearingCode,additionalBankDetails:$component.additionalBankDetails}}"></div>






<!--

<div class="oj-flex oj-flex-items-pad">
                   <div data-bind="component: {name: 'bank-look-up', params:{rootModel: $component,domesticClearingCodeType:$component.payoutInstructions.networkType,accountType:'Domestic',ifscCode:$component.payoutInstructions.clearingCode}}"></div>
</div>
-->


<!-- /ko -->
<!-- ExternalAccount End-->

<!-- InternalAccount Start -->

<!-- ko if:$component.payoutInstructions.type()==='I' -->

<div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 label ">
        <oj-label for="internalAccountNumber" class=""><span data-bind="text:$component.locale.payoutInstructions.accNumber"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12">
        <oj-input-text id="internalAccountNumber" maxlength="20" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('ACCOUNT')]]" value="{{$component.payoutInstructions.account}}"></oj-input-text>

    </div>
</div>


<!-- InternalAccount Transaction Review Start -->
<!-- InternalAccount Transaction Review  End -->

<!-- InternalAccount Transaction Successful Start -->
<!-- InternalAccount Transaction Successful End -->


<!-- /ko -->
<!-- InternalAccount End -->
