.svg {
    &__percentageBar {
        
        
        height: 0.6rem;
        width: 75%;
        padding-bottom: 0.3rem;
        @include mq(medium) {
            width: 100%;
        }

        svg {
            border-radius: 3.1rem;
        }
    }
}
