.upgrade-card-container {
  .cust-details {
    background: var(--banner-background);
    color: var(--banner-text-secondary);
    padding: var(--banner-padding);
    align-items: center;

    .cust-account,
    .cust-name {
      @include mq(small) {
        padding-bottom: 0.6rem;
      }
      @include mq(medium) {
        padding-bottom: 0.6rem;
      }
    }

    .label,
    label {
      color: var(--banner-text-primary);
      font-size: var(--base-font-size-medium);
    }
  }

  .information-wrapper {
    margin: 1.3rem 0;
    color: var(--base-text-secondary);
    padding: 1.3rem;
    border: 0.05rem solid var(--base-border-default);
    border-radius: 0.4rem;
    @include mq(small) {
      border: 0;
      margin: 0.6rem 0;
      max-height: 65vh;
      overflow-y: auto;
      padding: 1.3rem 0;
    }
    @include mq(medium) {
      border: 0;
      margin: 0.6rem;
      max-height: 80vh;
      overflow-y: auto;
      padding: 1.3rem;
    }
  }

  .tnc-div {
    .tnc-checkbox {
      max-width: 1.3rem;
      vertical-align: text-bottom;
    }
  }
}
