<div class="form-main-container oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between">
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
    <!-- ko if:stageOne() -->
     <oj-validation-group id="addBillerTracker">
    <page-section params="baseModel : $baseModel, rootModel : $component, heading : ''">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 label ">
                        <oj-label for="category"> <span data-bind="text:billers.category"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12">
                        <!-- ko if:isCategoriesLoaded() -->
                        <oj-select-one id="category" :placeholder="[[billers.select]]" on-value-changed="[[getBillerNames]]" required="[[true]]" value="{{biller.categoryType}}">
                            <!-- ko foreach:categoryList -->
                                <oj-option value="{{value +'-'+ text}}"><span data-bind="text:text"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 label ">
                        <oj-label for="billerName"> <span data-bind="text:billers.billerName"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 ">
                        <!-- ko if:isbillerNamesLoaded() -->
                        <oj-select-one id="billerName" :placeholder="[[billers.select]]" required="[[true]]" value="{{biller.billerId}}">
                                <!-- ko foreach:billerNames -->
                                    <oj-option value="{{value}}"><span data-bind="text:text"></span></oj-option>
                                <!-- /ko -->
                        </oj-select-one>
                        <!-- /ko -->
                    </div>
                </div>


                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 label">
                        <oj-label for="relationshipNumber"> <span data-bind="text:billers.relationship1"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-12">
                        <oj-input-text required id="relationshipNumber" maxlength="20" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('REFERENCE_NUMBER')]]" value="{{biller.relationshipNumber}}"></oj-input-text>
                        
                    </div>
                </div>


                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 label">
                        <oj-label for="consumerNumber"> <span data-bind="text:billers.relationship2"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-12">
                        <oj-input-text id="consumerNumber" maxlength="50" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('REFERENCE_NUMBER')]]" value="{{biller.consumerNumber}}"></oj-input-text>
                        
                    </div>
                </div>

                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 label">
                        <oj-label for="accountRelationshipNumber"> <span data-bind="text:billers.relationship3"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12">
                        <oj-input-text id="accountRelationshipNumber" maxlength="50" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('REFERENCE_NUMBER')]]" value="{{biller.accountRelationshipNumber}}"></oj-input-text>
                        
                    </div>
                </div>


    </page-section>
    </oj-validation-group>
    <div data-bind='component:{name:"warning-message-dialog", params:{rootModel: $component }}'></div>

    <div class="oj-flex oj-flex-items-pad button-container">

        <oj-button class="action-button-primary " on-click="[[registerBiller]]"><span slot="startIcon" class="icons icon-add"></span>
      <span data-bind="text:billers.add"></span>
</oj-button>
              
        <oj-button class="action-button-secondary " id="button" on-click="[[$component.cancel]]"><span slot="startIcon" class="icons icon-cancel"></span>
      <span data-bind="text:$component.billers.cancel"></span>
</oj-button>
        

    </div>

    <!-- /ko -->
     </div>
         <!-- ko if: $baseModel.large() -->
        <div class="oj-flex-item oj-lg-4 oj-sm-only-hide oj-md-only-hide">
            <help params="baseModel : $baseModel, rootModel : $component, transaction: 'add-biller-main'"></help>
        </div>
        <!-- /ko -->
</div>
