<div data-bind="css: $dashboard.appData.segment==='CORP'?'form-main-container':''">
    <!-- ko if:stageTwo() -->
    <div data-bind="template: { name: 'review-screen/review-banner-template', data: {header : $component.resource.generic.common.review , reviewHeader : $component.billers.reviewHeaderMsg}}"></div>
    <!-- /ko -->
    <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between">
        <div data-bind="css: $dashboard.appData.segment==='CORP'?(stageOne()?'oj-sm-12 oj-lg-4 oj-md-6':'oj-sm-12 oj-lg-12 oj-md-12'):''">
            <!-- ko if:stageOne() -->
            <page-section params="baseModel : $baseModel, rootModel : $component, heading : ''">
                <div class="oj-flex oj-flex-items-pad ">
                    <div class="oj-flex-item oj-sm-12 label ">
                        <oj-label for="category"> <span data-bind="text:billers.category"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12">
                        <span class="info-text" data-bind="text:editBillerData.categoryType"></span>
                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 label">
                        <oj-label for="billerName"> <span data-bind="text:billers.billerName"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12">
                        <span class="info-text" data-bind="text:editBillerData.billerName"></span>
                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad ">
                    <div class="oj-flex-item oj-sm-12 label ">
                        <oj-label for="relationshipNumber"> <span data-bind="text:billers.relationship1"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12">
                        <oj-input-text required id="relationshipNumber" maxlength="20" validators="[[$baseModel.getValidator('REFERENCE_NUMBER')]]" value="{{editBillerData.relationshipNumber}}"></oj-input-text>

                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad ">
                    <div class="oj-flex-item oj-sm-12 label ">
                        <oj-label for="consumerNumber1"> <span data-bind="text:billers.relationship2"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12">
                        <oj-input-text id="consumerNumber1" maxlength="35" validators="[[$baseModel.getValidator('REFERENCE_NUMBER')]]" value="{{editBillerData.consumerNumber}}"></oj-input-text>

                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad ">
                    <div class="oj-flex-item oj-sm-12 label ">
                        <oj-label for="accountRelationshipNumber"> <span data-bind="text:billers.relationship3"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12">
                        <oj-input-text id="accountRelationshipNumber" maxlength="35" validators="[[$baseModel.getValidator('REFERENCE_NUMBER')]]" value="{{editBillerData.accountRelationshipNumber}}"></oj-input-text>

                    </div>
                </div>
            </page-section>
            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-primary " on-click="[[editBiller]]"><span slot="startIcon" class="icons icon-save"></span>
                    <span data-bind="text:billers.save"></span>
                </oj-button>
                <!-- ko if:!$baseModel.small() && $dashboard.appData.segment !== "CORP" -->
                <oj-button class="action-button-tertiary " id="cancel" on-click="[[$component.closeModal.bind($data,false)]]"><span slot="startIcon" class="icons icon-cancel"></span>
                    <span data-bind="text:$component.resource.generic.common.cancel"></span>
                </oj-button>
                <!-- /ko -->
                <!-- ko if:!$baseModel.small() && $dashboard.appData.segment === "CORP" -->
                <oj-button class="action-button-secondary " id="cancel" on-click="[[$dashboard.switchModule.bind($data, true)]]"><span slot="startIcon" class="icons icon-cancel"></span>
                    <span data-bind="text:$component.resource.generic.common.cancel"></span>
                </oj-button>
                <oj-button class="action-button-tertiary " id="back" on-click="[[cancelBillerEdit]]"><span slot="startIcon" class="icons icon-back-arrow"></span>
                    <span data-bind="text:$component.resource.generic.common.back"></span>
                </oj-button>
                <!-- /ko -->
            </div>
            <!-- /ko -->

            <!-- ko if:stageTwo() -->
            <page-section class="review" params="baseModel : $baseModel, rootModel : $component, heading : '' ">
                <!-- Add Biller -->
                <div class="row-group">
                    <row params="baseModel : $baseModel, rootModel : $component, label : billers.category , value :editBillerData.categoryType"></row>
                    <row class="highlight-text" params="baseModel : $baseModel, rootModel : $component, label : billers.billerName , value :editBillerData.billerName"></row>
                    <row params="baseModel : $baseModel, rootModel : $component, label : billers.relationship1 , value :editBillerData.relationshipNumber"></row>
                    <!-- ko if:editedBiller.consumerNumber()!==null && editedBiller.consumerNumber() !=='' -->
                    <row params="baseModel : $baseModel, rootModel : $component, label : billers.relationship2 , value :editBillerData.consumerNumber"></row>
                    <!-- /ko -->
                    <!-- ko if:editedBiller.accountRelationshipNumber()!==null &&  editedBiller.accountRelationshipNumber() !=='' -->
                    <row params="baseModel : $baseModel, rootModel : $component, label : billers.relationship3 , value :editBillerData.accountRelationshipNumber"></row>
                    <!-- /ko -->
                </div>
            </page-section>
            <!-- cancel confirm buttons -->
            <div class="oj-flex oj-flex-items-pad button-container">
                <oj-button class="action-button-primary " on-click="[[confirmBiller]]"><span slot="startIcon" class="icons icon-confirm"></span>
                    <span data-bind="text:billers.confirm"></span>
                </oj-button>
                <!-- ko if:!$baseModel.small() && $dashboard.appData.segment === "CORP"-->
                <oj-button class="action-button-secondary " id="cancel" on-click="[[$dashboard.switchModule.bind($data, null)]]"><span slot="startIcon" class="icons icon-cancel"></span>
                    <span data-bind="text:$component.resource.generic.common.cancel"></span>
                </oj-button>
                <!-- /ko -->
                <oj-button class="action-button-tertiary " id="cancelBillerConfirmation" on-click="[[cancelBillerConfirmation]]"><span slot="startIcon" class="icons icon-back-arrow"></span>
                    <span data-bind="text:$component.resource.generic.common.back"></span>
                </oj-button>
            </div>
            <!-- /ko -->
        </div>
        <!-- ko if: $baseModel.large() && stageOne() && $dashboard.appData.segment==='CORP' -->
        <div class="oj-flex-item oj-lg-4 oj-sm-only-hide oj-md-only-hide">
            <help params="baseModel : $baseModel, rootModel : $component, transaction: 'biller-details'"></help>
        </div>
        <!-- /ko -->
    </div>
</div>