@import "utils";
.limits-widget {
    &__section {
        height: calc(100% - 2rem);
    }
    &__info {
        &--title {
            font-size: var(--base-font-size-large);
        }
    }
    &__content {
        height: 12rem;
        overflow-y: auto;
    }
    &__noData {
        height: 13rem;
    }
    &__list {
        margin: 0.6rem 0;
    }
    &__amount {
        &--label {
            font-size: var(--base-font-size-medium);
            padding: 0.3rem 0 0;
        }
    }
    &__chart {
        &--gauge {
            height: 0.6rem;
            width: 85%;
        }
        &--periodicity {
            padding-top: 0.6rem;
            font-size: var(--base-font-size-small);
        }
        &--item {
            padding-top: 0.9rem;
        }
    }
}

.amount-label {
    font-weight: bold;
}

.amount-align {
    padding-top: 0.9375rem;
}

.no-limit-image {
    height: 8rem;
}

.view {
    @include view_all;
}