<div class="form-main-container">
    <!-- ko if: $component.params.mode ==='review' -->
    <div data-bind="template: { name: 'review-screen/review-banner-template', data: $component.reviewTransactionName}"></div>
    <!-- /ko -->
    <div class="oj-flex oj-flex-item">
        <div class="oj-flex-items-pad oj-sm-12 oj-md-4 oj-lg-4">
            <page-section class="review" params="baseModel : $baseModel, rootModel : $data, heading : resource.transactions.termDepositDetails.depositDetails.depositDetails">
                <div class="row-group">
                    <row params="baseModel : $baseModel, rootModel : $data, label : resource.transactions.termDepositDetails.depositDetails.tdProduct , value :params.data.productDTO.name"></row>
                    <!-- ko if :params.data.payInInstruction-->
                    <row params="baseModel : $baseModel, rootModel : $data, label : resource.transactions.termDepositDetails.depositDetails.sourceAccount ,  value:params.data.payInInstruction[0].accountId.displayValue"></row>
                    <!-- /ko -->
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.depositDetails.depositAmount, value :$formatter.formatCurrency(params.data.principalAmount.amount, params.data.principalAmount.currency)"></row>
                    <!-- ko if : params.data.interestRate && params.data.interestRate-->
                    <row params="baseModel : $baseModel, rootModel : $data, label : params.data.module==='ISL'? resource.transactions.termDepositDetails.depositDetails.profitRate : resource.transactions.termDepositDetails.depositDetails.interestRate , value :$formatter.formatNumber(params.data.interestRate/100, 'percent')"></row>
                    <!-- /ko -->
                    <row params="baseModel : $baseModel, rootModel : $component, label : resource.transactions.termDepositDetails.depositDetails.depositTenure, value :$component.formatTenure()"></row>
                    <!-- ko ifnot: $dashboard.appData.segment === 'CORP' -->
                    <row params="baseModel : $baseModel, rootModel : $data, label : resource.transactions.openTermDeposit.holdingPattern , value : resource.transactions.openTermDeposit.holdingPatternType[params.data.holdingPattern]"></row>
                    <!-- /ko -->
                    <row params="baseModel : $baseModel, rootModel : $data, label : resource.transactions.openTermDeposit.primaryAccHolder , value :params.data.partyName"></row>
                    <!-- ko foreach: $component.parties -->
                    <row params="baseModel : $baseModel, rootModel : $root, label : $baseModel.format($parent.resource.transactions.openTermDeposit.jointAccHolder,{accountHolder:$index()+1}) , value : partyName"></row>
                    <!-- /ko -->
                </div>
            </page-section>
        </div>
        <div class="oj-flex-items-pad oj-sm-12 oj-md-4 oj-lg-4">
            <page-section class="review" params="baseModel : $baseModel, rootModel : $data, heading : resource.transactions.termDepositDetails.depositDetails.maturityDetails">
                <div class="row-group">
                    <row params="baseModel : $baseModel, rootModel : $data, label : resource.common.maturityInstructions.maturityInstruction , value :resource.common.maturityInstructions[$component.module][params.data.rollOverType]"></row>
                    <!-- ko if:$component.params.data.rollOverType === 'S' -->
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.renewAmount , value :$formatter.formatCurrency(params.data.rollOverAmount.amount,params.data.principalAmount.currency)"></row>
                    <!-- /ko -->
                    <!-- ko if:params.data.rollOverType !== 'I' -->
                    <!-- ko if:params.data.payoutInstructions && params.data.payoutInstructions.length-->
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.payTo , value : resource.transactions.termDepositDetails.payoutInstructions.payoutType[params.data.payoutInstructions[0].type]"></row>
                    <!-- ko if:$component.params.data.payoutInstructions[0].type==='O' -->
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.transferTo , value :[params.data.payoutInstructions[0].beneficiaryName,params.data.payoutInstructions[0].accountId.displayValue,params.data.payoutInstructions[0].bankName,params.data.payoutInstructions[0].address.line1,params.data.payoutInstructions[0].address.line2,params.data.payoutInstructions[0].address.city,params.data.payoutInstructions[0].address.country]"></row>
                    <!-- /ko -->
                    <!-- ko if:$component.params.data.payoutInstructions[0].type==='I' -->
                    <internal-account-input class="oj-flex oj-flex-items-pad oj-sm-12" params="{
                        baseModel:$baseModel,
                        account : ko.observable(params.data.payoutInstructions[0].account),
                        label:resource.transactions.termDepositDetails.payoutInstructions.accNumber,
                        required:true,
                        readOnly: true
                    }">
                    </internal-account-input>
                    <!-- /ko -->
                    <!-- ko if:$component.params.data.payoutInstructions[0].type==='E'-->
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.bankCode , value : params.data.payoutInstructions[0].clearingCode"></row>
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.beneficiaryName , value : params.data.payoutInstructions[0].beneficiaryName"></row>
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.transferTo , value : params.data.payoutInstructions[0].account"></row>
                    <!-- /ko -->
                    <!-- ko if:$component.params.data.payoutInstructions[0].type==='INT' -->
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.swiftCode , value : params.data.payoutInstructions[0].clearingCode"></row>
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.beneficiaryName , value : params.data.payoutInstructions[0].beneficiaryName"></row>
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.accNumber , value :[params.data.payoutInstructions[0].account]"></row>
                    <!-- /ko -->
                    <!-- ko if : $component.maturityDate-->
                    <row params="baseModel : $baseModel, rootModel : $data, label : resource.transactions.termDepositDetails.depositDetails.maturityDate , value :$formatter.formatDate($component.maturityDate)"></row>
                    <!-- /ko -->
                    <!-- ko if: $component.params.data.module !=='ISL' && params.data.maturityAmount-->
                    <row params="baseModel : $baseModel, rootModel : $data, label : resource.transactions.termDepositDetails.depositDetails.maturityAmount , value :$formatter.formatCurrency(params.data.maturityAmount.amount, params.data.maturityAmount.currency)"></row>
                    <!-- /ko -->
                    <!-- ko if:$component.params.data.payoutInstructions[0].type==='INT' -->
                    <row params="baseModel : $baseModel, rootModel : $parent, label : resource.transactions.termDepositDetails.payoutInstructions.correspondenceCharges , value : resource.transactions.termDepositDetails.payoutInstructions.remittanceChargesOption[params.data.payoutInstructions[0].correspondenceChargeType]"></row>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if:params.data.rollOverType === 'I' && $component.params.data.module !=='ISL' && params.data.maturityAmount -->
                    <row params="baseModel : $baseModel, rootModel : $data, label : resource.transactions.termDepositDetails.depositDetails.maturityAmount , value :$formatter.formatCurrency(params.data.maturityAmount.amount, params.data.maturityAmount.currency)"></row>
                    <!-- /ko -->
                </div>
            </page-section>
        </div>
        <div class="oj-flex-items-pad oj-sm-12 oj-md-4 oj-lg-4">
            <!-- ko if: $component.hostSupportsNominee -->
            <!-- ko if:$dashboard.appData.segment === "RETAIL" && $component.params.accountModule !== 'ISL' -->
            <!-- ko ifnot:$component.params.addNomineeModel && $component.params.isNomineeRequired && $component.params.isNomineeRequired && $component.params.data.holdingPattern === 'SINGLE' -->
            <page-section params="baseModel : $baseModel, rootModel : $component, heading : $component.resource.nominationDetails.nominationDetails">
                <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.nominationDetails.
           nomination, value :$component.resource.nominationDetails.nominationStatus.false">
                </row>
            </page-section>
            <!-- /ko -->
            <!-- ko if:$component.params.addNomineeModel && $component.params.isNomineeRequired && $component.params.isNomineeRequired && $component.params.data.holdingPattern === 'SINGLE' -->
            <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12" data-bind="component:{name:component(),params:{rootModel:{
                        params:{
                        addNomineeModel : $component.params.addNomineeModel,
                        minor : $component.params.minor,
                        isNomineeRequired : $component.params.isNomineeRequired}}}}">
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- ko if:$component.params.mode ==='review'-->
        <div class="button-container">
            <oj-button id="dialogtopupButton" class="action-button-primary " on-click="[[$component.createTDConfirm.bind($data,false)]]"><span slot="startIcon" class="icons icon-confirm"></span>
                <span data-bind="text:$component.resource.generic.common.confirm"></span>
            </oj-button>
            <!-- ko if: !$baseModel.small() -->
            <oj-button class="action-button-secondary " on-click="[[$dashboard.switchModule.bind($data,true)]]"><span slot="startIcon" class="icons icon-cancel"></span>
                <span data-bind="text:$component.resource.generic.common.cancel"></span>
            </oj-button>
            <!-- /ko -->
            <oj-button class="action-button-tertiary " on-click="[[$dashboard.hideDetails]]"><span slot="startIcon" class="icons icon-back-arrow"></span>
                <span data-bind="text:$component.resource.generic.common.back"></span>
            </oj-button>
        </div>
        <!-- /ko -->
    </div>
</div>