.design-dashboard {
  margin-top: 0;

  .rightSection {
    background-color: var(--base-background-tertiary);

    .create-header {
      font-weight: var(--base-font-weight-bold);
    }

    .create-description {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .createBtn {
      @include single-margin(left, calc(50% - 2rem));
    }
  }

  .divider {
    @include single-border(left, 0.05 solid var(--base-border-default));
  }
}
