.system-configuration {
    &-content {
        @include single-border(left, 0.05rem solid var(--base-border-default));
    }
    &-list {
        li {
          line-height: 2.3rem;
            a {
                color: var(--base-text-primary);
                padding-bottom: 0.2rem;
                &.active {
                    color: var(--link-base);
                }
                &.deactive {
                    color: var(--base-background-disable);
                }
                &.icons {
                      position: relative;
                      top: 0.2rem;
                      @include single-padding(right,0.6rem);
                      &.icon-ok {
                          color: var(--base-color-success);
                      }
                  }
            }
        }
    }
    .tableHeader {
        font-size: inherit;
        font-weight: bold;
    }
}

.system-rules-map{

  .entity-limit-package-mapping{
    width:90%;
  }
}
