<oj-validation-group id="merchantTracker">
    <div class="oj-flex oj-sm-flex-items-initial">
        <div class="oj-flex-item" data-bind="css: $component.stageOne() ? 'oj-sm-9' :'oj-sm-12'">
            <div class="form-main-container">
                <!-- ko if:stageOne() -->
                <page-section params="baseModel : $baseModel, rootModel : $component, heading : ''">
                    <div class="oj-flex oj-flex-items-pad">
                        <oj-label for="remittanceType" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                                <span data-bind="text:$component.resource.merchant.remittanceType"></span>
                        </oj-label>
                    </div> 
                    <div class="oj-flex oj-flex-items-pad">
                        <oj-radioset labelled-by="remittanceType" class="oj-choice-direction-row" required labelled-by="remittanceType"
                         value="{{remittanceType}}" on-value-changed="[[$component.showInwardRemittance]]">
                            <oj-option id="OUTWARD" value="OUTWARD"><span data-bind="text:$component.resource.merchant.outward"></span></oj-option>
                            <oj-option id="INWARD" value="INWARD"><span data-bind="text:$component.resource.merchant.inward"></span></oj-option>
                        </oj-radioset>
                    </div>
                   
                    <div class="oj-flex oj-flex-items-pad ">
                        <oj-label for="merchantid" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.merchantid"></span>
                        </oj-label>
                        <oj-input-text required id="merchantid" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8 " maxlength="100" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('PARTY_ID',$component.resource.merchant.messageid)]]"
                            disabled="[[$component.editMode()]]" value="{{$component.code}}"></oj-input-text>
                    </div>
                    <div class="oj-flex oj-flex-items-pad ">
                        <oj-label for="merchantdesc" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.merchantdesc"></span>
                        </oj-label>
                        <oj-input-text required id="merchantdesc" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8" maxlength="100" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('APPLICATION_DESCRIPTION',$component.resource.merchant.message)]]"
                            value="{{$component.description}}"></oj-input-text>
                    </div>
                </page-section>

                <page-section params="baseModel : $baseModel, rootModel : $component, heading :$component.resource.merchant.accounts">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-4">
                            <span data-bind="text:$component.resource.merchant.creditAccountDetails"></span>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <oj-label for="accounttype" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.accounttype"></span>
                        </oj-label>
                        <oj-select-one required id="accounttype" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8 left" :placeholder="[[$component.resource.common.select]]" value="{{$component.accountType}}">
                            <oj-option value="{{'CASA'}}"><span data-bind="text:$component.resource.merchant.casa"></span></oj-option>
                        </oj-select-one>
                    </div>

                    <div class="oj-sm-12 oj-lg-10 oj-md-6">
                        <internal-account-input params="{
         baseModel: $baseModel,
         account: $component.merchantAccount,
         label: $component.resource.merchant.accountidnumber,
         confirmStyleAccount: true,
         required: true,
         showInline:true
        }">
                        </internal-account-input>
                    </div>
                    <!-- ko ifnot: show() -->
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-4">
                            <span data-bind="text:$component.resource.merchant.serviceCharge"></span>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                            <oj-checkboxset id="checkboxSetId" value={{$component.commissionAccountFlagArray}} on-value-changed="[[commissionAccountFlagChangeHandler]]">
                                <oj-option value="commissionAccountFlag" id="commissionAccountFlag">
                                    <span for="commissionAccountFlag" data-bind="text:$component.resource.merchant.commissionAccountFlag"></span>
                                </oj-option>
                            </oj-checkboxset>
                            <!-- ko if:commissionAccountFlag() -->
                            <div class="oj-flex oj-flex-items-pad ">
                                <oj-label for="commissionAccountType" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                                    <span data-bind="text:$component.resource.merchant.accounttype"></span>
                                </oj-label>

                                <oj-select-one required id="commissionAccountType" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8" :placeholder="[[$component.resource.common.select]]" value="{{$component.commissionAccountType}}">
                                    <oj-option value="{{'CASA'}}"><span data-bind="text:$component.resource.merchant.casa"></span></oj-option>
                                </oj-select-one>
                            </div>
                            <div class="oj-flex oj-flex-items-pad oj-sm-12 oj-lg-10 oj-md-6">
                                <internal-account-input params="{
             baseModel: $baseModel,
             account: $component.commissionAccount,
             label: $component.resource.merchant.accountidnumber,
             confirmStyleAccount: true,
             required: true,
             showInline:true
            }">
                                </internal-account-input>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                            <oj-checkboxset id="checkboxSetId2" value={{$component.userAccountFlagArray}} on-value-changed="[[userAccountFlagChangeHandler]]">
                                <oj-option value="userAccountFlag" id="userAccountFlag"><span for="userAccountFlag" data-bind="text:$component.resource.merchant.userAccountFlag"></span></oj-option>
                            </oj-checkboxset>
                        </div>
                    </div>
                    <!-- /ko -->
                </page-section>
                <!-- ko if: show() -->
                <page-section params="baseModel : $baseModel, rootModel : $component, heading :$component.resource.merchant.urls">
                    <div class="oj-flex oj-flex-items-pad">
                            <oj-label for="redirectionUrl" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                                <span data-bind="text:$component.resource.merchant.redirectionUrl"></span>
                            </oj-label>
                            <oj-input-text required id="redirectionUrl" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8 " maxlength="100" validators="[[$baseModel.getValidator('URL')]]" value="{{$component.redirectionUrl}}"></oj-input-text>
                        </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <oj-label for="successUrl" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.successUrl"></span>
                        </oj-label>
                        <oj-input-text required id="successUrl" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8 " maxlength="100" validators="[[$baseModel.getValidator('URL')]]" value="{{$component.successUrl}}"></oj-input-text>
                    </div>
                    <div class="oj-flex oj-flex-items-pad ">
                        <oj-label for="failureUrl" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.failureUrl"></span>
                        </oj-label>
                        <oj-input-text required id="failureUrl" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8" maxlength="100" validators="[[$baseModel.getValidator('URL')]]" value="{{$component.failureUrl}}"></oj-input-text>
                    </div>
                </page-section>
             <!-- /ko -->
             <!-- ko ifnot: show() -->
                <page-section params="baseModel : $baseModel, rootModel : $component, heading :$component.resource.merchant.responseRedirections">
                    <div class="oj-flex oj-flex-items-pad">
                        <oj-label for="successUrl" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.successUrl"></span>
                        </oj-label>
                        <oj-input-text required id="successUrl" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8 " maxlength="100"  value="{{$component.successUrl}}" validators="[[$baseModel.getValidator('URL')]]"></oj-input-text>
                    </div>
                    <div class="oj-flex oj-flex-items-pad ">
                        <oj-label for="failureUrl" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.failureUrl"></span>
                        </oj-label>
                        <oj-input-text required id="failureUrl" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8" maxlength="100" validators="[[$baseModel.getValidator('URL')]]" value="{{$component.failureUrl}}"></oj-input-text>
                    </div>
                </page-section>
                 <!-- /ko -->
                <page-section params="baseModel : $baseModel, rootModel : $component, heading :$component.resource.merchant.checksumDetails">
                    <div class="oj-flex oj-flex-items-pad ">
                        <oj-label for="checksumType" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.checksumtype"></span>
                        </oj-label>
                        <oj-select-one required id="checksumType" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8" on-value-changed="[[checksumTypeChanged]]" :placeholder="[[$component.resource.common.none]]" value="{{$component.checksumType}}">
                            <!-- ko foreach: $component.checksumTypeList -->
                            <oj-option value="{{value}}"><span data-bind="text:text"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                    <!-- </div> -->
                    <div class="oj-flex oj-flex-items-pad">
                        <oj-label for="checksumAlgorithm" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.checksumAlgorithm"></span>
                        </oj-label>
                        <oj-select-one required id="checksumAlgorithm" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8" on-value-changed="[[algoChanged]]" :placeholder="[[$component.resource.common.none]]" value="{{$component.checksumAlgorithm}}">
                            <!-- ko foreach:$component.checksumAlgorithmList -->
                            <oj-option value="{{value}}"><span data-bind="text:text"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                    <!-- ko if:isChecksumAlgo() -->
                    <div class="oj-flex oj-flex-items-pad">
                        <oj-label for="securityKey" class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-3 label">
                            <span data-bind="text:$component.resource.merchant.securityKey"></span>
                        </oj-label>
                        <oj-input-text required id="securityKey" class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-8" value="{{$component.securityKey}}">
                        </oj-input-text>
                    </div>
                    <!-- /ko -->
                </page-section>
                <div class="oj-flex-item button-container">
                    <oj-button class="action-button-primary" id="save" on-click="[[$component.reviewMerchant]]">
                        <span data-bind="text:$component.resource.common.save"></span>
                    </oj-button>

                    <oj-button class="action-button-secondary" id="cancel" on-click="[[$dashboard.switchModule.bind($data, null)]]">
                        <span data-bind="text:$component.resource.common.cancel"></span>
                    </oj-button>

                    <oj-button class="action-button-tertiary" id="back" on-click="[[$component.back]]">
                        <span data-bind="text:$component.resource.common.back"></span>
                    </oj-button>

                </div>
                <!-- /ko -->

                <!-- ko if:stageReview() -->
                <!-- ko ifnot:approvalMode() -->
                <!-- ko ifnot: show() -->
                <div data-bind="template: { name: 'review-screen/review-banner-template', data: {header : $component.resource.common.review , reviewHeader : $component.resource.merchant.initiateHeaderForOutward}}"></div>
                <!-- /ko -->
                <!-- ko if: show() -->
                <div data-bind="template: { name: 'review-screen/review-banner-template', data: {header : $component.resource.common.review , reviewHeader : $component.resource.merchant.initiateHeaderForInward}}"></div>
                <!-- /ko -->
                <!-- /ko -->
                <div data-bind="template: { name:'merchant/view-merchant'}"></div>
                <div class="button-container">
                    <!-- ko ifnot:$component.params && $component.params.data -->
                    <!-- ko if:editMode() -->
                    <oj-button class="action-button-primary" on-click="[[$component.confirmEditMerchant]]">
                        <span data-bind="text:$component.resource.common.confirm"></span>
                    </oj-button>
                    <!-- /ko -->
                    <!-- ko if:createMode() || (confirmFlag()&& !editMode()) -->
                    <oj-button class="action-button-primary" id="button-confirm" on-click="[[$component.createMerchant]]">
                        <span data-bind="text:$component.resource.common.confirm"></span>
                    </oj-button>
                    <!-- /ko -->
                    <oj-button class="action-button-secondary" id="button-cancel" on-click="[[$dashboard.switchModule.bind($data, null)]]">
                        <span data-bind="text:$component.resource.common.cancel"></span>
                    </oj-button>
                    <oj-button class="action-button-tertiary" id="button-back" on-click="[[$component.reviewBack]]">
                        <span data-bind="text:$component.resource.common.back"></span>
                    </oj-button>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- ko if: $baseModel.large() && $component.stageOne() -->
        <div class="oj-flex-item oj-sm-3 help-panel">
            <help params="baseModel : $baseModel, rootModel : $component, transaction: 'merchant-create'"></help>
        </div>
        <!-- /ko -->
    </div>
</oj-validation-group>