.system-configuration-home {
  .delete-button {
    @include single-border(left,0.06rem solid var(--base-border-default));
    line-height: 2.5rem;
  }

  .save-button {
    line-height: 2.5rem;
  }
}

.popup-width {
  max-width: 15rem;
  padding-bottom: 0.625rem;
  line-height: 1.43rem;
}
