
.addRecipientBlock{
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--base-border-default);
  border-radius:1em;
  padding-top:0.9rem;
  padding-bottom: 0.9rem;
  @include single-padding(left,0.9rem);
  @include single-padding(right,0.9rem);
}

.recipientsTextArea{
   resize: vertical;
   overflow-y: scroll;
}
