.quick-links-list {
    &__item {
        height: 3rem;
    }
    &-item {
        &__icon {
            height: 2rem;
        }
        &__label {
            display: flex;
            align-items: center;
        }
    }
}