.status {
    white-space: nowrap;
    &.in-progress {
        color: var(--base-color-warning);
    }
    &.processed {
        color: var(--base-color-success);
    }
    &.rejected {
        color: var(--base-color-danger);
    }
    &.deleted {
        color: var(--base-color-danger);
    }
    &.expired {
        color: var(--base-color-danger);
    }
}
