.tags{
    display: inline-block;
    padding: 0.2rem 0.3rem;
    font-size: var(--base-font-size-small);
    margin: .1rem 0;
    text-align: center;
    border-radius:0.25rem;
    font-weight: var(--base-font-weight-light);
}
