$tooltip-letter-spacing: 0.025em;

.tooltip {
  min-height: 1.3rem;
  width: 21.9rem;
  background-color: var(--base-background-primary);
  padding: .8rem;
  display: none;
  z-index: 1;
  border: 0.05rem solid var(--base-border-default);
  color: var(--base-text-primary);
  letter-spacing: $tooltip-letter-spacing;
}

.tooltip-section {
  .span-label {
    color: var(--base-text-secondary);
    vertical-align: super!important;
    @include mq(small) {
      vertical-align: baseline!important;
    }
  }
  line-height: 1.3rem;
  @include mq(small) {
    margin-bottom: 0.25em;
    line-height: inherit;
  }

  .icon-help {
    color: var(--link-base);
    @include single-margin(left,0.3rem);
    @include mq(large) {
      font-size: 1.4rem;
    }
    @include mq(small) {
      vertical-align: sub;
      font-size: 1.5rem;
    }
    @include mq(medium) {
      font-size: 1.6rem;
    }
  }
}
