.view-lc{
  .clob-message {
		padding-bottom: 1.3rem;
		@include single-padding(left,1.9rem);
		padding-top: 1.3rem;
		white-space: pre-wrap;
		border: 0.05rem solid var(--base-border-default);
		max-height: 41vh;
		overflow-y: auto;
		overflow-x: hidden;
		@include mq(small) {
			max-height: 61vh;
		}
	}
}
