.workflow-base{
  &__cell-border {}
  &-cell-border{
        border-bottom: 0.05rem solid var(--base-background-primary);
     &__workflow-icon {
         color: var(--base-color-success);
         display:inline-block;
         position:relative;
         top:0.2rem;
         &:before {
             @include single-padding(right,0.3rem);
         }
     }
     &-workflow-icon{
       &__label{
         display:inline-block !important;
         position:relative;
         top:0.3rem;
       }
     }
     &__label{
       display:inline-block !important;
     }
     &__link{
       padding-top:0.5rem;
     }
 }
}
