<div class="corporate-container">
  <!-- ko if: $component.viewMode() || $component.reviewMode() || $component.fromApproval() -->
  <page-section
    params="baseModel : $baseModel, rootModel : $component, heading : $component.resource.entityInformation ">
    <div class="row-group">
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.entityID, value:$component.viewModel.virtualEntityId">
      </row>
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.entityName, value:$component.viewModel.virtualEntityName">
      </row>
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.corporateType, value:$component.corporateType()">
      </row>
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.dateOfIncorporation, value:$formatter.formatDate($component.viewModel.corporateDetails.incorporationDate(),'dateFormat')">
      </row>
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.countryOfIncorporation, value:$component.countryOfIncorporation">
      </row>
      <!-- ko if: ($component.viewModel.corporateDetails.workNumber()[0].areaCode() || $component.viewModel.corporateDetails.workNumber()[0].number()) -->
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.landline, value:($component.viewModel.corporateDetails.workNumber()[0].areaCode() + $component.viewModel.corporateDetails.workNumber()[0].number())">
      </row>
      <!-- /ko -->
      <!-- ko if: ($component.viewModel.corporateDetails.workNumber()[1].areaCode() || $component.viewModel.corporateDetails.workNumber()[1].number()) -->
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.landline, value:($component.viewModel.corporateDetails.workNumber()[1].areaCode() + $component.viewModel.corporateDetails.workNumber()[1].number())">
      </row>
      <!-- /ko -->
      <!-- ko if: ($component.viewModel.corporateDetails.mobileNo.areaCode() || $component.viewModel.corporateDetails.mobileNo.number())-->
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.mobile, value:($component.viewModel.corporateDetails.mobileNo.areaCode() + $component.viewModel.corporateDetails.mobileNo.number())">
      </row>
      <!-- /ko -->
      <!-- ko if: ($component.viewModel.corporateDetails.email) -->
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.emailID, value:$component.viewModel.corporateDetails.email">
      </row>
      <!-- /ko -->
      <row
        params="baseModel : $baseModel, rootModel : $data, label:$component.resource.preferredMode, value:$component.preferredMode">
      </row>
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 label">
          <oj-label for="CorrespondenceAddress"><span data-bind="text:$component.resource.correspondenceText"></span>
          </oj-label>
        </div>
      </div>
      <page-section
        params="baseModel : $baseModel, rootModel : $component, heading : $component.resource.correspondenceText ">
        <row
          params="baseModel : $baseModel, rootModel : $data, label:$component.resource.addressLine1, value:$component.viewModel.address.line1">
        </row>
        <!-- ko if: ($component.viewModel.address.line2) -->
        <row
          params="baseModel : $baseModel, rootModel : $data, label:$component.resource.addressLine2, value:$component.viewModel.address.line2">
        </row>
        <!-- /ko -->
        <row
          params="baseModel : $baseModel, rootModel : $data, label:$component.resource.country, value:$component.correspondenceCountry">
        </row>
        <oj-bind-if test="[[$component.viewModel.address.zipCode()]]">
          <row
            params="baseModel : $baseModel, rootModel : $data, label:$component.resource.zipCode, value:$component.viewModel.address.zipCode">
          </row>
        </oj-bind-if>
      </page-section>
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 label">
          <oj-label for="mailingAddress"><span data-bind="text:$component.resource.mailingAddress"></span></oj-label>
        </div>
      </div>
      <page-section
        params="baseModel : $baseModel, rootModel : $component, heading : $component.resource.mailingAddress">
        <row
          params="baseModel : $baseModel, rootModel : $data, label:$component.resource.addressLine1, value:$component.viewModel.mailingAddress.line1">
        </row>
        <!-- ko if: ($component.viewModel.mailingAddress.line2) -->
        <row
          params="baseModel : $baseModel, rootModel : $data, label:$component.resource.addressLine2, value:$component.viewModel.mailingAddress.line2">
        </row>
        <!-- /ko -->
        <row
          params="baseModel : $baseModel, rootModel : $data, label:$component.resource.country, value:$component.mailingCountry">
        </row>
        <oj-bind-if id="" test="[[$component.viewModel.mailingAddress.zipCode()]]">
          <row
            params="baseModel : $baseModel, rootModel : $data, label:$component.resource.zipCode, value:$component.viewModel.mailingAddress.zipCode">
          </row>
        </oj-bind-if>
      </page-section>
    </div>
  </page-section>
  <!-- /ko -->
  <!-- ko ifnot: $component.viewMode() || $component.reviewMode() || $component.fromApproval() -->
  <page-section params="baseModel : $baseModel, rootModel : $component ">
    <!-- ko if: $component.virtualEntityDisplay -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="entityID"><span data-bind="text:$component.resource.entityID"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
        <oj-input-text id="entityID" aria-labelledby="entityID" value="{{$component.modelInstance.virtualEntityId}}"
          validators="[[[{'type': 'regExp',
                  'options': {
                    'pattern': $component.virtualEntityMaskPattern(),
                    'hint': $baseModel.format($component.resource.virtualEntityHintText, {maskPattern:$component.virtualEntityMask()}),
                    'messageDetail': $component.resource.messageDetail }}]]]" required
          readonly="[[$component.editFromViewScreen]]"></oj-input-text>
      </div>
    </div>
    <!-- /ko -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="entityName"><span data-bind="text:$component.resource.entityName"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
        <oj-input-text id="entityName" aria-labelledby="entityName"
          value="{{$component.modelInstance.virtualEntityName}}"
          async-validators="[[[$baseModel.getTaxonomyValidator($component.taxonomyDefinition,'virtualEntityName','#entityName')]]]">
        </oj-input-text>
      </div>
    </div>
    <!-- ko if: $component.templateLoaded -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-lg-12 oj-md-12 label">
        <oj-label for="corporateType"><span data-bind="text:$component.resource.corporateType"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5  ">
        <oj-select-one id="corporateType" aria-labelledby="corporateType"
          value="{{$component.modelInstance.corporateDetails.type}}" required
          :placeholder="{{$component.resource.placeholder}}">
          <!-- ko foreach: $component.corporateTypeOptions -->
          <oj-option value="{{code}}"><span data-bind="text: description"></span></oj-option>
          <!-- /ko -->
        </oj-select-one>
      </div>
    </div>
    <!-- /ko -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="incorporationDate"><span data-bind="text:$component.resource.dateOfIncorporation"></span>
        </oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
        <oj-input-date id="incorporationDate" aria-labelledby="incorporationDate"
          value="{{$component.modelInstance.corporateDetails.incorporationDate}}"
          converter="[[$formatter.dateConverter]]" max="[[$component.today()]]" required>
        </oj-input-date>
      </div>
    </div>
    <!-- ko if: $component.nationalityTemplateLoaded -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="incorporationCountry"><span data-bind="text:$component.resource.countryOfIncorporation"></span>
        </oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5 ">
        <oj-select-one id="incorporationCountry" aria-labelledby="incorporationCountry"
          value="{{$component.modelInstance.corporateDetails.countryOfIncorporation}}" required
          :placeholder="{{$component.resource.placeholder}}">
          <!-- ko foreach: $component.countryOptions -->
          <oj-option value="{{countryCode}}"><span data-bind="text:description"></span></oj-option>
          <!-- /ko -->
        </oj-select-one>
      </div>
    </div>
    <!-- /ko -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="landline"><span data-bind="text:$component.resource.landline"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-4">
            <oj-input-text id="landlineIsd" :aria-label="[[$component.resource.landlineIsd]]"
              value="{{$component.modelInstance.corporateDetails.workNumber()[0].areaCode}}"
              async-validators="[[[$baseModel.getTaxonomyValidator($component.taxonomyDefinition,'corporateDetails.workNumber.areaCode','#landlineIsd')]]]">
            </oj-input-text>
          </div>
          <div class="oj-flex-item oj-sm-8">
            <oj-input-text id="landline" aria-labelledby="landline"
              value="{{$component.modelInstance.corporateDetails.workNumber()[0].number}}"
              async-validators="[[[$baseModel.getTaxonomyValidator($component.taxonomyDefinition,'corporateDetails.workNumber.number','#landline')]]]">
            </oj-input-text>
          </div>
          <!-- ko if: $component.showAddLandlineLink -->
          <div class="oj-flex-item label">
            <a href="#" attr="{'id':'addLandline'}"
              data-bind="click: $component.addNewLandline, text: $component.resource.addLandline">
            </a>
          </div>
          <!-- /ko -->
        </div>
      </div>

    </div>
    <!-- ko if: $component.showLandline -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12">
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-4">
            <oj-input-text id="newLandlineIsd" :aria-label="[[$component.resource.newLandlineIsd]]"
              value="{{$component.modelInstance.corporateDetails.workNumber()[1].areaCode}}"
              async-validators="[[[$baseModel.getTaxonomyValidator($component.taxonomyDefinition,'corporateDetails.workNumber.areaCode','#newLandlineIsd')]]]">
            </oj-input-text>
          </div>
          <div class="oj-flex-item oj-sm-8">
            <oj-input-text id="newLandline" :aria-label="[[$component.resource.newLandline]]"
              value="{{$component.modelInstance.corporateDetails.workNumber()[1].number}}"
              async-validators="[[[$baseModel.getTaxonomyValidator($component.taxonomyDefinition,'corporateDetails.workNumber.number','#newLandline')]]]">
            </oj-input-text>
          </div>
        </div>
      </div>
      <!-- ko if: $component.showDeleteLandlineLink -->
      <div class="oj-flex-item label">
        <a href="#" :aria-label="[[$component.resource.deleteLandline]]"
          attr="{'id':'deleteLandline','title':$component.resource.deleteLandline}"
          data-bind="click: $component.deleteNewLandline">
          <span slot="startIcon" class="icons icon-delete"></span>
        </a>
      </div>
      <!-- /ko -->
    </div>
    <!-- /ko -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="mobile"><span data-bind="text:$component.resource.mobile"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-4">
            <oj-input-text id="mobileIsd" :aria-label="[[$component.resource.mobileIsd]]"
              async-validators="[[[$baseModel.getTaxonomyValidator($component.taxonomyDefinition,'corporateDetails.mobileNo.areaCode','#mobileIsd')]]]"
              value="{{$component.modelInstance.corporateDetails.mobileNo.areaCode}}"
              required=[[$component.mobileRequired]]></oj-input-text>
          </div>
          <div class="oj-flex-item oj-sm-8">
            <oj-input-text id="mobile" aria-labelledby="mobile"
              value="{{$component.modelInstance.corporateDetails.mobileNo.number}}"
              async-validators="[[[$baseModel.getTaxonomyValidator($component.taxonomyDefinition,'corporateDetails.mobileNo.number','#mobile')]]]"
              required=[[$component.mobileRequired]]></oj-input-text>
          </div>
        </div>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="emailID"><span data-bind="text:$component.resource.emailID"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
        <oj-input-text id="emailID" aria-labelledby="emailID"
          value="{{$component.modelInstance.corporateDetails.email}}" validators="[[$baseModel.getValidator('EMAIL')]]"
          required=[[$component.emailRequired]]>
        </oj-input-text>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="PreferredMode"><span data-bind="text:$component.resource.preferredMode"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12">
        <oj-radioset id="PreferredMode" labelled-by="mainlabelid" class="oj-choice-direction-row"
          value="{{$component.modelInstance.corporateDetails.preferredModeOfCommunication}}"
          on-value-changed="[[$component.preferredModeChangeHandler]]" required>
          <oj-option value="M"><span data-bind="text:$component.resource.mobile"></span></oj-option>
          <oj-option value="E"><span data-bind="text:$component.resource.email"></span></oj-option>
        </oj-radioset>
      </div>
    </div>
  </page-section>
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-lg-3 oj-md-3 label">
      <oj-label for="CorrespondenceAddress"><span data-bind="text:$component.resource.correspondenceText"></span>
      </oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12">
      <oj-checkboxset id="correspondenceAddress" class="oj-choice-direction-row"
        :aria-label="[[$component.resource.entityAddressText]]" value={{$component.correspondenceAddress}}
        on-value-changed="[[$component.correspondenceAddressChangedHandler]]">
        <oj-option value="generic"><span data-bind="text: $component.resource.entityAddressText"></span></oj-option>
      </oj-checkboxset>
    </div>
  </div>

  <!-- ko if: $component.displayCorrespondenceAddress -->
  <page-section
    params="baseModel : $baseModel, rootModel : $component, heading : $component.resource.correspondenceText ">
    <div class="oj-flex-item oj-sm-12 correspondence-address-padding">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 label">
          <oj-label for="addressLine1"><span data-bind="text:$component.resource.addressLine1"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
          <oj-input-text id="addressLine1" aria-labelledby="addressLine1"
            value="{{$component.modelInstance.address.line1}}" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_ALL_SPECIAL',$component.resource.validationMessage,{
                          type:'length',options:{
                              min:1,max:105}})]]" required></oj-input-text>
        </div>
      </div>
    </div>
    <div class="oj-flex-item oj-sm-12">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 label">
          <oj-label for="addressLine2"><span data-bind="text:$component.resource.addressLine2"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
          <oj-input-text id="addressLine2" aria-labelledby="addressLine2"
            value="{{$component.modelInstance.address.line2}}" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_ALL_SPECIAL',$component.resource.validationMessage,{
                          type:'length',options:{
                              min:0,max:105}})]]"></oj-input-text>
        </div>
      </div>
    </div>
    <!-- ko if: $component.nationalityTemplateLoaded -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="country"><span data-bind="text:$component.resource.country"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5 ">
        <oj-select-one id="country" aria-labelledby="country" value="{{$component.modelInstance.address.country}}"
          placeholder="[[$component.resource.placeholder]]" required>
          <!-- ko foreach: $component.countryOptions -->
          <oj-option value="{{countryCode}}"><span data-bind="text:description"></span></oj-option>
          <!-- /ko -->
        </oj-select-one>
      </div>
    </div>
    <!-- /ko -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 label">
        <oj-label for="zipCode"><span data-bind="text:$component.resource.zipCode"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
        <oj-input-text id="zipCode" aria-labelledby="zipCode" value="{{$component.modelInstance.address.zipCode}}"
          validators="[[$baseModel.getValidator('NUMBERS',$component.resource.validationMessage,{
                    type:'length',options:{
                        min:0,max:15}})]]"></oj-input-text>
      </div>
    </div>
  </page-section>
  <!-- /ko -->
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-lg-3 oj-md-3 label">
      <oj-label for="mailingAddress"><span data-bind="text:$component.resource.mailingAddress"></span></oj-label>
    </div>
    <div class="oj-flex-item oj-sm-12">
      <oj-checkboxset id="mailingAddress" class="oj-choice-direction-row"
        :aria-label="[[$component.resource.addressText]]" value={{$component.mailingAddress}}
        on-value-changed="[[$component.mailingAddressChangedHandler]]" disabled="[[$component.reviewTemplate]]">
        <oj-option value="generic"><span data-bind="text: $component.resource.addressText"></span></oj-option>
      </oj-checkboxset>
    </div>
  </div>
  <!-- ko if:$component.displayAddress -->
  <page-section params="baseModel : $baseModel, rootModel : $component, heading : $component.resource.mailingAddress ">
    <div class="oj-flex oj-flex-items-pad mailing-address-container">
      <div class="oj-flex-item oj-sm-12 correspondence-address-padding">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 label">
            <oj-label for="addressLine11"><span data-bind="text:$component.resource.addressLine1"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-input-text id="addressLine11" aria-labelledby="addressLine1"
              value="{{$component.modelInstance.mailingAddress.line1}}" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_ALL_SPECIAL',$component.resource.validationMessage,{
                            type:'length',options:{
                                min:1,max:105}})]]" required></oj-input-text>
          </div>
        </div>
      </div>
      <div class="oj-flex-item oj-sm-12">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 label">
            <oj-label for="addressLine2"><span data-bind="text:$component.resource.addressLine2"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-input-text id="addressLine2" aria-labelledby="addressLine2"
              value="{{$component.modelInstance.mailingAddress.line2}}" validators="[[$baseModel.getValidator('ALPHANUMERIC_WITH_ALL_SPECIAL',$component.resource.validationMessage,{
                            type:'length',options:{
                                min:0,max:105}})]]"></oj-input-text>
          </div>
        </div>
      </div>
      <!-- ko if: $component.nationalityTemplateLoaded -->
      <div class="oj-flex-item oj-sm-12">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 label">
            <oj-label for="country"><span data-bind="text:$component.resource.country"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5 ">
            <oj-select-one id="country" aria-labelledby="country"
              value="{{$component.modelInstance.mailingAddress.country}}"
              :placeholder="{{$component.resource.placeholder}}" required>
              <!-- ko foreach: $component.countryOptions -->
              <oj-option value="{{countryCode}}"><span data-bind="text:description"></span></oj-option>
              <!-- /ko -->
            </oj-select-one>
          </div>
        </div>
      </div>
      <!-- /ko -->
      <div class="oj-flex-item oj-sm-12">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 label">
            <oj-label for="zipCode"><span data-bind="text:$component.resource.zipCode"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
            <oj-input-text id="zipCode" aria-labelledby="zipCode"
              value="{{$component.modelInstance.mailingAddress.zipCode}}" validators="[[$baseModel.getValidator('NUMBERS',$component.resource.validationMessage,{
                        type:'length',options:{
                            min:0,max:15}})]]"></oj-input-text>
          </div>
        </div>
      </div>
    </div>
  </page-section>
  <!-- /ko -->
  <!-- /ko -->
</div>