<div class="check-box-view-container">
  <div class="oj-flex">
    <div class="oj-flex-item">
      <div class="oj-sm-12 oj-lg-5 oj-md-5 check-box-label">
        <oj-label class="oj-label-inline"><span data-bind="text: $component.label"></span></oj-label>
      </div>
      <div class="oj-flex oj-sm-12">
        <div class="oj-flex-item oj-sm-8">
          <oj-checkboxset :aria-label="[[$component.resource.checkboxLabel]]" value="{{$component.testInput}}" class="oj-choice-direction-row oj-sm-12" disabled="{{$component.isDisabled}}" required="{{$component.isRequired}}" translations="[[{'required':{messageDetail:$component.errorMessage()}}]]">
            <!-- ko foreach: $component.values -->
            <oj-option value="{{description}}" class="oj-sm-5"><span data-bind="text:description"></span></oj-option>
            <!-- /ko -->
          </oj-checkboxset>
        </div>
      </div>
    </div>
  </div>
</div>
