.documents-list {
  .document-category {
    padding: 0.6rem 1.9rem;
    border-bottom: 0.05rem solid var(--base-border-default);
  }

  .text{
     font-size: 0.9rem;
  }

  .icon-delete:before {
    font-size: 1.2rem;
  }

  .primary-heading, .form-heading {
    color: var(--base-color-primary);
    font-weight: var(--base-font-weight-regular);
  }
}

.document-upload-container {
  height: calc(100vh - 350px);
  overflow-y: scroll;
}
.collapsible-container
{
  padding-top: 1.8rem;
}
.collapsible-row
{
  padding-top: 2rem;
}
.file_picker
{
  border-bottom: 0.05rem solid var(--base-border-default);
  font-size: 0.9rem;
}
.type_font
{
  margin-top: 0.5rem;
}