.purchase-fund-container {
    .header-text {
        font-size: var(--base-font-size-large);
        font-weight: var(--base-font-weight-bold);
    }
    .padding-bar {
        padding-bottom: 1.5rem;
    }
    .purchase-info {
        padding: 0.2rem;
    }
    .purchase-info-color-pad {
        background-color: var(--banner-background);
        @include padding(0, 0, 0.5rem, 0.5rem);
    }
    .purchase-info-color {
        background-color: var(--banner-background);
        padding: 0.2rem;
    }
    .upper-margin {
        margin-top: 5.2rem;
    }
    .border-color-custom {
        @include single-border(bottom, 0.05rem solid var(--banner-background));
        @include single-border(left, 0.05rem solid var(--banner-background));
        @include single-border(right, 0.05rem solid var(--banner-background));
    }
    .max-height {
        height: 4.64rem;
    }
    .help-padding {
        padding-top: 1rem;
    }
}