<div class="oj-flex oj-flex-items-pad manage-spend-categories" data-bind="with:cardData">
    <div class="oj-flex-item oj-sm-10 no-pad-cols manage-spend-categories__container">
        <div class = "manage-spend-categories__container-category" data-bind="text:categoryName"></div>
    </div>
    <div class="oj-flex-item oj-sm-2 no-pad-cols">
        <a href="#" data-bind="attr:{'alt':$component.resource.alt ,'title':$component.resource.title },click:$component.edit.bind($data)">
            <div class="icons icon-remarks right" data-bind="css: 'icon-remarks'"></div>
        </a>
    </div>
    <div class="oj-flex-item oj-sm-12 no-pad-cols manage-spend-categories__container" data-bind="text:subcategories"></div>
</div>