@import "utils";
.financial-position-currency{
  &__chart{}
  &-chart{
    &__barChart{
      height:100%;
      width: 100%;
      padding:0.5rem 0;
    }
  }
  &__viewAll{
    @include view-all;
    @include text-align(right);
    @include mq(small){
      bottom:0.1rem;
    }
    @include mq(medium){
      bottom:0.1rem;
    }
  }

  &__noContent{
    height:75%;
  }
  &-noContent{
    &__noData{
      margin:auto;
      text-align:center;
    }
    &-noData{
      &__image{
          height:8rem;
      }
    }
    &__text{
      font-size:var(--base-font-size-larger);
    }
  }
}
