<div class="form-main-container dashboard-new-registered">
      <div class="oj-flex-item">
            <h4 class="textHead" tabindex="-1" id="MyAccountHeading" data-bind="text:$component.resourceBundle.heading.zigmax"></h4>
      </div>

      <div class="oj-flex oj-flex-items-pad backgroundAA" >
        <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
          <p class="textHeader"><span><span data-bind="text:$component.resourceBundle.labels.welcome"></span>  </span></p>
          <p class="textBody"><span><br></span></p>
          <p class="textBody"><span><span data-bind="text:$component.resourceBundle.labels.zigmax1"></span> </span></p>
          <p class="textBody"><span><br></span></p>
          <p class="textBody"><span><span data-bind="text:$component.resourceBundle.labels.zigmax2"></span> <span data-bind="text:$component.resourceBundle.labels.zigmax3"></span> </span></p>
          <p class="textBody"><span><br></span></p>
          <p class="textBody"><span><span data-bind="text:$component.resourceBundle.labels.zigmax4"></span> </span></p>
          <p class="textBody"><span><br></span></p>
        </div>
		<div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
			<div class="displayImage-showImg__maxwidth" >
			</br>
			  	<img id="u28_img" src="images/account-aggregation/linkaccountdashboard.png"/>
			</div>		
        </div>
        <div class="backgroundAA" >
          <img id="u99_img" class="img " src="images/account-aggregation/linkboard.png"/>
        </div>
      </div>


      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
          <p><span>&nbsp;<span data-bind="text:$component.resourceBundle.labels.features"></span></span></p>
        </div>
      </div>

      <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
              <img src="images/account-aggregation/financialmanagement.png"/>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <img src="images/account-aggregation/analytics.png"/>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <img src="images/account-aggregation/investment.png"/>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <img src="images/account-aggregation/bankandmoney.png"/>
          </div>
      </div>
    </br></br>

    <div class="center" >
        <oj-button id="linkAccount"  class="action-button-primary backgroundAA" on-click="[[SelectBank]]">
            <span data-bind="text:$component.resourceBundle.labels.linkAccount"></span>
        </oj-button>
    </div>
</br></br>
</div>
