.bill-payments {
	background: var(--base-background-primary);
    
    .input-date-width {
        min-width : 10em !important;
    }
}
.iconStyling {
    font-size: 1.1rem;
    position: relative;
    top: 0.1rem;
    color: var(--link-base);
}
