<div class="status" data-bind="css: status==='F' ? 'rejected':  status==='S' ? 'processed' : status === 'E' ? 'expired' : 'in-progress' ">
    <!-- ko if:status==="P" -->
    <span class="icons icon-pre-processed"></span>
    <span data-bind="text:nls.INITIATED"></span>
    <!-- /ko -->
    <!-- ko if:status==="S" -->
    <span class="icons icon-success"></span>
    <span data-bind="text:nls.APPROVED"></span>
    <!-- /ko -->

    <!-- ko if:status==="F" -->
    <span class="icons icon-reject "></span><span data-bind="text:nls.REJECTED "></span>
    <!-- /ko -->
    <!-- ko if:status==="E" -->
    <span class="icons icon-alert "></span><span data-bind="text:nls.EXPIRED"></span>
    <!-- /ko -->
</div>
