@import "utils";
$highlight-grid-text: ( small: 1.1rem, medium: 1.1rem, large: 1.3rem);
$highlight-grid-text-color: var(--base-text-primary);
$ref-no-size: var(--base-font-size-default);
.account-details {
    &__select {
        padding: 0.6rem 0;
    }
    &__productInfo {
        @include single-margin(bottom, 1rem);
    }
    .ref-no-text {
        @include mq(small) {
            font-size: $ref-no-size;
        }
    }
    .account-no,
    .activity-amt {
        color: $highlight-grid-text-color;
    }
    &__nickname {
        margin: 0 0.6rem;
    }
    &__equalheight {
        margin: 1rem 0;
    }
    &-equalheight {
        &__header {
            font-size: var(--base-font-size-larger);
            font-weight: var(--base-font-weight-regular);
            margin: 0.6rem;
        }
        &__seperator {
            @include single-padding(bottom, 0.6rem);
        }
    }
    .outer-container {
        @include float(left);
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: var(--base-background-primary);
    }
    .wrapped-container {
        @include float(left);
        width: 100%;
        position: relative;
        @include right(30%);
        @include single-border(right, 0.05rem solid var(--base-border-default));
        @include mq(small) {
            @include right(0);
        }
    }
    .inner-container {
        @include float(left);
        width: 100%;
        position: relative;
        @include right(40%);
        @include single-border(right, 0.05rem solid var(--base-border-default));
        padding: 0.8rem 0;
        @include mq(small) {
            @include right(0);
        }
    }
    .firstSection {
        @include float(left);
        width: 26%;
        position: relative;
        @include left(70%);
        overflow: hidden;
        @include mq(small) {
            width: 100%;
            @include left(0);
        }
    }
    .secondSection {
        @include float(left);
        width: 36%;
        position: relative;
        @include left(75%);
        overflow: hidden;
        @include mq(small) {
            width: 100%;
            @include left(0);
        }
    }
    .thirdSection {
        @include float(left);
        width: 26%;
        position: relative;
        @include left(79%);
        overflow: hidden;
        @include mq(small) {
            width: 100%;
            @include left(0);
        }
    }
    &__transactionWidget {
        margin: 1rem 0;
    }
}