<div class="form-main-container">
    <page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
        
        <!-- ko if : $component.isModuleDataLoaded() -->
            <div class="oj-flex oj-flex-items-pad oj-lg-12 oj-md-12 oj-sm-12">
                <oj-film-strip class="oj-flex-item oj-lg-12 oj-md-12 oj-sm-12" data-bind="attr:{id:'filmStrip', 'aria-label':$component.nls.filmstripText}" max-items-per-page="[[$baseModel.large() ? 3 :($baseModel.small() ? 1 : 2)]]" arrow-visibility="visible">
                    <!-- ko foreach: $component.moduleData -->
                    <a class="imgWidth" href="#" data-bind="click: $component.selectModule.bind($data, $context) , attr: { alt: $component.nls.mDetails }">
                     <hover-text-image params="textOnImage:$component.nls.discription[moduleDescription], source: moduleImg,header:$component.nls.headers[moduleDescription]" on-hover="[[$component.testPopUp]]"></hover-text-image>
                    </a>
                    <!-- /ko -->
                </oj-film-strip>
            </div>
            <!-- /ko -->


    </page-section>
    <div class="oj-flex-item button-container">
        <oj-button class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data,true)]]">
            <span slot="startIcon" class="icons icon-cancel"></span>
            <span data-bind="text:$component.nls.cancel"></span>
        </oj-button>
        <oj-button class="action-button-tertiary" on-click="[[$dashboard.hideDetails]]">
            <span slot="startIcon" class="icons icon-back-arrow"></span>
            <span data-bind="text:$component.nls.back"></span>
        </oj-button>
    </div>
</div>