.claim-payment {

    &__button-left {
            justify-content: left !important;
        }

    .security-code-verification {

        .button-left {
            justify-content: left !important;
        }
        .radio-padding {
            padding-top: 0.6rem;
        }
    }
}
