@import "utils";
.recent-payments{
  .date{
    padding:0.3rem 0;
  }
  .amount{
    font-size:var(--base-font-size-large);
    @include mq(small){
      font-size:var(--base-font-size-larger);
      padding:0.3rem 0;
    }
  }
  .transactionStatus{
    padding-top:0.3rem;
  }
  .status{
    .icons{
      text-align:center;
      @include mq(small){
        @include text-align(right);
      }
    }
  }
  &__listView{
    @include mq(small){
      padding:0 0.6rem;
    }
  }
  &-listView{
    &__listItem{
      padding:0.6rem 0 !important;
    }
  }
  &__noData{
    display:flex;
    align-items: center;
    justify-content: center;
    img{
      height:6rem;
    }
  }
  &__text{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-size:var(--base-font-size-larger);
  }
  &__subText{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
  }
}
