<div class="form-main-container">
    <page-section params="baseModel : $baseModel, rootModel : $component, heading : ''">
        <oj-validation-group id="tracker">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-lg-12 oj-sm-12 oj-md-12">
                    <oj-label for="address1">
                        <span data-bind="text:$component.resource.address1"></span>
                    </oj-label>
                </div>
                <div class="oj-flex-item oj-lg-6 oj-sm-12 oj-md-12">
                    <oj-input-text id="address1" value="{{$component.openInvestmentAccountData().addressDetails[0].address1}}" validators="[[$baseModel.getValidator('ALPHANUMERIC',$component.resource.messages.address.address,{type:'length',options:{min:1,max:50}})]]" required
                        readonly="[[$component.fetchedInfo.address1]]"></oj-input-text>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-lg-12 oj-sm-12 oj-md-12">
                    <oj-label for="address2">
                        <span data-bind="text:$component.resource.address2"></span>
                    </oj-label>
                </div>
                <div class="oj-flex-item oj-lg-6 oj-sm-12 oj-md-12">
                    <oj-input-text id="address2" value="{{$component.openInvestmentAccountData().addressDetails[0].address2}}" validators="[[$baseModel.getValidator('ALPHANUMERIC',$component.resource.messages.address.address,{type:'length',options:{min:1,max:50}})]]" required
                        readonly="[[$component.fetchedInfo.address2]]"></oj-input-text>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-lg-12 oj-sm-12 oj-md-12">
                    <oj-label for="city">
                        <span data-bind="text:$component.resource.city"></span>
                    </oj-label>
                </div>
                <div class="oj-flex-item oj-lg-4 oj-sm-8 oj-md-8">
                    <oj-input-text id="city" value="{{$component.openInvestmentAccountData().addressDetails[0].city}}" validators="[[$baseModel.getValidator('ALPHABETS',$component.resource.messages.address.city,{type:'length',options:{min:1,max:50}})]]" required readonly="[[$component.fetchedInfo.city]]"></oj-input-text>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-lg-12 oj-sm-12 oj-md-12">
                    <oj-label for="state">
                        <span data-bind="text:$component.resource.state"></span>
                    </oj-label>
                </div>
                <div class="oj-flex-item oj-lg-4 oj-sm-8 oj-md-8">
                    <oj-input-text id="state" value="{{$component.openInvestmentAccountData().addressDetails[0].state}}" validators="[[$baseModel.getValidator('ALPHABETS',$component.resource.messages.address.state,{type:'length',options:{min:1,max:50}})]]" required readonly="[[$component.fetchedInfo.state]]"></oj-input-text>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-lg-12 oj-sm-12 oj-md-12">
                    <oj-label for="zipCode">
                        <span data-bind="text:$component.resource.zipCode"></span>
                    </oj-label>
                </div>
                <div class="oj-flex-item oj-lg-4 oj-sm-6 oj-md-6">
                    <oj-input-text id="zipCode" value="{{$component.openInvestmentAccountData().addressDetails[0].pin}}" validators="[[$baseModel.getValidator('ALPHANUMERIC',$component.resource.messages.address.zipcode,{type:'length',options:{min:1,max:10}})]]" required
                        readonly="[[$component.fetchedInfo.pin]]"></oj-input-text>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-lg-12 oj-sm-12 oj-md-12">
                    <oj-label for="country">
                        <span data-bind="text:$component.resource.country"></span>
                    </oj-label>
                </div>
                <div class="oj-flex-item oj-lg-6 oj-sm-12 oj-md-12">
                    <!-- ko if: $component.countriesLoaded -->
                    <oj-select-one id="country" :aria-label="[[$component.resource.country]]" :placeholder="[[$component.resource.select]]" labelled-by="accessTypeLabel" value="{{$component.openInvestmentAccountData().addressDetails[0].country}}" required disabled="[[$component.fetchedInfo.country]]">
                        <!-- ko foreach : $component.countries -->
                        <oj-option :id="[['country'+$index()]]" value="{{description}}"><span data-bind="text: description"></span></oj-option>
                        <!-- /ko -->
                    </oj-select-one>
                    <!-- /ko -->
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-md-offset-1 oj-lg-12 label oj-lg-offset-2 ">
                    <oj-label for="contactNumber"><span data-bind="text:$component.resource.contactNo"></span></oj-label>
                </div>
                <div class="oj-flex-item oj-sm-8 oj-md-12 oj-lg-12">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-6">
                            <oj-input-text id="contactNumber" required validators="[[$baseModel.getValidator('MOBILE_NO')]]" help.instruction="[[$component.resource.contactHint]]" value="{{$component.openInvestmentAccountData().contactDetails[0].phoneNumber}}"></oj-input-text>
                        </div>
                        <!-- ko ifnot:$component.showAnotherContactNumber -->
                        <!-- ko if: $component.openInvestmentAccountData().contactDetails[0].phoneNumber -->
                        <div class="oj-flex-item oj-lg-6 oj-sm-12 oj-md-12">
                            <a href="#" data-bind="attr:{id: 'alternateContact',alt:$component.resource.clickToAddContactNo,title:$component.resource.titleContactNo},click:$component.addAnotherNumber">
                                <span class="icons icon-add" slot="startIcon"></span>
                                <span data-bind="text:$component.resource.addAnotherNumber"></span>
                            </a>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- ko if:$component.showAnotherContactNumber -->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-md-offset-1 oj-lg-12 label oj-lg-offset-2 ">
                    <oj-label for="altcontactNumber"><span data-bind="text:$component.resource.alternateContactNumber"></span></oj-label>
                </div>
                <div class="oj-flex-item oj-sm-8 oj-md-4 oj-lg-6">
                    <oj-input-text id="altcontactNumber" required validators="[[contactNoValidator]]" help.instruction="[[$component.resource.contactHint]]" value="{{$component.openInvestmentAccountData().contactDetails[1].phoneNumber}}"></oj-input-text>
                </div>
                <div class="oj-flex-item oj-sm-2 oj-md-2 oj-lg-2">
                    <a href="#" data-bind="attr:{id: 'deleteContact',alt:$component.resource.clickToDelete,title:$component.resource.deleteContact}, click:$component.deleteAnotherContact">
                        <div class="icons icon-delete" aria-hidden="true"></div>
                    </a>
                </div>
            </div>
            <!-- /ko -->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-8 oj-md-12 oj-md-offset-1 oj-lg-12 label oj-lg-offset-2 ">
                    <oj-label for="confirmEmail"><span data-bind="text:$component.resource.emailId"></span></oj-label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-8 oj-md-12 oj-lg-6">
                            <oj-input-text id="confirmEmail" required maxlength="100" validators="[[$baseModel.getValidator('EMAIL')]]" help.instruction="[[$component.resource.emailHint]]" value="{{$component.openInvestmentAccountData().contactDetails[0].email}}"></oj-input-text>
                        </div>
                        <!-- ko ifnot:$component.showAnotherEmail -->
                        <!-- ko if:$component.openInvestmentAccountData().contactDetails[0].email -->
                        <div class="oj-flex-item oj-lg-6 oj-sm-12 oj-md-12">
                            <a href="#" data-bind="attr:{id: 'alternateEmail',alt:$component.resource.clickToAddEmail,title:$component.resource.titleEmail},click:$component.addAnotherEmail">
                                <span class="icons icon-add" slot="startIcon"></span>
                                <span data-bind="text:$component.resource.addAnotherEmailId"></span>
                            </a>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- ko if:$component.showAnotherEmail -->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-md-offset-1 oj-lg-12 label oj-lg-offset-2 ">
                    <oj-label for="altEmail"><span data-bind="text:$component.resource.alternateEmailId"></span></oj-label>
                </div>
                <div class="oj-flex-item oj-sm-8 oj-md-6 oj-lg-6">
                    <oj-input-text id="altEmail" required validators="[[emailValidator]]" help.instruction="[[$component.resource.emailHint]]" value="{{$component.openInvestmentAccountData().contactDetails[1].email}}"></oj-input-text>
                </div>
                <div class="oj-flex-item oj-sm-2 oj-md-2 oj-lg-2">
                    <a href="#" data-bind="attr:{id: 'deleteEmail',alt:$component.resource.clickToDelete,title:$component.resource.deleteEmail}, click:$component.deleteAnotherEmail">
                        <div class="icons icon-delete" aria-hidden="true"></div>
                    </a>
                </div>
            </div>
            <!-- /ko -->
            <div class="oj-flex button-container">
                <oj-button class="action-button-primary" id="next-button"  on-click="[[$component.nextStep]]">
                    <span slot="startIcon" class="icons icon-forward-arrow"></span>
                    <span data-bind="text:$component.resource.generic.common.next"></span>
                </oj-button>
                <oj-button class="action-button-secondary" id="cancel-button"  on-click="[[$dashboard.switchModule.bind($data, null)]]">
                    <span slot="startIcon" class="icons icon-cancel"></span>
                    <span data-bind="text:$component.resource.generic.common.cancel"></span>
                </oj-button>
                <oj-button class="action-button-tertiary" id="back"  on-click="[[$component.previousStep]]">
                    <span slot="startIcon" class="icons icon-back-arrow"></span>
                    <span data-bind="text:$component.resource.generic.common.back"></span>
                </oj-button>
            </div>
        </oj-validation-group>
    </page-section>
</div>