.risk-profile-review {
  .riskProfileGauge {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 2rem;
    width: 80%;
}
.item-text{
  font-size: var(--base-font-size-larger);
  font-weight:bold;
}
.list-item {
    padding-bottom: 0.7rem;
}
.left-padding{
  @include single-padding(left, 0.7rem);
}
}
