
<div class="view-list-container  application-view">
  <oj-accordion id="accordionPage" class="accordion">
    <oj-collapsible id="statusHistoryDiv" class="card">
      <span slot="header">
        <div class="card-header oj-flex oj-flex-items-pad">
          <div class="">
            <div class=""><span class="icons icon-tds"></span></div>
          </div>
          <div class="oj-sm-9 oj-md-8 oj-lg-8">
            <h4 class="accordion-header-section" data-bind="text : $component.resource.documents"></h4>
          </div>
        </div>
      </span>
      <div class="bg-white" data-bind='component:{name: "app-tracker-documents", params:{rootModel: $data }}'></div>
    </oj-collapsible>
    <!-- ko if:$component.productClassName() === 'LOANS' -->
    <oj-collapsible id="accountSummaryDiv" class="card">
      <span slot="header">
      <div class="card-header oj-flex oj-flex-items-pad">
        <div class="oj-sm-only-hide  oj-flex-item oj-sm-1 oj-md-1 oj-lg-1">
          <div class="card-icon-container"><span class="card-icon icon-account-summary"></span></div>
        </div>
        <div class="oj-sm-9 oj-md-8 oj-lg-8">
          <h4 class="accordion-header-section" data-bind="text : $component.resource.accountSummary"></h4>
        </div>
      </div>
    </span>
      <div class="oj-flex oj-flex-items-pad bg-white" data-bind='component:{name: "account-summary", params:{rootModel: $data }}'></div>
    </oj-collapsible>
    <!-- /ko -->
  </oj-accordion>
</div>
