<div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between bill-payments">
    <!-- ko if: $component.mode() === 'REVIEW' -->
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12" data-bind="template: { name: 'review-screen/review-banner-template', data: $component.reviewTransactionName}"></div>
    <!-- /ko -->
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-7">
        <!-- ko if: $component.dataLoaded -->
        <page-section params="baseModel : $baseModel, rootModel : $data, heading : $component.billerDetails ? $component.billerDetails.billerNickName : $component.billerPaymentDetails.billerName()">

            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="billerName" data-bind="text: $component.resourceBundle.labels.billerName"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                    <div id="billerName" data-bind="text: $component.billerPaymentDetails.billerName()"></div>
                </div>
            </div>

            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="billerLocation" data-bind="text: $component.resourceBundle.labels.billerLocation"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                    <div id="billerLocation" data-bind="text: $component.billerPaymentDetails.location()"></div>
                </div>
            </div>
            <!-- ko foreach:$component.relationshipDetails() -->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="billerRelationship" data-bind="text: $component.billerLabelsResource[$data.label] || $data.label, attr : {'for' :'billerLabel_' + $index()}"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                    <div id="billerRelationship" data-bind="text: $data.value, attr : {'for' :'billerLabel_' + $index()}"></div>
                </div>
            </div>
            <!-- /ko -->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="customerName" data-bind="text: $component.resourceBundle.labels.customerName"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                    <span id="customerName" data-bind="text: $component.billerPaymentDetails.customerName()"></span>
                </div>
            </div>

           <!-- ko if: $component.dropdownLabels.currentAccountType && $component.dropdownLabels.currentAccountType()-->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12">
                    <label for="accType" data-bind="text: $component.resourceBundle.labels.paymentType"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                    <div id="accType" data-bind="text: $component.resourceBundle.labels[$component.currentAccountType()]">
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="paymentTime" data-bind="text:  $component.resourceBundle.labels.payWhen"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-8">
                    <div id="scheduledDate" data-bind="text: $formatter.formatDate($component.billerPaymentDetails.paymentDate())">
                    </div>
                </div>
            </div>

            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="billerAcc" data-bind="text: $component.resourceBundle.labels.billerAccount"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                    <div id="billerAcc" data-bind="text: $component.billerPaymentDetails.debitAccount.displayValue()">
                    </div>
                </div>
            </div>

            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="paymentAmount" data-bind="text: $component.resourceBundle.labels.paymentAmount"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                    <a href="#" class="oj-choice-row-inline" data-bind="attr:{ title: $component.resourceBundle.registerBillerError.labels.billDetails},text:$formatter.formatCurrency($component.billerPaymentDetails.billAmount.amount(),$component.billerPaymentDetails.billAmount.currency()),click:$component.viewBill"></a>
                </div>
            </div>
            <!-- ko if: $component.billerPaymentDetails.recurring() === false-->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="paymentTime" data-bind="text:  $component.resourceBundle.labels.payWhen"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                    <div id="scheduledDate" data-bind="text: $formatter.formatDate($component.billerPaymentDetails.paymentDate())">
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko if: $component.billerPaymentDetails.recurring() === true-->
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                    <label for="paymentTime" data-bind="text:  $component.resourceBundle.labels.payWhen"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-8">
                    <div id="paymentTime" data-bind="text: $component.resourceBundle.labels.RECURRING">
                    </div>
                </div>
            </div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                        <label for="paymentTime" data-bind="text:  $component.resourceBundle.labels.startDate"></label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-8">
                        <div id="scheduledDate" data-bind="text: $formatter.formatDate($component.billerPaymentDetails.paymentDate())">
                        </div>
                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                        <label for="paymentTime" data-bind="text:  $component.resourceBundle.labels.endDate"></label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-8">
                        <div id="scheduledDate" data-bind="text: $formatter.formatDate($component.billerPaymentDetails.billerRegistration.autopayInstructions.endDate())">
                        </div>
                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 label">
                        <label for="scheduledFreq" data-bind="text: $component.resourceBundle.labels.frequencyType"></label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-8">
                        <div id="scheduledFreq" data-bind="text: $component.billerPaymentDetails.billerRegistration.autopayInstructions.frequency()">
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>

        </page-section>
        <!-- /ko -->
        <!-- ko if: $component.mode() === 'REVIEW' -->
        <div class="oj-flex oj-flex-items-pad button-container">
            <oj-button id="confirmButton" class="action-button-primary" on-click="[[confirm]]">
                <span slot="startIcon" class="icons icon-confirm"></span>
                <span data-bind="text:$component.resourceBundle.generic.common.confirm"></span>
            </oj-button>
            <!-- ko ifnot: $baseModel.small() -->
            <oj-button id="cancelbutton" class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data,true)]]">
                <span slot="startIcon" class="icons icon-cancel"></span>
                <span data-bind="text:$component.resourceBundle.generic.common.cancel"></span>
            </oj-button>
            <!-- /ko -->
            <oj-button id="backbutton" class="action-button-tertiary" on-click="[[$component.editPayBill]]">
                <span slot="startIcon" class="icons icon-back-arrow"></span>
                <span data-bind="text:$component.resourceBundle.generic.common.back"></span>
            </oj-button>

        </div>
        <!-- /ko -->
    </div>
</div>

<modal-window class="full-width-modal" params="baseModel : $baseModel, rootModel : $data, id:'billWindow', header:$component.resourceBundle.labels.detailedBill">
    <!-- ko if: $component.billLoaded() -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad biller-logo">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-5">
                    <span id="billerName" data-bind="text: $component.billerPaymentDetails.billerName()"></span>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-6 bill-data">
                    <oj-avatar role="img" size="xs" initials='[[$data.initials]]' data-bind="attr:{'aria-label': $data.name}" src="[[$data.logoList()[0].billerLogo]]" class="oj-avatar-image">
                    </oj-avatar>
                </div>
            </div>
        </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="customerName" data-bind="text: $component.resourceBundle.labels.customerName"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="customerName" data-bind="text: $component.billerPaymentDetails.customerName()"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- ko foreach:$component.relationshipDetails -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="billerRelationship" :for="[['billerLabel_'+ $index()]]" data-bind="text:$data.label"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="billerRelationship" data-bind="text: $data.value, attr : {'for' :'billerLabel_' + $index()}"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="billNumber" data-bind="text: $component.resourceBundle.labels.billNumber"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="billNumber" data-bind="text: $component.ebillResponse().billerRegistration.ebill.id"></span>
                </div>
            </div>
        </div>
    </div>


    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="duration" data-bind="text: $component.resourceBundle.labels.billPeriod"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="duration" data-bind="text: $component.ebillResponse().billerRegistration.ebill.duration"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="billDate" data-bind="text: $component.resourceBundle.labels.billDate"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="billDate" data-bind="text: $formatter.formatDate($component.ebillResponse().billerRegistration.ebill.generationDate)"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="dueDate" data-bind="text: $component.resourceBundle.labels.billDueDate"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="dueDate" data-bind="text: $formatter.formatDate($component.ebillResponse().billerRegistration.ebill.dueDate)"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="billAmount" data-bind="text: $component.resourceBundle.labels.billAmount"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="billAmount" data-bind="text: $formatter.formatCurrency($component.ebillResponse().billerRegistration.ebill.totalAmount.amount,$component.ebillResponse().billerRegistration.ebill.totalAmount.currency)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- ko if: $component.ebillResponse().billerRegistration.ebill.earlyPayDate -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="earlyPayDate" data-bind="text: $component.resourceBundle.labels.billPeriod"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="earlyPayDate" data-bind="text: $formatter.formatDate($component.ebillResponse().billerRegistration.ebill.earlyPayDate)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: $component.ebillResponse().billerRegistration.ebill.earlyPayDiscount -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="earlyPayDiscount" data-bind="text: $component.resourceBundle.registerBillerError.labels.earlyPayDiscount"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="earlyPayDiscount" data-bind="text: $formatter.formatCurrency($component.ebillResponse().billerRegistration.ebill.earlyPayDiscount.amount,$component.billerPaymentDetails.ebill.earlyPayDiscount.currency)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: $component.ebillResponse().billerRegistration.ebill.earlyPayBillAmount -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="earlyPayBillAmount" data-bind="text: $component.resourceBundle.registerBillerError.labels.earlyPayBillAmount"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="earlyPayBillAmount" data-bind="text: $formatter.formatCurrency($component.ebillResponse().billerRegistration.ebill.earlyPayBillAmount.amount,$component.billerPaymentDetails.ebill.earlyPayBillAmount.currency)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: $component.ebillResponse().billerRegistration.ebill.latePayCharges -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="latePayCharges" data-bind="text: $component.resourceBundle.registerBillerError.labels.latePayCharges"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="latePayCharges" data-bind="text: $formatter.formatCurrency($component.ebillResponse().billerRegistration.ebill.latePayCharges.amount,$component.billerPaymentDetails.ebill.latePayCharges.currency)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: $component.ebillResponse().billerRegistration.ebill.latePayBillAmount -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="latePayBillAmount" data-bind="text: $component.resourceBundle.registerBillerError.labels.latePayBillAmount"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="latePayBillAmount" data-bind="text: $formatter.formatCurrency($component.ebillResponse().billerRegistration.ebill.latePayBillAmount.amount,$component.ebillResponse().billerRegistration.ebill.latePayBillAmount.currency)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: $component.ebillResponse().billerRegistration.ebill.description -->
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                    <label for="description" data-bind="text: $component.resourceBundle.registerBillerError.labels.description"></label>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-7 bill-data">
                    <span id="description" data-bind="text: $component.ebillResponse().billerRegistration.ebill.description"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</modal-window>