.validity {
    font-size: var(--base-font-size-medium);
    padding: 0 0 0.5rem 2.2rem;
}
.name{
    padding-top: 0.45rem;
    .nameHeading{
     padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    }

}
.fundsConfirmationNote{
    padding-bottom: 1rem;

}