<div class="page-section-content">
   <!-- ko if: $component.contractList() -->
   <!-- ko if: $component.contractList().length > 0 -->
   <div class="oj-flex oj-flex-items-pad">
     <div class="oj-flex oj-flex-item oj-sm-12 oj-md-12 oj-lg-12" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
       <!-- ko ifnot:$baseModel.small() -->
         <div class="oj-flex oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-table id="contractsTable" :aria-label="[[$component.resourceBundle.contractsDetails.labels.tableHeader]]" columns="[[[{headerText:$component.resourceBundle.contractsDetails.labels.condition,field:'contractId',style:'width: 20%'},{headerText:$component.resourceBundle.contractsDetails.labels.description,field:'description',style:'width: 80%'}]]]" data="[[$component.datasourceForContractReview]]">
               <caption class="hide-label" data-bind="text:$component.resourceBundle.contractsDetails.labels.contractsRequired"></caption>
            </oj-table>
            <oj-paging-control id="paging" slot="bottom" :page-size="[[5]]" data="[[$component.datasourceForContractReview]]">
            </oj-paging-control>
         </div>
         <!-- /ko -->
         <!-- ko if:$baseModel.small() -->
         <div class="oj-flex oj-flex-items-pad">
           <div class="oj-flex-item oj-sm-12">
               <oj-list-view id="listview-txn-card" class="cards" item="[[{renderer:$oj.KnockoutTemplateUtils.getRenderer('contract_list_card',true)}]]" selection-mode="[['single']]" data="[[$component.datasourceForContractReview]]">
               </oj-list-view>
               <oj-paging-control class="oj-flex-item oj-sm-12" id="paging" slot="bottom" page-options="[[{layout:['nav']}]]" :page-size="[[5]]" data="[[$component.datasourceForContractReview]]">
               </oj-paging-control>
           </div>
         </div>
         <!-- /ko -->
      </div>
   </div>
   <!-- /ko -->
   <!-- /ko -->

   <script type="text/html" id="contract_list_card">
     <li>
       <div class="oj-flex oj-flex-items-pad">
         <div class="oj-flex-item oj-sm-12">
           <div class="oj-flex oj-flex-items-pad">
             <div class="oj-flex-item oj-sm-9 description" data-bind="text: $data.contractId">
             </div>
           </div>
         </div>
        </div>
        <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12">
          <label class="hide-label" data-bind="text: $component.resourceBundle.contractsDetails.labels.description"></label>
            <div data-bind="text: $data.description"></div>
        </div>
        </div>

      </li>
    </script>

   <!-- ko ifnot: ( $component.contractList() && $component.contractList().length > 0 ) -->
   <div class="oj-flex oj-flex-items-pad info-message">
     <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12" data-bind="text: $component.resourceBundle.tradeFinanceErrors.messages.noContracts">
     </div>
   </div>
   <!-- /ko -->
</div>
