<div class="page-section-content">
    <!-- ko if: $component.guaranteeDetails.chargingAccountId -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
           <div class="oj-flex oj-flex-items-pad">
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <oj-label class="align-right" for="chargesAccountType"><span data-bind="text:$component.resourceBundle.instructionsDetails.labels.chargesAccount"></span></oj-label>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
                <span id="chargesAccountType" data-bind="text: $component.guaranteeDetails.chargingAccountId.displayValue"></span>
              </div>
            </div>
            <br>
            <div class="oj-flex oj-flex-items-pad">
              <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                  <oj-label for="instructionsToBank" class="align-left"><span data-bind="text:$component.resourceBundle.instructions.instructionsToBank"></span></oj-label>
                </div>
                <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-12 content">
                    <span id="instructionsToBank" data-bind="text: $component.guaranteeDetails.instruction"></span>
                </div>
                <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-5">
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: $component.guaranteeDetails.chargingAccountId -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6" data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
          <div class="oj-flex oj-flex-items-pad grid-row-group">
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <oj-label class="align-right" for="chargesAccountType"><span data-bind="text:$component.resourceBundle.instructionsDetails.labels.remarks"></span></oj-label>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7 content">
                <span id="chargesAccountType" data-bind="text: $component.guaranteeDetails.instruction"></span>
              </div>
          </div>
      </div>
    </div>
    <!-- /ko -->
</div>
