.multiple-payments {
  .payment-element {
      border: 0.05rem solid var(--base-border-default);
      margin-bottom: 1.5rem;
      &__header{
        margin : 0 0 0.5rem;
      }
    }
    .payment-overview {
            padding-top: 0.6rem;
            &__element {
                padding-bottom: 0.6rem;
            }
            .details {
                @include mq(small) {
                    padding-bottom: 0.6rem;
                }
                .payeeName{
                @include single-padding(left, 2rem);
                margin-top:0.3rem;
                }
                .payeeTitle{
                font-size: var(--form-font-size);
                }
                
            }
        }
    .payee-count {
            padding-bottom: 10px;
    }
    .heading {
        @include single-padding(left, 0.6rem);
        color: var(--base-text-secondary);
    }
    .expand-collapse {
        @include padding(0.6rem, 0.6rem, 1.3rem, 0.6rem);
    }

    &__status {
        .card {
            border-bottom: 0.05rem solid var(--base-border-default);
        }
    }

    .expand-all {
        @include single-border(right, 0.05rem solid var(--base-border-default));
    }
    .warning-bar {
        background: var(--base-color-warning-light);
        @include single-border(left, 0.4rem solid var(--base-color-warning));
        padding: 0.35rem 0.3rem;
        display: flex;
        align-items: center;
        margin-bottom:0.6rem;
        .warning-msg {
            font-size: var(--base-font-size-default);
        }
        .warning-icon {
            color: var(--base-color-warning);
            @include single-padding(right, 0.5rem);
            padding:0.2rem;
            @include mq(small){
              padding:0;
            }
        }
    }
    .error-bar {
        background: var(--base-color-danger-light);
        @include single-border(left, 0.4rem solid var(--base-color-danger));
        padding: 0.35rem 0.3rem;
        display: flex;
        align-items: center;
        margin-bottom:0.6rem;
        @include mq(small) {
            padding: 0.6rem 0;
        }
        .error-msg {
            font-size: var(--base-font-size-default);
        }
        .error-icon {
            color: var(--base-color-danger);
            @include single-padding(right, 0.5rem);
            padding:0.2rem;
            @include mq(small){
              padding:0;
            }
        }
    }
}
