<div class="oj-flex">
  <oj-label class="oj-label-inline"><span data-bind="text: $component.label"></span></oj-label>
</div>
<div class="oj-flex">
  <oj-buttonset-one disabled="{{$component.isDisabled}}" value="{{$component.testInput}}" required="{{$component.isRequired}}" class="oj-lg-3 oj-md-3 oj-sm-6" translations="[[{'required':{messageDetail:$component.errorMessage()}}]]">

    <oj-option value='[[$component.values.firstOption]]'>
      <span data-bind="text: $component.values.firstOption"></span>
    </oj-option>
    <oj-option value='[[$component.values.secondOption]]'>
      <span data-bind="text: $component.values.secondOption"></span>
    </oj-option>
  </oj-buttonset-one>
</div>
