@import "utils";
.bulk-file-container {
  &-select{
    &__label{
      position:relative;
      top:0.6rem;
      @include mq(small){
        position:relative;
        top:0;
      }
    }
  }
&__button-container{
  padding-bottom:0;
}
}
