<!-- ko if: $component.parentAccessLevel()==="PARTY" -->

<page-section params="baseModel : $baseModel, rootModel : $component, heading :''">
    <h4 data-bind=" text:  $component.nls.headers.newAccounts"></h4>
  
  
  <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3">
          <label class="pull-left" data-bind="text: $component.nls.fieldname.mapAccts"></label>
          <span class="icons icon-help tool-tip">
               <div class="tooltip-content" data-bind=" html:$baseModel.format($component.nls.messages.tooltip.autoManualMessage,{accountType:$component.transactionNames.lm,accountType1:$component.transactionNames.lm})">
              </div>
        </span>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-9">
          <oj-buttonset-one disabled="[[$component.showEditableForm()]]" on-value-changed="[[$component.lmDefaultPolicyChangeHandler]]" value="{{$component.selectedLMPolicy}}"><oj-option name="lmPolicy" value="{{'lmAuto'}}" :id="[['lmAuto']]"><span data-bind="attr: {for: 'lmAuto'},text:$component.nls.common.auto"></span></oj-option><oj-option name="lmPolicy" value="{{'lmManual'}}" :id="[['lmManual']]"><span data-bind="attr: {for: 'lmManual'},text:$component.nls.common.manual"></span></oj-option></oj-buttonset-one>
      </div>
  </div>
  </page-section>
  
  <h4 data-bind=" text:   $component.nls.headers.existingAccounts"></h4>
  
  <!-- /ko -->
  
  <!-- ko if: $component.parentAccessLevel()==="USER" -->
  
  <div class=" oj-flex oj-flex-items-pad">
      <oj-checkboxset class="oj-flex-item" disabled="[[$component.showEditableForm()]]" value="{{$component.selectedLMPolicyChecked}}" on-value-changed="[[$component.lmDefaultPolicyChangeHandler]]"><oj-option value="lmAuto" id="apply_changes_checkbox_lm"><span data-bind="text: $component.nls.common.ApplyChanges" for="apply_changes_checkbox_lm">
              </span></oj-option></oj-checkboxset>
  </div>
  
  <!-- /ko -->
  
  <div class="oj-flex oj-flex-items-pad">
      <oj-checkboxset class="oj-flex-item" value="{{$component.mapAllLMAccounts}}" on-click="[[$component.toggleAllLMCheckbox]]" disabled="[[$component.showEditableForm()]]">
        <oj-option id="lm_all" value="{{'ALL'}}">
          <span for="lm_all" data-bind="text: $component.nls.fieldname.mapallAccts">
          </span></oj-option></oj-checkboxset>
  </div>
  
  <!-- ko if: $component.loadLMTemplate -->
  <div class="oj-flex oj-flex-items-pad table-data">
      <oj-table id="lmAccountsTable" :aria-label="[[$component.nls.headers.lmAccounts]]"
      columns="[[[{headerText:'',field:'accountType','renderer': $oj.KnockoutTemplateUtils.getRenderer('lmCheckbox', true)},
      {headerText:$component.nls.headers.AccountNumber,field:'ID'},
      {headerText:$component.nls.headers.currency,field:'currency'},
      {headerText:$component.nls.headers.displayName,field:'displayName'},
      {headerText:$component.nls.headers.accountStatus,field:'accountStatus'}]]]"
       columns-default="[[{sortable:'enabled'}]]" selection-mode="[[{row:'multiple',column:'multiple'}]]" data="[[$component.lmAccountdataSource]]">
          <caption class="hide-label" data-bind="text:$component.nls.headers.lmAccounts"></caption>
      </oj-table>
      <script type="text/html" id="lmCheckbox">
          <td>
            <input type="checkbox"
            data-bind="attr:{'aria-label': 'lmcheckbox'+$context.row.accountNumber.value ,
             id : 'lmcheckbox'+ $context.row.accountNumber.value,
             'class' : $component.selectedLMAccounts.indexOf($context.row.accountNumber.value) > -1 ? 'oj-selected' :  ''},
             value:$context.row.accountNumber.value ,disable:$component.showEditableForm(), checked:$component.selectedLMAccounts">
            <label class="oj-checkbox-label" data-bind="attr:{for :'lmcheckbox'  + $context.row.accountNumber.value}"></label>
     </td>
      </script>
  </div>
  <!-- /ko -->
  