<oj-checkboxset class="map-accounts-row" value="{{$component.mapAllTransactionsVERFlag}}" on-value-changed="[[$component.setMapAllTransactionsToAllAccount.bind($data,'VER')]]" disabled="[[$component.showEditableForm]]" >
  <oj-option id="ver_transaction_map_all" value="{{'MAP_ALL'}}">
    <span for="ver_transaction_map_all" data-bind="text: $component.nls.headings.mapAllTransactionToAllAccnts"></span>
  </oj-option></oj-checkboxset>

<!-- ko if: $component.reloadVERTable() -->
<oj-table id="verTransactionAccesstable" :aria-label="[[$component.nls.headers.verAccounts]]"
 columns="[[[{headerText:$component.nls.headers.AccountNumber,field:'accountID'},
 {headerText:$component.nls.headers.currency,field:'currency'},
 {headerText:$component.nls.headers.displayName,field:'displayName'},
 {headerText:$component.nls.headers.accountStatus,field:'accountStatus'}]]]"
 row-renderer='[[$oj.KnockoutTemplateUtils.getRenderer("ver_template", true)]]'
 data="[[$component.verTransactionDatasource]]">
    <caption class="hide-label" data-bind="text:$component.nls.headers.verAccounts"></caption>
</oj-table>
<!-- /ko -->

<script type="text/html" id="ver_template">
    <tr class="map-accounts-row-expander">
        <!--  ko if: $context.rowContext.depth===1 -->
        <td>
            <!-- ko if: ($component.selectedVAMEnabledRealAccounts()).indexOf(accountNumber.value) > -1 -->
              <oj-row-expander class="ver-token" context="[[$context.rowContext]]"></oj-row-expander>

            <!-- /ko -->
            <input type="checkbox"
            data-bind="attr:{'aria-label':'vercheckbox'+id,
             id: 'vercheckbox' + id },checked: $component.selectedVAMEnabledRealAccounts,
              disable:($component.showEditableForm && $component.disableAccountSelection),
              value : accountNumber.value">
            <span data-bind="attr:{'for':'vercheckbox'+id},
            text:$context.row.accountNumber.displayValue"></span>
            </td>
        <td>
            <span data-bind="text:$context.row.currency"></span>
        </td>
        <td>
            <span data-bind="text:$context.row.displayName"></span>
        </td>
        <td>
            <span data-bind="text:$context.row.accountStatus"></span>
        </td>
        <!-- /ko -->
        <!-- ko if: $context.rowContext.depth===2 -->
        <td colspan="4" class="map-accounts-row-contents">
          <div data-bind="component:{name: 'transaction-selection',
          params:{rootModel: $component,
            key:'VER'+id,data: $data,resoureTaskList : $data.resoureTaskList,
             selectedResourceTaskList : $data.selectedTask ,
             mapAllTransactionsToAllAccounts:$component.mapAllTransactionsToAllAccountVER,
             indicatorArray:$component.VERMapAllTransactionIndicatorArray,
             tempTaskArray:$component.tmpTransactionCodeVERArray,
             applySubscription:$component.applySubscription}}">
            </div>
        </td>
        <!-- /ko -->
    </tr>
</script>
