<oj-checkboxset class="map-accounts-row" value="{{$component.mapAllTransactionsVRAFlag}}" on-value-changed="[[$component.setMapAllTransactionsToAllAccount.bind($data,'VRA')]]" disabled="[[$component.showEditableForm]]" >
  <oj-option id="vra_transaction_map_all" value="{{'MAP_ALL'}}">
    <span for="vra_transaction_map_all" data-bind="text: $component.nls.headings.mapAllTransactionToAllAccnts"></span>
  </oj-option></oj-checkboxset>

<!-- ko if: $component.reloadVRATable() -->
<oj-table id="virtualTransactionAccesstable" :aria-label="[[$component.nls.headers.vraAccounts]]"
 columns="[[[{headerText:$component.nls.headers.AccountNumber,field:'accountID'},
 {headerText:$component.nls.headers.currency,field:'currency'},
 {headerText:$component.nls.common.productCode,field:'displayName'},
 {headerText:$component.nls.headers.accountStatus,field:'accountStatus'}]]]"
 row-renderer='[[$oj.KnockoutTemplateUtils.getRenderer("vra_template", true)]]'
 data="[[$component.virtualTransactionDatasource]]">
    <caption class="hide-label" data-bind="text:$component.nls.headers.vraAccounts"></caption>
</oj-table>
<!-- /ko -->

<script type="text/html" id="vra_template">
    <tr class="map-accounts-row-expander">
        <!--  ko if: $context.rowContext.depth===1 -->
        <td>
            <!-- ko if: ($component.selectedVirtualAccounts()).indexOf(accountNumber.value) > -1 -->
              <oj-row-expander class="vra-token" context="[[$context.rowContext]]"></oj-row-expander>

            <!-- /ko -->
            <input type="checkbox"
            data-bind="attr:{'aria-label':'vracheckbox'+id,
             id: 'vracheckbox' + id },checked: $component.selectedVirtualAccounts,
              disable:($component.showEditableForm && $component.disableAccountSelection),
              value : accountNumber.value">
            <span data-bind="attr:{'for':'vracheckbox'+id},
            text:$context.row.accountNumber.displayValue"></span>
            </td>
        <td>
            <span data-bind="text:$context.row.currency"></span>
        </td>
        <td>
            <span data-bind="text:$context.row.displayName"></span>
        </td>
        <td>
            <span data-bind="text:$context.row.accountStatus"></span>
        </td>
        <!-- /ko -->
        <!-- ko if: $context.rowContext.depth===2 -->
        <td colspan="4" class="map-accounts-row-contents">
          <div data-bind="component:{name: 'transaction-selection',
          params:{rootModel: $component,
            key:'VRA'+id,data: $data,resoureTaskList : $data.resoureTaskList,
             selectedResourceTaskList : $data.selectedTask ,
             mapAllTransactionsToAllAccounts:$component.mapAllTransactionsToAllAccountVRA,
             indicatorArray:$component.VRAMapAllTransactionIndicatorArray,
             tempTaskArray:$component.tmpTransactionCodeVRAArray,
             applySubscription:$component.applySubscription}}">
            </div>
        </td>
        <!-- /ko -->
    </tr>
</script>
