.pending-approvals{
	&__gracePeriod{
	 color:var(--base-color-danger);
	}

	&-gracePeriod{
		&__popUp{
			width: 15.6rem;
			border-radius: 0.4rem;
			border: 0.05rem solid var(--base-border-default) ;
			position:relative;
			top:0.6rem;
		}
		&__icon{
		position:relative;
		top:0.1rem;
		}
		&__text{

			&::after{
				content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */@include left(30%)
    @include single-margin(left,-0.3rem);
    border-width: 0.6rem;
    border-style: solid;
    border-color: transparent transparent var(--color-white) transparent;
			}
		}
	}
}
