<div class="oj-flex oj-sm-12 image-caption">
<div class="oj-flex oj-sm-12 image-section">
  <img data-bind="loadImage:'dashboard-design/widgets/'+$component.data.module+'/'+$component.data.image,attr:{height:$component.data.height+'px',alt:$component.data.id}" width="100%">
</div>
<div class="oj-flex oj-sm-12 no-pad-cols caption-section">
  <div class="oj-flex oj-sm-12 oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-11">
          <oj-label><span data-bind="text:$baseModel.format($component.nls.wrapper,{name:$component.nls.names[$component.data.module][$component.data.id]})"></span></oj-label>
      </div>
      <span class="icons oj-flex-item no-pad-cols oj-sm-1 icon-cancel removeMe"></span>
  </div>
</div>
</div>
