.trade-finance {
  .search-buttons {
  		padding: 0rem 0.6rem !important;
  }

  .search-options {
    padding: 1.3rem;
  }

  .padding-tb {
		@include single-padding(top,0.6rem !important);
		@include single-padding(bottom,0.6rem !important);
	}

  .icon-2x {
		font-size: 1.3rem;
	}

  .icon-padding-right {
		@include single-padding(right,0.6rem);
	}

  .content {
		word-wrap: break-word;
	}
}
