<div class="login-options-modal-window set-pin">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-1 right">
      <oj-label for="setPin"><span data-bind="text:$component.nls.loginForm.labels.enterPin"></span></oj-label>
    </div>
  </div>
  <div class="main-content">
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12">
          <oj-label for="setPin"><span data-bind="text:$component.nls.loginForm.labels.enterPin"></span></oj-label>
        </div>
      </div>
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-10 margin-auto">
          <oj-input-text autofocus class="set-pin-input" id="setPin" value="{{pin}}"></oj-input-text>
        </div>
    </div>
  </div>
</div>
