@import "utils";
.recent-account-transaction {
    background: linear-gradient(to var(--widget2-gradient-direction), var(--widget2-gradient-start-color), var(--widget2-gradient-end-color));
    color: var(--widget2-foreground-color);
    @include mq(small) {
        background: transparent;
        border: 0.05rem solid var(--base-border-default);
    }
    &__section {
        height: calc(100% - 2rem);
    }
    &__sub-heading {
        @include mq(small) {
            font-weight: var(--base-font-weight-regular);
        }
    }
    .account-no {
        .account-input {
            .label {
                display: none;
            }
        }
    }
    &__list {
        //height: 12rem;
        width: 100%;
        padding: 0.2rem 0;
        list-style: none;
        margin-top: 0;
        overflow-y: auto;
        @include mq(small) {
            height: 8.4rem;
            padding: 0.3rem;
        }
    }
    &-list {
        &__item {
            padding: 0.5rem 0;
            @include mq(large) {
                font-weight: var(--base-font-weight-light);
            }
            &:last-child {
                border: 0;
            }
        }
        &-item {
            .date-box {
                &__day,
                &__month,
                &__year {}
            }
            &__amount {
                @include text-align(right);
            }
            &__description {
                width: 12.5rem;
                @include mq(small) {
                    @include padding(0.3rem, 0, 0, 0.3rem);
                }
            }
        }
        &__nodata {
            padding: 0.6rem;
            @include mq(small) {
                padding: 0.3rem 0;
                text-align: center;
            }
            @include mq(medium) {
                padding: 0.3rem 0;
                text-align: center;
            }
        }
        &-nodata {
            &__image {
                height: 9rem;
            }
            &__text {
                display: flex;
                align-items: center;
                @include mq(small) {
                    justify-content: center;
                }
            }
        }
    }
    &__view-all {
        @include view-all-alternate;
    }
    .view-all {
        &__text {}
    }
    // for small screen
    &__contentSection {
        padding: 1rem 0;
        width: 100%;
    }
    &__filmstrip-panel {
        border-radius: 0.3rem;
        background: linear-gradient(to var(--widget2-gradient-direction), var(--widget2-gradient-start-color), var(--widget2-gradient-end-color));
        border: 0.05rem solid var(--base-border-default);
        padding: 0;
        width: 100%;
        height: 100%;
    }
    &__details {
        border-bottom: 0.05rem solid rgba(255, 255, 255, 0.4);
        padding: 0.6rem 0;
    }
}

.recent-account-transaction {
    &__nodata {
        padding: 0.6rem;
        height: 9.5rem;
    }
}