.service-requests-search {
  .recent-request-image {
    height: 4rem;
    width: 3rem;
  }
  .copy-icon-style {
    padding-top: 1rem;
  }
  .copy-icon-size {
    font-size: 1.8rem;
  }
  .recent-panel-padding {
    padding-bottom: 1rem;
  }
  .table-resize {
    width: 105% !important;
  }
  .switch-module {
    min-width: 100%;
  }
  .resize-button {
    min-width: 3rem;
  }
  .table-padding {
    padding-top: 2.5rem;
  }
  .search-padding {
    padding-bottom: 0.7rem;
  }
  .activation-error {
    color: var(--base-color-danger);
    margin-bottom: 1rem;
  }
  .arrow-style {
    font-size: var(--font-size-large);
  }
}
.padding-service-request {
  padding: 0.5rem 0;
}
