.structure {
    &__disclaimer {
        padding: 0.6rem;
    }

    &-disclaimer {
        &__icon-info {
            font-size: var(--base-font-size-larger);
        }
    }
}

.default-info-popup {
    width: 15rem;
}

.default-instruction-info-link {
    position: absolute;
    @include single-margin(left, 0.2rem);
}