.set-pattern{
	.patt-dots{
		background: var(--button-secondary-gradient-start-color);
		opacity: 1;
	}
	.patt-circ.hovered{
		border: 0rem;
	}
	.patt-lines{
		background: var(--button-secondary-gradient-start-color);
		opacity: 0.7;
	}
}
.patt-holder{
	background:transparent !important;
	-ms-touch-action: none
}

.confirm-pattern-fail{
    background-color: var(--base-color-danger) !important;
}

.confirm-pattern-success{
     background-color: var(--base-color-success) !important;
}
