.manage-spend-categories{
  @include mq(small){
    padding:0;
  }
  .success-bar {
      background: var(--base-color-success-light);
      @include single-border(left, 0.4rem solid var(--base-color-success));
      margin: 0.9rem 0;
      padding: 0.6rem 0.3rem;
      @include mq(small){
        padding: 0.6rem 0;
      }
  }
}
.icon-link{
  &__editIcon{
    display:inline-block;
    color:var(--link-base);
  }
  &__deleteIcon{
    display:inline-block;
    @include single-padding(left,0.3rem);
    color:var(--link-base);
  }
}
