.td-overview {
  .chart-container {
    .chart {
      height:13rem;
      @include mq(small) {
        width: 100%;
      }

      .totalInvestment {
        fill: var(--link-base);
      }

      .totalCurrentBal {
        fill: var(--base-color-success);
      }

      .totalMaturityAmount {
        fill: var(--base-color-warning);
      }

      .styleLabel {
        font-size: 1.2rem;
      }
    }

    .legendSection {
      @include mq(small) {
        height: 6rem;
      }
    }
  }
  .noData{
    text-align: center;
    margin:3rem;
  }
}
