<div class="oj-flex oj-flex-items-pad oj-sm-flex-items-initial oj-sm-justify-content-space-between">
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-4">
        <page-section params="baseModel : $baseModel, rootModel : $component, heading : ''">
            <!-- ko if:$baseModel.small() -->
            <div class="oj-flex oj-flex-items-pad goal__tab-header">
                <div class="oj-flex-item">
                    <!-- ko if:$component.isActive() -->
                    <div class="goal__tab-header--small" id="page-header" data-bind="text:$component.resource.labels.viewedit"></div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if:updateSuccess() -->
            <div class="oj-flex oj-flex-items-pad success-bar" role="alert">
                <div class="success-icon icons" data-bind="css: 'icon-success'"></div>
                <div class="success-msg oj-flex-item oj-sm-11" id="confirm" data-bind="text:$component.confirmMessage()"></div>
            </div>
            <!-- /ko -->
            <!-- ko if:$component.isActive() -->
            <div class="oj-flex oj-flex-items-pad goal__disclaimer goal-disclaimer">
                <div class="icons icon-information goal-disclaimer__icon-info"></div>
                <div class="oj-flex-item oj-sm-11 goal-disclaimer__text" id="goaldisclaimer" data-bind="text:$component.resource.manageGoal.editdisclaimer"></div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot:$component.isActive() -->
            <div class="oj-flex oj-flex-items-pad goal__disclaimer goal-disclaimer">
                <div class="icons icon-information goal-disclaimer__icon-info"></div>
                <div class="oj-flex-item oj-sm-11 goal-disclaimer__text" id="goaldisclaimerclosed" data-bind="text:$component.resource.manageGoal.editdisclaimerclosed"></div>
            </div>
            <!-- /ko -->
            <oj-validation-group id="manageGoalsTracker">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-label for="goalName"><span data-bind="text:$component.resource.manageGoal.goalName"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-input-text id="goalName" maxlength="40" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('APPLICATION_NAME',$component.resource.manageGoal.invalidName)]]" disabled="[[$component.isRead()]]" value="{{$component.goalAccountUpdatePayload.name}}"></oj-input-text>
                    </div>
                </div>
                <div data-bind="component: {
                   name: 'amount-input', params: {
                   amount :$component.goalAccountUpdatePayload.targetAmount.amount,
                   label : $component.resource.manageGoal.goalamount,
                   currency: $component.baseCurrency(),
                   converter:$formatter.formatCurrency,
                   readOnly:$component.isRead(),
                   currencyListRequired : false,
                   validator:$component.validationTracker,
                   isMandatory:true,
                   rootId:'goal-target-amount',
                   currencyURL : '',
                   currencyParser :'',
                   rootClass:'form-input oj-flex-item'
                   }
                   }"></div>
            </oj-validation-group>
        </page-section>
    <page-section params="baseModel : $baseModel, rootModel : $data, heading : $component.resource.manageGoal.maturityinst">
            <oj-validation-group id="manageGoalsAccountTracker">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-label for="amounttransferoption"><span data-bind="text:$component.resource.manageGoal.amounttransferoption"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-select-one id="amounttransferoption" required on-value-changed="[[$component.accountTransferTypeChanged]]" disabled="[[$component.isRead()]]" :invalidcomponenttracker="[[$component.validationTracker]]" value="{{$component.selectedAccountTransferOption}}">
                            <!-- ko foreach:$component.maturityList -->
                            <oj-option value="{{value}}"><span data-bind="text:text"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                </div>
                <!-- ko if:selectedAccountTransferOption() === 'Self' && $component.refreshAccountDropDown() -->
                <account-input params="baseModel : $baseModel, rootModel: $data ,label : $component.resource.manageGoal.maturityAccountNumber,
            placeholder:$component.resource.manageGoal.selectPlaceHolder,
            taskCode : $component.currentTask(),readOnly:$component.isRead()||(!$component.isActive()),
            type : 'balance' ,
             account : $component.maturityAccount, adtnlFetched : true,
              additionalDetails: $component.additionalDetails, validator:$component.validationTracker">
                </account-input>
                <!-- /ko -->
                <!-- ko if:selectedAccountTransferOption() === 'Internal' -->
                <div class="oj-flex oj-flex-items-pad">
                    <internal-account-input class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12" params="{
                            baseModel:$baseModel,
                            account : maturityInternalAccount,
                            label:$component.resource.manageGoal.maturityAccountNumber,
                            confirmStyleAccount: true,
                            required:true
                            }">
                        </internal-account-input>
                </div>
                <!-- /ko -->
                <!-- ko if:selectedAccountTransferOption() === 'Domestic' -->
                <!-- ko if:networkTypes().length>0 -->
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-label :for="[['networkType']]"><span data-bind="text:$component.resource.manageGoal.networkType"></span></oj-label>
                    </div>
                    <div aria-labelledby="networkType" class="oj-flex-item oj-sm-9 oj-md-12 oj-lg-12">
                        <oj-select-one required :id="[['networkType']]" :invalidcomponenttracker="[[$component.validationTracker]]" value="{{network}}" on-value-changed="[[networkTypeChanged]]" disabled="[[$component.isRead()]]">
                            <!-- ko foreach: networkTypes -->
                            <oj-option value="{{value}}"><span data-bind="text:text"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-label for="domesticAccount"><span data-bind="text:$component.resource.manageGoal.maturityAccountNumber"></span></oj-label>
                    </div>
                    <div aria-labelledby="domesticAccount" class="oj-flex-item oj-sm-9 oj-md-12 oj-lg-12">
                        <oj-input-text required id="domesticAccount" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('ACCOUNT')]]" disabled="[[$component.isRead()]]" value="{{$component.maturityDomesticAccount}}"></oj-input-text>
                    </div>
                </div>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-label for="beneName"><span data-bind="text:$component.resource.manageGoal.payeeName"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-input-text required id="beneName" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('NAME')]]" disabled="[[$component.isRead()]]" value="{{$component.goalAccountUpdatePayload.payoutDetails.accountName}}"></oj-input-text>
                    </div>
                </div>
                <!-- Lookup code -->
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                        <oj-label for="domSwiftCode"><span data-bind="text:$component.resource.manageGoal.bankCode"></span></oj-label>
                    </div>
                    <div class="oj-flex-item oj-sm-9 oj-md-12 oj-lg-12">
                        <!-- ko ifnot:$component.additionalBankDetails() -->
                        <!-- ko if:$component.refreshBankCode() -->
                        <oj-validation-group id="codeTracker">
                            <div class="oj-flex oj-flex-items-pad">
                                <div class="no-pad-cols oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
                                    <oj-input-text id="domSwiftCode" required :invalidcomponenttracker="[[$component.validateCodeTrancker]]" validators="[[$baseModel.getValidator('BANK_CODE')]]" disabled="[[$component.isRead()]]" value="{{$component.goalAccountUpdatePayload.payoutDetails.bankCode}}"></oj-input-text>
                                </div>
                                <!-- ko ifnot:$component.isRead() -->
                                <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6">
                                    <oj-button class="form-button-secondary help-button" on-click="[[verifyCode]]" disabled="[[$component.isRead()]]">
                                        <span data-bind="text:$component.resource.Generic.common.verify"></span>
                                    </oj-button>
                                </div>
                                <div class="oj-flex-item no-pad-cols">
                                    <a href="#" class="form-button-link" data-bind="attr:{'alt':$component.resource.manageGoal.banklookup,'title':$component.resource.manageGoal.banklookupTitle},text:$component.resource.manageGoal.banklookup, click:openLookup">
                                    </a>
                                </div>
                                <!-- /ko -->
                            </div>
                        </oj-validation-group>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if:$component.additionalBankDetails() -->
                        <div class="oj-flex oj-flex-items-pad" data-bind="with:$component.additionalBankDetails">
                            <div class="oj-flex-item">
                                <div data-bind="text:code"></div>
                                <div data-bind="text:name"></div>
                                <div data-bind="text:branchAddress.line1"></div>
                                <div data-bind="text:branchAddress.city"></div>
                                <div data-bind="text:branchAddress.country"></div>
                                <div class="">
                                    <oj-button class="form-button-secondary" id="button" on-click="[[$component.resetCode]]">
                                        <span data-bind="text:$component.resource.Generic.common.reset"></span>
                                    </oj-button>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div data-bind="component: {name: 'bank-look-up', params:{rootModel: $component,
               clearingCodeType:$component.network,
               accountType:'Domestic',
               region: 'INDIA',
               networkCode:$component.goalData.payoutDetails.bankCode,
               additionalBankDetails:$component.additionalBankDetails}}">
                </div>
                <!-- /ko -->
                <!-- /ko -->
            </oj-validation-group>
        </page-section>
        <!-- ko if:($component.goalData.payinDetails && $component.goalData.payinDetails!==null && $component.goalData.payinDetails.debitAccount.value()!==null) || !$component.isRead() -->
        <page-section params="baseModel : $baseModel, rootModel : $data, heading : $component.resource.manageGoal.standinginst">
            <oj-validation-group id="siTracker">
                <div data-bind="with:$component.goalAccountSIModel.payinDetails">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                            <oj-label for="frequency"><span data-bind="text:$component.resource.manageGoal.frequency"></span></oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                            <oj-buttonset-one :id="[[frequency]]" on-value-changed="[[$component.frequencyChanged]]" disabled="[[$component.isStandingInstructionSet()]]" value="{{$component.frequency}}">
                                <!-- ko foreach: $component.frequencies -->
                                <oj-option value="{{id}}" :id="[[id]]" :name="[['frequency']]">
                                    <span data-bind="text:label"></span></oj-option>
                                <!-- /ko -->
                            </oj-buttonset-one>
                        </div>
                    </div>
                    <div data-bind="component: {
                       name: 'amount-input', params: {
                       amount :$component.contribution,
                       label : $component.resource.manageGoal.monthlycontri,
                       currency: $component.baseCurrency(),
                       converter:$formatter.formatCurrency,
                       currencyListRequired : false,
                       validator:$component.validationTrackerSI,
                       isMandatory:true,readOnly:!$component.isActive(),
                       readOnly:$component.isStandingInstructionSet(),
                       rootId:'goal-monthly-amount',
                       currencyURL : '',
                       currencyParser :'',
                       rootClass:'form-input oj-flex-item'
                       }
                       }"></div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                            <oj-label for="startdate"><span data-bind="text:$component.resource.manageGoal.startdate"></span></oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-5 oj-md-12 oj-lg-12">
                            <oj-input-date required id="startdate" value="{{startDate}}" converter="[[$formatter.dateConverter]]" validators="[[[$component.validateStartDate]]]" min="[[$component.minDate()]]" disabled="[[$component.isStandingInstructionSet()]]"></oj-input-date>
                        </div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                            <oj-label for="enddate"><span data-bind="text:$component.resource.manageGoal.enddate"></span></oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-5 oj-md-12 oj-lg-12">
                            <oj-input-date required id="enddate" value="{{endDate}}" validators="[[[$component.validateEndDate]]]" min="[[$component.minDateTomorrow()]]" converter="[[$formatter.dateConverter]]" disabled="[[$component.isStandingInstructionSet()]]"></oj-input-date>
                        </div>
                    </div>
                    <!-- ko if:$component.runTask() -->
                    <!-- ko if:$component.isActive() -->
                    <account-input params="baseModel : $baseModel, rootModel: $component ,
                        label : $component.resource.manageGoal.fundingAccountNumber,
                          placeholder:$component.resource.manageGoal.selectPlaceHolder,
                          additionalDetails: $component.additionalSIDetails,
                          taskCode : $component.currentTask(),
                          readOnly:$component.isRead(),
                          type : 'balance' ,
                          account : $data.debitAccount.value,
                          validator:$component.validationTrackerSI">
                    </account-input>
                    <!-- /ko -->
                    <!-- ko ifnot:$component.isActive() -->
                    <div class="row-group">
                        <row params="baseModel : $baseModel, rootModel : $component, label : $component.resource.manageGoal.fundingAccountNumber,
                            value :$component.goalData.payinDetails.debitAccount.displayValue  "></row>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </oj-validation-group>
        </page-section>
        <!-- /ko -->
        <!-- ko if:!$component.isRead() || !$component.isActive() -->
        <div class="oj-flex oj-flex-items-pad button-container">
            <!-- ko if:$component.isStandingInstructionSet() -->
            <oj-button class="action-button-primary " on-click="[[stopStandingInstruction]]">
                <span slot="startIcon" class="icons icon-stop-transfer"></span>
                <span data-bind="text:$component.resource.manageGoal.stopTransfer"></span>
            </oj-button>
            <!-- /ko -->
            <!-- ko if:$component.isActive() -->
            <!-- ko if:!$component.isStandingInstructionSet() -->
            <oj-button class="action-button-primary " on-click="[[startStandingInstruction]]">
                <span slot="startIcon" class="icons icon-start-transfer"></span>
                <span data-bind="text:$component.resource.manageGoal.startTransfer"></span>
            </oj-button>
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko if:$component.isActive() -->
        <div class="oj-flex oj-flex-items-pad button-container">
            <!-- ko if:$component.isRead() -->
            <oj-button class="action-button-primary" on-click="[[switchEditMode]]">
                <span slot="startIcon" class="icons icon-edit"></span>
                <span data-bind="text:$component.resource.Generic.common.edit"></span>
            </oj-button>
            <!-- /ko -->
            <!-- ko if:!$component.isRead() -->
            <oj-button class="action-button-primary" on-click="[[standingInstructionCheck]]">
                <span slot="startIcon" class="icons icon-save"></span>
                <span data-bind="text:$component.resource.Generic.common.save"></span>
            </oj-button>
            <!-- /ko -->
            <oj-button class="action-button-secondary" on-click="[[cancel]]">
                <span slot="startIcon" class="icons icon-cancel"></span>
                <span data-bind="text:$component.resource.Generic.common.cancel"></span>
            </oj-button>
        </div>
        <!-- /ko -->
        <modal-window class="model-window" params="baseModel : $baseModel, rootModel : $component,id:'editWarningForSI',header:$component.resource.manageGoal.warning">
            <div class="model-window__section">
                <page-section params="baseModel : $baseModel, rootModel : $component, heading : ''">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item model-window__section--small" data-bind="text:$component.resource.manageGoal.editedgoalwithoutStandingInstructions"></div>
                    </div>
                </page-section>
                <div class="button-container">
                    <oj-button class="action-button-primary " on-click="[[$data.uploadUserImageandUpdate]]"><span slot="startIcon" class="icons icon-forward-arrow"></span>
                        <span data-bind="text:$component.resource.manageGoal.proceed"></span>
                    </oj-button>
                    <oj-button class="action-button-secondary " on-click="[[$data.hideeditWarningForSI]]"><span slot="startIcon" class="icons icon-cancel"></span>
                        <span data-bind="text:$component.resource.manageGoal.donotproceed"></span>
                    </oj-button>
                </div>
            </div>
        </modal-window>
    </div>
    <!-- ko if: $baseModel.large() -->
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-4 oj-sm-only-hide oj-md-only-hide">
        <help params="baseModel : $baseModel, rootModel : $component, transaction: 'manage-goals'"></help>
    </div>
    <!-- /ko -->
</div>