.question-text{
	color:var(--base-color-secondary);
}
.section {
    border: 0.05rem solid var(--base-border-default);
    @include margin(0.2rem, 0, 1.3rem, 0.6rem);
    padding: 1.3rem 0.6rem 0;

    @include mq(small) {
        @include margin(0.6rem, 0, 1.9rem, 0);
        padding: 0.6rem 0 0;
    }
}
.favorite-container .grid-main-container .dialog-text-heading {
    font-size: 1.3rem;
    padding-bottom: 0.9rem;
}
.iconStyling {
 font-size: 1.1rem;
 position: relative;
 top: 0.1rem;
 color: var(--link-base);
}
