.reset-pin {
  .cust-details {
    background: var(--banner-background);
    color: var(--banner-text-secondary);
    padding: var(--banner-padding);
    align-items: center;

    .cust-name, .cust-account {
        @include mq(small){
          padding-bottom: 0.6rem;
        }
        @include mq(medium){
          padding-bottom: 0.6rem;
        }
    }

    .label, label{
      color: var(--banner-text-primary);
      font-size: var(--base-font-size-medium);
    }
  }
}
