.demo-mypanel {
    width:200px;
    height:1000px;
  }
  .covenant-padding{
    padding: 1rem;
    margin:1.3em;
  }
  .covenant-font1{
    font-size:12px;
    padding-bottom:1.2rem;
  }
  .covenant-font2{
    font-size:16px;
  }
  .items{
    border-bottom: none;
  }
  
  .box{
    padding: 1rem;
  }
