.inward-remittance{
  .payments-list{
      @include mq(small){
          &__listItem {
          padding:0;
          margin-bottom:0.5rem;
          }
      }
      @include mq(medium){
          &__listItem {
          padding:0;
          margin-bottom:0.5rem;
          }
      }
  }
}
