<div class="form-main-container">
    <div class="oj-flex oj-flex-items-pad oj-lg-12">
        <div class="oj-flex-item oj-lg-6">

            <oj-form-layout label-edge="top">
                <!-- ko if: $component.dropdownListLoaded5()-->
                <div :id="[['FundingType2']]" class="partyClass" data-bind="text: $component.partyIDoptions1()">
                </div>
                <!-- /ko -->
            </oj-form-layout>
        </div>

        <div class="oj-flex oj-flex-items-pad oj-lg-6 right">
            <div class="oj-flex-item oj-lg-11 right">
                <search-box params="searchFields : ['description','lineCodeNew'],rootModel:$component,
      arrayReference: $component.filteredList,
      refreshReference: $component.dataSourceCreated,
      searchBy:$component.nls.structure.labels.searchBy"></search-box>
            </div>
            <span class="oj-flex-item pipe right"></span>
            <div class="oj-flex-item oj-lg-0.5 filterAlign">
                <div class="filterMargin">
                    <a href="#" id="enable-filter" data-bind="click: $component.onFilterIconClick , attr: { alt: $component.nls.structure.labels.filterEnable }">
                        <span class="icons icon-filter center"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <oj-popup id="filter-popup" class="hide" position.at.horizontal="end" position.at.vertical="center" position.my.horizontal="start" position.my.vertical="top">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item right">
                <a href="#" id="reset" data-bind="click: $component.clear , attr: { alt: $component.nls.structure.labels.reset }">
                    <span data-bind="text:$component.nls.structure.labels.reset"></span>
                </a>
            </div>
        </div>
        <oj-validation-group id="tracker">
            <div class="oj-flex oj-flex-items-pad oj-lg-12">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                    <oj-form-layout label-edge="top">
                        <!-- ko if: $component.dropdownListLoaded1-->

                        <oj-select-one label-hint="[[$component.nls.structure.labels.facilityCategory]]" :id="[['FundingType2']]" value="{{$component.facilityCategoryCode}}" :placeholder="[[$component.nls.generic.common.select]]" options="{{$component.treeDataProvider()}}">
                        </oj-select-one>
                        <!-- /ko -->

                        <oj-select-one label-hint="[[$component.nls.structure.labels.revolvingLine]]" :id="[['FacilityType41']]" options="[[$component.revolvingLineArray]]" value="{{$component.revolvingLine}}" :placeholder="[[$component.nls.generic.common.select]]">
                        </oj-select-one>
                    </oj-form-layout>
                </div>
            </div>

            <div class="oj-flex oj-flex-items-pad oj-lg-12">
                <div class="oj-flex-item oj-sm-5">
                    <div class="oj-flex oj-flex-items-pad oj-sm-12">
                            <oj-label class="oj-flex-item" for="customExpiryDays"><span data-bind="text:$component.nls.CreditFacilityOverview.expiringIn"></span>
                            </oj-label>
                            <div class="oj-flex-item">
                                <oj-select-one :id="[['expiringIn']]" options="[[$component.ExpiryArray]]" value="{{$component.expiringInVal}}" on-value-changed="[[$component.expiryDateFilterHandler]]" :placeholder="[[$component.nls.generic.common.select]]">
                                </oj-select-one>
                            </div>
                    </div>
                    
                </div>
                <!-- ko if: $component.expiringInVal() && $component.expiringInVal() === "custom" -->
                <div class="oj-flex-item oj-sm-7">
                    <div class="oj-flex oj-flex-items-pad oj-sm-12">
                        <div class="oj-flex-item oj-sm-12">
                            <oj-label for="customExpiryDays"><span data-bind="text:$component.nls.CreditFacilityOverview.noOfDaysLabel"></span>
                            </oj-label>
                        </div>
                        <div class="oj-flex-item oj-sm-12">
                            <div data-bind="descendantsComplete: $component.callBack('customExpiryDays')">
                            <oj-input-text :id="customExpiryDays" placeholder="[[$component.nls.CreditFacilityOverview.noOfDays]]"  maxlength="16" validators="[[$baseModel.getValidator('NUMBERS',$component.nls.CreditFacilityOverview.invalidNumber,{type:'numberRange'})]]" value="{{$component.expiringIn}}"></oj-input-text>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>

            <div class="oj-flex oj-flex-items-pad oj-lg-12">
                <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                    <oj-form-layout label-edge="top">
                        <!-- ko if: isCurrencyLoaded -->

                        <oj-select-one label-hint="[[$component.nls.CreditFacilityOverview.Currency]]" :id="[['Currency67']]" value="{{$component.currency}}" :placeholder="[[$component.nls.generic.common.select]]">
                            <!-- ko foreach: $component.currencyListOptions -->
                            <oj-option value="[[value]]"><span data-bind="text:value"></span></oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                        <!-- /ko -->

                        <div class="oj-flex oj-flex-items-pad">
                            <div class="oj-flex-item no-pad-cols oj-sm-12 label">
                                <oj-label for="availableAmountRange"><span data-bind="text:$component.nls.CreditFacilityOverview.availableAmountRange"></span>
                                </oj-label>
                            </div>
                            <div class="oj-flex-item no-pad-cols oj-sm-12 oj-md-3 oj-lg-5">
                                <div data-bind="descendantsComplete: $component.callBack('availableAmountRange')">
                                <oj-input-text :id="availableAmountRange" placeholder="0.00"  maxlength="16" validators="[[$baseModel.getValidator('NUMBERS',$component.nls.CreditFacilityOverview.invalidNumber,{type:'numberRange'})]]" value="{{$component.amount_min}}"></oj-input-text>
                                </div>
                            </div>
                            <div class="oj-flex-item no-pad-cols oj-sm-12 oj-md-3 oj-lg-1">
                                <oj-label><span data-bind="text: $component.nls.CreditFacilityOverview.hyphen" class="titleField"></span></oj-label>
                            </div>
                            <div class="oj-flex-item no-pad-cols oj-sm-12 oj-md-3 oj-lg-5">
                                <div data-bind="descendantsComplete: $component.callBack('Group_Amount_Range')">
                                <oj-input-text :id="Group_Amount_Range" placeholder="0.00"  maxlength="16" validators="[[$baseModel.getValidator('NUMBERS',$component.nls.CreditFacilityOverview.invalidNumber,{type:'numberRange'})]]" value="
                    {{$component.amount_max}}"></oj-input-text>
                                </div>
                            </div>
                        </div>

                    </oj-form-layout>
                </div>
            </div>
            <div class="oj-lg-12 button-container">
                    <oj-button class="action-button-primary" on-click="[[setFacilityList]]">
                        <span data-bind="text:$component.nls.structure.labels.apply"></span>
                    </oj-button>
            </div>
        </oj-validation-group>
    </oj-popup>


    <page-section params="baseModel : $baseModel, rootModel : $data, headerTemplate : ''">
        <!-- ko if: dataSourceCreated() -->
        <div>
            <oj-list-view id="listview" scroll-policy-options.max-count="100" selection-mode="multiple" data="[[$component.datasource1]]" item.renderer="[[$oj.KnockoutTemplateUtils.getRenderer('item_template', true)]]">
            </oj-list-view>
        </div>

        <div class="oj-flex oj-flex-items-pad button-container button">
            <oj-button class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data, null)]]"><span slot="startIcon" class="icon-cancel"></span><span data-bind="text:$component.nls.generic.common.cancel"></span>
            </oj-button>
        </div>
        <!-- /ko -->
    </page-section>
</div>
<script type="text/html" id="item_template">
    <li class="items">
        <div class="oj-panel">
            <div class="oj-flex oj-flex-items-pad oj-lg-12 headingLine">
                <div class="oj-flex-item oj-sm-11 oj-md-11 oj-lg-11">
                    <span class="oj-sm-12 oj-md-12 oj-lg-1 mainLine">
               <a  href="#" data-bind="text: lineCode+'_'+lineSerialNumber,click:$component.showFacilityDetails.bind($data)" class="panel-heading"></a>
         </span>
                    <span class="oj-flex-item pipe"></span>
                    <span class="oj-sm-12 oj-md-12 oj-lg-2">
               <a  href="#" data-bind="text:$component.nls.structure.labels.viewHierarchy,click:$component.findTree.bind($data)"s></a>
               </span>
                </div>
                <div class="oj-flex-item oj-sm-1 oj-md-1 oj-lg-1">
                    <a href="#" data-bind="attr:{id : 'menuLauncher-billerlist-'+lineCode+'_'+lineSerialNumber, alt : $component.nls.CreditFacilityOverview.All , title : $component.nls.CreditFacilityOverview.TermLoan}, click: $component.openMenu" class="icons icon-more-vertical pull-right">
                    </a>
                    <oj-menu class="hide" :id="[['menuLauncher-billerlist-contents-'+lineCode+'_'+lineSerialNumber]]" on-oj-action="[[$component.menuItemSelect.bind($data,$data)]]" open-options.launcher="[['menuLauncher-billerlist-'+lineCode+'_'+lineSerialNumber]]" open-options.display="dropDown">
                        <!-- ko foreach: $component.menuItems -->
                        <oj-option :value="[[id]]">
                            <!-- ko if:$data.id==="addSubFacility" -->
                            <a href="#" slot="startIcon" class="icon-add oj-button-icon oj-menu-item-icon buttonTop"></a>
                            <span data-bind="text: $data.label"></span>
                            <!-- /ko -->
                            <!-- ko if:$data.id==="amendFacility" -->
                            <a href="#" slot="startIcon" class="icon-remarks oj-button-icon oj-menu-item-icon buttonTop"></a>
                            <span data-bind="text: $data.label"></span>
                            <!-- /ko -->
                            <!-- ko if:$data.id==="viewCollateralGroups" -->
                            <a href="#" slot="startIcon" class="icons icon-assets oj-menu-item-icon buttonTop"></a>
                            <span data-bind="text: $data.label"></span>
                            <!-- /ko -->
                            <!-- ko if:$data.id==="viewCovenants" -->
                            <a href="#" slot="startIcon" class="icons icon-view-statement oj-menu-item-icon buttonTop"></a>
                            <span data-bind="text: $data.label"></span>
                            <!-- /ko -->
                           
                        </oj-option>
                        <!-- /ko -->
                    </oj-menu>
                </div>
            </div>


            <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 gapPadding">
                <span data-bind="text:(mainLineCode===''? 'Main line':'Sub Line'),css:(mainLineCode === '' ? 'structure tags marginTop' : 'structure1 tags marginTop')" class="pull-left"></span>
            </div>
            <br>
            <div class="oj-flex oj-flex-items-pad oj-lg-12 marginLeft">
                <div class="oj-flex oj-flex-item oj-sm-12 oj-md-12 oj-lg-10">
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-2">
                        <oj-label><span data-bind="text: $component.nls.structure.labels.facilityCategory"></span></oj-label>
                        <span data-bind="text: categoryDesc" class="data"></span>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-2">
                        <oj-label><span data-bind="text: $component.nls.structure.labels.revolvingLine"></span></oj-label>
                        <span data-bind="text:(revolvingLine===true? 'Yes':'No')" class="data"></span>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-2">
                        <oj-label><span data-bind="text: $component.nls.structure.labels.sanctionedAmount"></span></oj-label>
                        <span data-bind="text: $formatter.formatCurrency(effectiveAmount.amount, effectiveAmount.currency)"></span>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-2">
                        <oj-label><span data-bind="text: $component.nls.structure.labels.utilizedAmount"></span></oj-label>
                        <span data-bind="text: $formatter.formatCurrency(utilizedAmount.amount, utilizedAmount.currency)"></span>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-2">
                        <oj-label><span data-bind="text: $component.nls.structure.labels.availableAmount"></span></oj-label>
                        <span data-bind="text:$formatter.formatCurrency(availableAmount.amount, availableAmount.currency)"></span>
                    </div>
                    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-2">
                        <oj-label><span data-bind="text: $component.nls.structure.labels.expiryDate"></span></oj-label>
                        <span data-bind="text: $data.expiryDate ? $formatter.formatDate($data.expiryDate) : $component.nls.CreditFacilityOverview.notApplicable" class="data"></span>
                    </div>
                </div>


                <div class="oj-flex-item progress oj-sm-12 oj-md-12 oj-lg-2">
                    <span data-bind="text: $baseModel.format($component.nls.structure.labels.progressValue,{number : $component.calculateProgress($data)})"></span>
                    <div class="marginLeft">
                        <oj-progress class="progress-bar-property" value="{{$component.calculateProgress($data)}}"></oj-progress>
                    </div>
                </div>


            </div>
        </div>
    </li>

</script>