.read-policy {
  .spacing-table {
    padding-top: 1rem;
  }

  .information-wrapper-btn {
    margin-top: 1rem;
  }

  .rightSection {
    background-color: var(--form-foreground-color);

    img.read-policy {
      height: 6.875rem;
      width: 6.875rem;
    }

    .read-header {
      font-weight: 700;
    }

    .read-description {
      margin-top: 1rem;
      margin-bottom: 2rem;
      @include single-margin(left,1rem);
      @include single-margin(right,1rem);
    }
  }
}
