$action-card-height: 7.9rem !default;
$action-card-description-color: var(--base-text-secondary) !default;
$action-card-description-size: var(--base-font-size-default) !default;
$action-card-icon-width : 6.3rem !default;
$action-card-icon-height : 4.4rem !default;

.action-card {
	height: $action-card-height;
	cursor: pointer;
	padding: 0.6rem 0;
	&__title {
		@include panel-title;
		padding-bottom: 0.3rem;
	}
	&__description {
		font-size: $action-card-description-size;
		color: $action-card-description-color;
	}
	&__icon {
		position: absolute;
		bottom: 0;
		@include right(0);
		height: $action-card-icon-height;
		width: $action-card-icon-width;
	}
}
