<!-- ko if: $component.primaryDataLoaded() -->
<page-section params="baseModel : $baseModel, rootModel : $data">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-lg-offset-1 oj-md-offset-1">
      <span class="text" data-bind="text:$component.resource.infoPrivate"></span>
      <span>
        <a class="link text" href="#"
          data-bind="click:$baseModel.modalInteraction.bind($data,'#privacyAndSecurityPolicy', 'openModal', null),text:$component.resource.privacyAndSecurityPolicy ,attr:{alt: $component.resource.privacyClick, title: $component.resource.privacyClickTitle}"></a>
      </span>
    </div>
  </div>
  <oj-validation-group id="tracker" valid="{{groupValid}}">
    <div class="" data-bind="with:applicantObject().primaryInfo">
      <div data-bind="with:primaryInfo">
        <!-- ko if : $component.salutationsLoaded() -->
        <div class="oj-flex oj-flex-items-pad">


          <div class="oj-flex-item oj-sm-5 oj-md-4 oj-md-offset-1 oj-lg-2 label oj-lg-offset-2 ">
            <oj-label for="salutation" :for="[['salutation'+($baseModel.incrementIdCount())]]"><span
                data-bind="text:$component.resource.salutation"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
            <oj-select-one id="salutation" required :id="[['salutation'+($baseModel.currentIdCount())]]"
              translations="[[{'required':{messageDetail:$component.resource.messages.salutation}}]]"
              :invalidcomponenttracker="[[$component.validationTracker]]"
              on-value-changed="[[$component.salutionChanged]]" value="{{salutation}}"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]"
              :placeholder="[[$component.resource.generic.common.pleaseSelect]]">
              <!-- ko foreach: $component.salutations -->
              <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
              <!-- /ko -->
            </oj-select-one>
          </div>

        </div>
        <!-- /ko -->

        <div class="oj-flex oj-flex-items-pad">

          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-2 label oj-lg-offset-2 ">
            <oj-label :for="[['firstName'+($baseModel.incrementIdCount())]]"><span
                data-bind="text:$component.resource.firstName"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-5">
            <oj-input-text required maxlength="35" name="firstName" :id="[['firstName'+($baseModel.currentIdCount())]]"
              translations="[[{'required':{messageDetail:$component.resource.messages.firstName}}]]"
              :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('ALPHABETS_WITH_SOME_SPECIAL',$component.resource.messages.firstName,{
                                    type:'length',options:{
                                      min:1,max:35}})]]" value="{{firstName}}"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]"></oj-input-text>
          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad">

          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-2 label oj-md-offset-1  oj-lg-offset-2">
            <div class="oj-label ">
              <oj-label :for="[['middleName'+($baseModel.incrementIdCount())]]"><span
                  data-bind="html:$component.resource.middleNameOptional"></span></oj-label>
            </div>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-5">
            <oj-input-text maxlength="35" name="middleName" autocomplete="off" spellcheck="false"
              :id="[['middleName'+($baseModel.currentIdCount())]]" validators="[[$baseModel.getValidator('ALPHABETS_WITH_SOME_SPECIAL',$component.resource.messages.middleName,{
                                    type:'length',options:{
                                      min:0,max:35}})]]" value="{{middleName}}"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]"></oj-input-text>
          </div>
        </div>
        <div class="oj-flex oj-flex-items-pad">

          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-2 label oj-lg-offset-2 ">
            <oj-label :for="[['lastName'+($baseModel.incrementIdCount())]]"><span
                data-bind="text:$component.resource.lastName"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-5">
            <oj-input-text maxlength="35" required name="lastName" :id="[['lastName'+($baseModel.currentIdCount())]]"
                  :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[$baseModel.getValidator('ALPHABETS_WITH_SOME_SPECIAL',$component.resource.messages.lastName,{
                                    type:'length',options:{
                                      min:0,max:35}})]]" value="{{lastName}}"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]"></oj-input-text>
          </div>
        </div>

        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-6 oj-md-4 oj-md-offset-1 oj-lg-2 label oj-lg-offset-2 ">
            <oj-label :for="[['dateOfBirth'+($baseModel.incrementIdCount())]]"><span
                data-bind="text:$component.resource.dateOfBirth"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
            <oj-input-date required :id="[['dateOfBirth'+($baseModel.currentIdCount())]]"
              translations="[[{'required':{messageDetail:$component.resource.messages.dob}}]]"
              converter="[[$formatter.dateConverter]]" max="[[$component.todayIsoDate]]" value="{{birthDate}}"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]"
              datepicker="[[{yearRange:'c-100:c'}]]"></oj-input-date>
          </div>

        </div>
        <!-- ko if : $component.genderLoaded() -->
        <div class="oj-flex oj-flex-items-pad">

          <div class="oj-flex-item oj-sm-5 oj-md-4 oj-md-offset-1 oj-lg-2 label oj-lg-offset-2 ">
            <oj-label for="gender" :for="[['gender'+($baseModel.incrementIdCount())]]"><span
                data-bind="text:$component.resource.gender"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-select-one id="gender" required :id="[['gender'+($baseModel.currentIdCount())]]" value="{{gender}}"
              translations="[[{'required':{messageDetail:$component.resource.messages.gender}}]]"
              :invalidcomponenttracker="[[$component.validationTracker]]"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]"
              :placeholder="[[$component.resource.generic.common.pleaseSelect]]">
              <!-- ko foreach: $component.genderOptions -->
              <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
              <!-- /ko -->
            </oj-select-one>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if : $component.maritalStatusLoaded() -->
        <div class="oj-flex oj-flex-items-pad">

          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-2 label oj-lg-offset-2 ">
            <oj-label for="maritalStatus" :for="[['maritalStatus'+($baseModel.incrementIdCount())]]"><span
                data-bind="text:$component.resource.maritalStatus"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-3 oj-lg-2">
            <oj-select-one id="maritalStatus" required :id="[['maritalStatus'+($baseModel.currentIdCount())]]"
              translations="[[{'required':{messageDetail:$component.resource.messages.maritalStatus}}]]"
              :placeholder="[[$component.resource.generic.common.pleaseSelect]]"
              :invalidcomponenttracker="[[$component.validationTracker]]" value="{{maritalStatus}}"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]">
              <!-- ko foreach: $component.maritalStatus -->
              <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
              <!-- /ko -->
            </oj-select-one>
          </div>
        </div>
        <!-- /ko -->

        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-2 label oj-lg-offset-2 ">
            <oj-label for="noOfDependants" :for="[['noOfDependants'+($baseModel.incrementIdCount())]]"><span
                data-bind="text:$component.resource.dependents"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-2 oj-lg-2">
            <oj-input-text id="noOfDependants" required maxlength="2" name="noOfDependants"
              :id="[['noOfDependants'+($baseModel.currentIdCount())]]"
              translations="[[{'required':{messageDetail:$component.resource.messages.dependants}}]]"
              :invalidcomponenttracker="[[$component.validationTracker]]"
              validators="[[$baseModel.getValidator('NUMBERS',$component.resource.messages.dependants,{type:'numberRange',options:{min:0,max:10}})]]"
              value="{{noOfDependants}}" disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]">
            </oj-input-text>


          </div>
        </div>

        <!-- ko if : $component.countriesLoaded() -->
        <div class="oj-flex oj-flex-items-pad">
          <div class=" tooltip-section oj-flex-item oj-sm-5 oj-md-4 oj-lg-2 oj-md-offset-1  oj-lg-offset-2">
            <oj-label class="span-label" :for="[['nationality'+($baseModel.incrementIdCount())]]">
              <span data-bind="text:$component.resource.nationality"></span>
              <!-- ko if: $baseModel.large() -->
              <div class="tooltip message-text" id="countryOfCitizenship_tooltip"
                data-bind="component:{name: 'tooltip',params :{rootModel : $component,message:$component.resource.citizenshipRequirement,toolTipId:'countryOfCitizenship_tooltip'}}">
              </div>
              <span class="icon-information" id="tool-tip-holder" aria-hidden="true"
                data-bind="event: { mouseover: $component.showToolTip.bind($data,'countryOfCitizenship_tooltip','tool-tip-holder'), mouseout: $component.hideToolTip.bind($data,'countryOfCitizenship_tooltip') }"></span>
              <!-- /ko -->
              <!-- ko ifnot: $baseModel.large() -->
              <a class="icon-help" href="#" aria-hidden="true"
                data-bind="click:$baseModel.modalInteraction.bind($data,'#countryOfCitizenship', 'openModal', null) ,attr:{alt: $component.resource.countryOfCitizenshipClick, title: $component.resource.countryOfCitizenshipClickTitle}"></a>
              <!-- /ko -->
            </oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-5">
            <oj-select-one required :id="[['nationality'+($baseModel.currentIdCount())]]"
              translations="[[{'required':{messageDetail:$component.resource.messages.citizenship}}]]"
              :placeholder="[[$component.resource.generic.common.pleaseSelect]]"
              :invalidcomponenttracker="[[$component.validationTracker]]" value="{{citizenship}}"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]">
              <!-- ko foreach: $component.countries() -->
              <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
              <!-- /ko -->
            </oj-select-one>
          </div>
        </div>
        <!-- /ko -->

        <!-- ko ifnot: $component.productDetails().productType === "CHECKING" -->
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-2 label oj-lg-offset-2 ">
            <div class="oj-label">
              <oj-label :for="[['applicationTypes'+($component.coApplicant?'_coapp':'')]]"><span
                  data-bind="text:$component.resource.isPermanentResident"></span></oj-label>
            </div>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
            <oj-buttonset-one :id="[['applicationTypes'+($component.coApplicant?'_coapp':'')]]"
              :aria-label="[[$component.resource.isPermanentResident]]"
              on-value-changed="[[$component.savePermanentResidence]]" value="{{$component.permanentResident}}"
              disabled="[[$component.applicantObject().primaryInfo.disableInputs()]]">
              <oj-option class="permanentResident" value="{{'OPTION_YES'}}"
                :id="[['OPTION_YES'+($component.coApplicant?'_coapp':'')]]"
                :name="[['applicationTypes'+($component.coApplicant?'_coapp':'')]]"><span
                  for="[['OPTION_YES'+($component.coApplicant?'_coapp':'')]]"
                  data-bind="text: $component.resource.generic.common.yes"></span></oj-option>
              <oj-option class="permanentResident" value="{{'OPTION_NO'}}"
                :id="[['OPTION_NO'+($component.coApplicant?'_coapp':'')]]"
                :name="[['applicationTypes'+($component.coApplicant?'_coapp':'')]]"><span
                  for="[['OPTION_NO'+($component.coApplicant?'_coapp':'')]]"
                  data-bind="text: $component.resource.generic.common.no"></span></oj-option>
            </oj-buttonset-one>
          </div>
        </div>
        <!-- /ko -->
      </div>

    </div>
  </oj-validation-group>
</page-section>
<div class="oj-flex oj-flex-items-pad button-container">
  <div class="left">
    <oj-button id="submitPrimary" class="help-button" :aria-label="[[$component.resource.submitPrimary]]"
      on-click="[[$component.submitApplicant]]">
      <span data-bind="text:$component.resource.generic.common.continue"></span>
    </oj-button>
  </div>
</div>

<!-- /ko -->
<modal-window class="message"
  params="baseModel : $baseModel, rootModel : $component,id:'countryOfCitizenship', , header:$component.resource.generic.common.info">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 message-text scroll"
      data-bind="text:$component.resource.citizenshipRequirement"></div>
    <div class="oj-flex-item oj-sm-12 message-btn button-container">
      <oj-button id="hideButton" class="oj-button action-button-primary"
        on-click="[[$baseModel.modalInteraction.bind($data, '#countryOfCitizenship', 'closeModal', null)]]">
        <span data-bind="text:$component.resource.generic.common.ok"></span>
      </oj-button>
    </div>
  </div>
</modal-window>