<!-- Pay Done buttons -->
       <div class="oj-flex oj-flex-items-pad button-container">

               <oj-button class="action-button-secondary " on-click="[[loadComponent.bind($data,'debtor-group-list',$component)]]"><span slot="startIcon" class="icons icon-done"></span>
      <span data-bind="text:$component.common.done"></span>
</oj-button>

               <oj-button class="action-button-primary " on-click="[[loadComponent.bind($data,'payments-money-transfer',$component)]]"><span slot="startIcon" class="icons icon-pay"></span>
      <span data-bind="text:$component.common.pay"></span>
</oj-button>


       </div>
       <!-- /ko -->