<!-- Pay Done buttons -->
            <div class="oj-flex oj-flex-items-pad button-container">

                    <oj-button class="action-button-secondary " on-click="[[loadComponent.bind($data,'debtor-group-list')]]"><span slot="startIcon" class="icons icon-done"></span>
      <span data-bind="text:$component.common.done"></span>
</oj-button>

                    <oj-button class="action-button-primary " on-click="[[loadComponent.bind($data,'debtor-money-request',debtor)]]"><span slot="startIcon" class="icons icon-reuqest-money"></span>
      <span data-bind="text:$component.debtors.requestMoney"></span>
</oj-button>

            </div>