.uploadImage-fileUpload__maxwidth{
    img{
        width: 6rem !important;
        height: 6rem !important;
    }
    a {
        display: block;
    }
}
.biller-logo{

        height: 25px;
        width: 25px;
    }
