.standing-instruction-detail{
	&__table{
		padding-bottom:0.3rem;
	}
	&__pagination{
		padding-bottom: 3.8rem !important;
	}
  .payee_avatar {
    @include single-padding(left,0.625rem);
  }
	&__tail{
      position: fixed;
      bottom: 0;
      background-color: var(--base-background-primary);
      border-top: 0.05rem solid var(--base-border-default);

    }
    &__failurecolor{
    	color: var(--base-color-danger);
    }
}