$letter-spacing-25: 0rem;
.employments-financial-info.form-container {
    margin-top: 1.6rem !important;
}

.employments-financial-info {
    .icon-delete,
    .icon-edit,
    .icon-plus-circle,
    .icon-save {
        font-size: 1.2rem;
        color: var(--base-color-primary);
        padding-bottom: 0;
        @include single-padding(right,0.6rem);
        margin-top: 0;
    }

    .icon-delete,
    .icon-edit:hover {
        cursor: pointer;
    }

    .icon {
        font-size: 1.2rem;
        color: var(--base-color-primary)!important;
    }


    .icon:hover {
        cursor: pointer;
    }

    .value-text {
        @include mq(small) {
            font-size: 1rem;
            line-height: 1.4rem;
        }
    }

    .form-heading-strip {
        background-color: var(--color-white);
        color: var(--base-text-secondary);
        margin-bottom: 1.3rem;
        height: 3.1rem;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(201, 201, 201, 1);
        box-sizing: border-box;
        border: 0.05rem solid rgba(255,255,255,1);
        margin: 1.3rem auto;
        @include mq(small) {
            height: 2.5rem;
        }
    }

    .padding-top {
        padding-top: 0.3rem;
        @include mq(small) {
            padding-top: 0;
            margin-top: -0.1rem;
        };
    }
}

.filmstrip {
    border: none;
    .filmstrip-text {
        color: var(--base-text-secondary);
    }
}
