<page-section params="baseModel : $baseModel, rootModel : $data">
  <oj-validation-group id="liabilitiesInfoTracker">
    <div class="employments-financial-info ">
      <div data-bind="with:applicantObject().financialProfile[$component.profileIdIndex].liabilitiesInfo">
        <!-- ko if: $component.existingLiabilititesLoaded() -->
        <!-- ko foreach: liabilitiesList -->
        <div class="form-heading-strip oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-lg-offset-1 oj-md-offset-1 oj-sm-9 oj-md-8 oj-lg-8 padding-top">
            <!-- ko if : $index()===0 -->
            <h4 class="form-heading additional-label" data-bind="text: $component.resource.primaryLiability"></h4>
            <!-- /ko -->
            <!-- ko if : $index()>0 -->
            <h4 class="form-heading additional-label" data-bind="text: $component.resource.additionalLiability"></h4>
            <!-- /ko -->
          </div>
          <div class="oj-flex-item oj-sm-2 oj-md-4 oj-lg-4">
            <!-- ko if: temp_isActive() -->
            <a href="#" class="pull-right icon-delete" data-bind="click : $parentContext.$component.deleteLiability.bind($data, $index(), $parent) ,attr:{alt: $component.resource.deleteLiabilityClick, title: $component.resource.deleteLiabilityClickTitle}"></a>
            <!-- /ko -->
            <!-- ko if: !temp_isActive() -->
            <a href="#" class="pull-right icon-edit" data-bind="click : $component.editLiabilityInfo.bind($data, $parent) ,attr:{alt: $component.resource.editLiabilityClick, title: $component.resource.editLiabilityClick}"></a>
            <!-- /ko -->
          </div>
        </div>
        <!-- ko if: temp_isActive() -->
        <div class="row-group">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item label oj-sm-12 oj-md-3 oj-md-offset-1 oj-lg-3 oj-lg-offset-2 ">
              <oj-label for="liabilityType" :for="[['liabilityType'+(++$component.idCount)]]"><span data-bind="text:$component.resource.liabilityType"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6 label">
              <!-- ko if: $component.liabilityOptionsLoaded() -->
              <oj-select-one id="liabilityType" required :id="[['liabilityType'+($component.idCount)]]" translations="[[{'required':{messageDetail:$component.resource.messages.liablilityType}}]]" :placeholder="" value="{{type}}">

                <!-- ko ifnot : $component.optionsByFinTemplate() -->
                <!-- ko foreach: $component.liabilityOptions -->
                <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if : $component.optionsByFinTemplate() -->
                <oj-optgroup label="Mandatory">
                  <!-- ko foreach: $component.manLIA -->
                  <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                  <!-- /ko -->
                </oj-optgroup>
                <oj-optgroup label="Optional">
                  <!-- ko foreach: $component.optLIA -->
                  <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
                  <!-- /ko -->
                </oj-optgroup>
                <!-- /ko -->

              </oj-select-one>
              <!-- /ko -->
            </div>
          </div>


          <div data-bind="component: {
                        name: 'amount-input', params: {
                            amount :original.amount,
                            label:$component.resource.liabilityValue,
                            currency: original.currency,
                            labelClasses : 'oj-lg-3 oj-md-3 oj-lg-offset-2 oj-md-offset-1',
                           valueClasses : 'oj-lg-6 oj-md-7',
                            converter:$formatter.formatCurrency,
                            validator:$component.validationTracker,
                            isMandatory:true,
                            maxlength:15,
                            rootId:'originalAmount'+ (++$component.idCount),
                            rootClass:'form-input',
                            inline:true,
                            formattedAmount: ko.observable()
                        }
                    }"></div>

          <div data-bind="component: {
                        name: 'amount-input', params: {
                            amount :outstanding.amount,
                            label:$component.resource.outstandingValue,
                            currency: outstanding.currency,
                            converter:$formatter.formatCurrency,
                            labelClasses : 'oj-lg-3 oj-md-3 oj-lg-offset-2 oj-md-offset-1',
                            valueClasses : 'oj-lg-6 oj-md-7',
                            validator:$component.validationTracker,
                            isMandatory:true,
                            maxlength:15,
                            rootId:'outstandingAmount' + (++$component.idCount),
                            rootClass:'form-input',
                            inline:true,
                            formattedAmount: ko.observable()
                        }
                    }"></div>

          <div class="oj-flex oj-flex-items-pad button-container">
            <div class="oj-flex-item oj-lg-10 oj-md-10">
              <oj-button id="submitLiability" class="form-button-secondary" on-click="[[$component.submitLiabilityInfo]]">
                <span data-bind="text:$component.resource.generic.common.save"></span>
              </oj-button>
            </div>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if: !temp_isActive() -->
        <div data-bind="template: { name: 'origination/review/liabilities-info', data:{data: $data, resource: $component.resource} }" class="show-info"></div>
        <!-- /ko -->
        <!-- /ko -->


        <!-- ko if:$component.displayAddLiabilityButton($data) -->

        <!-- ko if:$data.liabilitiesList().length===0 -->
        <div class="form-heading-strip oj-flex oj-flex-items-pad">
          <oj-label class="oj-flex-item label oj-lg-offset-1 oj-md-offset-1 oj-sm-9 oj-md-8 oj-lg-8 additional-label"><span data-bind="text:$component.resource.addLiability"></span></oj-label>
          <div class="oj-flex-item oj-sm-2 oj-md-4 oj-lg-4">
            <a href="#" class="icon icon-plus-circle section-icon pull-right" data-bind="click : $component.addLiability.bind($data, $index()) ,attr:{alt: $component.resource.addLiabilityClick, title: $component.resource.addLiabilityClick}"></a>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if:$data.liabilitiesList().length>0 -->
        <div class="form-heading-strip oj-flex oj-flex-items-pad">
          <oj-label class="oj-flex-item label oj-lg-offset-1 oj-md-offset-1 oj-sm-9 oj-md-8 oj-lg-8 additional-label"><span data-bind="text:$component.resource.addAnotherLiability"></span></oj-label>
          <div class="oj-flex-item oj-sm-2 oj-md-4 oj-lg-4">
            <a href="#" class="icon icon-plus-circle section-icon pull-right" data-bind="click : $component.addLiability.bind($data, $index()) ,attr:{alt: $component.resource.addAnotherLiabilityClick, title: $component.resource.addAnotherLiabilityClick}"></a>
          </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
      </div>
    </div>
  </oj-validation-group>
</page-section>


<!-- ko if:displayFinalSubmit() -->

<!-- ko if: $baseModel.large()||$baseModel.medium()-->
<div class="oj-flex oj-flex-items-pad button-container">
  <div class="oj-flex-item oj-lg-10 oj-md-10">
    <oj-button id="submitLiability" class="form-button-secondary" :aria-label="[[$component.resource.submitLiabilities]]" on-click="[[$component.completeLiabilitiesSection]]">
      <span data-bind="text:$component.resource.generic.common.continue"></span>
    </oj-button>
  </div>
</div>
<!-- /ko -->
<!-- ko if: $baseModel.small() -->
<div class="oj-flex oj-flex-items-pad button-container">
  <div class="oj-flex-item oj-lg-10 oj-md-10">
    <oj-button id="submitLiability" class="form-button-secondary" :aria-label="[[$component.resource.submitLiabilities]]" on-click="[[$component.completeLiabilitiesSection]]">
      <span data-bind="text:$component.resource.generic.common.continue"></span>
    </oj-button>
  </div>
</div>
<!-- /ko -->
<!-- /ko -->



<div class="oj-flex-item oj-lg-6-oj-md-6 oj-sm-12 oj-xl-6">
  <modal-window class="message" params="baseModel : $baseModel, rootModel : $component,id:'ERROR_LIABLILITY', header: $component.resource.generic.common.error">
    <div class="message-text scroll" data-bind="text:$component.resource.messages.liabilityValue"></div>
    <div class="message-btn button-container">
      <oj-button id="liabilitiesHideButton" class="toUpperCase form-button-primary" on-click="[[$baseModel.modalInteraction.bind($data, '#ERROR_LIABLILITY', 'closeModal')]]">
        <span data-bind="text:$component.resource.generic.common.ok"></span>
      </oj-button>

    </div>
  </modal-window>
</div>
