$char-color: #50c878;
.smsheader {
    &__value {
        margin-top: 0.2rem;
        background-color: $char-color;
        color: var(--color-white);
        @include padding(0.6rem, 0, 0.6rem, 0.6rem);
        display: inline;
        @include single-margin(right, 0.8rem);
    }
    &__dataattr {
        @include single-padding(bottom, 0);
    }
    &__margin {
        margin-top: 0.2rem;
        margin-bottom: 1rem;
    }
    &__textArea {
        height: 7rem;
    }
    &__list {
        list-style: none;
        padding: 0;
        display: inline;
    }
    &-list {
        &__listItem {
            font-size: var(--base-font-size-default);
            padding: 0.6rem;
            display: inline;
            background-color: var(--link-base);
            color: var(--color-white);
            @include single-margin(right, 0.8rem);
        }
        &-listItem {
            &__smsIcons {
                color: var(--color-white);
                font-size: 1.2rem;
            }
            &__text {
                @include single-padding(right, 1.5rem);
                display: inline-block;
                position: relative;
                bottom: 0.1rem;
            }
            &__smsDeleteIcons {
                font-size: 1.2rem;
            }
        }
    }
}

.textareainput:focus {
    border: 0.06rem solid var(--form-input-border-color);
}