.replicate-nominee {
    &__radio-column {
        max-width: 1rem;
    }
    &__vertical-middle {
        vertical-align: middle;
    }
}

.checkbox-option {
    padding-top: 1.5rem;
    &__label {
        font-size: .9rem;
        font-weight: bold;
    }
}

.cust-details {
    background: var(--banner-background);
    color: var(--banner-text-secondary);
    padding: var(--banner-padding);
    label {
        color: var(--banner-text-primary);
        font-size: var(--base-font-size-medium);
    }
}
