// $configuration-color:#0B5A97;
// $limits-color:#F654CE;
// $pfm-color:#FF6D1A;
// $rules-and-role-color:#BD5921;
// $payments-color:aqua;
// $security-color:#6c476d;
// $onboarding-color:#FF2800;
// $transaction-related-color:#c67ce2;
// $userExp-color:#68b3d6;
// $communications-color:#1C5863;
// $others-color:#CF6746;
%admin-card-border-config {
    content: '';
    position: absolute;
    height: 36px;
    @include left(0);
    display: block;
}

.admin-card {
    padding: 0 !important;
    &__description {
        font-size: var(--base-font-size-default);
        color: var(--base-text-secondary);
        min-height: 50px;
    }
    &__container {
        padding: 0.3rem 0;
        list-style: none;
        margin: 0;
    }
    &-container {
        padding: 0.6rem;
        border-bottom: 0.05rem solid var(--base-border-default);
        cursor: pointer;
        &--configuration {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($configuration-color, 20%));
            }
        }
        &--limits {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($limits-color, 20%));
            }
        }
        &--pfm {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($pfm-color, 20%));
            }
        }
        &--rules-and-role {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($rules-and-role-color, 20%));
            }
        }
        &--payments {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($payments-color, 20%));
            }
        }
        &--security {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($security-color, 20%));
            }
        }
        &--onboarding {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($onboarding-color, 20%));
            }
        }
        &--transaction-related {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($transaction-related-color, 20%));
            }
        }
        &--userExp {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($userExp-color, 20%));
            }
        }
        &--communications {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($communications-color, 20%));
            }
        }
        &--others {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid lighten($others-color, 20%));
            }
        }
        &--templates {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid #e2c018);
            }
        }
        &--commonServices {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid #7666b5);
            }
        }
        &--accessPolicies {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid #90337c);
            }
        }
        &--controlMonitor {
            &::before {
                @extend %admin-card-border-config;
                // @include single-border(left, 0.3rem solid #e4a903);
            }
        }
        &__icon {
            height: 1.9rem;
            width: 2.5rem;
            @include float(left);
            padding-top: 0.1rem;
        }
        &__text {
            font-size: var(--base-font-size-default);
            padding: 0.6rem;
            color: var(--base-text-primary);
        }
    }
}