.transactionDetail {
    &__eReceipt {
        @include float(right);
        @include mq(small) {
             padding:0.6rem;
        }

        &-text {
            background: var(--base-background-primary);
            @include single-padding(left,0.6rem);
            font-size : var(--base-font-size-default);
            @include mq(small) {
                display: none;
            }
        }

        &-text:hover {
            text-decoration: underline;
        }

        &-icon {
            vertical-align: middle;
            font-size     : calc(#{var(--base-font-size-default)} + 0.4rem) !important;
            height        : 1.5rem;
            width         : 1.5rem;
            @include mq(small) {
          		font-size  : 1.9rem;
            }
        }
    }
}
