$overview-analysis-primary-color: #89c33d;
.goal {
    padding: 0;
    .pfm-navbar {
        height: 3.8rem;
    }
    .date-box__day {
        padding-top: 0.6rem;
    }
    .info-text {
        font-size: 0.9rem;
        color: var(--base-color-secondary);
        @include mq(small) {
            line-height: 1.3rem;
        }
    }
    &__banner {
        background: var(--banner-background);
        color: var(--banner-text-secondary);
        height: 4.4rem;
        margin-bottom: 0.6rem;
        @include mq(large) {}
    }
    &-banner {
        &__header {
            display: inline-block;
            @include float(left);
        }
        &-header {
            &__content {
                display: inline-block;
                @include float(left);
                position: relative;
            }
            &-content {
                &__icon {
                    width: 6rem;
                    height: 4.4rem;
                    position: relative;
                    @include left(-0.6rem);
                    @include mq(small) {}
                }
                &__fileInput {
                    display: none;
                }
                &__remarkIcon {
                    position: relative;
                    @include left(85%);
                    border-radius: 50%;
                    border: 0.05rem solid var(--color-white);
                    color: var(--base-text-primary);
                    background-color: var(--base-background-primary);
                    height: 1.6rem;
                    width: 1.6rem;
                    /* text-align: center; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    top: -3.2rem;
                    @include mq(small) {}
                }
            }
            &__section {
                display: inline-block;
                padding: 0.3rem 1.3rem;
                @include mq(small) {}
                @include mq(medium) {}
            }
            &-section {
                &__label {
                    color: var(--banner-text-primary);
                    font-size: var(--base-font-size-medium);
                    padding-bottom: 0.3rem;
                }
                &__value {
                    color: var(--banner-text-secondary);
                    padding: var(--banner-padding);
                    font-size: var(--base-font-size-larger);
                }
            }
        }
    }
    &-name {
        display: flex;
        align-items: center;
    }
    &__sectionInfo {
        border-bottom: 0.05rem solid var(--base-border-default);
        margin: 0.6rem 0;
    }
}