.select-bill-cycle{
  display: inline-block;
}
.rewards{
  &-icon{
    @include float(left);
    img{
      height: 6.3rem;
    }
  }
  &-count{
    color: var(--base-color-primary);
    font-size: var(--base-font-size-large);
    @include float(left);
    line-height: 6.3rem;
    padding:0 0.6rem;
  }
  &-message{
    color: var(--base-color-primary);
    font-size: var(--base-font-size-large);
    @include float(left);
    line-height: 6.3rem;
  }
}
