.party-name-font-weight{
  font-weight: var(--base-font-weight-bold);
}
.party-name-header {
    background-color: var(--base-background-primary);
    margin: 0 0;
    padding-top: 0.6rem;
    vertical-align: center;
}
.party-margin-header {
    background-color: var(--base-background-primary);
    margin: 0.6rem 0;
    padding-top: 0.6rem;
    vertical-align: center;
}
 