$percentage-graph-fill: #89c33d;
$pfm-link-label-size: 1.1rem;
.list-goal{

.listView-items{
  &__listContent{}
}
&-listView {
    &__items {
      padding:0.6rem 0;
      @include mq(medium){
      padding: 0;
    }
    }
}
.listContent {
    min-height: 2.5rem;

    &__pfmName {
        display: flex;
    }

    &__amount {
        display: flex;
    }
    .amount {
        &__pfmAmount {
            padding: 0.3rem;
            align-items:center;
            display: flex;
        }
    }
    &__svg {
        padding: 0.3rem;
        @include mq(medium) {
            padding: 0.6rem 0;
        }
    }

    &__closeDate {
        padding: 0.6rem;
        @include mq(medium) {
            padding: 0.9rem 0;
        }
    }

    &__launcher {
        display: flex;
        align-items: center;
        justify-content: center;
        @include single-border(left, 0.05rem solid var(--base-border-default));
    }

    &__view-details {
        
        @include single-border(left, 0.05rem solid var(--base-border-default));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu {}

    &-budgetMenu {
        &__linkText:hover {
            color: var(--link-hover);
        }
    }
}
.pfmName {
    &__img {
        border-radius: 1.6rem;
        border: 0.2rem solid $percentage-graph-fill;
        width: 0.6rem;
        height: 0.6rem;
        display: inline-block;
        position: relative;
        top: 0.3rem;
    }

    &__image {
        min-width: 5.6rem;
        width:5.6rem;
        height: 3.8rem;
        font-size: 1.3rem;
        color: var(--color-white);
        text-align: center;
        display: inline-block;
        @include float(left);
        position: relative;
@include right(0.6rem)
        @include mq(medium) {
            top: 0.3rem;
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    &-image {
        &__goalImages {
            height: 100%;
            width: 100%;
            color: var(--base-text-primary);
            font-size: 0.8rem;
            
        }
    }

    &__name {
        font-size: 0.9rem;
        color: var(--base-text-primary);
        display: inline-block;
        padding: 0.9rem;
    }

    &__goalName {
        font-size: 0.9rem;
        position:relative;
        align-items:center;
        display: flex;
        word-break: break-all;
        @include mq(small) {}
        @include mq(medium) {
            position:relative;
            top:0.9rem;
        }
    }
}

&__view {
  padding:0.6rem;
}
.view-closedGoal{
  text-align:center;
  @include padding(0.6rem,0,0.6rem,0);
  border-bottom:0.05rem solid var(--base-border-default);
  @include mq(small){}
  @include mq(medium){
    
  }
  &__link{
    color: var(--link-base);
    &:hover{
      color:var(--link-hover);
    }
  }
  &-link{
  &__linkIcon{
    padding:0.3rem;
    position:relative;
    top:0.3rem;
    font-size:1.1rem;

  }
}
}
.goalFooter {
    &__iconInfo{
      
      padding:0.6rem 1.3rem;
      @include mq(small){
        padding:0.6rem 0;
        @include single-margin(left,0.6rem);
        align-items: flex-start;
      }
      @include mq(medium){
        padding:0.9rem 0.6rem;
      }
    }
    &__create{
      @include single-border(right,0.05rem solid var(--base-background-tertiary));
      display:inline-block;
      @include padding(0.3rem,0.6rem,0,0);
      font-size:1rem;
    }
    &__calculate{
      display:inline-block;
      padding:0 0.6rem;
      font-size:1rem;
    }
    &-icon-info{
      &__description{
        font-size:1.5rem;
      }
    }
    &__info {
      @include padding(0.6rem,0,0,0);
        @include mq(medium){
            padding-top: 0.9rem;
        }
    }
}
.view-text{
  
  &__iconLink{
    padding:0.6rem;
  }
  &__label{
    @include mq(medium){
      display:inline-block;
      @include single-padding(right,0.3rem);
    }

  }
  &__link{
    font-size: $pfm-link-label-size;
    color: var(--link-base);
    &:hover{
        color:var(--link-hover);
    }
    @include mq(medium){
      display:inline-block;
      @include single-padding(left,0.3rem);
    }
  }
}

    .view-details {
        &__link {
            color: var(--link-base);

            &:hover {
                color: var(--link-hover);
            }
        }

        &-link {
            &__iconLink {
@include padding(0.4rem, 0.6rem, 0, 1.3rem);
                display: inline-block;
                @include float(left);
                font-size: 1.1rem;
                @include mq(medium) {
@include padding(0.6rem, 0.6rem, 0, 0.9rem);
                }
            }

            &__linkText {
                display: inline-block;
                padding: 0.5rem 0;
                @include mq(medium) {
                    text-align: center;
                }
            }
        }
    }
}
.tooltip {
	visibility: inherit;

	&__table {
		border-collapse:separate;
		border-spacing:0.1rem;

		&__body {
			font-size:0.8rem;
		}

		&__row {
			font-size:0.9rem;
		}
	}
}
