<page-section params="baseModel : $baseModel, rootModel : $component, heading:$component.Nls.payeeDetails">
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.payeeType"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('payeeType' in $data.recordDetails())?$data.recordDetails().payeeType:'-')"></span>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.payeeName"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('payeeName' in $data.recordDetails())?$data.recordDetails().payeeName:'-')"></span>
        </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.accountType"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('accountType' in $data.recordDetails())?$data.recordDetails().accountType:'-')"></span>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.accountNumber"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('accountNumber' in $data.recordDetails())?$data.recordDetails().accountNumber:'-')"></span>
        </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.accountName"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('accountName' in $data.recordDetails())?$data.recordDetails().accountName:'-')"></span>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.payVia"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('network' in $data.recordDetails())?$data.recordDetails().network:'-')"></span>
        </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.ifscCode"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('sortCode' in $data.recordDetails())?$data.recordDetails().sortCode:'-')"></span>
        </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.nickName"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('nickName' in $data.recordDetails())?$data.recordDetails().nickName:'-')"></span>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
            <oj-label><span data-bind="text:$component.Nls.accessType"></span></oj-label>
        </div>
        <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-3">
            <span data-bind="text : (('accessType' in $data.recordDetails())?$data.recordDetails().accessType:'-')"></span>
        </div>
    </div>
</page-section>