@import "utils";
$credit-color: var(--base-text-primary);
.activity-history {
    &__section {
        height: calc(100% - 2rem);
    }
    &__content {
        //height: 15rem;
        //overflow-y: auto;
        margin-bottom: 0.3rem;
        ul {
            @include mq(small) {
                padding: 0;
            }
            li {
                padding: 0.6rem 0;
            }
        }
        .credit {
            color: $credit-color;
        }
        .debit {
            color: var(--base-color-danger);
        }
    }
    &-content {
        &__title {
            font-size: var(--base-font-size-large);
            font-weight: var(--base-font-weight-bold);
            padding-bottom: 0.3rem;
        }
        &__info {
            font-size: var(--base-font-size-medium);
            color: var(--base-text-secondary);
        }
    }
    .upcoming-payments {
        text-align: center;
        img {
            height: 8rem;
        }
        &-msg {
            margin-bottom: 2rem;
        }
    }
    &__view-all {
        @include view-all;
        position: relative;
        //@include single-border(right, 0.05rem solid var(--base-border-default));
        &:not(:last-child):after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 1.5rem;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            @include right(0.2rem);
            top: 1.2rem;
            transform: translateY(-50%);
        }
    }
    .view-all {
        @include view-all;
    }
}