$sweep-background-color: #1E7C9F;
$pool-background-color: #1E7C9F;

.virtualAccountStructure {
  max-height: 27rem;

  &__heading {
    font-weight: var(--base-font-weight-regular);
    margin: 0.6rem 0;
  }

  &__links {
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    height: calc(var(--form-line-height) + .5rem);
    line-height: calc(var(--form-line-height) + .5rem);
    border-top: 0.05rem solid var(--base-border-default);
    position: relative;
    top: 1.3rem;
  }

}

.icon-size {
  font-size: 1.6875rem;
}

.structure {
  &__nodeHeader {
    padding: 0.6rem 0;
    font-size: var(--base-font-size-large);
  }

  &__parentNodeHeader {
    padding: 0.3rem 0 0.6rem;
    font-size: var(--base-font-size-large);
  }

  &__tree-width {
    width: 65rem;
  }

  &__node {
    height: 100%;
  }

  &__structureFillParent {
    height: 100%;
    padding: 0.6rem 0;

    &__structureFillSweep {
      background-color: $sweep-background-color;
      color: var(--color-white);
    }

    &__structureFillPool {
      background-color: $pool-background-color;
      color: var(--color-white);
    }
  }

  &__structureFill {
    padding-bottom: 0.5rem;

    &__structureFillSweep {
      border-top: 0.6rem solid $sweep-background-color;
    }

    &__structureFillPool {
      border-top: 0.6rem solid $pool-background-color;
    }
  }
}