.attach-documents{
  .trade-badge{
	  font-size: var(--base-font-size-small);
		font-weight:var(--base-font-weight-regular);
    background:var(--base-color-warning);
    color:var(--base-color-secondary-text);
		padding:0 0.3rem;
	}
}
