$dashboard-card-height:13.1rem;
$dashboard-card-count-size:calc(#{var(--form-line-height)} + 0.9rem);
$dashboard-card-feature-size: var(--base-font-size-default);
$dashboard-card-feature-color: var(--base-text-secondary);
$dashboard-card-title-size: calc(#{var(--base-font-size-default)} + 0.4rem);
$dashboard-card-value-size: calc(#{var(--base-font-size-default)} * 2);
$dashboard-card-value-color: var(--base-text-primary);

.dashboard-card{
  height: $dashboard-card-height;
  position: relative;
  &__header{
    height: 30%;
  }
  &-header{
    &__count{
      font-size: $dashboard-card-count-size;
      font-weight: var(--base-font-weight-light);
      z-index: 1;
      line-height: calc(#{var(--form-line-height)} - 0.1rem);
      display: inline;
    }
    &__title{

      font-size: $dashboard-card-title-size;
      @include single-margin(left,0.6rem);
      position: relative;
      top: -0.6rem;
      display: inline;
    }
    &_image{
      @include float(right);
  }
  &__image{
    height: 3.1rem;
    width: 3.1rem;
  }
  }
  &__body{
    height: 30%;
    position: relative;
    top: -1.2rem;
  }
  &-feature{
    &__item{
      font-size: $dashboard-card-feature-size;
			color: $dashboard-card-feature-color;
    }
  }
  &__bottom-panel{
    @include text-align(right);
		position: absolute;@include right(0.6rem)
    bottom: 0.6rem;
  }
  &-bottom-panel{
    &__label{
      font-size: $dashboard-card-feature-size;
			color: $dashboard-card-feature-color;
    }
    &__value{
      font-size: $dashboard-card-value-size;
			color: $dashboard-card-value-color;
    }
  }

}
