
<span class="tool-tip">
   <table class="tool-tip__tablelayout">
     <caption class="hide-label" data-bind="text:title"></caption>
     <tbody>
       <tr>
           <td class="tooltipLabelStyle" data-bind="text:groupNameTitle"></td>
           <td class="tooltipValueStyle" data-bind="text:groupName"></td>
       </tr>
       <tr>
          <td class="tooltipLabelStyle" data-bind="text:groupValueTitle"></td>
          <td class="tooltipValueStyle" data-bind="text:groupValue"></td>
       </tr>
     </tbody>
   </table>
 </span>
