$payee-container-card-height: 10.5rem;
$payee-card-title-color: var(--base-color-primary);
$payee-card-title-size: 1.1rem;
$badge-color: var(--base-color-primary);

.payee-card {
	cursor: pointer;
	padding: 0.9rem;
	@include mq(small) {
		padding: 0.9rem 0;
	}

	&-title {
		font-size: $payee-card-title-size;
		color: $payee-card-title-color;
		margin: 0;
		padding-top: 0.3rem;
	}

	&-bottom-panel {
		position: absolute;
		bottom: 0.7rem;
@include left(0.6rem)

		.icon {
			
			font-size: 120%;
			color: var(--color-white);
			padding: 0.6rem;
@include margin(0, 0.5rem, 0, 0);
			width: 1.1rem;
			border-radius: 1.1rem;
		}

		.count {
			font-size: 1.8rem;
		}
	}

	.bottom-panel-icon {
		position: absolute;
@include left(0.6rem)
		bottom: 1.3rem;
		width: 75%;
		@include mq(small) {
			width: 100%;
		}

		img.icon-recipients {
			height: 3.6rem;
			width: 3.6rem;
		}

		.badge {
			position: absolute;
			top: -0.3rem;
@include left(3.3rem)
		}
	}

	.badge {
		position: absolute;
		top: -0.3rem;
@include right(0.2rem)
		text-shadow: 0 0.1rem 0 rgba(0, 0, 0, .3);
		
		
		border-radius: 0.8rem!important;
		font-size: 1.1rem!important;
		line-height: 1.5rem!important;
		width: 1.5rem;
		text-shadow: none!important;
		text-align: center;
	}

	.badge.badge-success {
		background: $payee-card-title-color;
		color: var(--base-color-secondary-text);
		border-radius: 0.8rem;
		@include single-margin(right,0);
		border: 0.05rem solid $payee-card-title-color;
	}

	.user-bg-corner img {
		height: 5.6rem;
		width: 5.6rem;
		top: -1.9rem;
		position: relative;
@include right(0)
		@include mq(small) {
			height: 4.1rem;
			width: 4.1rem;
			top: -1.7rem;
			position: relative;
@include right(-0.7rem)
		}
	}

	&-dialog {
		img {
			height: 5.6rem;
			width: 5.6rem;
			margin-top: 1.3rem;
			@include mq(small) {
				height: 3.8rem;
				width: 3.8rem;
			}
		}

		.close {
			height: 1.5rem;
			width: 1.5rem;
		}

		.vertical-ruler {
			
			@include mq(small) {
				@include single-border(right, 0);
			}
		}
	}

	.icon-user {
		font-size: 1.9rem;
		color: $payee-card-title-color;
	}
	.add-panel {
			.add-new-icon{
				padding-top: 1.9rem;
				img{
					height:2.3rem;
					width:2.3rem;
				}
				&--large{
						font-size: 2.5rem;
				}
			}
	}
}
