<div class="form-main-container">
    <!-- ko if: $component.transactionId === undefined -->
    <div data-bind="template: { name: 'review-screen/review-banner-template', data: {header : $component.nls.generic.common.review , reviewHeader :$component.nls.info.lockStatusReviewHeaderMsg}}">
    </div>
    <!-- /ko -->
    <page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
        <row params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.fieldname.fullName , value : $baseModel.format($component.nls.fieldname.displayFullName, {firstname:searchedResultResponse().firstName ,lastname: searchedResultResponse().lastName})">
        </row>
        <row params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.fieldname.email , value : searchedResultResponse().emailId">
        </row>
        <row params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.fieldname.mobNumber , value : searchedResultResponse().mobileNumber">
        </row>
        <!-- ko if: $component.searchedResultResponse().partyId -->

        <!-- ko if: $component.searchedResultResponse().partyId.value !== null && $component.searchedResultResponse().partyId.value !== "" -->
        <row params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.fieldname.partyId , value :  searchedResultResponse().partyId.displayValue">
        </row>
        <!-- /ko -->

        <!-- /ko -->

        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
                <oj-label for="lockstatus">
                    <span data-bind="text:$component.nls.header.channelAccess"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-8">
                <oj-switch id="lockstatus" value="{{$component.reviewstatusOptionValue}}" disabled="[[true]]">
                </oj-switch>
                <span data-bind="text:  $component.lockStatusValue()"></span>
            </div>
        </div>
    </page-section>
    <!-- ko if: $component.transactionId === undefined -->
    <div class="oj-flex button-container">
        <oj-button id="submit" class="action-button-primary" on-click="[[$component.confirm]]">
            <span data-bind="text:$component.nls.buttons.confirm"></span>
        </oj-button>
        <oj-button id="cancel" class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data,true)]]">
            <span data-bind="text:$component.nls.buttons.cancel"></span>
        </oj-button>
    </div>
    <!-- /ko -->
</div>