.change-password {
    .icons.icon-close {
        color: var(--base-color-danger);
        @include single-padding(right, 0.5rem);
    }
    .policy-violate {
        color: var(--base-color-danger);
    }
    .icons.icon-check {
        color: var(--base-color-success);
        @include single-padding(right, 0.5rem);
    }
    .policy-success {
        color: var(--base-color-success);
    }
    .dialogBox {
        animation: cssAnimation 0s ease-in 5s forwards;
    }
    @keyframes cssAnimation {
        to {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
    @-webkit-keyframes cssAnimation {
        to {
            width: 0;
            height: 0;
            visibility: hidden;
        }
    }
}

.user-login-configuration {
    &__header {
        background-image: url("{images}/common/banner_image.jpg");
        @include mq(large) {
            height: 200px;
        }
        @include mq(small) {
            height: 175px;
        }
        width: 100%;
    }
    &__content {
        padding: 2rem;
        color: var(--color-white);
        &--large {
            font-size: 1.3rem;
        }
        &--larger {
            font-size: 1.9rem;
        }
    }
    &__terms-conds-scroll {
        height: 21.9rem;
        overflow-y: auto;
        @include text-align(justify);
    }
    &__password-succes-container {
        background: var(--base-color-success);
        border: 0.05rem solid var(--base-color-success);
        padding: 0 0.6rem;
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;
        height: 2.5rem;
        line-height: 2.5rem;
        .password-success-text {
            @include single-padding(left,
            0.6rem);
            color: var(--color-white);
            font-size: var(--base-font-size-default);
            @include mq(small) {
                font-size: var(--base-font-size-small);
            }
        }
    }
}

.create-header {
    font-weight: 700;
}

.change-password-msg {
    margin-bottom: 1rem;
}

.change-password {
    @include margin(-1.3rem,
    -1.2rem,
    0,
    5rem);
    color: var(--base-text-primary);
    @include padding(1.3rem,
    1.3rem,
    1.3rem,
    1.3rem);
    .create-header {
        font-weight: 700;
    }
    .create-description {
        margin-bottom: 2rem;
    }
}