<div class="form-main-container">
	<!-- ko ifnot: $baseModel.large() -->
	<!-- ko ifnot: showConfirmLoginFlow -->
	<div class="dialogBox">
		<!-- ko if: $baseModel.small() -->
		<div class="oj-flex oj-flex-items-pad warning-container">
			<div class="oj-flex-item oj-sm-12 warning-text">
				<div class="oj-flex">
					<div class="center oj-flex-item oj-sm-1">
						<span class="icons icon-information"></span>
					</div>
					<div class="oj-flex-item oj-sm-11">
						<span class="warning-msg" data-bind="text: nls.changePassword.policyDisclaimer"></span>
					</div>
				</div>
			</div>
		</div>
		<!-- /ko -->
		<!-- ko if: $baseModel.medium() -->
		<div class="oj-flex oj-flex-items-pad warning-container">
			<div class="oj-flex-item oj-sm-12 warning-text">
				<span class="icons icon-information"></span>
				<span class="warning-msg" data-bind="text: nls.changePassword.policyDisclaimer"></span>
			</div>
		</div>
		<!-- /ko -->
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<div data-bind="descendantsComplete : $component.afterRender.bind($data,$root)">
		<div class="oj-flex oj-flex-items-pad oj-sm-flex-items-initial oj-sm-justify-content-space-between">
			<div class="oj-flex-item oj-sm-12 oj-md-7 oj-lg-7">
				<!-- ko ifnot: showConfirmation -->
				<page-section params="baseModel : $baseModel, rootModel : $data, heading :'' ">
					<oj-validation-group id="validationTracker">
						<div class="oj-flex change-password-msg">
							<div class="oj-flex-item oj-sm-12">
								<span data-bind="text: nls.changePassword.changeYourPassword"></span>
							</div>
						</div>
						<div class="oj-flex">
							<div class="oj-flex-item oj-sm-12">
								<oj-label for="oldpwd">
									<span data-bind="text:nls.changePassword.oldPasswordLabel"></span>
								</oj-label>
							</div>
							<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-6">
								<oj-input-password :aria-label="[[nls.changePassword.oldPasswordLabel]]" id="oldpwd"  autocomplete="off" required on-nullcheck="[[nullCheck]]" validators="[[[notEqualToNewPassword]]]" value="{{oldPassword}}"></oj-input-password>
								<virtual-keyboard params="{baseModel : $baseModel,value: oldPassword, element: 'oldpwd'}"></virtual-keyboard>
							</div>
						</div>
						<div class="oj-flex">
							<div class="oj-flex-item oj-sm-12">
								<oj-label for="newpasswd">
									<span data-bind="text:nls.changePassword.newPasswordLabel"></span>
								</oj-label>
							</div>
							<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-6">
								<oj-input-password :aria-label="[[nls.changePassword.newPasswordLabel]]" id="newpasswd"  autocomplete="off" required validators="[[[notEqualToOldPassword]]]" value="{{$component.newPassword}}"></oj-input-password>
								<virtual-keyboard params="{baseModel : $baseModel,value: $component.newPassword, element: 'newpasswd'}"></virtual-keyboard>
							</div>
						</div>
						<!-- ko if: setNewPass -->
						<div class="oj-flex">
							<div class="oj-flex-item oj-sm-12">
								<oj-label for="newpwd">
									<span data-bind="text:nls.changePassword.reEnterPasswordLabel"></span>
								</oj-label>
							</div>
							<div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-6">
								<oj-input-password :aria-label="[[nls.changePassword.reEnterPasswordLabel]]" id="newpwd"  autocomplete="off" required validators="[[[equalToPassword]]]" value="{{confirmPassword}}"></oj-input-password>
								<virtual-keyboard params="{baseModel : $baseModel,value: confirmPassword, element: 'newpwd'}"></virtual-keyboard>
							</div>
						</div>
						<!-- /ko -->
					</oj-validation-group>
				</page-section>
				<div class="oj-flex button-container">
					<oj-button  class="action-button-primary" on-click="[[changePassword]]">
						<span data-bind="text:nls.generic.common.submit"></span>
					</oj-button>
				</div>
				<!-- /ko -->
			</div>
			<!-- ko if: showConfirmation -->
			<div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
				<div class="confirm-container">
					<div class="oj-flex-item center ">
						<div class="oj-flex-item oj-lg-12 oj-md-12 oj-sm-12 video-container">
							<img class="oj-lg-2 oj-sm-8 oj-md-4" data-bind="loadImage:'password-policy/confirmation.gif'" autoplay loop></img>
							<div class="oj-flex-item center create-header">
								<div class="confirm-text-heading" data-bind="text : nls.changePassword.changePasswordSuccessMessage"></div>
							</div>
						</div>
					</div>
					<br>
						<div class="center">
							<span data-bind="text : nls.changePassword.confirmationMessage"></span>
						</div>
						<div class="oj-flex oj-sm-flex-items-initial
                      oj-lg-justify-content-center oj-sm-justify-content-center">
							<div class="oj-flex-item button-container oj-lg-justify-content-center">
								<oj-button  class="action-button-primary" on-click="[[doneClicked]]">
									<span data-bind="text:nls.generic.common.login"></span>
								</oj-button>
							</div>
						</div>
					</div>
				</div>
				<!-- /ko -->
				<!-- ko if: !$component.showConfirmation() && $baseModel.large() -->
				<div class="oj-flex-item oj-sm-12 oj-md-5 oj-lg-5">
					<!-- ko if: passwordPolicyLoaded() -->
					<help params="baseModel : $baseModel, rootModel : $component, transaction: 'password-policy'"></help>
					<!-- /ko -->
				</div>
				<!-- /ko -->
				<!-- ko if: $baseModel.small() -->
				<oj-popup data-bind="attr:{id:'passwordPolicy'}">
					<span data-bind="template:'help/password-policy'"></span>
				</oj-popup>
				<!-- /ko -->
			</div>
		</div>
	</div>
	<!-- ko if: $component.showLoginOptions() -->
	<login-options params="baseModel : $baseModel, rootModel:$data,root:$root,dashboard:$dashboard,password:$component.newPassword,firstTimeLoginFlow:'true'"></login-options>
	<!-- /ko -->