<div class="container-record">
    <div class="oj-flex">
        <div class="oj-flex-item oj-lg-9">
            <div class="form-main-container">
                <div class="oj-flex oj-flex-items-pad oj-sm-flex-items-initial oj-sm-justify-content-space-between">
                    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-12">
                        <!-- ko if: showPartyValidateComponent  -->
                        <div data-bind="component: {
           name: 'party-validate', params:{
           rootModel: $data, partyDetails: ExclusionModelInstance().partyDetails, additionalDetails: ExclusionModelInstance().partyDetails.additionalDetails
           }} ">
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $component.backForPartyAccess() -->
                        <div class="oj-flex oj-flex-items-pad">
                            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3">
                                <label data-bind="text: nls.fieldname.partyID"></label>
                            </div>

                            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-9">
                                <span data-bind="text:maskedPartyId"></span>
                            </div>
                        </div>
                        <div class="oj-flex oj-flex-items-pad">
                            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3">
                                <label data-bind="text: nls.fieldname.partyName"></label>
                            </div>

                            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-9">
                                <span data-bind="text:partyName"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $component.partyID() && (accessLevel() === 'PARTY'|| accessLevel() === 'LINKAGE') -->
                        <!-- ko ifnot : loadUserListComponent() -->
                        <div data-bind="component: {
          name: 'summary', params:{rootModel:$component}} ">
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if : loadUserListComponent() -->
                        <div data-bind="component: {name:'user-list-details' , params:{rootModel:$data }}">
                        </div>
                        <div class="oj-flex oj-flex-items-pad button-container">
                            <oj-button class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data, null)]]">
                                <span data-bind="text:$component.nls.common.cancel"></span>
                            </oj-button>
                            <!-- ko ifnot:$component.isCorpAdmin -->
                            <oj-button class="action-button-tertiary" on-click="[[$component.back]]">
                                <span data-bind="text:$component.nls.common.back"></span>
                            </oj-button>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ko if: accessLevel() === 'PARTY'|| accessLevel() === 'LINKAGE'  -->
        <!-- ko if: $baseModel.large() -->
        <div class="oj-flex-item oj-lg-3 help-panel">
            <help params="baseModel : $baseModel, rootModel : $component, transaction: 'party-account-access'"></help>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: accessLevel() === 'USER'|| accessLevel() === 'USERLINKAGE'   -->
        <!-- ko if: $baseModel.large() -->
        <div class="oj-flex-item oj-lg-3 help-panel">
            <help params="baseModel : $baseModel, rootModel : $component, transaction: 'user-account-access'"></help>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>