.category {
    .section {
        padding: 0 0 2.5rem;
        @include mq(small) {
            padding: 0.6rem;
        }
        @include mq(medium) {
            padding: 0 0.6rem 1.3rem;
        }

        &__title {
            font-size: var(--base-font-size-large);
            @include mq(small) {
                font-size: var(--base-font-size-large);
            }
            color: var(--base-text-primary);
        }

        &__subtitle {
            color: var(--base-text-primary);
            font-size: var(--base-font-size-default);
            @include mq(small) {
                line-height: calc(#{var(--form-line-height)} - 0.6rem);
                font-size: var(--base-font-size-larger);
            }
        }
    }

    &__cardssection {
        padding: 0 0 3.8rem;

        &-flex-container {

            display: -moz-box;
            display: -ms-flexbox;

            display: flex;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            width: 100%;

            flex-flow: row wrap;
            -webkit-align-items: center;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            flex-wrap: wrap;

            li {
                
                padding-bottom: 0.9rem;
                @include mq(small) {
                    
                    
                    padding-bottom: 1.3rem;
                }
                @include mq(medium) {
                    
                    padding-bottom: 1.9rem;
                }
            }

            &__listItems {
                padding: 1.3rem 0;
            }
        }

        &-flex-item {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 2em;
            text-align: center;
            min-width: 7.5rem;
            margin: 0 0 1.3rem;
            @include mq(medium) {
                min-width: 11.3rem;
            }

            &:hover {
                .icon-title,
                .icons {
                    color: var(--base-color-success);
                }
            }
        }
    }
}
