.mailbox-controls {
  &__divider {
    @include single-border(left, 0.05rem solid var(--base-border-default));
    margin: 0 0.3rem;
    position: relative;
    bottom: 0.2rem;
    @include single-padding(right,0.3rem);
  }

  &-table-content {
    &__unread {
      font-weight: var(--base-font-weight-bold);
    }

    &__read {
      font-weight: var(--base-font-weight-regular);
    }
  }
}
