$percentage-graph-fill: #89c33d;
.list-budget{

	padding-bottom:1.3rem;
	.periodicity-option {
		    @include mq(small){
				padding: 0.6rem 0;
			}
	}

&-create{

  &__iconInfo{
@include padding(0.6rem,0.6rem,0,0.9rem);
    @include mq(small){
@include padding(0.6rem,0.6rem,0,0.6rem);
    }
  }
  &__info{
    @include padding(0.6rem,0,0,0);
  }
}
.success-bar {
    background: var(--base-color-success-light);
    @include single-border(left, 0.4rem solid var(--base-color-success));
    margin: 0.9rem 0;
    padding: 0.6rem 0.3rem;
    @include mq(small){
      padding: 0.6rem 0;
    }
}
.pfmName {
    &__img {
        border-radius: 1.6rem;
        border: 0.2rem solid $percentage-graph-fill;
        width: 0.6rem;
        height: 0.6rem;
        display: inline-block;
        position: relative;
        top: 0.3rem;
    }

    &__image {
        min-width: 5.6rem;
        width:5.6rem;
        height: 3.8rem;
        font-size: 1.3rem;
        color: var(--color-white);
        text-align: center;
        display: inline-block;
        @include float(left);
        position: relative;
				@include right(0.6rem);
        @include mq(medium) {
            top: 0.3rem;
            width: 2.2rem;
            height: 2.2rem;
        }
    }

    &-image {
        &__goalImages {
            height: 100%;
            width: 100%;
            color: var(--base-text-primary);
            font-size: 0.8rem;
        }
    }

    &__name {
        font-size: 0.9rem;
        color: var(--base-text-primary);
        display: inline-block;
    }

    &__goalName {
        position:relative;
        align-items:center;
        display: flex;
        word-break: break-all;
        @include mq(medium) {
            position:relative;
            top:0.9rem;
        }
    }
}
.amount {
    &__pfmAmount {
        align-items:center;
        display: flex;
    }
}
.launcher {
    &__link {
        color: var(--link-base);

        &:hover {
            color: var(--link-hover);
        }
    }
}
&-listView {
    &__items {
      padding:0.6rem 0;
      @include mq(medium){
      padding: 0;
    }
    }
}

}
.tooltip {
	visibility: inherit;

	&__table {
		border-collapse:separate;
		border-spacing:0.1rem;

		&__body {
			font-size:0.8rem;
		}

		&__row {
			font-size:0.9rem;
		}
	}
}
