.party-linkage {
  @include margin(-1.3rem, -1.2rem, 0, 5rem);
  color: var(--base-text-primary);
  @include padding(1.3rem, 1.3rem, 1.3rem, 1.3rem);
  .create-header{
      font-weight: 700;
  }
  .create-description{
      margin-bottom: 2rem;
  }
}
