<!-- ko if: $component.existingIdentitiesLoaded() -->
<page-section params="baseModel : $baseModel, rootModel : $data">
<oj-validation-group id="identity-tracker"  valid="{{groupValid}}">
<div class="" data-bind="with:applicantObject().identityInfo">
  <div data-bind="with:identityInfo">
    <div class="oj-flex oj-flex-items-pad">
      <div class="tooltip-section oj-flex-item oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-3 oj-lg-offset-2 ">
        <oj-label class="span-label" :for="[['ssn']]"><span data-bind="text:$component.resource.ssn"></span>
        <!-- ko if: $baseModel.large() -->


        <div class="tooltip message-text label" id="SSNRequirement_tooltip" data-bind="component:{name: 'tooltip',params :{rootModel : $component,message:$component.resource.SSNtext,toolTipId:'SSNRequirement_tooltip'}}">
        </div>

        <span class="icon-help" id="tool-tip-holder3" aria-hidden="true" data-bind="event: { mouseover: $component.showToolTip.bind($data,'SSNRequirement_tooltip','tool-tip-holder3'), mouseout: $component.hideToolTip.bind($data,'SSNRequirement_tooltip') }"></span>
        <!-- /ko -->
        <!-- ko ifnot: $baseModel.large() -->
        <span aria-hidden="true"><a href="#" class="icon-help" data-bind="click: $baseModel.modalInteraction.bind($data, '#SSNRequirement', 'openModal') ,attr:{alt: $component.resource.SSNClick, title: $component.resource.SSNClickInfo}"></a></span>
        <!-- /ko -->
</oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-input-text required maxlength="11" autocomplete="off" spellcheck="false" :id="[['ssn'+($component.coAppNo)]]" translations="[[{'required':{messageDetail:$component.resource.messages.ssn}}]]" value="{{$component.ssnNumber}}" validators="[[self.ssnValidate]]" disabled="[[$component.applicantObject().identityInfo.disableInputs]]" :placeholder="[[$component.resource.ssnformat]]"></oj-input-text>
      </div>

    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-3 oj-lg-offset-2 ">
        <oj-label :for="[['idType']]"><span data-bind="text:$component.resource.idType"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
        <oj-select-one required :id="[['idType']]" translations="[[{'required':{messageDetail:$component.resource.messages.type}}]]" :invalidcomponenttracker="[[$component.validationTracker]]" on-value-changed="[[$component.identitytypeChanged]]" disabled="[[$component.applicantObject().identityInfo.disableInputs]]" :placeholder="" value="{{$data[1].type}}">
          <!-- ko foreach: $component.identificationTypes -->
          <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
          <!-- /ko -->
        </oj-select-one>
      </div>
    </div>
    <!-- ko if: $component.statesChanged() && $component.stateofIssueRequired() && $data[1].type && $data[1].type !== "PAS" -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-3 oj-lg-offset-2 ">
        <oj-label class="oj-label" :for="[['states']]"><span data-bind="text:$component.resource.placeOfIssueLabel[$data[1].type]"></span></oj-label>
      </div>
      <div id="" class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4">
        <oj-select-one required :id="[['states']]" translations="[[{'required':{messageDetail:$component.resource.messages.placeOfIssue}}]]" :invalidcomponenttracker="[[$component.validationTracker]]" disabled="[[$component.applicantObject().identityInfo.disableInputs]]" value="{{$data[1].placeOfIssue}}" :placeholder="">
          <!-- ko foreach: $component.stateOptions -->
          <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
          <!-- /ko -->
        </oj-select-one>
      </div>
    </div>
    <!-- /ko -->
    <!-- ko if: $data[1].type -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-3 oj-lg-offset-2">
        <oj-label :for="[['idNum']]"><span data-bind="text:$component.resource.idNumberLabel[$data[1].type]"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-input-text required maxlength="30" id="idNum" autocomplete="off" spellcheck="false" class="idnumclass" :id="[['idNum']]" translations="[[{'required':{messageDetail:$component.resource.messages.number[$data[1].type]}}]]" :invalidcomponenttracker="[[$component.validationTracker]]" validators="[[[$baseModel.getValidator('ALPHANUMERIC_WITH_SPACE',$component.resource.messages.number[$data[1].type],{
                       type:'length',options:{
                         min:1,max:30}})]]]" disabled="[[$component.applicantObject().identityInfo.disableInputs]]" value="{{$component.applicantObject().identityInfo.selectedValues().maskedId}}"></oj-input-text>
      </div>
    </div>
    <!-- /ko -->
    <!-- ko if: $data[1].type === "PAS"-->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-3 oj-lg-offset-2 ">
        <oj-label :for="[['issueDate']]"><span data-bind="text:$component.resource.issueDate"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-input-date required :id="[['issueDate']]" translations="[[{'required':{messageDetail:$component.resource.messages.validIssueDate}}]]" max="[[$component.todayIsoDate]]" converter="[[$component.dateConverter]]" disabled="[[$component.applicantObject().identityInfo.disableInputs]]" value="{{$data[1].issueDate}}" datepicker="[[{yearRange:'c-100:c'}]]"></oj-input-date>
      </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item label oj-sm-12 oj-md-4 oj-md-offset-1 oj-lg-3 oj-lg-offset-2 ">
        <oj-label :for="[['expiryDate']]"><span data-bind="text:$component.resource.expiryDate"></span></oj-label>
      </div>
      <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
        <oj-input-date required :id="[['expiryDate']]" translations="[[{'required':{messageDetail:$component.resource.messages.validExpiryDate}}]]" validators="[[$component.expiryDateValidate]]" converter="[[$component.dateConverter]]" disabled="[[$component.applicantObject().identityInfo.disableInputs]]" value="{{$data[1].expiryDate}}" datepicker="[[{yearRange:'c:c+100'}]]"></oj-input-date>
      </div>
    </div>
    <!-- /ko -->
  </div>
</div>
</oj-validation-group>
</page-section>
<!-- /ko -->

<div class="button-container oj-flex oj-flex-items-pad">
  <div class="oj-flex-item oj-md-10 oj-lg-10">
    <oj-button raised="" id="submit-identity" class="form-button-secondary" on-click="[[$component.submitIdentityInfo.bind($data)]]"><span data-bind="text:$component.resource.generic.common.continue"></span></oj-button>
  </div>
</div>

<modal-window class="origination-popup message" params="baseModel : $baseModel, rootModel : $component,id:'SSNRequirement'">
  <div class="message-text scroll" data-bind="text:$component.resource.SSNtext"></div>

</modal-window>
