.category-card {
    &.oj-panel {
        padding: 0;
        margin-bottom: 1.3rem;
        height: 13.1rem;
        &:after {
            content: '';
            display: block;
            margin: auto;
            height: 0.1rem;
            width: 0;
            background: transparent;
            transition: width 0.5s ease, background-color 0.5s ease;
        }
        &:hover:after {
            width: 100%;
            background: var(--base-color-success);
        }
    }
    &__icon {
        height: 10.6rem;
        @include mq(small) {
            height: 8.8rem;
        }
        width: 100%;
        &:hover {
            opacity: 0.5;
            color: var(--base-background-tertiary);
        }
    }
    &__desc {
        font-size: var(--base-font-size-larger);
        color: var(--base-text-primary);
        padding: 0.6rem 0 !important;
        @include mq(small) {
            padding: 0.6rem 0 0 !important;
        }
    }
    &__caption {
        color: var(--base-text-primary);
        padding: 0 0 0.6rem !important;
        @include mq(small) {
            padding: 0.3rem 0 1.3rem !important;
            line-height: 0.9rem;
        }
    }
}