@import "utils";
.work-snapshot{
  &-seperator{
    &__header{
      margin: 0.6rem 0 0;
    }
    &__date{
      padding:0 0 0.6rem;
    }
    &-date{
      &__text{
        font-size: var(--base-font-size-small);
      }
    }
  }
  &-list{
    &__container{

      display: -moz-box;
      display: -ms-flexbox;

      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;




      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;

      @include mq(small){
        list-style: none;
        display:block;
      }
      @include mq(medium){
        padding: 1rem 0;
        margin: 0.8rem 0;
      }
    }
    &-container{
      &__items{


        @include single-border(right, 0.05rem solid var(--base-border-default));
        &:last-child{
          border: none;
        }
        @include mq(small){
          border:none;
          padding: 0.3rem 0;
        }
      }
      &-item{
        &__count{
          font-size: var(--base-font-size-larger);
        }
        &__name{
          font-size: var(--base-font-size-small);
          @include mq(small){
            padding-bottom:0.3rem;
          }
        }
        &__highlight{
          border-bottom:0.2rem solid var(--base-border-default);
          &.processed{
            background-color: var(--base-color-success);
          }
          &.progress{
            background-color: var(--base-color-warning);
          }
          &.rejected{
            background-color: var(--base-color-danger);
          }
        }

      }
    }
  }
  &__noData{
    img{
      height:6rem;
      @include mq(small){
        height:4.9rem;
      }
    }
  }
  &__text{
    margin:auto;
  }
  &-text{
    &__header{
      font-size:var(--base-font-size-larger);
      @include mq(small){
        font-size:var(--base-font-size-large);
      }
      padding:0 0.5rem;
    }
    &__subHeader{
      padding:0 0.5rem;
    }
  }
  &__graph{
    height:8.1rem;
  }
  &-graph{
    &__chart{
        height:100%;
        width:100%;
        @include mq(small){

        }
    }
  }
}
