.design-feedback {
  .transaction-separate {
    border-bottom: 0.0625rem solid #d3d3d382;
    width: 74%;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
  .txn-parent-child {
    font-size: 1rem;
  }

  .spacing-table {
    padding-top: 1rem;
  }

  .information-wrapper-btn {
    margin-top: 1rem;
  }

}
