.user-initials {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 0.05rem solid var(--base-border-default);
    
    
    font-size: 1.3rem;
    color: var(--base-text-secondary);
    line-height: 2.2rem;
    text-align: center;
}