.modal-window {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  @include right(0);
  bottom: 0;
  @include left(0);
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);

  &__container {
    overflow: hidden;
    min-width: 31.3rem;
    max-width: 80%;
    height: auto;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.45);
    background: var(--base-background-primary);
    position: absolute;
    @include left(50%);
    top: 50%;
    transform: translate(-50%, -50%);

    [dir='rtl'] & {
      transform: translate(50%, -50%);
    }

    @include mq(small) {
      min-width: 95%;

      &.full-screen {
        top: 0;
        @include left(0);
        @include right(0);
        bottom: 0;
        max-width: 100vw;
        width: 100vw;
        transform: none;
      }
    }

    @include mq(medium) {
      min-width: 25rem;
    }
  }

  &-container {
    &__progress {
      display: none;
    }

    &__body {
      font-size: calc(#{var(--base-font-size-default)} + 0.1rem);
      line-height: 1.4rem;
      background: var(--base-background-primary);
      position: absolute;
      width: 100%;
    }
  }

  &-viewport {
    height: 100vh;
    width: 100%;
    position: relative;
  }

  .modal {
    &-header {
      width: 100%;
      background: linear-gradient(to var(--modal-window-header-gradient-direction), var(--modal-window-header-gradient-start-color), var(--modal-window-header-gradient-end-color));
      height: 2.8rem;
      color: var(--modal-window-header-foreground-color); //margin-bottom: 1.3rem;

      &__text {
        padding: 0.6rem 1.3rem;
        font-size: var(--modal-window-header-font-size);
        font-weight: var(--modal-window-header-font-weight);
        display: inline-block;

        @include mq(small) {
          padding: 0.8rem;
          font-size: calc(#{var(--base-font-size-default)} + 0.1rem);
        }
      }

      &__close {
        @include float(right);
        padding: 0.6rem 1.3rem;
        font-size: var(--modal-window-header-font-size);
        color: var(--modal-window-header-foreground-color) !important;
        cursor: pointer;

        @include mq(small) {
          padding: 0.6rem 0.8rem;
        }
      }
    }

    &-body-content {
      background: linear-gradient(to var(--modal-window-body-gradient-direction), var(--modal-window-body-gradient-start-color), var(--modal-window-body-gradient-end-color));
      color: var(--modal-window-body-foreground-color);
      font-size: var(--modal-window-body-font-size);
      font-weight: var(--modal-window-body-font-weight);
      max-height: 70vh;
      overflow-y: auto;
      padding: 0.6rem;

      @include mq(small) {
        padding: 0.6rem 0;

        &.full-screen {
          max-height: calc(100vh - 2.8rem);
        }
      }

      &__message {
        &-body {
          padding: 3.1rem 0.6rem 0;
        }
      }

      .form-main-container {
        padding: 0;
      }

      .button-container {
        margin: 0;
        padding: 0.6rem;
      }
    }
  }

  .close-alternate {
    position: absolute;
    right: -2.5rem;
    top: -2.5rem;
    color: var(--base-color-secondary-text);

    span {
      font-size: 2rem;

      @include mq(small) {
        font-size: 1.5rem;
      }
    }
  }

  .close-header {
    overflow: visible;
  }
}