$product-group-card-width: 43.1rem;
$product-group-card-width-small: 95%;
$product-group-name-font: 1.5rem;
$product-group-name-font-small: 1rem;
$product-group-name-font-medium: 1.4rem;
$product-group-card-text-font: 1rem;
$product-group-card-text-font-small: 0.9rem;
$letter-spacing-25: 0;

.product-bg-image {
  z-index: -1;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: calc(100vh - 2.5rem);
}

.pre-login {
  &.form-main-container {
    background: none;
  }

  .header .icon-logo {
    cursor: default;
  }

  .footer-container {
    padding: 2.5rem 0 0;
    background: var(--base-color-secondary);
    bottom: 0;
    width: 100%;
  }

  .product-group-card {
    h3 {
      font-weight: var(--base-font-weight-bold);
    }
    max-width: $product-group-card-width;
    padding: 1rem;
    box-sizing: border-box;
    border: 0.05rem solid var(--base-border-default);
    margin: 1rem;
    @include mq(small) {
      max-width: $product-group-card-width-small;
      margin: 0 auto;
      padding: 1.9rem 0.6rem;
    }
    @include mq(medium) {
      max-width: $product-group-card-width-small;
      margin: 0 auto;
      padding: 1.9rem 1.3rem;
    }

    &.form-container {
      float: none;
      margin: 2.5rem 7.5rem;
      background: var(--color-white);
      @include mq(small) {
        margin: 0.5rem 0.6rem;
      }
      @include mq(medium) {
         @include single-margin(left,2.5rem);
        @include single-margin(right,2.5rem);
      }
    }

    .product-group-name {
      font-size: $product-group-name-font;
      color: var(--link-base);
      font-weight: var(--base-font-weight-bold);
      letter-spacing: $letter-spacing-25;
      @include mq(small) {
        font-size: $product-group-name-font-small;
        font-weight: var(--base-font-weight-bold);
        color: var(--link-base);
      }
      @include mq(medium) {
        font-size: $product-group-name-font-medium;
      }
    }

    .product-group-card-text {
      font-size: $product-group-card-text-font;
      color: var(--base-text-secondary);
      letter-spacing: $letter-spacing-25;
      @include mq(small) {
        font-size: $product-group-card-text-font-small;
      }
    }

    .product-group-button {
      @include mq(medium) {
         @include single-padding(left,0.6rem);
      }

      .form-button-primary {
        @include mq(small) {
           @include single-margin(left,0);
          @include single-margin(right,0);
          margin-bottom: 0;
          width: inherit;
        }
      }
    }
  }
}
