.ANON {
    .dashboard {
        .container {
            max-width: inherit;
            padding: 0;
            .widget-container {
                padding: 0;
                section {
                    margin: 0;
                }
            }
        }
    }
}

.ADMIN,
.ANON,
.CORPADMIN {
    .dashboard {
        .container {
            .form-main-container {
                .label {
                    @include mq(large) {
                        line-height: calc(var(--form-line-height)*1.5);
                    }
                }
            }
        }
    }
    .dashboard .button-container .oj-button span.icons.oj-button-icon {
        font-size: 0;
        @include single-margin(right, 0 !important);
    }
    .oj-switch {
        padding-top: 0.5rem;
    }
}