.oj-panel {
    background-color: var(--base-background-primary);
    border-radius: var(--widget-border-radius);
    border-width: var(--widget-border-width);
    border-style: solid;
    border-color: var(--base-border-default);
    @include padding(0, 0, 0.6rem, 0);
    height: 100%;
    //animation: animatezoom 0.6s;
    h3 {
        @include panel-title;

        display: inline-block;
    }

    .oj-listview{
      border: 0;
    }
    ul li{
      &:last-child{
        border-bottom: 0;
      }
    }
    .icons.icon-arrow-right{
      font-size: 80%;
    }
}
