.card-statement {
  &__left{
    @include single-border(right,0.05rem solid var(--base-border-default));
    margin-bottom:0.6rem;
  }
  &-left{
    &__selectAccount, &__selectAccountType{
      padding-bottom:0.6rem;
    }
  }
  .left-link {
    display: block;
    padding: 0.3rem 0;
  }
}
