.view-limits {
    &__knowmore {
        @include padding(0rem, 0rem, 0rem, 0.5rem);
        &__iconStylingKnowMore {
            margin-top: 0.15rem;
        }
    }
    .limitamount {
        line-height: 2.3rem;
    }
    span {
        line-height: normal;
    }
    .form-header {
        padding-bottom: 0.6rem;
    }
    .total-count {
        padding-bottom: 1.3rem;
    }
    .lowerBarSpacing {
        padding-top: 0.6rem;
        @include single-padding(right, 1.1rem);
    }
    .upperBarSpacing {
        @include single-padding(right, 1.1rem);
    }
    .barSpacing {
        padding-top: 1.9rem;
    }
    .limit-header {
        font-size: 0.8rem;
        color: var(--base-text-secondary);
    }
    .total-amount,
    .total-count {
        @include mq(small) {
            width: 95%;
        }
    }
}