.flip-down {
  animation: flip-down 0.7s 1 linear;
  background: var(--base-color-danger);
  width: 100%;
}

.slide-and-resize {
  @include mq(large) {
    animation: slide-and-resize 0.7s 1 ease-out;
    width: 15%;
  }
  background-color: var(--color-deep-yellow);
}
@keyframes flip-down {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
@keyframes slide-and-resize {
  0% {
    width: 100%;
  }

  50% {
    background-color: var(--color-deep-yellow-darken);
  }

  100% {
    width: 15%;
    background-color: var(--color-deep-yellow);
  }
}
