.parallax {
  position: relative;
  @include right(0);
  bottom: 0;
  @include left(0);

  .movingbox {
    position: relative;
    height: auto;
    padding: 3.1rem;

    [dir='rtl'] & {
      transform: scaleX(-1);
    }
  }

  .parallaxbox {
    position: relative;
    height: 80%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;

    [dir='rtl'] & {
      transform: scaleX(-1);
    }
  }

  .oj-button.action-button-primary {
    width: auto;
  }
}
