.slide {
    opacity: 0;

    &-right {
        transform: rotateY(-50deg) rotateZ(-5deg) translateX(3.1rem), opacity 0.3s ease-in-out;
        @include mq(small) {
            transform: rotateY(-50deg) rotateZ(-5deg) translateX(31.3rem);
        }
        @include mq(medium) {
            transform: rotateY(-50deg) rotateZ(-5deg) translateX(31.3rem);
        }
    }

    &-left {
        transform: rotateY(50deg) rotateZ(-5deg) translateX(-3.1rem), opacity 0.3s ease-in-out;
        @include mq(small) {
            transform: rotateY(50deg) rotateZ(-5deg) translateX(-3.1rem);
        }
        @include mq(medium) {
            transform: rotateY(50deg) rotateZ(-5deg) translateX(-31.2rem);
        }
    }

    &-end {
        opacity: 1;
        transform: rotateY(0deg);
        
        perspective: 6.3rem;
    }
}
