.wind-screen-wiper {
    animation: wind-screen-wiper 5s 1 ease;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
    top: -1px;
}

@keyframes wind-screen-wiper {
    0% {
        opacity: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    }
    20% {
        opacity: 0.5;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        opacity: 1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
}
