.risk-profile-account-selection {
  .content-padding{
    margin: auto;
  }
  .help-padding{
    padding-top: 1rem;
  }
  .firsttext-padding{
    padding-top: 0.7rem;
  }
  .span-weight{
    font-weight: var(--base-font-weight-light);
  }
}
