.addRecipientBlock {
  border: 0.05rem solid var(--base-border-default);
}

.recipientsTextArea {
  resize: vertical;
  overflow-y: scroll;
}

.message {
  font-size: var(--base-font-size-small);
}

.userPartyList {
  color: var(--base-text-secondary);
  font-size: var(--base-font-size-medium);
  font-weight: var(--base-font-weight-regular);
}
