<div class="page-section-content">
  <oj-validation-group id="amendInsturctionsTracker" valid="{{$component.amendInstructionsGroupValid}}">
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6"
        data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <!-- ko if: $component.letterOfCreditDetails.lcType !=='Export' -->
        <div class="oj-flex oj-flex-items-pad grid-row-group">

          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label for="advBankSwiftCode"><span
                data-bind="text:$component.resourceBundle.instructionsDetails.labels.advBankSwiftCode"></span>
            </oj-label>
          </div>
          <!-- ko if:$component.additionalBankDetails() !== null && $component.additionalBankDetails() !== 'undefined'-->
          <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-6" data-bind="with:$component.additionalBankDetails">
            <div data-bind="text:('code' in $data)?code:''"></div>
            <div data-bind="text:('name' in $data)?name:''"></div>
            <div data-bind="text:('line1' in branchAddress)?branchAddress.line1:''"></div>
            <div data-bind="text:('city' in branchAddress)?branchAddress.city:''"></div>
            <div data-bind="text:('country' in branchAddress)?branchAddress.country:''"></div>
          </div>
          <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko if: $component.letterOfCreditDetails.lcType ==='Export' -->
        <div class="oj-flex oj-flex-items-pad grid-row-group">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label for="issueBankSwiftCode"><span
                data-bind="text:$component.resourceBundle.instructionsDetails.labels.issueBank"></span></oj-label>
          </div>
          <!-- ko if:$component.additionalIssueBankDetails() !== null && $component.additionalIssueBankDetails() !== 'undefined'-->
          <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-6" data-bind="with:$component.additionalIssueBankDetails">
            <div data-bind="text:('code' in $data)?code:''"></div>
            <div data-bind="text:('name' in $data)?name:''"></div>
            <div data-bind="text:('line1' in branchAddress)?branchAddress.line1:''"></div>
            <div data-bind="text:('city' in branchAddress)?branchAddress.city:''"></div>
            <div data-bind="text:('country' in branchAddress)?branchAddress.country:''"></div>
          </div>
          <!-- /ko -->
        </div>
        <!-- /ko -->
      </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6"
        data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <!-- ko ifnot: $component.mode() === 'EDIT' || $component.mode() === 'CREATE' -->
        <div class="oj-flex oj-flex-items-pad grid-row-group">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label for="chargesBorneByType"><span
                data-bind="text:$component.resourceBundle.instructionsDetails.labels.chargesBorneBy"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-6 oj-md-10 oj-lg-7 content">
            <span id="chargesBorneByType"
              data-bind="text: $component.lcAmendmentDetails.chargesBorneBy ? $component.resourceBundle.instructionsDetails.labels[ko.utils.unwrapObservable($component.lcAmendmentDetails.chargesBorneBy)] : $component.resourceBundle.instructionsDetails.labels[ko.utils.unwrapObservable($component.letterOfCreditDetails.chargesBorneBy)]"></span>
            <!-- ko if: $component.lcAmendmentDetails.chargesBorneBy && ($component.letterOfCreditDetails.chargesBorneBy !== ko.utils.unwrapObservable($component.lcAmendmentDetails.chargesBorneBy)) -->
            <a href="#" id="prev-charges-borne-by"
              data-bind="click:$component.showPreviousValue.bind($data, $component.resourceBundle.instructionsDetails.labels[$component.letterOfCreditDetails.chargesBorneBy], 'prev-charges-borne-by')"><span
                class="icons icon-received"></span></a>
            <!-- /ko -->
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $component.mode() === 'EDIT' || $component.mode() === 'CREATE' -->
        <div class="oj-flex oj-flex-items-pad grid-row-group">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label for="chargesBorneByType" class="align-left"><span
                data-bind="text:$component.resourceBundle.instructionsDetails.labels.chargesBorneBy"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
            <oj-select-one id="chargesBorneByType" required="[[true]]"
              :placeholder="[[$component.resourceBundle.common.labels.pleaseSelect]]"
              value="{{$component.lcAmendmentDetails.chargesBorneBy}}">
              <!-- ko foreach: $component.chargesBorneByTypeOptions -->
              <oj-option value="{{value}}"><span data-bind="text:label"></span></oj-option>
              <!-- /ko -->
            </oj-select-one>
          </div>
        </div>
        <!-- ko if:ko.utils.unwrapObservable($component.lcAmendmentDetails.chargesBorneBy) === 'BYCOUNTERPARTY' -->
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6"
            data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
            <div class="oj-flex oj-flex-items-pad">
              <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
                <oj-label for="chargesFromBeneficiary" class="align-left"><span
                    data-bind="text:$component.resourceBundle.instructionsDetails.labels.chargesFromBeneficiary"></span>
                </oj-label>
              </div>
              <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
                <oj-text-area id="chargesFromBeneficiary" maxlength="210" required="[[true]]" validators="[[$baseModel.getValidator('SWIFT_Z',$component.resourceBundle.tradeFinanceErrors.common.swiftZNewLine,{type:'length',options:{
                                              min:1,max:210}})]]"
                  value="{{$component.lcAmendmentDetails.chargesFromBeneficiary}}"></oj-text-area>
              </div>
            </div>
          </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
      </div>
    </div>
    <!-- ko ifnot: $component.mode() === 'EDIT' || $component.mode() === 'CREATE' -->
    <!-- ko if: $component.lcAmendmentDetails.chargesFromBeneficiary -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6"
        data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad grid-row-group">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label class="align-right" for="chargesFromBeneficiary"><span
                data-bind="text:$component.resourceBundle.instructionsDetails.labels.chargesFromBeneficiary"></span>
            </oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7 content">
            <span id="chargesFromBeneficiary"
              data-bind="text: $component.lcAmendmentDetails.chargesFromBeneficiary"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6"
        data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad grid-row-group">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label class="align-right" for="remarks"><span
                data-bind="text:$component.resourceBundle.instructionsDetails.labels.remarks"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7 content">
            <span id="remarks" data-bind="text: $component.letterOfCreditDetails.remarks"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-6"
        data-bind="css: { 'no-pad-cols': $baseModel.small() || $baseModel.medium() }">
        <div class="oj-flex oj-flex-items-pad">
          <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
            <oj-label class="align-right" for="narrative"><span
                data-bind="text:$component.resourceBundle.lcDetails.amendments.narrative"></span></oj-label>
          </div>
          <div class="oj-flex-item oj-sm-12 oj-md-10 oj-lg-7">
            <!-- ko if:$component.mode() === 'EDIT' || $component.mode() === 'CREATE' -->
            <oj-text-area id="narrative" maxlength="390" value="{{$component.lcAmendmentDetails.narrative}}" validators="[[$baseModel.getValidator('SWIFT_Z',$component.resourceBundle.tradeFinanceErrors.common.swiftZNewLine,{
                                    type:'length',options:{
                                        min:1,max:390}})]]"></oj-text-area>
            <!-- /ko -->
            <!-- ko ifnot:$component.mode() === 'EDIT' || $component.mode() === 'CREATE' -->
            <span id="addNarrative" class="content" data-bind="text: $component.lcAmendmentDetails.narrative"></span>  
            <!-- /ko -->
          </div>

        </div>
      </div>
    </div>
  </oj-validation-group>
</div>