<div class="page-section-content">

  <!-- ko if: $component.datasourceForSwift() -->

  <!-- ko if: $component.swiftList().length > 0 -->
 <!-- ko ifnot:$baseModel.small() -->
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-flex oj-flex-item oj-sm-12 oj-md-12 oj-lg-12 grid-row-group" data-bind="css: { 'no-pad-cols': $baseModel.medium() }">
      <oj-table id="swiftTable" :aria-label="[[$component.resourceBundle.instructionsDetails.labels.swiftTable]]" columns="[[[{headerText:$component.resourceBundle.common.labels.msgId,style:'width: 30%'},{headerText:$component.resourceBundle.common.labels.date,style:'width: 20%'},{headerText:$component.resourceBundle.common.labels.description,style:'width: 50%'}]]]" row-renderer="[[$oj.KnockoutTemplateUtils.getRenderer('lcList_swift', true)]]" columns-default="[[{sortable:'enabled'}]]" data="[[$component.datasourceForSwift]]">
          <caption class="hide-label" data-bind="text:$component.resourceBundle.common.labels.swift"></caption>
      </oj-table>
        <oj-paging-control id="paging" slot="bottom" :page-size="[[5]]" data="[[$component.datasourceForSwift]]">
        </oj-paging-control>
    </div>
  </div>
  <!-- /ko -->
  <!-- ko if:$baseModel.small() -->
  <div class="oj-flex grid-main-container">
    <div class="oj-flex-item oj-sm-12">
        <oj-list-view id="listview-txn-card" class="cards" item="[[{renderer:$oj.KnockoutTemplateUtils.getRenderer('swiftMsg_list_card',true)}]]" selection-mode="[['single']]" data="[[datasourceForSwift]]">
        </oj-list-view>
        <oj-paging-control class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-12" id="paging" slot="bottom" page-options="[[{layout:['nav']}]]" :page-size="[[10]]" data="[[$component.datasourceForSwift]]">
        </oj-paging-control>
    </div>
  </div>
  <script type="text/html" id="swiftMsg_list_card">
    <li data-bind="attr: {id: $data.dcnNo}">
      <div class="oj-flex oj-flex-items-pad">

        <div class="oj-flex-item oj-sm-12">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 description">
            <a href="#" data-bind="text: $data.dcnNo, click:$component.openSwiftDetails.bind($data, dcnNo)"></a>
            </div>
          </div>
        </div>

        <div class="oj-flex-item oj-sm-12 grid-row-group">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item">
              <label data-bind="text: $component.resourceBundle.common.labels.date"></label>
              <div data-bind="text: $formatter.formatDate(eventDate)"></div>
            </div>
          </div>

          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item">
              <label data-bind="text: $component.resourceBundle.common.labels.description"></label>
              <div data-bind="text: description"></div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </script>
  <!-- /ko -->

  <!-- /ko -->

  <!-- ko ifnot: $component.swiftList().length > 0 -->
  <div class="oj-flex oj-flex-items-pad padding-tb">
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12" data-bind="text: $component.resourceBundle.tradeFinanceErrors.messages.noSwiftMessages">
    </div>
  </div>
  <!-- /ko -->

  <!-- /ko -->

</div>

<script type="text/html" id="lcList_swift">
    <tr>
      <td>
        <a href="#" data-bind="text:$data.dcnNo, click:$component.openSwiftDetails.bind($data, dcnNo)"></a>
      </td>
      <td>
        <span data-bind="text: $formatter.formatDate(eventDate)"></span>
      </td>
      <td>
        <span data-bind="text: description"></span>
      </td>
    </tr>
</script>

<modal-window params="baseModel : $baseModel, rootModel : $data, id:'swiftDialog', header: $component.resourceBundle.common.labels.viewSwift,display:'full-screen'">
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                <label for="eventDate" data-bind="text: $component.resourceBundle.common.labels.eventDate"></label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-8">
                <span id="eventDate" data-bind="text: $component.swiftDetails.eventDate"></span>
            </div>
        </div>
      </div>
    </div>
    <div class="oj-flex oj-flex-items-pad">
      <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-4 label">
                <label for="eventDesc" data-bind="text: $component.resourceBundle.common.labels.eventDesc"></label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-8">
                <span id="eventDesc" data-bind="text: $component.swiftDetails.eventDesc"></span>
            </div>
        </div>
      </div>
    </div>
    <div class="clob-options">
        <div class="oj-flex oj-flex-items-pad">
            <!-- ko if: $component.swiftDetails.message -->
            <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-12">
              <div class="clob-message" data-bind="text:$component.swiftDetails.message"></div>
            </div>
            <!-- /ko -->
        </div>
        <div class="oj-flex oj-flex-items-pad grid-row-group flex-right">
            <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3">
                <a href="#" class="padding-tb pull-right" data-bind="click:$component.saveSwiftDetails">
                  <span class="icons icon-download icon-2x icon-padding-right"></span>
                  <span data-bind="text:$component.resourceBundle.common.labels.downloadPdf"></span>
                </a>
            </div>
        </div>
    </div>
</modal-window>
