$offers-name-gold-color: rgb(229,205,0);
$offers-name-text-color: rgb(47,50,53);
$details-header-color: rgba(47,50,3,1);
$details-text-color: #3B3E40;
$features-header-color: rgb(87,107,136);
$loan-offers-border-color: rgba(179,200,222,1);
$loan-offers-name-color: rgba(87,107,136,1);
$loan-offers-border-color-active: rgba(0,138,255,1);
$letter-spacing-25: 0;
$savings-color: rgb(90,164,49);
$checking-color: rgb(0,136,174);
$td-color: rgb(82,73,136);
$credit-card-color: rgb(230,122,94);
.offer-container {
  padding: 1rem 0;
  .offer-panel {
    padding: 1rem 0;
    border: 0.0556rem solid var(--base-border-default);
    margin: 0rem 1rem 3rem;
    &__link{
      padding-top: 0.6rem;
      font-size: var(--base-font-size-medium);
    }
    img {
      height: 15rem;
      width: 15rem;
      position: relative;


      @include mq(small) {
        @include left(1rem);
        height: 10rem;
        width: 10rem;
      }
    }
    .offer-data{
      .offer-details{
        padding-top: 1rem;
      }
    }
  }
}
