@import "utils";
.trade-instruments {
    &__tabBar {
        @include single-border(right, 0.05rem solid var(--base-border-default));
    }
    &-tabBar {
        &__list {
            @include single-padding(left, 0.3rem !important);
            padding-bottom: 0.5rem;
            a {
                @include single-padding(right, 0.5rem !important);
            }
        }
    }
    .list-container {
        padding: 0.6rem 0;
        color: var(--base-text-primary);
        .list-count {
            @include float(right);
            font-size: var(--base-font-size-default);
        }
        .list-text {
            font-size: var(--base-font-size-default);
            ;
            color: var(--base-text-primary);
        }
        .list-footer-amount {
            font-size:calc(#{var(--base-font-size-default)} - 0.1rem);
            color: var(--base-text-secondary);
        }
        .list-footer-text {
            font-size: var(--base-font-size-small);
            padding-top: 0.3rem;
            color: var(--base-text-secondary);
        }
    }
    .demo-tab-content {
        max-height: 20rem;
        overflow-y: scroll;
        ul {
            padding: 0;
            list-style: none;
            .tabList {
                padding: 0.6rem;
                border-bottom: 0.05rem solid var(--base-background-tertiary);
                &:last-child {
                    border-bottom: none;
                }
                .list-expirayDate {
                    margin-bottom: 0.2rem;
                }
                .list-amount {
                    @include float(right);
                    font-size:calc(#{var(--base-font-size-default)} - 0.1rem);
                }
                .list-referenceNo {
                    color: var(--link-base);
                    font-size:calc(#{var(--base-font-size-default)} - 0.2rem);
                }
            }
        }
    }
    .noData {
        text-align: center;
        margin: 3rem;
    }
}