.add-ext-bank {
.uploadImage-fileUpload__maxwidth{
        img{
            width: 6rem !important;
            height: 3rem !important;
        }
        a {
            display: block;
        }
    }
}
