.cust-details {
    background: linear-gradient(to var(--banner-gradient-direction), var(--banner-gradient-start-color), var(--banner-gradient-end-color));
    color: var(--banner-foreground-color);
    font-size: var(--banner-font-size);
		font-weight: var(--banner-font-weight);
    padding: var(--banner-padding);
    align-items: center;
    .cust-name , .cust-account, &-heading {
        @include mq(small){
          padding-bottom: 0.6rem;
        }
        @include mq(medium){
          padding-bottom: 0.6rem;
        }
    }

    .icons {
        &.icon-file-pdf{
          font-size: calc(#{var(--base-font-size-larger)} + 0.4rem);
          color      : var(--banner-text-secondary);
        }
    }
    .label, label{
      color: var(--banner-text-primary);
      font-size: var(--base-font-size-medium);
    }
    .nickname {
        white-space: nowrap;
        @include mq(small){
          padding:0;
        }
        .edit{
          @include single-padding(left,0.5rem);
        }
        a{
          color: var(--banner-text-secondary);
        }

        &__label{
          @include mq(large){
            @include single-padding(top,0.3rem);
          }
        }
        &-details{
          &__input{
            display:inline-block;
          }
          &__icons{
            display:inline-block;
          }
          &-add{
            padding: 0.6rem 0;
            @include mq(small){
              padding:0;
            }
          }
        }
    }
}
