@charset "UTF-8";
$sass-cache-bust: "?bust="+random(999999);

@font-face {
    font-family: "obdx";
    src: url("fonts/obdx.eot"+ $sass-cache-bust);
    src: url("fonts/obdx.eot?#iefix"+ $sass-cache-bust) format("embedded-opentype"),
        url("fonts/obdx.woff"+ $sass-cache-bust) format("woff"),
        url("fonts/obdx.ttf"+ $sass-cache-bust) format("truetype"),
        url("fonts/obdx.svg#obdx"+ $sass-cache-bust) format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "obdx" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "obdx" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-accept:before {
    content: "\e098";
}

.icon-account-funding:before {
    content: "\e099";
}

.icon-account-summary:before {
    content: "\f01b";
}

.icon-accounts:before {
    content: "\f01c";
}

.icon-add:before {
    content: "\f01d";
}

.icon-add-occupation:before {
    content: "\f01e";
}

.icon-add-on-card:before {
    content: "\f01f";
}

.icon-alert:before {
    content: "\f000";
}

.icon-anti-money-laundering:before {
    content: "\f001";
}

.icon-application-fees-input:before {
    content: "\f002";
}

.icon-application-loan-statement-input:before {
    content: "\f004";
}

.icon-application-offer:before {
    content: "\f005";
}

.icon-application-repayment-input:before {
    content: "\f006";
}

.icon-application-status-history:before {
    content: "\f007";
}

.icon-apply:before {
    content: "\f008";
}

.icon-arrow:before {
    content: "\f009";
}

.icon-arrow-down:before {
    content: "\f02a";
}

.icon-arrow-left:before {
    content: "\f02b";
}

.icon-arrow-right:before {
    content: "\f02c";
}

.icon-arrow-up:before {
    content: "\f02d";
}

.icon-assets:before {
    content: "\f02e";
}

.icon-assets-info:before {
    content: "\f02f";
}

.icon-attachment:before {
    content: "\f010";
}

.icon-auto-pay:before {
    content: "\f011";
}

.icon-back-arrow:before {
    content: "\f012";
}

.icon-bank-details:before {
    content: "\f013";
}

.icon-basic-primary-info:before {
    content: "\f014";
}

.icon-block-debit-card:before {
    content: "\f015";
}

.icon-branch-details:before {
    content: "\f016";
}

.icon-calendar:before {
    content: "\f017";
}

.icon-cancel:before {
    content: "\f018";
}

.icon-cancel-card:before {
    content: "\f019";
}

.icon-card-additional-preferences:before {
    content: "\f03a";
}

.icon-card-addon:before {
    content: "\f03b";
}

.icon-card-balance-transfer:before {
    content: "\f03c";
}

.icon-card-delivery-preferences:before {
    content: "\f03d";
}

.icon-card-holder-preferences:before {
    content: "\f03e";
}

.icon-card-membership:before {
    content: "\f03f";
}

.icon-card-preference:before {
    content: "\f020";
}

.icon-cc-delivery-preferences:before {
    content: "\f021";
}

.icon-cc-mastercard:before {
    content: "\f022";
}

.icon-cc-visa:before {
    content: "\f023";
}

.icon-change:before {
    content: "\f024";
}

.icon-chat:before {
    content: "\f025";
}

.icon-check:before {
    content: "\f026";
}

.icon-check-box:before {
    content: "\f027";
}

.icon-cheque-status-enquiry:before {
    content: "\f028";
}

.icon-claim-money:before {
    content: "\f029";
}

.icon-close:before {
    content: "\f04a";
}

.icon-collateral-33:before {
    content: "\f04b";
}

.icon-collateral-44:before {
    content: "\f04c";
}

.icon-comments:before {
    content: "\f04d";
}

.icon-compress:before {
    content: "\f04e";
}

.icon-confirm:before {
    content: "\f04f";
}

.icon-contact-info:before {
    content: "\f030";
}

.icon-copy:before {
    content: "\f031";
}

.icon-create:before {
    content: "\f032";
}

.icon-cross:before {
    content: "\f033";
}

.icon-current-assets:before {
    content: "\f034";
}

.icon-current-liabilities:before {
    content: "\f035";
}

.icon-dashboard:before {
    content: "\f036";
}

.icon-debit-card:before {
    content: "\f037";
}

.icon-delete:before {
    content: "\f038";
}

.icon-delivery-preferences:before {
    content: "\f039";
}

.icon-detail-view:before {
    content: "\f05a";
}

.icon-disbursement-detail:before {
    content: "\f05b";
}

.icon-download:before {
    content: "\f05c";
}

.icon-downward-arrow:before {
    content: "\f05d";
}

.icon-drop-down:before {
    content: "\f05e";
}

.icon-drop-left:before {
    content: "\f05f";
}

.icon-drop-right:before {
    content: "\f040";
}

.icon-drop-up:before {
    content: "\f041";
}

.icon-dth:before {
    content: "\f042";
}

.icon-edit:before {
    content: "\f043";
}

.icon-electricity:before {
    content: "\f044";
}

.icon-eligibility:before {
    content: "\f045";
}

.icon-employment:before {
    content: "\f046";
}

.icon-exchange:before {
    content: "\f047";
}

.icon-execute:before {
    content: "\f048";
}

.icon-expand:before {
    content: "\f049";
}

.icon-expense:before {
    content: "\f06a";
}

.icon-expense-info:before {
    content: "\f06b";
}

.icon-eye:before {
    content: "\f06c";
}

.icon-eye-slash:before {
    content: "\f06d";
}

.icon-facebook:before {
    content: "\f06e";
}

.icon-fees-charges:before {
    content: "\f06f";
}

.icon-file-pdf:before {
    content: "\f050";
}

.icon-file-text:before {
    content: "\f051";
}

.icon-file-upload:before {
    content: "\f052";
}

.icon-filter:before {
    content: "\e000";
}

.icon-foreign-exchange:before {
    content: "\e001";
}

.icon-forward-arrow:before {
    content: "\e002";
}

.icon-funding-table:before {
    content: "\e003";
}

.icon-funds:before {
    content: "\e004";
}

.icon-gas:before {
    content: "\e005";
}

.icon-gift:before {
    content: "\e006";
}

.icon-goals:before {
    content: "\e007";
}

.icon-google-plus:before {
    content: "\e008";
}

.icon-heart:before {
    content: "\e009";
}

.icon-heart-fill:before {
    content: "\e00a";
}

.icon-high-priority:before {
    content: "\e00c";
}

.icon-history:before {
    content: "\e00d";
}

.icon-home:before {
    content: "\e00e";
}

.icon-host:before {
    content: "\e00f";
}

.icon-identity-info:before {
    content: "\e010";
}

.icon-income:before {
    content: "\e011";
}

.icon-income-info:before {
    content: "\e012";
}

.icon-information:before {
    content: "\e014";
}

.icon-insurance:before {
    content: "\e015";
}

.icon-interest-certificate:before {
    content: "\e016";
}

.icon-internet:before {
    content: "\e017";
}

.icon-issue:before {
    content: "\e018";
}

.icon-keyboard:before {
    content: "\e019";
}

.icon-liabilities:before {
    content: "\e01a";
}

.icon-liabilities-info:before {
    content: "\e01b";
}

.icon-limit:before {
    content: "\e01c";
}

.icon-linkedin:before {
    content: "\e01d";
}

.icon-liquidity-management:before {
    content: "\e01e";
}

.icon-loan-account-configuration:before {
    content: "\e01f";
}

.icon-loan-account-preference:before {
    content: "\e020";
}

.icon-loan-account-summary:before {
    content: "\e021";
}

.icon-loans:before {
    content: "\e022";
}

.icon-location-arrow:before {
    content: "\e023";
}

.icon-login:before {
    content: "\e024";
}

.icon-logout:before {
    content: "\e025";
}

.icon-mail-box:before {
    content: "\e026";
}

.icon-mailbox:before {
    content: "\e027";
}

.icon-mailbox-view:before {
    content: "\e028";
}

.icon-maintenance:before {
    content: "\e029";
}

.icon-medical:before {
    content: "\e02a";
}

.icon-medium-priority:before {
    content: "\e02b";
}

.icon-menu-bar:before {
    content: "\e02c";
}

.icon-minus:before {
    content: "\e02d";
}

.icon-minus-circle:before {
    content: "\e02e";
}

.icon-module:before {
    content: "\e02f";
}

.icon-more:before {
    content: "\e030";
}

.icon-more-vertical:before {
    content: "\e031";
}

.icon-move:before {
    content: "\e032";
}

.icon-multi-select:before {
    content: "\e033";
}

.icon-music:before {
    content: "\e034";
}

.icon-new-account:before {
    content: "\e035";
}

.icon-no:before {
    content: "\e036";
}

.icon-offers:before {
    content: "\e038";
}

.icon-ok:before {
    content: "\e039";
}

.icon-on-screen-alerts:before {
    content: "\e03a";
}

.icon-password:before {
    content: "\e03b";
}

.icon-pause:before {
    content: "\e03c";
}

.icon-pay:before {
    content: "\e03d";
}

.icon-payments:before {
    content: "\e03e";
}

.icon-pfm:before {
    content: "\e03f";
}

.icon-phone:before {
    content: "\e040";
}

.icon-play:before {
    content: "\e041";
}

.icon-plus:before {
    content: "\e042";
}

.icon-plus-circle:before {
    content: "\e043";
}

.icon-pre-processed:before {
    content: "\e044";
}

.icon-primary-info:before {
    content: "\e045";
}

.icon-print:before {
    content: "\e046";
}

.icon-proof-of-identity:before {
    content: "\e047";
}

.icon-push-notifications:before {
    content: "\e048";
}

.icon-qr-code:before {
    content: "\e049";
}

.icon-quick-access:before {
    content: "\e04a";
}

.icon-radio:before {
    content: "\e04b";
}

.icon-radius:before {
    content: "\e04c";
}

.icon-re-centre:before {
    content: "\e04d";
}

.icon-re-initiate:before {
    content: "\e04e";
}

.icon-received:before {
    content: "\e04f";
}

.icon-redeem:before {
    content: "\e050";
}

.icon-refresh:before {
    content: "\e051";
}

.icon-reject:before {
    content: "\e052";
}

.icon-remarks:before {
    content: "\e053";
}

.icon-repay:before {
    content: "\e054";
}

.icon-repayment:before {
    content: "\e055";
}

.icon-reply:before {
    content: "\e056";
}

.icon-request:before {
    content: "\e057";
}

.icon-request-chequebook:before {
    content: "\e058";
}

.icon-request-money:before {
    content: "\e059";
}

.icon-request-parameters:before {
    content: "\e05a";
}

.icon-request-pin:before {
    content: "\e05b";
}

.icon-requirements:before {
    content: "\e05c";
}

.icon-reset-fit:before {
    content: "\e05d";
}

.icon-resume:before {
    content: "\e05e";
}

.icon-review:before {
    content: "\e05f";
}

.icon-save:before {
    content: "\e060";
}

.icon-schedule:before {
    content: "\e061";
}

.icon-search:before {
    content: "\e062";
}

.icon-search-line:before {
    content: "\e063";
}

.icon-security-question:before {
    content: "\e064";
}

.icon-sent-mail:before {
    content: "\e065";
}

.icon-setting:before {
    content: "\e066";
}

.icon-share:before {
    content: "\e067";
}

.icon-sms:before {
    content: "\e068";
}

.icon-sort:before {
    content: "\e069";
}

.icon-sort-asc:before {
    content: "\e06a";
}

.icon-sort-desc:before {
    content: "\e06b";
}

.icon-specifications:before {
    content: "\e06c";
}

.icon-spends:before {
    content: "\e06d";
}

.icon-split:before {
    content: "\e06e";
}

.icon-star:before {
    content: "\e06f";
}

.icon-start-transfer:before {
    content: "\e070";
}

.icon-steps:before {
    content: "\e071";
}

.icon-stop-transfer:before {
    content: "\e072";
}

.icon-stop-unblock-cheque:before {
    content: "\e073";
}

.icon-submit:before {
    content: "\e074";
}

.icon-subscription:before {
    content: "\e075";
}

.icon-success:before {
    content: "\e076";
}

.icon-summary:before {
    content: "\e077";
}

.icon-summary-view:before {
    content: "\e078";
}

.icon-tabular-view:before {
    content: "\e079";
}

.icon-tds:before {
    content: "\e07a";
}

.icon-telecom:before {
    content: "\e07b";
}

.icon-term-deposits:before {
    content: "\e07c";
}

.icon-text:before {
    content: "\e07d";
}

.icon-thumbs-up:before {
    content: "\e07e";
}

.icon-transfer:before {
    content: "\e07f";
}

.icon-trends:before {
    content: "\e081";
}

.icon-twitter:before {
    content: "\e082";
}

.icon-undo:before {
    content: "\e083";
}

.icon-unfavourite:before {
    content: "\e084";
}

.icon-update:before {
    content: "\e085";
}

.icon-upi:before {
    content: "\e086";
}

.icon-upload:before {
    content: "\e087";
}

.icon-upward-arrow:before {
    content: "\e088";
}

.icon-user:before {
    content: "\e089";
}

.icon-user-experience:before {
    content: "\e08a";
}

.icon-user-group:before {
    content: "\e08b";
}

.icon-user-profile:before {
    content: "\e08c";
}

.icon-vehicle-info:before {
    content: "\e08d";
}

.icon-verify:before {
    content: "\e08e";
}

.icon-view-casa:before {
    content: "\e08f";
}

.icon-view-edit:before {
    content: "\e090";
}

.icon-view-statement:before {
    content: "\e091";
}

.icon-virtual-account:before {
    content: "\e092";
}

.icon-warning:before {
    content: "\e093";
}

.icon-water:before {
    content: "\e094";
}

.icon-yes:before {
    content: "\e095";
}

.icon-zoom-in:before {
    content: "\e096";
}

.icon-zoom-out:before {
    content: "\e097";
}

.icon-application-fees-view:before {
    content: "\f07a";
}

.icon-account-holder:before {
    content: "\f07b";
}

.icon-occupation-info:before {
    content: "\f07c";
}

.icon-primary-registration:before {
    content: "\f07d";
}

.icon-tree:before {
    content: "\f07e";
}

.icon-help:before {
    content: "\f071";
}