<div class="single-select-view-container">
  <div class="oj-flex">
    <div class="oj-flex-item">
      <div class="oj-sm-12 oj-lg-5 oj-md-5 check-box-label">
        <oj-label class="oj-label-inline"><span data-bind="text: $component.label"></span></oj-label>
      </div>
      <div class="oj-flex oj-sm-12">
        <div class="oj-flex-item oj-sm-12 oj-lg-5 oj-md-5">
          <!-- ko if: $component.formData -->
          <oj-select-one id="salutation" :aria-label="[[$component.resource.salutation]]" value="{{$component.testInput()[0]}}" placeholder="{{$component.resource.selectSalutation}}" disabled="{{$component.isDisabled}}" on-value-changed="[[valueChange]]" translations="[[{'required':{messageDetail:$component.errorMessage()}}]]" required="{{$component.isRequired}}">
            <!-- ko foreach: $component.salutationList -->
            <oj-option value="{{code}}"><span data-bind="text:description"></span></oj-option>
            <!-- /ko -->
          </oj-select-one>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
</div>
