.confirm-pin {
  .curtail-width {
    max-width: 31.3rem;
    margin: auto;
  }

  .margin-auto {
    margin: auto;
  }

  .main-content {
    text-align: center;
    margin-top: 15%;

    @include mq(large) {
      margin-top: 10%;
    }
  }

  input {
    text-align: center;
  }

  .set-pin-input {
    -webkit-text-security: disc;
  }
}