<div class="form-main-container">
  <div class="oj-flex oj-flex-items-pad ">
      <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-5">
          <div class="oj-flex oj-flex-items-pad">
              <div class="oj-flex-item oj-sm-9">
                <oj-label class="oj-label" for="missedCallBankingSwitch"><span data-bind="text:$component.resource.missedCallBanking"></span></oj-label>
              </div>
              <div class="oj-flex-item oj-sm-3 ">
                <oj-switch id="missedCallBankingSwitch" value="{{missedCallBanking}}"></oj-switch>
              </div>
          </div>
          <div class="oj-flex oj-flex-items-pad">
              <div class="oj-flex-item oj-sm-9">
                <oj-label class="oj-label" for="smsBankingSwitch"><span data-bind="text:$component.resource.smsBanking"></span></oj-label>
              </div>
              <div class="oj-flex-item oj-sm-3 ">
                <oj-switch id="smsBankingSwitch" value="{{smsBanking}}"></oj-switch>
              </div>
          </div>
      </div>
    </div>
    <!-- ko if:$component.smsBanking() -->
        <div data-bind="component: {name: 'set-sms-banking-pin', params:{rootModel: $data,dashboard: $dashboard,data:$component.showDetailParams}}"></div>
    <!-- /ko -->
</div>
