.forex-deal {
    .iconStyling {
        font-size: 1.1rem;
        position: relative;
        top: 0.1rem;
        color: var(--link-base);
    }
    .validity {
        font-size: var(--base-font-size-medium);
    }
}