<div class="form-main-container">
    <!-- ko if:roleDataLoaded -->
    <page-section params="baseModel : $baseModel, rootModel : $data, heading : ''">
        <!-- ko if: $component.transactionId === undefined -->
        <div
            data-bind="template: { name: 'review-screen/review-banner-template', data: {header : $component.nls.generic.common.review , reviewHeader :$component.nls.common.addReviewHeaderMsg}}">
        </div>
        <!-- /ko -->
        <row
            params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.common.appRoleName , value :$component.appRoleName">
        </row>
        <row
            params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.common.desc , value :$component.appDescription">
        </row>
        <row
            params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.common.userType , value :$component.selectedUser">
        </row>
        <row
            params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.common.accessType , value :$component.selectedAccessTypeDisp">
        </row>
        <!-- ko if: $component.selectedUser() === "retailuser" && $component.selectedAccessType()=== "INT" && $component.transactionId === undefined-->
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3 label">
                <oj-label for="segmentName"><span data-bind="text:$component.nls.common.userSegment"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-9">
                <!-- ko if: $component.isSegmentFetched() -->
                <oj-combobox-many id="segmentName" value="{{selectedSegments}}"
                    :invalidcomponenttracker="[[$component.validationTracker]]"
                    :aria-label="[[$component.nls.common.segment]]" disabled="[[true]]">
                    <!-- ko foreach: $component.userSegments() -->
                    <oj-option value="[[value]]"><span data-bind="text: text"></span>
                    </oj-option>
                    <!-- /ko -->
                </oj-combobox-many>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $component.selectedUser() === "retailuser" && $component.selectedAccessType()=== "INT" && $component.transactionId !== undefined && isSegmentFetched()-->
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3 label">
                <oj-label for="segmentName"><span data-bind="text:$component.nls.common.userSegment"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-9">
                <!-- ko if:isSegmentFetched() -->
                <oj-combobox-many id="segmentName" value="{{selectedSegments}}" disabled="[[true]]">
                    <!-- ko foreach: $component.userSegment() -->
                    <oj-option value="[[value]]"><span data-bind="text: text"></span>
                    </oj-option>
                    <!-- /ko -->
                </oj-combobox-many>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $component.selectedAccessType() === "EXT" -->
        <row
            params="baseModel : $baseModel, rootModel : $parent, label :$component.nls.common.scopeName , value :$component.selectedScopeText">
        </row>
            <!-- /ko -->
    </page-section>

    <page-section params="baseModel : $baseModel, rootModel : $data, heading : $component.nls.common.mapTransaction">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3 label">
                <oj-label for="moduleName"><span data-bind="text:$component.nls.common.moduleName"></span></oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-9 oj-lg-9">
                <!-- ko if: $component.isModuleFetched() -->
                <oj-combobox-many id="moduleName" value="{{selectedModuleName}}" disabled="[[true]]">
                    <!-- ko foreach: $component.moduleName() -->
                    <oj-option value="[[value]]"><span data-bind="text: text"></span>
                    </oj-option>
                    <!-- /ko -->
                </oj-combobox-many>
                <!-- /ko -->
            </div>
        </div>


        <!-- ko if:  selectedAccessType() === "INT"-->
        <!-- ko if: isAccessPointFetched() -->
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3 label">
                <oj-label for="mapTransaction"><span data-bind="text:$component.nls.common.accessPoint"></span>
                </oj-label>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-9">
                <oj-checkboxset id="accessPoint" :aria-label="[[$component.nls.common.accessPoint]]" name="accessPoint"
                    class="oj-choice-direction-row" value="{{selectedAccessPoint}}" disabled="[[true]]">
                    <!-- ko foreach: accessPoint() -->
                    <oj-option value="[[value]]">
                        <span data-bind="text: text"></span>
                    </oj-option>
                    <!-- /ko -->
                </oj-checkboxset>
            </div>
        </div>
        <div class="oj-flex-item oj-lg-12">
            <oj-tab-bar id="tabGroups-select" :aria-label="[[$component.nls.common.accessPointTab]]"
                selection="{{selectedItem}}" on-selection-changed="[[accessPointTabChangeHandler]]" edge="top">
                <ul class="tab-list" data-bind="foreach: $component.accessPointTabs">
                    <li data-bind="attr: {id: id}">
                        <span data-bind="text: name"></span>
                    </li>
                </ul>
            </oj-tab-bar>
        </div>
        <!-- /ko -->
        <!-- /ko -->

        <div class="oj-flex-item" data-bind='component:{name: "transaction-mapping",
        params:{rootModel: $data, datasource : $component.dataSourceToBePassed(),readMode:true }}'>
        </div>
        <!-- ko if: $component.transactionId === undefined -->
        <div class="oj-flex oj-flex-items-pad button-container">
            <oj-button class="action-button-primary" on-click="[[$component.createAppRolePolicy]]">
                <span data-bind="text:$component.nls.generic.common.confirm"></span>
            </oj-button>
            <oj-button class="action-button-secondary" on-click="[[$dashboard.switchModule.bind($data,true)]]">
                <span data-bind="text:$component.nls.generic.common.cancel"></span>
            </oj-button>
            <oj-button class="action-button-tertiary" on-click="[[$component.back]]">
                <span data-bind="text:$component.nls.generic.common.back"></span>
            </oj-button>
        </div>
        <!-- /ko -->
    </page-section>
    <!-- /ko -->

</div>