.virtual-account-bar {
  background: linear-gradient(to var(--banner-gradient-direction), var(--banner-gradient-start-color), var(--banner-gradient-end-color));
  color: var(--banner-foreground-color);
  font-size: var(--banner-font-size);
  font-weight: var(--banner-font-weight);
  padding: var(--banner-padding);
  align-items: center;
}

.move-money-wrapper {
  .balance-text {
    font-size: var(--base-font-size-default);
    color: var(--base-text-secondary);
  }
}