$product-card-height: 10.5rem;
$product-card-bottom-border: var(--base-border-default);
$product-card-feature-size: var(--base-font-size-default);
$product-card-feature-color: var(--base-text-secondary);
$product-card-title-size: var(--base-font-size-larger);
$product-card-value-size: calc(#{var(--base-font-size-larger)} + 0.3rem);
$product-card-value-color: var(--base-text-primary);

.product-card {
	cursor: pointer;
	height: $product-card-height;
	padding: 0.6rem 0;
	&__header {}

	&-header {
		&__text {}
	}

	&-sticker {
		&__description {
			padding: 0.1rem 0.6rem;
			border-radius: 0.3rem;
			font-size: var(--base-font-size-default);
			text-align: center;
			margin-bottom: 0.6rem;
			@include float(right);

		}
	}

	&__sticker {
		&--conventional {
			background: var(--base-background-tertiary);
			color: var(--base-text-primary);
		}
	}

	&__image {}

	&__feature {}

	&-heading {
		&__title {
			font-size: $product-card-feature-size;
			color: $product-card-feature-color;
			font-weight: var(--base-font-weight-bold);
			display: inline-block;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__description {
			font-size: $product-card-title-size;
			color: var(--base-text-secondary);
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__bottom-panel {
		@include text-align(right);
		position: absolute;
@include right(0)
		bottom: 0.6rem;
	}

	&-bottom-panel {
		&__label {
			font-size: $product-card-feature-size;
			color: $product-card-feature-color;
		}

		&__value {
			font-size: $product-card-value-size;
			color: $product-card-value-color;
		}
	}

	&-feature {
		&__item {
			font-size: $product-card-feature-size;
			color: $product-card-feature-color;
			font-weight: var(--base-font-weight-bold);
		}
	}
}
