.page-section-content{
  .shipment-radio-button {
			 display: -webkit-inline-box !important;
	}

  .add-draft {
		padding: 1.3rem 0 !important;
		@include mq(small) {
			padding-top: 0rem !important;
			padding-bottom: 0.6rem !important;
		}
	}
  .delete-draft {
		position: relative;
		top: 0.6rem;
	}
  .icon-2x {
		font-size: 1.3rem;
	}
}
