@import "utils";

.aggregate-register-accounts {
  &-sub-container {
    height:80%;
    @include mq(small){
      height:auto;
    }
    &__noData{

    }

  }
}

.displayImage{
  &showImg{}
  &-showImg{
    height: 9.4rem;
    display:flex;
    align-items:center;
    border: 0.1rem dashed #bbb;
    &__file{
     @include text-align(right);
    }
    &__note{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
    }
    &__icon{
    display: inline-block;
    position: relative;
    top: 0.6rem;
    @include single-padding(right,0.3rem);
    }
    &__maxwidth{
     img{
      width: 5.8rem;
     }
    }
  }
}